[2015-06-12 15:00] Leftyx opened #1 "Notifications not received when app is closed (Android)"
I've upgraded today from ver. 1.5 and things are not working as expected.
With ver. 1.5 I can receive notifications when my app is running (through didReceiveRemoteNotificationCallBack) and in the notification drawer when the app is closed.

After the upgrade to ver. 1.6 things are not working anymore.
I can only receive notifications when my app is running and now the notifications are show in th

[2015-06-12 21:02] jkasten2 commented on #1
Sorry about the issue, it is now fixed in version 1.6.1. It should now be available on the Cordova plugin registry and PhoneGap Build.

Thanks.

[2015-06-12 21:02] #1 closed

[2015-06-30 10:29] Omnem opened #2 "Android-support-v4.jar mismatch with facebookConnect"
The moment I've added the OneSignal plugin, the build for Android failed with the following error:
[code]
It seems the facebookConnect plugin and this one are using different android libraries.

Is there a known fix ? Any 2 versions of the two plugins are compatible ? Any thoughts ? It seems to build on iOS.

Thank you

[2015-06-30 22:40] jkasten2 commented on #2
Hello,

Unfortunately the [Official Facebook Cordova plugin](https://github.com/Wizcorp/phonegap-facebook-plugin) includes the android-support-v4.jar bundle instead of externally defining it as a dependency as OneSignal does. See their [open issue #750](https://github.com/Wizcorp/phonegap-facebook-plugin/issues/750).

As a work around for now you can delete `<project-root>\platforms\android\libs\a

[2015-07-03 13:03] Omnem commented on #2
I was using the PhoneGap Build Service so I was unable to implement your fix right away.

After installing the local toolset, your solution worked and I was able to build locally.

Thank you @jkasten2 .

[2015-07-07 07:24] vespino opened #3 "Windows Phone support and Notification TTL"
2 improvements for this service:

- Windows Phone support
- Expiration time; Set the period after which the push won't be delivered if the device was offline.

Keep up the good work!

[2015-07-07 22:02] jkasten2 commented on #3
* Windows Phone support - Adding WP support to this Cordova plugin is on our roadmap.
* Expiration time - This is not related to client code, however, it is a server feature we will consider adding in the future.

Thanks for the feedback.

[2015-07-09 04:49] jkasten2 commented on #2
We just added our plugin to [npmjs](https://www.npmjs.com/package/onesignal-cordova-plugin) and updated it to use gradle to handle dependencies but it did not fix this issue with the official fork.

However, there is a fork of the official plugin [cordova-plugin-facebook4](https://www.npmjs.com/package/cordova-plugin-facebook4) that builds just fine with our [onesignal-cordova-plugin](https://www.

[2015-07-10 15:36] Omnem commented on #2
Using the PhoneGap Build Service. I'm getting this:

"Error - Plugin error (you probably need to remove plugin files from your app): npm http GET https://registry.npmjs.org/cordova-plugin-facebook4 npm http 200 https://registry.npmjs.org/cordova-plugin-facebook4 Failed to install 'cordova-plugin-facebook4':CordovaError: Plugin doesn't support this project's cordova-android version. cordova-android

[2015-07-11 03:41] jkasten2 commented on #2
I just tested cordova-plugin-facebook4 with our onesignal-cordova-plugin locally with Cordova CLI. Since PhoneGap Build(PGB) lets you use Cordova 5.1.1 I didn't think it would be an issue. However you're right, this doesn't work on PGB as it still uses Ant instead of Gradle. I also seen they have [a blog](http://phonegap.com/blog/2015/06/16/phonegap-updated-on-build/) post on this issue. Thanks fo

[2015-07-26 18:38] jaapjanfrans opened #4 "Callbacks feature request"
Hi!

It would be great if functions like sendTag, sendTags, setSubscription, etc would enable the use of success and error callbacks. This would help to determine if these operations succeed or fail, to be able to act correctly on any errors.

I'm guessing this is not specific to the Cordova SDK as other SDK's also don't seem to provide callbacks for these kind of operations.

kind regards,
Jaap-J

[2015-07-28 20:20] jaapjanfrans opened #5 "Backend user deletion - getIds using cached value"
Hi,

I'm seeing an odd issue when deleting a user from the backend.

I've registered a user via a cordova app on android. Then i delete the user from the backend UI. When i restart my app and init is called again, a new user is created as I can see in the backend UI. However, when I call getIds after init, I get the userId of the deleted user. After another restart and init, I get the new userId o

[2015-07-28 21:56] jkasten2 commented on #4
Hello,

Thanks for your suggestion, we plan on adding smart retrying to solve most issues with user records not getting updated due to device connection issues. If we handle this internally would you still need callback for feedback in your app's use cases?

Thanks.

[2015-07-28 21:58] jaapjanfrans commented on #5
I've taken a peak at the Android SDK, and I think I've figured it out.

The registration process in Onesignal.java is done in separate threads (both to GCM from line 259 which fires up a PushRegistratorGPS  and registration after that to onesignal backend, starting on line 482. When the whole registration is done, the new userId is saved via succes callback (line 574)

My cordova app calls init, a

[2015-07-28 22:00] jaapjanfrans commented on #4
Yes I Think callbacks would still be usefull. See #5 for a use case for a callback on the init function :-)

[2015-07-28 22:04] jaapjanfrans commented on #4
Other usecase, for setTags:
If i know setTags has finished succesfully and the tags are uploaded correctly, I actually know my user is registered for the correct tags. Now it's a black box, i call setTags and have no way of knowing if it succeeded, other than calling getTags afterwards and verifying the tags are really there. But that means an extra request that would be unnecessary if setTags pro

[2015-07-28 22:11] jkasten2 commented on #5
Hello,

The Delete button on the OneSignal dashboard is designed to clear out old test devices when they are not needed or to help in testing. We do not recommend deleting active users in production as the SDK will not get the new userId until the app is cold restarted.

You're correct, we use the cached value when it is available which is why another restart of the app got the correct id. Our pla

[2015-07-28 22:16] jaapjanfrans commented on #5
i agree, this use case is a bit of an edge case.

But it does in my opinion point out why having callbacks on api methods to know when and how a request has been completed is a good thing. I've added another usecase in #4 for setTags, maybe that one is more relevant.

[2015-07-28 22:28] jkasten2 commented on #4
We will look into adding callbacks to these network based functions in the future. We will still add in the smart retrying as well so developers can still do set and forgot on tags that may not be critical.

If this is a feature you need right away feel free to create a pull request and we will merge it in after a review.

[2015-07-29 06:48] jaapjanfrans commented on #4
Great, thanks for considering.

Smart retrying sounds interesting when you want an app to use the SDK in a fire and forget style. Personally, I would want to have control over the way my app communicates to the outside world and handle retrying myself. Maybe smart retrying could be configurable so that you can choose to use it? Then again, retrying from outside the android SDK only makes sense if

[2015-08-06 03:01] jkasten2 commented on #2
We just released a PhoneGap Build compatibility version that removes the linked dependencies. This fixes all conflict issues with other plugins that use Google Play services or Android Support library v4 or v13 like the facebook plugin.

For Adobe PhoneGap Build users using com.phonegap.plugins.facebookconnect and OneSignal, include the following your config.xml file instead of "com.onesignal.plug

[2015-08-06 07:46] ichaiwut commented on #2
@jkasten2  work for me on `Cordova 5.0.0`

[2015-08-12 17:11] k-cgomezh commented on #2
what is the right sentence on config.xml   for  the facebook connect plugin ??

[2015-08-12 19:24] jkasten2 commented on #2
For PhoneGap Build it looks like to include the facebook connect plugin you add the following to your `config.xml`:
[code]

Their [facebook connect plugin on PhoneGap Build](https://build.phonegap.com/plugins/1246) is at 0.9.0 but the latest is 0.11.0. If there are any import bug fixes or features in the missing versions I would recommend you create an issue on their [github repo](https://github.c

[2015-08-14 12:15] Omnem commented on #2
Excellent work @jkasten2 . Just in time for our release.
The following combo has worked perfectly with the PhoneGap Build:

[code]
with

[code]

Haven't tested with my previously used version 3.6.3.

Thank you,
Unbeatable service.
Feel free to close this.

P.S.
A small unrelated noted to anyone upgrading from phonegap build 3.6.3 or earlier to cli-5.1.1.
You'll have to switch previously used core

[2015-08-14 12:42] #2 closed

[2015-08-14 20:07] SeVeNDuS opened #6 "cordova build ios failed"
Hi,
I am trying to install one signal into my app and failed into iOS platform, all is perfect in Android one.

I got the following error:
com.onesignal.plugins.onesignal/OneSignal.m:1045:30: error:
      property 'alertTitle' not found on object of type 'UILocalNotification *'
                notification.alertTitle = data[@"m"][@"title"];

And after that the command told me that the build is fai

[2015-08-14 22:25] jkasten2 commented on #6
Hello,

What version of Xcode do you have activated? You will need to be using Xcode 6.2 or later to build your app with the latest version of our plugin.

Thanks.

[2015-08-14 23:06] SeVeNDuS commented on #6
I realized after write this issue. I am upgrading my OSX and my XCODE.

Thanks for the suport

[2015-08-14 23:06] #6 closed

[2015-08-17 06:20] k-cgomezh commented on #2
We still have the same issue. We can't remove Android-support-v4.jar because we are building with PBG. We tried using source="npm" but it didnt' work. We tried with:

<preference name='phonegap-version' value='cli-5.1.1' />

But it didn't work either.

Btw, our issue is with Local Notification plugin  <gap:plugin name="de.appplant.cordova.plugin.local-notification"/>  when building we get the same

[2015-08-17 08:12] Omnem commented on #2
Might be useful if you could post the config.xml @k-cgomezh
Which oneSignal plugin are you using ?

Make sure you use this
[code]

Instead of this

[code]

They are different plugins, in the sense that they load that file differently from my understanding.

[2015-08-18 06:38] k-cgomezh commented on #2
we are not using oneSignal. As I said we are unable to use these plugins together:

com.phonegap.plugins.facebookconnect
de.appplant.cordova.plugin.local-notification

[2015-08-18 10:55] Leftyx opened #7 "FAILURE: Build failed with an exception."
I couldn't update my oneSignal plugin cause of a build failure so I decided to create a fresh new project using ionic.
This is the error I get:

![onesignal](https://cloud.githubusercontent.com/assets/171024/9328246/f4a09e2e-459e-11e5-9367-3eb7a7c35b1f.png)

Using the Android 5.1.1 (API 22)

**Installed** Google Play Services
**Installed** Google Repository
**Installed** Android Support Repository

[2015-08-18 11:09] Leftyx opened #8 "Plugin "onesignal-cordova-plugin" is not present in the project"
I've added the plugin as suggested in the [docs](http://documentation.onesignal.com/v2.0/docs/phonegap-sdk-installation).
and I have the plugin installed in my folder.

When I try to remove it I get this weird message:

[code]

The plugin gets removed at the end.

[2015-08-18 20:43] jkasten2 commented on #7
Hello we just deployed version 1.8.1 to fix this issue. Follow our [clean build](http://documentation.onesignal.com/docs/cordova-common-problems#clean-build) instructions to get the latest version and so the gradle project settings get cleared.

Thanks.

[2015-08-18 20:53] jkasten2 commented on #8
The message is a bit confusing but I can confirm it does remove the plugin. We will look into fixing the message in a future update.

Thanks.

[2015-08-19 01:44] #8 closed

[2015-08-19 02:20] jkasten2 commented on #3
We just added support for Windows Phone 8.1 (WP8.1) in our latest 1.9.0 update. This will work with all Cordova forks that support WP8.1 as a platform which is believe is all the major ones except Adobe's PhoneGap Build (PGB).

Thanks.

[2015-08-19 03:34] vespino commented on #3
When can we expect support for PGB?

[2015-08-19 03:45] jkasten2 commented on #3
PGB does not support Windows Phone 8.1 builds yet. I recommend adding the the following phongap/build [repo issue](https://github.com/phonegap/build/issues/409) and voting on the [PhoneGap Build thread](http://community.phonegap.com/nitobi/topics/windows-phone-8-1-not-being-built).

Thanks.

[2015-08-19 03:48] vespino commented on #3
And what about WP8.0?

[2015-08-19 04:00] jkasten2 commented on #3
We do not plan on bring support for WP8.0 projects as this requires a whole wrapper/proxy of its own. PGB is the only fork of Cordova I know that does not support WP81 projects and I can't see why they wouldn't add support for it in the future.

[2015-08-19 10:33] Leftyx commented on #7
Great. It works again. Thanks.

[2015-08-19 18:56] #7 closed

[2015-08-24 22:25] imadarchid opened #9 "Notifications not received when app is closed"
I would like to send push notifications to my Android app even if the user didn't open the app. I only can receive notifications if app is opened, or running in background. If I kill it using the Task Manager, I can't receive any messages.

Thanks

[2015-08-24 23:10] jkasten2 commented on #9
Hello,

If the system closes your app to free RAM or the user closes the app from the Recent Apps list your app will still display notifications to the notification area. If they "Force Stop" the app from Settings>Apps or with a 3rd party task manager that uses the same method then notifications will not be received until they open the app again or reboot the device. This is because GCM no longer

[2015-08-24 23:18] imadarchid commented on #9
Thanks for the answer @jkasten2 ! But the problem is, when I boot up my phone I don't receive any notification until I open the app and close it.
I would like to be able to receive notifications the moment I boot up my phone.

[2015-08-24 23:37] jkasten2 commented on #9
I did some testing on an Android 5.0.2 and a 4.3 device and it seems rebooting does not reset the "Force stop" state of the app. Only reopening the app once allows it to receive notifications again. If the app was closed normally and you reboot the device notifications are received after it boots up however.

Most users would never go into Settings>Apps then press the "Force Stop" button. Which Ta

[2015-09-02 21:35] #9 closed

[2015-09-03 16:58] chcnetconsulting opened #10 "notificationOpenedCallback called again after pause"
Hello all together,

I have encountered a strange problem, that occurs only, if I need to launch an external web browser (not the internal one).
Doing so, ALTHOUGH the callback is finished for sure, at least in javascript, sends the app to the background (sofar so god). I did this to open the app store (to explain, why).
After returning to the app, the callback function is called with the exact sa

[2015-09-04 00:19] jkasten2 commented on #10
Hello,

I am not able to reproduce an issue with the notificationOpenedCallback firing more than once when opening a notification with a launch URL set.

Could you let us know the following:
- Cordova version (run `cordova -version`)
- OneSignal version (run 'cordova plugin list`)
- Mobile OS and version your testing on.
- Exact steps used to reproduce the issue.

Thanks.

[2015-09-11 05:10] jkasten2 commented on #10
Could you let us know the details listed above?

Also if you can create an example project reproducing we can quickly come up with a fix.

Thanks.

[2015-09-16 21:05] jkasten2 commented on #10
Was able to reproduce the issue on iOS and fix the issue in commit d0701fbb686cb53a1640866cc8dabea075a0098f.

Released version 1.9.1 with this fix included and its live on npmjs.

Thanks.

[2015-09-16 21:05] #10 closed

[2015-09-18 05:01] murliatdure opened #11 "OneSignal plugin + Cordova Push Plugin"
Can we have the Cordova Push Plugin and also the OneSignal Push plugin both at the same time in one application?

[2015-09-18 06:15] jkasten2 commented on #11
Are you referring to [phonegap/phonegap-plugin-push](https://github.com/phonegap/phonegap-plugin-push)? If so you will see the following error if your building for Android.
[code]

There is a incompatibility issue with phonegap-plugin-push and any other plugins that also use an Android Support Library version (like OneSignal). However they just fix it with commit phonegap/phonegap-plugin-push@6b5b

[2015-09-20 15:40] murliatdure opened #12 "Android - Background APP - Notification Callback"
Here are the observations -

1. When app is in background (via back button) - notification callback desn't work/even no updates on notification tray

2. When app is in background (via home button) - notification callback doesn't support, rather it brings notifications on notification tray

Can we have some provision for consistent behavior.

Can we have some idea to sync all requests without openi

[2015-09-20 15:44] murliatdure opened #13 "Phonegap Build Release"
com.onesignal.plugins.onesignal   	pgb	1.9.0	1.9.0	android,ios
![image](https://cloud.githubusercontent.com/assets/7137859/9981496/a66027fe-5fdc-11e5-942f-19e74c15ab17.png)

After building the app, I can see I get only 1.9.0 release only.
Also It doesn't get added for WIN support

Can you please assist if anything special is required for handling the same.

[2015-09-20 15:55] murliatdure commented on #13
I forced to put the same on 1.9.1 - It fails.

![image](https://cloud.githubusercontent.com/assets/7137859/9981548/21a20a12-5fde-11e5-89ed-40b8d38ee52b.png)

[2015-09-22 00:37] jkasten2 commented on #11
The above work around for Android is no longer needed when using phonegap-plugin-push with the OneSignal plugin (onsignal-cordova-plugin). phonegap-plugin-push has been released with the commit noted above.

Please reopen this issue with more details if you're still seeing a conflict.

Thanks.

[2015-09-22 00:37] #11 closed

[2015-09-22 02:29] jkasten2 commented on #13
PhoneGap Build has [deprecated their own plugin directory](http://phonegap.com/blog/2015/09/04/public-plugin-deprecation-on-build/) in favor of npmsj and plugin developers can no longer update their plugins. We have mark our plugin deprecated pointing to our npmjs plugin `onesignal-cordova-plugin-pgb-compat`. Please replace the following in your `config.xml`:
[code]
WITH:
[code]

If all other deve

[2015-09-22 02:29] #13 closed

[2015-09-23 15:03] SonoIo opened #14 "Translate InApp alert cancel button"
Hi,
I noticed that there is no way to translate the "Close" label of the UIAlertView:

https://github.com/one-signal/OneSignal-Cordova-SDK/blob/master/src/ios/OneSignal.m#L740

It would be nice if I could insert the translated text on my own with `window.plugins.OneSignal.init`

[2015-09-24 20:55] jkasten2 commented on #12
Hello,

1. I have tested closing a Cordova app with the back button and notifications are shown in the notification area without issue. I have verify this works correctly with builds from both Cordova 5.2 and PhoneGap Build (PGB) running on both Android 5.0.2 and Android 4.3.

2. This is expected behavior, if the app is in the background or is not running at all notifications are sent to the notif

[2015-09-24 21:10] jkasten2 commented on #14
@SonoIo Thanks for pointing out this translation issue. Instead of creating a parameter it should be displayed correctly internally by the SDK code based on language set in the system settings. Pull requests are welcome. :)

If you need this right away for your app I recommend you hard a different language based on your user demographics.

Thanks.

[2015-09-28 05:31] murliatdure commented on #12
PGB version-3.7
Android Version : 5.0 (L)

[2015-09-28 07:40] murliatdure opened #15 "tagsReceivedCallBack - For given user"
Can we have the listener for TAGs for the particular player, rather current user?

[2015-09-28 08:56] murliatdure opened #16 "Dismiss Callback"
Can we have the Notification dismiss callback?

[2015-09-29 02:49] jkasten2 commented on #15
Hello,

Thanks for the suggestion however this is outside of the realm of notifications. We recommend using your own server or a backend service to sync data you need between users.

Thanks.

[2015-09-29 02:49] #15 closed

[2015-09-29 02:52] jkasten2 commented on #12
@murliatdure Could you provide an example project with steps to reproduce your 1st issue? You can create a new project on the github and attach it here or send a zip to support@onesignal.com.

Thanks.

[2015-09-29 02:55] jkasten2 commented on #16
Android does have a dismiss event for a notification however I do not believe you can call into the Cordova runtime without displaying an Activity.

[2015-10-06 05:48] djpnewton opened #17 "Plugin not loading on Phonegap Build"
I have added the plugin to my config.xml

    <gap:plugin name="onesignal-cordova-plugin-pgb-compat" source="npm" />
    <gap:plugin name="cordova-plugin-googleplayservices" source="npm" />
    <gap:plugin name="cordova-plugin-android-support-v4" source="npm" />

Whenever I call the plugin code (`window.plugins.OneSignal.init(...)`) from the `deviceready` callback I get `Uncaught TypeError: Cannot

[2015-10-06 09:42] djpnewton commented on #17
ok, it seems that deleting the project and recreating it on Phonegap build fixed the problem

[2015-10-06 09:42] #17 closed

[2015-10-14 12:34] murliatdure opened #18 "Local Notification + OneSignal - PGB Fails"
Android SDK API: 22
Cordova CLI: 5.3.3

OneSignal plugins:
<gap:plugin name="onesignal-cordova-plugin-pgb-compat" source="npm" />
<gap:plugin name="cordova-plugin-googleplayservices" source="npm" />
<gap:plugin name="cordova-plugin-android-support-v4" source="npm" />

Local Notification plugins:
<gap:plugin name="de.appplant.cordova.plugin.local-notification" />
![1](https://cloud.githubuserconten

[2015-10-15 00:04] jkasten2 commented on #18
Can you try [`cordova-plugin-local-notifications-mm`](https://www.npmjs.com/package/cordova-plugin-local-notifications-mm) instead of [`cordova-plugin-local-notifications`](https://www.npmjs.com/package/cordova-plugin-local-notifications)?
[code]
The above worked for me to build the project with both plugins included however you will need to test to make sure local notification and OneSignal still

[2015-10-15 05:52] murliatdure commented on #16
Rather can we have some hooks whenever the notification comes to tray, we can do some activity (for bizz handling); rather only on the tap of the item.

I seen something we do can if background=true is given; that time we can do some native coding. Do we have some options in JS rather native controls.

[2015-10-22 17:55] pacotole opened #19 "more than one library with package name 'com.google.android.gms'"
Error on android build. The problem is when use the plugin with other plugin for Google Analytics that use Google Play Services also.

I tried wiht the two most popular plugins for Analytics with the same confilct:

https://github.com/cmackay/google-analytics-plugin
https://github.com/danwilson/google-analytics-plugin

How you can replicate the problem:

[code]

[2015-10-22 18:53] roblav96 commented on #19
having the same problem here

[code]

I'm using the google maps plugin.

seems like these guys here found a fix:
https://github.com/phonegap/phonegap-plugin-push/issues/136

it has to do with gradle it looks like.

[2015-10-22 18:59] roblav96 commented on #19
I tried using the fix plugin here:
onesignal-cordova-plugin-pgb-compat@latest
but it always says I'm unsubscribed so I can't use it.

here's the rest of my error log:
[code]

[2015-10-22 19:08] pacotole commented on #19
The problem is that are two versions of com.google.android.gms

I solve it editing plugin.xml and set tags `<framework src="com.google.android.gms:service-name:XXX" />` to the last version (8.1.0)

https://developers.google.com/android/guides/setup

In plugins/onesignal-cordova-plugin/plugin.xml:
[code]
In plugins/other-plugin-that-uses-google-play-services/plugin.xml (e.g.):
[code]

[2015-10-23 02:41] roblav96 commented on #19
HOLLY TITS MY APP IS ALIVE AGAIN!!! thank you so much!

[2015-10-24 00:50] jkasten2 commented on #19
Just released version 1.9.2 of onesignal-cordova-plugin. This includes commit e48b4e942d9496c0febce1a70d7a3a531ed4ac4a which will always use the latest version of Google Play services installed.  I also tested building with cordova-plugin-google-analytics added to the project and no more build issues.

[2015-10-24 00:50] #19 closed

[2015-10-24 00:54] jkasten2 commented on #18
I believe cordova-plugin-local-notifications-mm should work for you. Let us know if it does not.

Thanks.

[2015-10-24 00:54] #18 closed

[2015-10-24 01:11] roblav96 commented on #19
Giving you much ♡ in frigid cold Boston, MA

[2015-10-24 01:17] #12 closed

[2015-10-24 02:33] jkasten2 commented on #16
You can setup [Background Data notifications](https://documentation.onesignal.com/docs/android-notification-customizations#background-data-silent-notifications) with your app however you will need to write the handling code in native Java code. We don't plan on implementing background handling in Cordova as spinning up Cordova each time would put too much drain on battery.

I am not sure if it is

[2015-10-25 18:18] roblav96 opened #20 "iOS 9 Simulator Not Subscribing"
![screen shot 2015-10-25 at 2 07 46 pm](https://cloud.githubusercontent.com/assets/1457327/10717028/d42c09ea-7b21-11e5-9d38-200b38c8c65a.png)

Might be something easy to fix, or I might be doing something wrong here. I get the popup asking to allow notifications and I pressed yes. I also double checked with everything in the device settings.

Here's my code:
[code]
And my info:
[code]
And the log:

[2015-10-26 08:10] pacotole commented on #19
Great! Thanks.

[2015-10-28 22:09] jkasten2 commented on #20
The iOS simulator is not capable of subscribing for push notifications. This is a known limitation and you will need to test on a real iOS device running iOS 6.1 or newer.

Thanks.

[2015-10-28 22:09] #20 closed

[2015-10-28 22:42] roblav96 commented on #20
Ah! Thank you for the update. I look forward to getting my device soon. Thank you!!!

[2015-10-29 13:11] softBarbarian opened #21 "Open Specific View when Opening App from Notification"
Is there a way to Open Specific View when Opening App from Notification?

Thanks a lot

[2015-10-29 19:05] jaapjanfrans commented on #21
Yes there is. When composing a push notification (either through the onesignal backend UI or using the server rest API) you can add additional data to the notification in key/value pairs. When your cordova app receives a notification, this additional data of the notification can be read from the JSON object in the callback function (see https://documentation.onesignal.com/docs/phonegap--cordova-sd

[2015-10-30 02:45] softBarbarian commented on #21
@jaapjanfrans thanks a lot, closing this

[2015-10-30 02:45] #21 closed

[2015-11-04 08:34] vespino opened #22 "Double push"
I'm using the following code:

[code]

When sending a push message and clicking on it from the notifications bar the apps opens, redirect, so that works perfectly. When going to another page within the app, the action after "if(jsonData.isActive===true) {" is triggered so the message is shown twice.

jsonData.isActive is used when the app is on foreground when receiving the message right?

I'm I d

[2015-11-05 00:09] jkasten2 commented on #22
This sounds like an iOS bug we fixed in [version 1.9.1](https://github.com/one-signal/OneSignal-Cordova-SDK/releases/tag/1.9.1). Can you verify you have the lastest version?

Thanks.

[2015-11-05 07:29] vespino commented on #22
I have the latest version, but I'm testing on Android ;)

[2015-11-09 13:44] Omnem opened #23 "Building problem on Windows 8.1"
After adding the oneSignal plugin to the windows version of the app and trying to run the app:

[code]

I'm getting the following error:

[code]

Line 181 seems to be:

[code]

It works if I remove the plugin.
Any thoughts ?

P.S.
I'm using Windows 10 as operating system, cordova version 5.3.3 and Visual Studio Community 2015.

[2015-11-12 16:18] vespino commented on #22
Any news on this issue?

[2015-11-13 09:44] jkasten2 commented on #22
Sorry about the delay, I am making a number of changes to our Android native code that may effect this bug. I'll make sure to test that the changes fixes this issue when put the new jar into our Cordova plugin.

Thanks.

[2015-11-13 10:01] vespino commented on #22
Great job! I'm looking forward to it and would gladly test it for you.

[2015-11-18 02:31] jkasten2 commented on #23
I ran the following on my Windows 10 system without an issue getting the project to run.

[code]

I also have Visual Studio Community 2015 and version 14 of MSBuild tools was used on my system shown in the output.

Note that the OneSignal Cordova plugin only works for Windows Phone 8.1 push notifications but should not interfere with Windows desktop builds. Push for Windows Desktop support is some

[2015-11-25 07:48] Omnem commented on #23
Thanks for your reply, I wasn't aware it didn't work yet with Windows Desktop.
I tried to get it to work more today to no avail.
Adding onesignal to a blank project seems to build correctly. Just not on my existing poject.

 I'll return to it later. Thanks.

[2015-11-26 15:00] vespino commented on #22
Any news on this issue?

[2015-11-26 16:54] DaniloCouto commented on #23
I've been experiencing a similar error on my project.
But I'm developing on Ionic Framework.
Pure cordova projects runs great with Onesignal Plugin , but ionic projects doesn't run. It just exit with code 0 after deploy and before loading onesignal plugin.
I use [winstore jscompat](https://github.com/MSOpenTech/winstore-jscompat) to run Ionic/AngularJS code on Windows Phone. I don't know if angula

[2015-11-30 11:07] mriegler opened #24 "setLogLevel documentation vs. implementation discrepancy"
setLogLevel in the source code expects an object ala

    .setLogLevel({logLevel: 4, visualLevel: 0});

but the documentation states usage as

    .setLogLevel(4, 0);

[2015-12-01 03:10] jkasten2 commented on #23
@DaniloCouto I am not able to reproduce an issue with OneSignal and Ionic when building and running Windows Phone 8.1 on a new project. Keep in mind `alert` is not defined for WP8.1 and you need to use the following instead otherwise your app is crash.
[code]

I have also created a WP8.1 branch on our Iconic Example repo you can try out to make sure it works for you.
https://github.com/one-signal/

[2015-12-01 03:18] jkasten2 commented on #24
Thanks for reporting this, we just updated our documentation page.
https://documentation.onesignal.com/v2.0/docs/phonegap--cordova-sdk-api#section-setloglevel

[2015-12-01 03:18] #24 closed

[2015-12-01 15:44] JoeSchr opened #25 "onesignal-cordova-plugin-pgb-compat doesn't build for iOS with Intel XDK and CLI 5.1.1"
Hi there,

build log states following:
[code]

I have to use pgb-plugin because Intel XDK doesn't support cradle. Please advise.

[2015-12-01 19:38] Omnem commented on #23
Unfortunately, I've not returned to this yet. Sorry about that.

Feel free to close it and I will update when I get a chance.

Thank you for this beautiful service, for keeping it free and for continuously updating it.
Its appreciated.

[2015-12-04 04:02] softBarbarian opened #26 "How to use my custom backend id so i know whom to send the notification?"
How to use my custom backend id so i know whom to send the notification? do you reccomend just tagging every user with user_id = iajdhgfkl tag?

[2015-12-06 18:13] roblav96 commented on #26
what you want to do is attach the users id when they login. for example:

on device ready:
[code]

then during login post that id as a parameter and keep it in your backend:
[code]

[2015-12-06 18:15] roblav96 opened #27 "How to disable creating notifications completely?"
For security purposes, I don't want the cordova client to be able to create notifications. I only create them on my backend using the REST API. How can I achieve this?

I might be overthinking it, because the user would need the other users id, but just in case :D

[2015-12-07 00:30] jkasten2 commented on #25
Hello,

You will need to have Xcode 6.2 or newer installed and activated as the default version.

Thanks.

[2015-12-07 16:07] softBarbarian commented on #26
Thanks for the reply @roblav96

[2015-12-07 16:07] #26 closed

[2015-12-08 15:39] softBarbarian opened #28 "OneSignal.init() with autoregister false does not delay native push prompt"
@roblav96 @jkasten2
Even though i am passing `autoRegister: false` to `.init()` function native prompt still comes before my popup (not after user clicks ok).
Here is my code:
[code]
Any pointers what i am doing wrong here?

[2015-12-08 16:22] #28 closed

[2015-12-08 16:23] softBarbarian commented on #28
figured it out i had another plugin registering

[2015-12-12 07:28] jkasten2 commented on #25
Feel free to re-open the thread if this did not fix your issue.

Thanks.

[2015-12-12 07:28] #25 closed

[2015-12-12 07:29] jkasten2 commented on #27
Sorry about the delay, I'll discuss this with our team next week and will get back to you.

Thanks.

[2015-12-12 13:53] roblav96 commented on #27
No worries at all! Thank you!!!

[2015-12-14 22:22] jkasten2 commented on #27
A REST API key is needed for all targeting parameters except for include_player_ids. However we don't consider this a security issue has the playerId/userId is a randomly generated UUID isn't statistically guessable with brute force.

Thanks.

[2015-12-14 22:22] #27 closed

[2015-12-14 22:22] #23 closed

[2015-12-21 11:20] bottasergio opened #29 "Android App Badge number Support"
Is it possible to know when a notification arrives and fire some event? Even when the user does not open the notification? I use Phonegap Build I will really appreciate if there is some way to do that without having to develop in Java. Thanks

[2015-12-21 23:41] jkasten2 commented on #29
Hello,

I haven't looked too deep into Cordova / PhoneGap if it is possible to initialize it without opening the main Android Activity itself. However if it were possible due to the start up of the runtime we will most likely opt to for go this feature and require to use native Java  or Objective-c / Swift to do this.

However what is your use case? Would an option to get all unopened notification

[2015-12-21 23:46] bottasergio commented on #29
I   want to  increase the badge number on Android (using another plugin)

[2015-12-21 23:50] jkasten2 commented on #29
I see, we have gotten a few requests for setting a badge number so we will be looking into adding support for it in a future update.

Would simply setting the badge number to the number of displayed notifications work for you or you looking to do something more custom?

Thanks.

[2015-12-21 23:56] bottasergio commented on #29
Just increase the badge  number.  Even when app is not active .
And of course some method to decrease it when notification is  read or app is opened.
 Thanks

[2015-12-22 02:31] jkasten2 commented on #22
Sorry about the delay, version 1.10.0 of our SDK should fix this issue. Let us know if you're still seeing an issue or if this version fixes it for you.

[2015-12-22 02:44] jkasten2 commented on #4
Just to update you our progress, we now have auto retrying on tags and subscription with offline support for Android. I'll working on the iOS native SDK to bring the same logic to Cordova for iOS.

[2015-12-22 02:49] jkasten2 commented on #5
This issue should now be fixed on Android and will also be fixed for iOS in an upcoming release.

[2016-01-05 10:12] vespino commented on #22
Testing now. I see I have to use "onesignal-cordova-plugin" instead of "onesignal-cordova-plugin-pgb-compat" for use with PGB, correct?

What about these plugins, are these still needed?

cordova-plugin-googleplayservices
cordova-plugin-android-support-v4

[2016-01-05 11:11] vespino commented on #22
When using "onesignal-cordova-plugin" with PGB build fails. :(

"onesignal-cordova-plugin-pgb-compat" still works but uses an older version (1.9.1).

Help?

[2016-01-06 15:54] rwillett opened #30 "Receiving notifications on iOS when app immediately in background"
I am unclear if this should be asked here or on the OneSignal website. I have asked on both to be sure. Apologies if I have this wrong and its for the website help team (or vice versa).

I have a question regarding how the OneSignal notification handler responds when the IOS app has moved to background (IOS has not suspended the app yet) AND a content-available =1 notification is sent.

As the IOS

[2016-01-08 22:33] jkasten2 commented on #22
Please use the following `config.xml` settings to use `onesignal-cordova-plugin` per our [PhoneGap Build (PGB) setup documentation](https://documentation.onesignal.com/docs/phonegap-sdk-installation).
[code]

For `onesignal-cordova-plugin` to work you will need to remove the following from your project:
* `cordova-plugin-googleplayservices`
* `cordova-plugin-android-support-v4`

If you still see b

[2016-01-09 04:46] jkasten2 commented on #30
Hello Rob,

The [notificationOpenedCallback](https://documentation.onesignal.com/docs/phonegap--cordova-sdk-api#section-notificationopenedcallback) only fires in the following 2 cases.
* The user taps on a notification.
* A notification is received when the app is currently in focus.

If you need to do background processing in your app as soon as the notification arrives you will need to set conte

[2016-01-09 10:10] rwillett commented on #30
Josh,

Let me write something up for you. It’ll take a few days to put
together.

Rob

On 9 Jan 2016, at 4:46, Josh Kasten wrote:

[2016-01-12 15:01] vespino commented on #22
Great job, everything seems to work fine now!

[2016-01-12 15:01] #22 closed

[2016-01-15 00:20] paulohenriqu opened #31 "notificationOpenedCallback App in background"
Hello.

When app is in background (via home button) and a notification is received the notificationOpenedCallback is triggered as expected.

But when app is in background via back button, the notification is received, appears at the notification area, but when tapped the  notificationOpenedCallback is not triggered.

[2016-01-15 00:41] jkasten2 commented on #31
Hello,

The [notificationOpenedCallback](https://documentation.onesignal.com/docs/phonegap--cordova-sdk-api#section-notificationopenedcallback) should only fires in the following 2 cases.
* The user taps on a notification.
* A notification is received when the app is currently in focus.

After pressing the home button can you wait a few seconds before sending a notification. This will make sure th

[2016-01-15 00:48] paulohenriqu commented on #31
Hi, thanks for answering so quickly.

After pressing the home button everything works fine. But if i leave the application pressing the back button on the last view (I believe Android will call onDestroy()) I'm able to receive the notification, but when I tap the notification  the notificationOpenedCallback function is not fired.

I'm using the version 1.10.1 and testing on Android 5.1.1

[2016-01-15 00:56] jkasten2 commented on #31
See, thanks for the information. Do you have the same issue when you swipe the app away from the Recent Apps list then tap on the notification? Are you calling OneSignal.init in your code the navigating to a different page in your app as it starts up?

If you can provide a simple example project reproducing the issue this will help us get a fix turned around quickly.

[2016-01-15 01:19] paulohenriqu commented on #31
Yes, I have the same issue when I swipe the app away from the Recent Apps list.

I'm calling OneSignal.init inside  $ionicPlatform.ready

I'm working with a modification of that repo: https://github.com/one-signal/OneSignal-Ionic-Example/
The example shows the same issue, the alert won't open if the app is closed with the back button.

[2016-01-18 05:24] paulohenriqu commented on #31
Hi,
Just to let you know, I also tested it with iOS devices, Even if I turn it off and on again the callback function works.
 The issue is only with Android devices

[2016-01-19 05:21] jkasten2 commented on #31
@paulohenriqu Thanks for the detailed information, I have fixed the regression issue in 1.10.2 of our SDK. Let us know if you continue seeing issues on this version.

[2016-01-19 23:34] paulohenriqu commented on #31
It works perfectly now.
Thanks!

[2016-01-20 00:00] #31 closed

[2016-01-20 16:48] vespino opened #32 "Update badge icon only"
My client asked me if it's possible to update the badge icon of an app without the regular pushnotification action (message at the top of the screen + screen on). Is this possible? And does Android support badge icons?

[2016-01-20 21:40] jkasten2 commented on #32
Hello,

It is possible to update just the badge number on iOS without sending a notification. To do so please enable content_available on the notification, set both ios_badgeType and ios_badgeCount, and lastly omit sending contents (message body) with the notification to keep a message from displaying. This can also be done from our dashboard in addition to the REST API.

We currently do not have

[2016-01-21 07:42] vespino commented on #32
What exactly do you mean by "and lastly omit sending contents (message body) with the notification to keep a message from displaying"? I now send the following information to the REST API:

contents => my message
isIos => true
ios_badgeType => Increase
ios_badgeCount => 1

Can you tell me what to add or change?

[2016-01-21 08:57] jkasten2 commented on #32
By "without the regular pushnotification action (message at the top of the screen + screen on)" I was thinking you wanted to omit displaying anything on the device other than the badge number. Including the lock screen and the Notification Center. Is this not the case?

If you just need to update the badge number you can send the following:
[code]

Thanks.

[2016-01-21 09:14] vespino commented on #32
Thanks, yes that is what I'm looking for, only updating the badge number and doing nothing else. I will try this.

[2016-02-07 19:34] iAdil opened #33 "Could not find com.android.support:support-v4:23.0.0."
Error while building android app

     Searched in the following locations:
         https://repo1.maven.org/maven2/com/android/support/support-v4/23.0.0/support-v4-23.0.0.pom
         https://repo1.maven.org/maven2/com/android/support/support-v4/23.0.0/support-v4-23.0.0.aar
         file:/C:/Program Files/Android/android-sdk/extras/android/m2repository/com/android/support/support-v4/23.0.0/suppor

[2016-02-07 19:58] #33 closed

[2016-02-11 23:00] jkasten2 commented on #30
Hey Rob,

Just checking in to see if you have more information for us. Feel free to reopen this issue with your reply.

Thanks.

[2016-02-11 23:06] jkasten2 commented on #32
Closing issue, feel free to open this issue if the silent badge updating isn't working.

[2016-02-11 23:06] #32 closed

[2016-02-12 01:00] NutBoltu opened #34 "Ionic-Cordova fails to find OneSignal plugin in the app"
I am using cordova 6.0.0 and cordova-platform-android 6.0.0 for developing my ionic app.
I have added the one signal plugin in initialization scripts. The scripts looks like below.
[code]

and in my ionic app in the app.js file I call the OneSignal init method as below.
[code]
But when I run the app it displays as below
[code]
Is it an issue with cordova 6.0.0?

[2016-02-12 01:23] jkasten2 commented on #34
Can you check the adb logcat for any errors or warnings before this one?

I tested our [OneSignal-Ionic-Example](https://github.com/one-signal/OneSignal-Ionic-Example) with Cordova 6.0.0 without any issues. Does this build and run ok for you on an Android device?

Thanks.

[2016-02-12 01:53] NutBoltu commented on #34
I have found 2 errors.
1. Instead of using window.cordova.plugins I have to use window.plugins
2. In my app a service overwrite the plugins. So it shows OneSignal undefined.
And I works for cordova 6.0.0 and cordova platform android 6.0.0.
Closing issue.

[2016-02-12 01:53] #34 closed

[2016-02-12 01:58] jkasten2 commented on #34
Good to hear you got it working.

1. Ah yes, sorry overlooked that.
2. Was there any other plugin overwriting the window.plugins variable or was it just something in your app's code?

Thanks.

[2016-02-12 02:06] NutBoltu commented on #34
@jkasten2
2. It was my app service which overwrite the plugins not any other plugin.
 Thanks .

[2016-02-28 01:55] jkasten2 opened #35 "Intel XDK - IOS - Incompatibility due to old Xcode version being used"
Intel XDK's build server is using a version of Xcode that is older than 6.2 which causes a build error with UILocalNotification.alertTitle. I believe this is the only API that is used that requires Xcode 6.2 so this can be called via reflection to lower the required Xcode version.

[2016-03-02 07:13] jkasten2 commented on #35
Fixed in commit ed5b87d193534385158d7d02f01ed42702a381e2 release in version 1.11.2

[2016-03-02 07:13] #35 closed

[2016-03-03 18:53] Rmannn opened #36 "Google service dependencies version"
Today you are adding deps in gradle with the "+" version.
This create a problem supporting with cordova and the default google service sdk.
Adding classpath 'com.google.gms:google-services:+' does not help.

[2016-03-03 19:53] jkasten2 commented on #36
I don't believe there is a default Google Play services SDK included with Cordova. Could you let us know what other plugin your using that is creating the conflict?

[2016-03-03 19:55] jkasten2 opened #37 "postNotification - Can create WebThreadLock errors"
`OneSignal.postNotification` can sometimes create `WebThreadLock` errors if a callbacks are defined for this function call. The Objective-C code may need to ensure that the callback is firing on the main thread to fix the issue.

As a workaround your app can make a call to the the [OneSignal create notification](http://documentation.onesignal.com/v2.0/docs/notifications-create-notification) REST A

[2016-03-03 19:56] Rmannn commented on #36
Following lines
[code]
seem to not be compatible with
[code]

This result into an error.
[code]

[2016-03-03 20:05] jkasten2 commented on #36
Thanks for the information. Is `apply plugin: 'com.google.gms.google-services'` from your platforms/android/build.gradle file?

I haven't seen this added to a gradle file before by Cordova. Did you add this to your file or do you know  the plugin that did? If your not sure you can send us a list of plugins your using by running `cordova plugin list`.

Thanks.

[2016-03-03 20:18] Rmannn commented on #36
You're welcome, this plugin is amazing!
Yes I added the deps by my self.
Let me explain.

I followed all the steps to configure the cordova plugin. It's working on iOS with success.
Then I tried to deploy my app on Android following the steps.

But, the device ready event was never fired. (5 seconds delay)
After some debug using logcat, i found this error
[code]
Even after adding the google-servic

[2016-03-03 21:11] jkasten2 commented on #36
You can safely ignore those warnings, you don't need to create a `google-services.json` file as our SDK does not use this to register with GCM for push notifications.

The Cordova `deviceready` event isn't firing at all for you? This sounds like a different issue with your project. Keep looking through the logcat for other errors / warning from your app. You can send an email to support@onesignal.

[2016-03-03 22:00] Rmannn commented on #36
Yes you re right, my bad... The device block the device ready cause to a script in the index.html returning a 404... Sorry for this.

[2016-03-03 22:01] #36 closed

[2016-03-10 13:25] codecrab-studios opened #39 "notificationOpenedCallback not being called on First Run of the app after Install"
We Created an Apk file to install on Device, Installed and Device Registered with OneSignal perfectly, starts recieving pushes.  Now in the Push we sent some additonal Data, but when we hit the push notification and it takes us to App, but  "notificationOpenedCallback"  is not called up....

But then we tried something, We closed the app and reopened it, Resent the Push with Additional Data, and n

[2016-03-11 02:04] jkasten2 opened #40 "iOS - Notification permissions - Get current and changed callback"
Feature request to add a SDK function to get the current notification permission in iOS and a callback that can fire when it changes.

[2016-03-11 11:09] roblav96 commented on #29
This would be awesome!

[2016-03-23 02:35] jkasten2 commented on #39
Hello,

If you have a multiple page can you try calling OneSignal init in each to see if it fixes your callback issue?

Thanks.

[2016-03-28 08:09] jordan-enev opened #42 "The method removeNotificationOpenedHandler() is undefined for the type OneSignal"
Hello,

I tried to run a Cordova app with OneSignal plugin, but it fails with the following error at void com.plugin.gcm.OneSignalPush.onDestroy():287:
`The method removeNotificationOpenedHandler() is undefined for the type OneSignal`

I checked it on Eclipse and Android Studio - and the error exists on the both platforms.

The version of OneSignal is:
`onesignal-cordova-plugin 1.11.2 "OneSignal P

[2016-03-29 22:46] jrgherrera opened #43 "Add support for promises instead of callbacks"
It'll be nice to support promises and receive one on each method.

[2016-03-30 01:15] jkasten2 commented on #42
It seems that the copy of the `onesignal-cordova-plugin` only got partially updated. It sounds like an older version of the `plugin.xml` or `onesignal.aar` file is being used on your system.

Can you try following our [Clean Build](https://documentation.onesignal.com/docs/cordova-common-problems#clean-build) instructions?

Thanks.

[2016-03-30 01:19] jkasten2 commented on #43
Hello,

Thanks for the suggestion, do not plan to create promises at this time due to WebView compatibility issues on older devices.

Thanks.

[2016-03-30 01:19] #43 closed

[2016-03-31 14:31] jordan-enev commented on #42
Thank you for the answer.

I've tried a clear build with the following commands, but unfortunately the problem still exists:
1. cordova plugin remove onesignal-cordova-plugin
2. cordova platform remove android
3. cordova platform add android
4. cordova plugin add onesignal-cordova-plugin

I forgot to say that I'm on Windows.

[2016-04-02 02:57] roblav96 opened #44 "[iOS & Android] Build Fail Errors"
Just updated your latest release.

# iOS
![screen shot 2016-04-01 at 10 55 43 pm](https://cloud.githubusercontent.com/assets/1457327/14224067/f4613146-f85c-11e5-9e3b-e3eb1301a8a6.png)

# Android
![screen shot 2016-04-01 at 10 56 46 pm](https://cloud.githubusercontent.com/assets/1457327/14224070/0c2ad46c-f85d-11e5-81fd-2f3b1d47425b.png)

Thank you for all your hard work!

[2016-04-02 03:02] roblav96 commented on #44
Any why does a push notification service need access to my users locations???

[2016-04-02 08:19] jkasten2 commented on #44
@roblav96 Thanks for reporting the build errors. Just fixed both of these in version 1.12.1 of our plugin.

The location code is for our geotagging feature. It is a filter found on our Dashboard under Segments called "Location Radius".

[2016-04-02 08:19] #44 closed

[2016-04-02 08:21] roblav96 commented on #44
@jkasten2 Ah that's really cool! Any documentation on this new feature?

[2016-04-02 08:24] jkasten2 commented on #42
@jordan-enev Can you try to add `rm -rf platforms/android` after step 2 in your test case?

Do you see the same issue if you create a new project and add our plugin.

Does it build correctly with `cordova build android` instead of using Android Studio or Eclipse?

Also note we just released version 1.12.1 of our plugin.

[2016-04-02 08:37] jkasten2 commented on #44
I'll be creating some documentation on our main setup guide soon. Until then you follow this outline.

1. App Permissions
   * iOS - plist entries
       - iOS 6 and 7 - `NSLocationUsageDescription`
       - iOS 8+ - `NSLocationWhenInUseUsageDescription`
  * Android - `AndroidManifest.xml` permissions
     * `<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>`
     * OR

[2016-04-02 08:40] roblav96 commented on #44
@jkasten2 That's more than enough to get me up and running! Thanks!!!

[2016-04-02 09:03] jkasten2 commented on #29
@bottasergio @roblav96 Android badge counts are now automatically enabled the latest version of our plugin. See these release notes.
https://github.com/one-signal/OneSignal-Cordova-SDK/releases/tag/1.12.0

Note: Make sure to use latest version (1.12.1) to prevent build error introduced in 1.12.0.

[2016-04-02 09:03] #29 closed

[2016-04-02 10:41] roblav96 commented on #29
@jkasten2 Thanks so much! This is great!!!

[2016-04-02 14:19] bottasergio commented on #29
@jkasten2 Excellent!

[2016-04-04 10:01] peterwilli opened #45 "[Unity] When I close my app from the task bar, no notifications are being received."
Hi,

I know this issue is already up there (but then for Cordova) but this is also more of a question.
I know that people said that you can't receive notifications when forcing the app to close (as in: moving it out of your task bar)

I don't get this, because how do other apps do it then? (like Whatsapp) which I also clearly close from my taskbar from time to time.

Is there a way to make sure th

[2016-04-04 10:02] #45 closed

[2016-04-07 12:53] lightwaxx opened #46 "No notification on Signed App"
I don't receive notifications from signed version of my app. What am I missing?

[2016-04-13 14:30] BugsBunnyBR opened #47 "Disable notifications"
Hi, is it possible to make available a method to disable the push notifications? I would like to give to my users a settings to enable/disable it.

[2016-04-16 00:22] jkasten2 commented on #47
@BugsBunnyBR You can use [setSubscription](https://documentation.onesignal.com/docs/phonegap--cordova-sdk-api#setSubscription) to enable / disable OneSignal notifications.

[2016-04-16 00:22] #47 closed

[2016-04-18 18:03] BugsBunnyBR commented on #47
Is it possible to know if the notifications are enabled or not?

[2016-04-18 18:16] BugsBunnyBR opened #48 "know if notifications are enabled"
Is there a way to know if `setSubscription` has it's current value as true or false?

[2016-04-18 18:54] DaniloCouto opened #49 "GetIds Method on Windows Phone"
I'm running an software on Windows Phone 8.1.
At some point, I've tried to get my OneSignal ID with GetIDs Method.
But, this method does not fire any callbacks , on Windows Phone 8.1.

Maybe is the "idsavailableevent" event isn't firing.
`  getIds: function (successCallback, errorCallback, params) {
      OneSignal_JSBridge.addEventListener("idsavailableevent", function (e) {
          successCall

[2016-04-19 00:35] jkasten2 commented on #49
The callback most likely is not firing due to your device unable to register with OneSignal and / or Microsoft. Is the device showing up on your OneSignal dashboard?

You can debug the issue further if there is an issue with the callback itself by checking out [ExternalInitCordova.cs](https://github.com/one-signal/OneSignal-WindowsPhone-SDK/blob/43726127befb75f4ff4e08ae84e61501d03c37fc/Source/OneS

[2016-04-19 00:37] jkasten2 commented on #48
There currently isn't a way to get the state of this. I recommend you wrap this function with your own code to handle saving of the current state. We will consider adding this as an enhancement to our SDK.

[2016-04-23 20:58] wrannaman opened #50 "IOS Background Notifications"
When I create a message on the site and the app is not open ( not even in the background ) I receive the push. The message created from the site has the content_availble set to false.

When I create a message from my own server and the app is open or in the background, everything works as expected, but when the app is closed, the notification does not show up.

I have tried
- "content_available":

[2016-04-28 19:02] jkasten2 commented on #50
The OneSignal Action Buttons have some special requires as its uses content-available 1 to create custom categories on the fly.

See the requirements in our documentation.
[5. iOS notifications with action buttons not displaying](https://documentation.onesignal.com/docs/common-problems#5-ios-notifications-with-action-buttons-not-displa)
[code]

[2016-04-30 07:43] ricolo commented on #40
Would be great to have this feature. There's a [plugin](https://github.com/nrswolf/cordova-plugin-push-notifications-status) that can check the status, and it's a small plugin. According to the discussion [here](http://stackoverflow.com/questions/1535403/determine-on-iphone-if-user-has-enabled-push-notifications), different iOS versions would have different APIs to do it though.

[2016-05-06 20:24] nicksrandall opened #51 "Turn off alert box"
I want to turn off the alert box that shows up when a user gets a push notification while active in the app.
I have the following in my "deviceready" event handler:

[code]
I have tried to do a clean build and it that has no effect.

[2016-05-07 20:52] nunoarruda opened #52 "Support for TypeScript and/or Ionic Native"
Please make type annotations so TypeScript developers can have type checking, autocompletion support and avoid compilation/console errors:
<img width="235" alt="screen shot 2016-05-08 at 08 47 42" src="https://cloud.githubusercontent.com/assets/1189149/15094489/bd99afbc-14f9-11e6-9a92-2d0d7adf9e96.png">
<img width="575" alt="screen shot 2016-05-08 at 08 48 34" src="https://cloud.githubusercontent.

[2016-05-10 05:59] neves commented on #30
Is there any plan to implement this feature?
It was done at phonegap-plugin-push https://github.com/phonegap/phonegap-plugin-push/issues/93
Here's the code:
https://github.com/phonegap/phonegap-plugin-push/blob/master/src/ios/AppDelegate%2Bnotification.m#L112

[2016-05-11 07:23] neves commented on #50
Can you receive notification while in background?
I can't make it work with OneSignal, just with this other one:
https://github.com/phonegap/phonegap-plugin-push/blob/master/src/ios/AppDelegate%2Bnotification.m#L112

[2016-05-11 10:09] ahsan154 commented on #51
hi experts, i had the same issue as above , i am getting this alert, and i don't this to appear but i dont know from where it is coming, i had same issue in both ios and android....

any help in this regard will be really appreciated...

let me share my javascript code as well that i got from your documentation

document.addEventListener('deviceready', function () {

    // Enable to debug issues.

[2016-05-11 10:11] ahsan154 opened #53 "raw alert message showing in push notification"
hi experts, i had this issue nd i am unable to find it online , i am getting this alert, and i don't this to appear but i dont know from where it is coming, i had same issue in both ios and android....

any help in this regard will be really appreciated...

let me share my javascript code as well that i got from your documentation

document.addEventListener('deviceready', function () {

// Enable

[2016-05-11 14:16] wrannaman commented on #50
@neves This is working for me in the background, foreground, and after force quitting the app:

Client:
      `window.plugins.OneSignal.enableSound(true);`
      `window.plugins.OneSignal.enableVibrate(true);`
      `window.plugins.OneSignal.init("xxx", {googleProjectNumber: "yyyy"},function(a,b,c){`
       ` if (a.additionalData.path)`
       ` {`
          `$location.path('/feed/notifications');

[2016-05-11 14:16] #50 closed

[2016-05-11 15:33] wrannaman commented on #50
@neves  yes, I understand. No, not if the notification is not clicked on, and as I understand it, this is the expected behavior on ios. I believe you can do more interesting background processing on android.

[2016-05-11 15:50] neves commented on #50
@wrannaman That's the point, ios do support this, phonegap-plugin-push has it implemented, I tested and it really works!
This is the code:
https://github.com/phonegap/phonegap-plugin-push/blob/master/src/ios/AppDelegate%2Bnotification.m#L112

[2016-05-11 19:26] jkasten2 commented on #53
The alert in your screenshot is from our example code. I see you have the alert commented out in the above code. Can you make sure your app got rebuilt correctly and you don't have another copy of this code somewhere else your app?

[2016-05-11 19:27] jkasten2 commented on #51
The alert in your screenshot is from our example code. I see you have the alert commented out in the above code. Can you make sure your app got rebuilt correctly and you don't have another copy of this code somewhere else your app?

[2016-05-18 10:14] TheMassassian opened #54 "Android - disable Badges"
Hello everybody,

is it possible to disable the badges on Android devices ?

Best Regards,

Yasin Sezgin

**EDIT:**
[code]

did the trick.

[2016-05-19 14:12] #54 closed

[2016-05-19 22:38] jkasten2 commented on #53
Closing this issue, please feel free to re-open if you're stilling having this issue.

[2016-05-19 22:38] #53 closed

[2016-05-19 22:39] jkasten2 commented on #51
@nicksrandall @ahsan154 Were you able to resolve the issue by removing the example alert code?

[2016-05-19 22:49] jkasten2 commented on #52
Thanks for the suggestions, this is a lower priority for us but feel free to fork our repo and make a pull request.

[2016-05-19 22:50] jkasten2 commented on #42
@jordan-enev Were you able to get things working? Feel free to reopen this issue if you're still stuck.

[2016-05-19 22:51] jkasten2 commented on #39
@codecrab-studios Are you still running into this issue? Feel free to reopen this issue and reply if you're still stuck.

[2016-05-19 22:51] #39 closed

[2016-05-20 05:30] ahsan154 commented on #51
yeah... i was not having any example alert code in the project, but what i did is: i placed cordova.js on the top of all the js files and then this onesignal code and then rest of the js files...

    On Friday, 20 May 2016, 4:09, Josh Kasten <notifications@github.com> wrote:

 @nicksrandall @ahsan154 Were you able to resolve the issue by removing the example alert code?—
You are receiving this be

[2016-05-20 08:49] jordan-enev commented on #42
I've updated to onesignal-cordova-plugin **1.12.4** "OneSignal Push Notifications" and the problem disappears:
`The method removeNotificationOpenedHandler() is undefined for the type OneSignal`

---
But now there is a similar problem at line 258 in the same file:
`The method setEmail(String) is undefined for the type OneSignal`

When I comment out the following - then I can run my project:
[code]

[2016-05-26 10:10] uzumakinaruto123 commented on #9
@jkasten2  sometimes notifications stop showing up like they are queued. i wonder is it because of task killers. but, on the other hand , how can app reveive a notification that is sent from the dashboards test message ? i tried killing the app and sending test notification from dashboard, notification is received successfully.

[2016-05-31 06:10] ricolo commented on #51
My issue is not exactly the same but similar. While I can turn off the in-app alert box using `enableInAppAlertNotification(false)`, the app would go to the screen specified by the push notification automatically upon the arrival of the notification (since `notificationOpenedCallback()` is fired, as stated in [documentation](https://documentation.onesignal.com/docs/phonegap--cordova-sdk-api#sectio

[2016-06-01 11:08] subhash8108 opened #55 "How to set additonal launch url"
Hello,

I have no idea, how to set additional launch url in cordova with code?

![onesignal 2016-06-01 16-36-22](https://cloud.githubusercontent.com/assets/542535/15707592/1e9c9bb4-2817-11e6-8684-a151312725a6.png)

please help me.

Thanks & Regards
Subhash Patel

[2016-06-01 11:15] subhash8108 commented on #55
Hello,

Onesignal site through perfect working launch url, but same not set launch url with cordova code.
Is it possible for puch notifcation with launch url?

Please help me

Thanks & Regards
Subhash Patel

[2016-06-01 11:41] Meseery opened #56 "handle push notification payload when App is closed"
how should i handle push notification when the App is launched from a notification while it was killed or suspended .. i need to do some action using the notification payload when app is closed and opened from a push notification.

[2016-06-03 08:15] leizard commented on #30
hey @rwillett, i'm currently interested in this use case. Does onesignal go well with phonegap push plugin ?

[2016-06-03 08:42] rwillett commented on #30
We hadn't the time to try and resolve this issue using OneSignal so we used a different provider to get the functionality we needed. We don't use Phonegap push plugin at all, so can't comment. Simon McDonald the author of the push plugin may be able to advise.

Rob

[2016-06-03 11:21] neves commented on #30
@leizard, OneSignal doesn't work with Phonegap push plugin.

[2016-06-03 12:33] leizard commented on #30
thanh you @rwillett  and @neves for your information.

[2016-06-04 18:38] anonrig opened #57 "Support for purchases"
Support for purchases will be very much appreciated.

I am looking for a way to implement free users & paid users segmentation while using onesignal cordova sdk, and unable to do so.

Thanks.

[2016-06-04 22:51] AcademyLime commented on #29
This feature is great but you should know that enabling it automatically causes some issues in the process of migration. I will explain:

1. Assume that I published an updated version with OneSignal and migrated all user tokens from the old platform (Pushbots).
2. I started using OneSignal API. So all installed versions (updated or old using Pushbots) are receiving push via OneSignal.
3. However,

[2016-06-04 23:10] jkasten2 commented on #57
In app purchases (IAP) are automatically tracked by our SDK for you on iOS and Android. Let us know if your test purchases are not showing up.

[2016-06-04 23:19] jkasten2 commented on #55
The 'url' field is the same as the dashboard "Launch URL" option. See our [create notification](http://documentation.onesignal.com/v2.0/docs/notifications-create-notification) REST API POST call.

[2016-06-04 23:21] jkasten2 commented on #56
The `notificationOpenedCallback` function will be called when a notification is opened either when the app is open or closed. See [step 2](https://documentation.onesignal.com/docs/phonegap-sdk-installation#2-add-required-code) in our setup guide.

[2016-06-04 23:22] jkasten2 commented on #46
@lightwaxx Feel free to reopen this issue if you're still seeing this problem.

[2016-06-04 23:22] #46 closed

[2016-06-04 23:24] anonrig commented on #57
Thank you for your reply. I am using cordova in app purchase plugin for IAP, and couldn't see any data related to that on OneSignal.

[2016-06-04 23:27] jkasten2 commented on #57
Can you contact OneSignal support from the red help buble in the bottom right of our dashboard? We can check your account to see if we are getting any events. Let us know if you currently test with Android or iOS.

Thanks.

[2016-06-04 23:27] #57 closed

[2016-06-04 23:48] jkasten2 commented on #29
@AcademyLime Bages values set completely client side by our SDK, no changes were may to our GCM payload to support them. The "1" showing up in the old version of your app must be from another property. I am guessing the Pushbots SDK isn't checking to see if the payload is in their format before processing it.

You can use the app version filter in the Segments page to target users who have updated

[2016-06-04 23:50] jkasten2 commented on #42
@jordan-enev Sorry about the delay, we haven't had any other reports of this issue but good to hear you found a work around.

Eclipse / ANT isn't support by Google any more so I recommend updating to Android Studio / Gradle  in the future.

[2016-06-04 23:50] #42 closed

[2016-06-04 23:55] jkasten2 commented on #51
@ricolo We recommend keeping `enableInAppAlertNotification(true);` so notifications are not missed by the user when your app is in focus and for the redirect behavior you mentioned.

enableNotificationsWhenActive works since Android allows a ton of control over notifications. However on iOS when a push notification comes in while the app is in focus it skips displaying it and just fires the opened

[2016-06-06 15:52] northkode opened #58 "Amazon Messaging Gracefully Degrade if ADM Is Unavailable"
I dont see you guys handling this. The manifest file has
amazon:enable-feature android:name="com.amazon.device.messaging" android:required="false" /

but i dont see anywhere, where you might be checking if amd is not present then degrad without dying.

[2016-06-07 18:54] elbidone opened #59 "Android phonegap Build failed on build.phonegap.com"
Hi,

I've tested to build App (cli-6.1.0) with one-signal cordova plugin but raised following issue:
The iOS build seems to work, I didn't test the install yet.

[code]

[2016-06-07 21:59] jkasten2 commented on #58
@northkode This is handled from OSUtils.getDeviceType() in the native Java code used by this plugin.
https://github.com/one-signal/OneSignal-Android-SDK/blob/master/OneSignalSDK/onesignal/src/main/java/com/onesignal/OSUtils.java#L42

Feel free to reopen this issue if you're seeing an problem with the not working in your app.

[2016-06-07 21:59] #58 closed

[2016-06-07 22:04] jkasten2 commented on #59
It looks like you have 2 plugins that are including different versions of the "Google Play services" library. See the [OneSignal Cordova Troubleshooting](https://documentation.onesignal.com/docs/cordova-common-problems) section for a list of plugins are known to cause compbitlity issues and how to fix them.

If you're still seeing an issue add the full output from running the following as a new co

[2016-06-07 22:08] jkasten2 commented on #3
'ttl' (Time To Live) has been added to the OneSignal Create Notification REST API.
https://documentation.onesignal.com/docs/notifications-create-notification

[2016-06-07 22:08] #3 closed

[2016-06-08 01:55] elbidone commented on #59
I've removed "com.adobe.plugins.gaplugin" as recommended on troubleshooting and it works fine, tks!!

[2016-06-08 01:55] #59 closed

[2016-06-14 14:43] c990802 commented on #30
@leizard Highly interested too on the implementation of
https://github.com/phonegap/phonegap-plugin-push/issues/93

In our case, we'd like to use it to wake up the app and periodically get user's location.

[2016-06-14 16:03] leizard commented on #30
Hi @c990802, I'm using Ionic push and it work really good with phonegap push plugin. But I'm also interested at OneSignal and want to have a try with it.

[2016-06-15 04:14] jpasillas commented on #52
Hi @nunoarruda
I have the same problem ¿Could you solve this issue?

[2016-06-15 07:51] c990802 commented on #30
@jkasten2 Would it be possible to consider (such feature[https://github.com/phonegap/phonegap-plugin-push/issues/93]) for the cordova sdk?

[2016-06-16 13:00] diegolmello commented on #29
This should be more like ios_badgeType and ios_badgeCount.

[2016-06-24 21:05] paulocarvalhodesign commented on #52
Surprise that this is low priority, typescript is become ever so big and that could infact be a deal breaker for a new user, like me 😂😉

[2016-06-24 21:08] neves commented on #56
@Meseery maybe you mean this: #50

[2016-06-24 23:29] jkasten2 commented on #52
Can you try `window["plugins"]` as a work around?

Since we support Cordova CLI, Ionic, PhoneGap Build(PGB), and Intel XDK we have in ensure any change did not break these forks.

Pull requests or any additional information on required code changes are welcome.

[2016-06-30 19:30] scorpnode commented on #50
Is this fixed for onesignal?

[2016-07-02 14:35] mindr242 commented on #31
I'm having this issue again. When app is in background and notification received and then clicked, the app state refreshes, but it the callback is not called.

[2016-07-06 00:15] 2garryn opened #60 "Background notifications when app is opened."
In our application we need to have option to disable notifications. It means that user should not see real notifications in notification bar.
But at the same time we still need to get notifications in background when application is opened and in foreground to update our UI components according with additional data. So, user should not see notifications, but didReceiveRemoteNotificationCallBack sho

[2016-07-06 00:46] jkasten2 commented on #60
@2garryn There isn't a simple way to do this for Android as a use case like this wasn't considered since push notifications are normally not used in this way.

It is possible with a `NotificationExtenderService` that is available in our SDK but it would require you to make your own Corodova plugin since it only works with native Java. See [Background Data and Notification Overriding](https://docum

[2016-07-07 16:44] ludooo opened #61 "Google Play Developer Term Violation"
I received this email after the publishing of my app on Google Play. Is there a way to avoid this issue ?

"We detected that the app(s) listed at the end of this email contain a version of OneSignal, a messaging SDK, that collects personally identifiable information (PII) without disclosure. Apps like this may be considered in violation of our User Data policy.

Action required: Your app(s) may be

[2016-07-07 19:56] jkasten2 commented on #61
@ludooo Please contact OneSignal support from the red question mark on the bottom right when signed in or email support@onesignal.com.

Thanks.

[2016-07-07 19:56] #61 closed

[2016-07-08 06:07] realyze opened #62 "push token not set with Meteor 1.3 (cordova ios 4.0.1)"
OneSignal SDK with Meteor 1.2 works perfectly. Meteor 1.3 updated to Cordova ios 4.0.1 and now after upgrade, this SDK reports pushToken as empty string.

I'm using phonegap-plugin-push@1.7.3 in the same project and that one reports device id OK.

Looks like `oneSignalDidRegisterForRemoteNotifications` never gets called.

[2016-07-12 06:53] ricolo opened #63 "Right after updated to v1.13.0 in Android, many past notifications appear again"
Hi Josh @jkasten2 , I noticed this behaviour while testing the version update. Some past notifications that appear again were probably sent a month ago and some were more recent.

I'm not sure if it has to do with the new feature in this version where notifications are restored if they're cleared by Android. However, it would seem like some kind of notification flood to users if they also get many

[2016-07-15 22:18] northkode opened #64 "Support for background Data in android and ios for silent notifications"
Do we have to handle this with a custom receiver? or is there code in place to not show a notification but still pass the payload to the cordova app?

[2016-07-15 23:52] JKalash commented on #64
Hi,

For iOS, there is no need to handle this using a custom receiver. a notification without a title / body, and setting content-available = 1 will trigger a silent notification in the background. U can use the OneSignalHandleNotificationBlock to handle the notification received.

[2016-07-19 18:25] jkasten2 commented on #63
@ricolo Restoring notifications should only happen as far back as 1 week. After reviewing our native Android code it looks like this restriction isn't working. We will be fixing this and adding the `clearOneSignalNotifications` function in our next update.

[2016-07-20 04:18] ricolo commented on #63
@jkasten2 Thanks it's good to know, look forward to the next update.

[2016-07-20 22:07] jkasten2 commented on #64
@northkode For Android you can use the `NotificationExtenderService` noted in our [Background Data and Notification Overriding](https://documentation.onesignal.com/docs/android-notification-customizations#background-data-and-notification-overriding).

Feel free to reopen this issue if you have additional questions on this.

[2016-07-20 22:07] #64 closed

[2016-07-21 14:57] NickyYo opened #66 "iOS badge icon numbers not de-incrementing if.."
iOS badge icon numbers not de-incrementing if the user clears down all push notifications in one go.

If the user clears push notifications one-by-one it de-increments fine.

[2016-07-22 02:54] jkasten2 commented on #66
@NickyYo iOS does not change the badge based on the number of notification in the notification center. It will only be updated by OneSignal when the app is opened / resume (until disabled) or when you set a badge value when sending a notification.

Feel free to reopen this issue if I miss understood your question.

[2016-07-22 02:54] #66 closed

[2016-08-04 08:14] jorma16 opened #67 "Priority on notifications"
I have a problem, I'm trying to do heads up push notifications and is not possible for me, I think that is because the priority is not set fine.

I send the priority tag to 10 but don't setup the push correctly.

How can I did heads up push notifications?

Thanks in advice!

[2016-08-06 20:24] jkasten2 commented on #67
@jorma16 The priority option is the GCM send priority, it is used to wake the device up out of doze mode on Android 6.0+ devices. We will be adding the display priority to match up in the future. You can follow this Android issue for updates.
https://github.com/OneSignal/OneSignal-Android-SDK/issues/10

[2016-08-06 20:26] jkasten2 commented on #62
@realyze Can you try removing the `phonegap-plugin-push` plugin from your project? We seen issues where other push plugins can interfere with OneSignal get a push token.

[2016-08-06 23:35] realyze commented on #62
@jkasten2 Yes, that helps. But I actually need the app to handle background notifications...

[2016-08-09 01:25] jkasten2 commented on #62
@realyze I see, so you need to keep this plugin as you are still need it to handle your background notifications?

[2016-08-09 01:40] realyze commented on #62
Yes. We've actually switched to UrbanAirship meanwhile (because of this issue - UA doesn't have problems).

The idea was to use `phonegap-plugin-push` to handle silent pushes on the client (fetching some data in the background) and OneSignal to handle alerts.

[2016-08-10 08:32] sirramin opened #68 "Outdated Google Play Services App"
In my dashboard many users aren't subscribed and have the error Outdated Google Play Services App.
I used  plugin latest version in my app and sdk platfom v23.

[2016-08-10 12:03] nunoarruda commented on #52
Ionic 2 now breaks if there is any TypeScript errors. A temporary workaround is to declare window above the decorator:

`declare var window;`

[2016-08-10 22:55] jkasten2 commented on #68
@sirramin This error is most likely correct. The device must have the same version or newer of the Google Play services library you built your app with.

See the OneSignal [2. All Users are shown as not subscribed](https://documentation.onesignal.com/docs/common-problems#2-all-users-are-shown-as-not-subscribed) for more details on this.

Thanks.

[2016-08-11 09:41] sirramin commented on #68
In my Android SDK manager the Google play services is latest version number 31 & I couldn't downgrade it.
and it's wired that many of my users with android version 5 or 6 aren't subscribed.
So what can I do?

[2016-08-12 15:24] NickyYo opened #69 "iOS, badges not clearing."
The iOS badge numbers are not clearing when close a push notification.  Anyone else experience this?

[2016-08-13 20:36] sirramin commented on #68
please help me on this

[2016-08-14 21:55] jkasten2 commented on #68
@sirramin Since version 32 of the "Google Repository" is 9.4.0 of the Google Play services library I believe 31 is version 9.2.1. Unfortunately Google requires the version of the services to be the same or higher than the library version. This however shouldn't be an issue if your app is being downloaded from the Google Play store as it keeps this up to date on the device automatically for the use

[2016-08-15 03:42] jkasten2 commented on #68
@sirramin Quick update, release 3.0.2 of our Android native SDK used by this plugin fixes the same or newer requirement. This issue will be resolved when we update this SDK to use this version.

[2016-08-15 11:24] sirramin commented on #68
@jkasten2 Thank you for you answers.
I tried both your solutions but unfortunately the problem still exists.
When the new plugin will be released?

[2016-08-15 18:14] jkasten2 commented on #68
@sirramin With solution 2 did you try removing the OneSignal plugin and add the one you downloaded by fully pathing it?
[code]

[2016-08-15 20:54] sirramin commented on #68
@jkasten2 yes I fork this repo and I changed the plugin.xml file line 29 to 31 like As follows:

[code]
then remove and install forked (modified) repo but new error apears in OneSignal dashboar for my device:
` Google Play services library initialization error. Check for conflicting plugins and make sure "com.google.android.gms.version" is in your AndroidManifest.xml.`

[2016-08-15 20:58] jkasten2 commented on #68
@sirramin I reviewed your commit https://github.com/sirramin/OneSignal-Cordova-SDK/commit/4ce0f7834cca65436eecb4b4a17cd27b10576cdc and I see `@aar` was added. I have not tried this so it may create an issue.

[2016-08-15 21:37] jkasten2 commented on #63
@ricolo Our 1.13.1 SDK is now available which fixes this issue.
https://github.com/OneSignal/OneSignal-Cordova-SDK/releases/tag/1.13.1

[2016-08-15 21:37] #63 closed

[2016-08-16 10:37] sirramin commented on #68
@jkasten2 Thank you for your great support
I removed the @aar from my repo and install the plugin again fix the problem.
Another question using version 8.4.0 of google play services may influence on other parts and plugins in my app?

[2016-08-16 18:27] jkasten2 commented on #68
@sirramin If you have another other plugins that depend on Google Play services it may. Most of the time it is a build issue not a run time issue however. You an list your plugins and we can double check.

Thanks.

[2016-08-21 11:38] rbarriuso opened #70 "NoSuchMethodError: requestPermissions crash on Android"
Hi,

We've received the following crash via Fabric's Crashlytics:

[code]

The application is build on Ionic Framework, with the following versions:
* Plugin: onesignal-cordova-plugin@1.13.0
* Platform: android@5.2.1
* Ionic CLI: 1.7.16
* Cordova: 6.3.0

We don't have more information about how to reproduce the issue, but we know that it happened on an Android 4.3.1 device (XT320)
Any clue?

Thank

[2016-08-22 06:25] yingliangzhang opened #71 "User created without device token on iOS"
Hi,

I'm using the ionic SDK for both Android and iOS for a locally hosted Parse app. I installed the plugin and called the `init` function like below during bootstrap:

[code]

I have the `googleProjectNumber` filled in but I guess this should also work for iOS. On login , users are created in OneSignal and it works fine for Android. However, for iOS, the user doesn't have the device token set.

[2016-08-23 13:35] ezazwar1 commented on #31
i am also facing same issue , On ios it is working fine but on android it doesnt seem to be working at all

[2016-08-24 19:13] jkasten2 commented on #31
@mindr242 @ezazwar1 Can you make sure OneSignal init is called each time your page loads? This will ensure the callback current.

[2016-08-24 19:15] jkasten2 commented on #71
@yingliangzhang Make sure you setup your provisioning profile correctly and it is synced to your system through Xcode. See our [5. Provisioning Profiles](https://documentation.onesignal.com/docs/generating-an-ios-push-certificate#5-provisioning-profiles) instructions.

Also make sure you don't have any other push notifications plugins in your app like Ionic push that can interfere with OneSignal g

[2016-08-24 21:41] ezazwar1 commented on #31
yep the init method is called

[2016-08-26 00:19] menshinobi opened #72 "Package com.onesignal does not exist"
When I install the latest cordova OneSignal plugin and then build the project, the build fails because package com.onesignal does not exist. How can I fix this issue? Thanks!

[2016-08-30 20:57] sirramin commented on #68
@jkasten2 Hello again,
I published my app (built with play-services-gcm 8.4) to 5 custom stores and google play but still many of my users couldn't receive  notifications.

[2016-08-31 01:55] elysiopires commented on #50
Does this already works? I Need to open a notification over my closed app and process additional data to redirect the user to a specific feature.

[2016-08-31 05:24] jkasten2 commented on #68
@sirramin It is most likely due to users not having the required "Google Play services" app at all or an original version bundled with the device if they have never open the Google Play store and signed in.

[2016-09-16 06:50] Mariamjamal32 commented on #9
Hey, I am really new in working with notifications. I would like to know if there is a way that the notifications I send got received by intended parties but not to the sending device/sender?

[2016-09-16 18:43] apparition47 opened #74 "Unregister push notifications"
For my app, I require the ability to unregister from push notifications similar to `phonegap-plugin-push`. They've done it like this: [iOS](https://github.com/phonegap/phonegap-plugin-push/blob/master/src/ios/PushPlugin.m#L125), [Android](https://github.com/phonegap/phonegap-plugin-push/blob/master/src/android/com/adobe/phonegap/push/PushPlugin.java#L143). Any ideas on why this isn't in the SDK? T

[2016-09-16 19:04] jkasten2 commented on #74
@apparition47 This can be done with the [setSubscription](https://documentation.onesignal.com/docs/cordova-api-reference#setSubscription), set it it `false` to turn off OneSignal push notifications for your app for the user.

[2016-09-16 19:28] jkasten2 commented on #72
@menshinobi I recommend trying a clean build by removing all plugins, deleting the platform folder, and reinstalling the plugins. See the below link for more details.
https://documentation.onesignal.com/docs/cordova-troubleshooting

If you are still seeing the issue please attach your build log error.

[2016-09-16 20:01] apparition47 commented on #74
Thanks for the prompt response; I believe that should work in my use case.

[2016-09-16 20:01] #74 closed

[2016-09-20 13:22] appplumbr opened #75 "Using OneSignal webpush + cordova SDK API both together in one standalone hybrid app"
I am using webpush api as below:

OneSignal.push(["init", {
    /* Your other init options here */
    welcomeNotification: {
        "title": "My Custom Title",
        "message": "Thanks for subscribing!",
        // "url": "" /* Leave commented for the notification to not open a window on Chrome and Firefox (on Safari, it opens to your webpage) */
    }
}]);

Along with cordova configuration as

[2016-09-20 14:26] Link184 commented on #47
Give me a way how to check state of subscrubation

[2016-09-20 18:44] jkasten2 commented on #47
@BugsBunnyBR @Link184 [getIds](https://documentation.onesignal.com/docs/cordova-api-reference#getIds) can be called get the pushToken. If it null the then user will not be able to receive notifications. This accounts for the user disabling notification as well on iOS.

[2016-09-20 19:15] jkasten2 commented on #75
@appplumbr The Cordova plugins object `window.plugins` can only be accessed from javascript / html files contained in your app. You will need to iframe a remote site from your mobile app keep the OneSignal Cordova plugin working.

Web push notifications do not work from webviews built into apps so the web push SDK could will say the browser is not supported.

[2016-09-21 10:47] sirramin commented on #68
@jkasten2 Using version 8.4 in plugin.xml cause conflict with [this plugin](https://github.com/EddyVerbruggen/cordova-plugin-googleplus) when building the app.

[2016-09-22 10:16] jkasten2 commented on #68
@sirramin The versions are different since that plugin is trying to use the latest and you have forced a lower version for OneSignal. However you can do one of the following as a work around.

1. Fork that plugin as well and match change it's [plugin.xml](https://github.com/EddyVerbruggen/cordova-plugin-googleplus/blob/master/plugin.xml#L32-L33) to match OneSignal's.

2. Or delete your `<android-s

[2016-09-22 20:05] northkode opened #76 "Segments dont seem to work on ios"
I set a tag and it never is bound to my ios user in one signal..
android works just fine.  It even sets all default segments..

[2016-09-22 20:14] gdeglin commented on #76
Thanks for the report!

Please make sure the device is subscribed to notifications and is connected to the internet. If you're still running into difficulties, get in touch with our support team at support@onesignal.com and we'll help look into this.

[2016-09-22 20:14] #76 closed

[2016-09-24 01:46] abihari commented on #71
@jkasten2 I am seeing the same issue as the original poster on iOS. Things were working fine before, but I had to switch computers and ended up getting a mismatch issue with certificates.

Additionally, I also upgraded to XCode 8.0 and iOS 10.0.1 on my iPhone.

After re-generating all of the certificates and provisioning profiles, I've uploaded the right things to OneSignal and no longer get the m

[2016-09-25 22:00] nunoarruda commented on #68
I'm trying to test the push notifications of my Ionic 2 app using an Android emulator and I'm having the same problem:

<img width="761" alt="screen shot 2016-09-25 at 21 52 10" src="https://cloud.githubusercontent.com/assets/1189149/18818528/e7cd7072-836a-11e6-8d05-f032fb90fd42.png">

I have the latest version of Google Play services installed and I'm using the SDK platform/image Android 6.0 (Mar

[2016-09-26 04:27] itemir commented on #71
I am having the same problem. push_token is coming up as empty OneSignal.getIds. This was working before. I have upgraded to XCode 8.0 and iOS 10 in the meantime. No additional plugins have been added since.

P.S. The link given above (https://documentation.onesignal.com/docs/generating-an-ios-push-certificate#5-provisioning-profiles) is giving an HTTP-404.

[2016-09-26 15:41] rwasef1830 commented on #71
Additional steps needed on xcode 8 / ios 10:

http://support.iterable.com/hc/en-us/articles/212157066-iOS-10-Debugging-Push-Notifications-Not-Registering

In addition to previous guidance on provisioning profile. The onesignal cordova SDK needs to be updated to modify the platform xcode project to do these steps automatically when the plugin is installed. Otherwise, these steps must be redone ever

[2016-09-26 15:45] itemir commented on #71
Thanks @rwasef1830, this solved the issue for me.

[2016-09-27 21:56] aluzino opened #78 "WrongManifestParent"
![2016-09-27 16_53_50-kiklu - microsoft visual studio administrator](https://cloud.githubusercontent.com/assets/10666050/18893316/00a9647a-84d3-11e6-8473-c81d2baeb8b1.png)

---- BAD BAD BAD BAD BAD ----

WrongManifestParent -->> parent="/manifest/application"

[code]
----- CORRECT CORRECT CORRECT CORRECT CORRECT ----
[code]

[2016-09-28 01:31] martinothamar opened #79 "OneSignalPush.java:271: error: 'else' without 'if'"
The latest build released ~3 hours ago, 2.0.1, has [this little bug](https://github.com/OneSignal/OneSignal-Cordova-SDK/blob/a93ba0f5fb1fccf7fbfbdd75c182ab5866452e9f/src/android/com/plugin/gcm/OneSignalPush.java#L270). Not entirely sure what's supposed to happen inside there.

[2016-09-28 01:40] JKalash commented on #79
Thanks for pointing that out! Fixed in [2.0.2](https://github.com/OneSignal/OneSignal-Cordova-SDK/releases/tag/2.0.2)

[2016-09-28 01:40] #79 closed

[2016-09-28 02:28] sombriks opened #80 "ios build error"
Hello all,

i`m facing this issue:

my cordova version is 6.3.1

onesignal plugin is:

Any guidance is welcome

[2016-09-28 02:30] sombriks commented on #80
on a second project, build goes fine, same cordova, but the plugin version is quite outdated:

[2016-09-28 03:06] sombriks commented on #80
i can confirm that downgrade to 1.13.2 fixed the build issue.

if i can ask, upgrade to 2.x series will force me to rewrite my code on device?

https://documentation.onesignal.com/docs/cordova-sdk

the new API looks much more decent, yet i prefer to prepare myself tor it on another time.

[2016-09-28 03:47] achmadk opened #81 "cordova android build errors"
I use OneSignal plugin for cordova. When I build cordova app in android, Android Studio display 10 errors (image attached). Please fix the errors.
![onesignal error](https://cloud.githubusercontent.com/assets/8057028/18900124/df983518-8568-11e6-8017-fcff4c0b6a8c.PNG)

[2016-09-28 04:27] yingliangzhang commented on #81
Same here.
[code]

[2016-09-28 04:34] jkasten2 commented on #81
@achmadk @yingliangzhang Sorry about the issues with the 2.0 version.  Please run the following to return to the 1.13.2 release.
[code]

`cordova plugin list` should now show 1.13.2.

I'll update this issue thread when the 2.0 release is complete.

[2016-09-28 04:36] yingliangzhang commented on #81
@jkasten2 Thanks for the quick reply!

[2016-09-28 05:04] seme1 commented on #80
Is there a guide for how to upgrade a cordova app to the 2.x version of the OneSignal SDK ?

[2016-09-28 06:05] sombriks commented on #80
@seme1 the best i could find was the new docs but no clue where the old documentation lies now.

[2016-09-28 18:26] JKalash commented on #80
Hi there,

Thank you for contacting OneSignal. We are working on updating our recently released 2.0 version of the SDK to squash some bugs. As to your question, our 2.0 SDK is not backwards compatible with the 1.+ as it adds support to our more recent versions of the native iOS and Android SDK which, in turn, are not backwards compatible since the major version update.

For a native upgrade you sh

[2016-09-29 01:50] jantonso opened #82 "notificationReceivedCallback when app is closed"
Hi,

Sorry if this has been asked elsewhere, but I can't seem to have found exactly what I'm looking for.

I'm using the 1.13.2 release of this plugin.

window.plugins.OneSignal.init('xxxxxxxxx',
				{googleProjectNumber: 'xxxxxxxxx'}, notificationOpenedCallback);

My notificationOpenedCallback works perfectly fine if the app is open or in the background. However, if the app is closed, then when i

[2016-09-30 23:42] jkasten2 commented on #82
@jantonso Can you make sure OneSignal init is being called on the first page when your app loads? Also add if this is an issue on iOS or Android or both.

[2016-10-01 00:57] jantonso commented on #82
@jkasten2

Hey,

This is an Android issue I think. I'm calling init and getting the ids and it's working perfectly fine when the app is open or in the background, the issue is only related to when the app is closed. When I click on the notification, it only is opening up the app, it doesn't seem to be doing what is in the notificationOpenedCallback. Ideally, I want to redirect the user to a certai

[2016-10-01 01:33] jantonso commented on #82
@jkasten2 I think I got it working! I was under the impression that I only need to call init once and then anytime my user closes/opens the app it would work, but we actually have to call init everytime the user opens the app, correct?

[2016-10-01 18:27] srikanth235 opened #84 "Ionic release target failing because of lint errors caused by Onesignal SDK."
This is not a serious issue and can be bypassed by changing build.gradle file. Fixing it would be nice though. The following are the error details:

[2016-10-02 06:51] sirramin commented on #68
@jkasten2 I couldn't still solve the problem with your solutions
As a work around can I disable the popup "To receive notifications please press ..." ?
What about a translated popup message ?

[2016-10-02 12:50] Inoverse opened #85 "Adding a Changelog.md would be great"
Hi there,

it would be great if you will add an Changelog.md file with the change for every release.
I created the Ionic Native support for this plugin and it would be create if I can see all changes in a file.

Thanks!
Regards
Aaron

[2016-10-03 19:13] jkasten2 commented on #68
@sirramin @nunoarruda We have released our 2.0 SDK, this fixes all out of date issues with Google Play services.

See our new setup guide which includes new initialization code.
https://documentation.onesignal.com/docs/cordova-sdk-setup

[2016-10-04 00:14] msbit commented on #84
@jkasten2 applying https://github.com/OneSignal/OneSignal-Cordova-SDK/commit/cb852cd0f4092931ee5e92d3e36c0d647964736c to https://github.com/OneSignal/OneSignal-Cordova-SDK/commit/47e84184258d58da039dc1b7a4ef20dd53998106 should fix this error in the 1.13.x release.

[2016-10-04 00:29] #68 closed

[2016-10-04 00:29] #51 closed

[2016-10-04 00:30] #55 closed

[2016-10-04 00:31] #56 closed

[2016-10-04 00:32] jkasten2 commented on #69
@NickyYo We made a large number of internal changes to our SDK in our 2.0 version. Can you try this new version and let us know if you are still seeing an issue.
https://documentation.onesignal.com/docs/cordova-sdk-setup

[2016-10-04 00:33] jkasten2 commented on #78
@aluzino We fixed this in our 2.0 version. See the instructions below to start using it.
https://documentation.onesignal.com/docs/cordova-sdk-setup

You made to remove and readd out plugin to get the newest version.

[2016-10-04 00:33] #78 closed

[2016-10-04 00:34] jkasten2 commented on #72
@menshinobi Feel free to reopen this issue if you are still seeing this problem.

[2016-10-04 00:34] #72 closed

[2016-10-04 00:35] jkasten2 commented on #80
@seme1 @sombriks We have released our 2.0 SDK and our setup instructions can be found below.
https://documentation.onesignal.com/docs/cordova-sdk-setup

You may need to remove and re-add our plugin to get it updated.

Thanks.

[2016-10-04 00:35] #80 closed

[2016-10-04 00:38] jkasten2 commented on #62
@realyze We have made a number of internal changes to our 2.0 SDK and now adding `phonegap-plugin-push` no longer creates an issue. Please follow our new 2.0 guide below.

https://documentation.onesignal.com/docs/cordova-sdk-setup

You may need to remove and re-add our plugin to get it to update.

Thanks.

[2016-10-04 00:38] #62 closed

[2016-10-04 00:39] jkasten2 commented on #81
@achmadk @yingliangzhang We have released our 2.0 SDK and can follow our new setup guide below.
https://documentation.onesignal.com/docs/cordova-sdk-setup

You may need to remove and re-add our plugin to get it to update.

Thanks.

[2016-10-04 00:39] #81 closed

[2016-10-04 00:42] jkasten2 commented on #82
Correct, you need to call init each time your app is opened. You also need to call it on every page load if you need handle the notification open event.

[2016-10-04 00:42] #82 closed

[2016-10-04 00:47] sombriks commented on #80
very nice @jkasten2 , thank you so much!

on my next app update i'll upgrade the plugin.

[2016-10-04 00:53] jkasten2 commented on #84
@srikanth235 We don't have any plans to update the 1.X version of our SDK since 2.0 is release. Please update to our 2.0.4 SDK to get this fix.

You may need to remove and re-ad our SDK to get the update.

See our instructions before to setup the new SDK.
https://documentation.onesignal.com/docs/cordova-sdk-setup

Thanks.

[2016-10-04 00:53] #84 closed

[2016-10-04 01:14] jkasten2 commented on #85
@Inoverse We have been noting our changes as github releases.
https://github.com/OneSignal/OneSignal-Cordova-SDK/releases

Could you base your notes off this list?

Thanks.

[2016-10-04 01:21] #75 closed

[2016-10-04 01:22] jkasten2 commented on #71
We have now have this in our setup instructions as well.
https://documentation.onesignal.com/docs/cordova-sdk-setup#section-5-ios

Thanks.

[2016-10-04 01:22] #71 closed

[2016-10-04 01:26] jkasten2 commented on #70
@rbarriuso Our Cordova 2.0.4 contains the Android native SDK 3.3.0 which fixes this issue.

https://github.com/OneSignal/OneSignal-Android-SDK/issues/30

[2016-10-04 01:26] #70 closed

[2016-10-04 01:48] msbit commented on #84
@jkasten2 I can understand you'd prefer to not maintain 1.x and focus on 2.x, but this issue was pushed up as part of https://github.com/OneSignal/OneSignal-Cordova-SDK/commit/fcd37d1c167597ba7da526de65eceb4576893374, chronologically and historically before the release of 2.0.1 (https://github.com/OneSignal/OneSignal-Cordova-SDK/commit/a93ba0f5fb1fccf7fbfbdd75c182ab5866452e9f).

I feel like this o

[2016-10-04 04:24] AdrienDC opened #87 "android_background_layout with large_icon"
Hi team,
thanks for the amazing work so far !

I noticed a bug in the plugin for android. When I put an android_background_layout (let's say {"image": "https://domain.com/background_image.jpg", "headings_color": "FFFF0000", "contents_color": "FF00FF00"}) , I'm no longer able to see the large_icon I configured.

Without android_background_layout, no problem.

[2016-10-04 05:57] jkasten2 commented on #87
@AdrienDC This is a limitation of the `android_background_layout` is part of our [OneSignal-Android-SDK](https://github.com/OneSignal/OneSignal-Android-SDK). You will need to bake your icon into the background image for the time being.

[2016-10-04 06:31] AdrienDC commented on #87
Thanks @jkasten2
However I'm using dynamic background so in the meantime I can't do this ..
Shall I repost to the android-sdk section?

[2016-10-04 07:30] #85 closed

[2016-10-05 08:57] veloce opened #88 "[android] notificationOpenedCallback api does not match current documentation"
In version 2.0.4, the arg received in `notificationOpenedCallback` does not match documented params as seen here: https://documentation.onesignal.com/docs/cordova-sdk#section--notificationopenedcallback-

Instead of the 3 args `message, additionalData, isActive` there is a unique arg received of type `OSNotificationOpenedResult`.

[2016-10-05 12:42] oggyindahouse opened #89 "Cannot read property 'Notification' of undefined"
The line with "OneSignal.OSInFocusDisplayOption.Notification" in the init function throws an error. My snippet:

        var iosSettings = {};
        iosSettings["kOSSettingsKeyAutoPrompt"] = true;

        window.plugins.OneSignal
        .startInit('635983dd-655b-491b-a0e8-7e061ceed42d', '729816255877')
        .iOSSettings(iosSettings)
        .inFocusDisplaying(OneSignal.OSInFocusDisplayOptio

[2016-10-05 19:22] ThodorisElissaios opened #90 "ios not registering user"
hello im building with phonegap and users not registering.
iOS:10.0.2
phonegap :cli.6.3.0

[2016-10-05 22:23] JKalash commented on #89
Hi there,

You should replace `OneSignal.OSInFocusDisplayOption.Notification` with `window.plugins.OneSignal.OSInFocusDisplayOption.Notification `

We'll update our docs to reflect that. Thanks for pointing it out!

[2016-10-05 22:23] #89 closed

[2016-10-05 22:25] JKalash commented on #90
Hi there,

You should make sure to have the _**push capability**_ turned on from Xcode. Refer to the section [here](https://documentation.onesignal.com/docs/cordova-sdk-setup#section-5-ios).

Thanks.

[2016-10-05 22:25] #90 closed

[2016-10-05 22:25] JKalash commented on #88
Hi there,

Thank you for pointing that out. We're working on updating this section of the docs to reflect the new 2.+ SDK.

[2016-10-05 22:25] #88 closed

[2016-10-05 22:29] ThodorisElissaios opened #92 "ios not registering user"
Hello , android works fine , when i test to my iPhone the app never asks for notification permission,
also checked my certificates. Thanks!

**iOS** : 10.0.2
**phonegap** : cli.6.3.0

[2016-10-05 22:47] #92 closed

[2016-10-05 22:53] ThodorisElissaios commented on #90
and what if i am not using Xcode ?

[2016-10-06 06:29] joturako opened #94 "No function to set language for a device."
I've notice that you can push in different languages, and create segments based on Country value of a customer.

Unfortunately, while the init process does recognize the country i'm in (**VN**), it still lists my device language as **English**. I've tried to change the language of the phone to **Vietnamese**, but it didn't help.
I want to confirm that the init process already detects the device la

[2016-10-06 09:01] sjorsroelofs opened #95 "Undefined is not an object"
I'm using Ionic 2 RC0, when I use the code below (replaced my project keys with) inside this.platform.ready I get the following error message in the Safari console when running on my iPhone:
`Error: Uncaught (in promise): TypeError: undefined is not an object (evaluating 'Co(window,t.pluginRef)[e].apply')
`

My code:
[code]

[2016-10-06 12:30] danielehrhardt commented on #95
Same Problem here!!

[2016-10-06 12:32] sjorsroelofs commented on #95
I just found out this is probably a problem with ionic-native, not specifically with OneSignal: https://github.com/driftyco/ionic-native/issues/649

[2016-10-06 13:03] oggyindahouse commented on #40
This is an extremely needed feature. Currently I cannot register my IOS 10 (iphone 6s) device.

[2016-10-06 14:47] NickyYo commented on #69
@jkasten2 Thank you for the update.  Do we know if we may experience any other issues in the future if we do not upgrade to this version? like deprecations etc?

[2016-10-06 17:15] #95 closed

[2016-10-06 23:33] jkasten2 commented on #94
@joturako I just checked your OneSignal account and our SDK is correctly detecting the system langue as Vietnamese for your Android device.

We do not plan on adding an option override this detection from the application itself. You can however use tags instead if you want to not use the system language.

[2016-10-07 00:26] jkasten2 commented on #69
@NickyYo To clarify, are you only clearing the notification from the iOS notification center? You need to go back to your app so our SDK can clear the badge count.

[2016-10-07 02:46] joturako commented on #94
@jkasten2 If you see my device language is Vietnamese, it's because i override it using REST api function (edit device). If in fact there is already detection i will test again to be sure its working, but this is a relief, atleast i can worry about other thíng first.FYI, I'm using android 7 with dual language added, Vietnamese first, then English.

In anycase, i plan to let user change my app inte

[2016-10-07 17:10] wap4444 opened #96 "Read a title of OneSignal Notification in PhoneGap"
I use PhoneGap Build and OneSignal. How can I read a title of notification in PhoneGap Project. There is my code
`......
receivedEvent: function(id) {
    var iosSettings = {};
    iosSettings["kOSSettingsKeyAutoPrompt"] = true;
    iosSettings["kOSSettingsKeyInAppLaunchURL"] = false;

    window.plugins.OneSignal.startInit( "*************************", "************")

[2016-10-08 00:59] jkasten2 commented on #96
You can get it by calling `jsonData.payload.title` in the function. See [NotificationReceivedHandler](https://documentation.onesignal.com/v3.0/docs/cordova-sdk#section--notificationreceivedhandler-) for a full list of properties.

Thanks.

[2016-10-08 00:59] #96 closed

[2016-10-09 09:07] beevelop opened #97 "additionalData seems to be a string"
I am currently using `onesignal-cordova-plugin@2.0.6` in an Ionic project and stumbled upon problems with using `additionalData`. It seems as if `additionalData` is not provided as an Object.

`typeof data.notification.payload.additionalData` reports a `string` and logging the value to Sentry  results in a logged string.

I "polyfilled" the functionality with the following snippet (with Lodash ava

[2016-10-10 06:55] snowbreeze opened #98 "Xcode 8 Issues"
There are hundreds of file showing as missing. And some other warnings also. In a gist this is not working in xcode 8

[2016-10-10 13:33] deceadmin opened #99 "[NSNull intValue]: unrecognized selector sent to instance"
Hi,
I've just upgraded both your SDK and XCode. So I do not know which one causes this error.
My code is as follows :
      window.plugins.OneSignal
        .startInit("xxx", "yyy")
        .handleNotificationReceived(function(jsonData) {
          alert("Notification received:\n" + JSON.stringify(jsonData));
          console.log('didReceiveRemoteNotificationCallBack: ' + JSON.stringify(jsonData)

[2016-10-10 17:16] vaibhavn1 opened #100 "ios_attachments not working"
Hi team,

I tried upgrading my App to use Rich Notifications using ios_attachments. But it is isnt working.

I tried with jpg and mp3 file , none of them worked. It works pre ios 10 notifications.

Note: I was using the latest SDK.

[2016-10-10 23:26] anonrig opened #101 "warning on no rule to process header file"
warning: no rule to process file '/Plugins/onesignal-cordova-plugin/OneSignalPush.h' of type sourcecode.c.h for architecture arm64

[2016-10-11 15:12] zergiocosta commented on #100
Have you tried to send it through one signals dashboard?

I'm getting the same problem here... If I send any media within the notification through the onesignal dashboard, it works perfectly fine! But as far as I try to configure the json with the "ios_attachments" param, nothing happens! =(

Does anyone have any solution for this?

[2016-10-11 15:13] vaibhavn1 commented on #100
I tried from both .. Once the notification was delivered but there was no media file 

Get Outlook for iOS

On Tue, Oct 11, 2016 at 8:42 PM +0530, "Sergio Costa" <notifications@github.com> wrote:

Have you tried to send it through one signals dashboard?

I'm getting the same problem here... If I send any media within the notification through the onesignal dashboard, it works perfectly fine! But as

[2016-10-12 00:51] jkasten2 commented on #100
@vaibhavn1 Please verify all of the 3 requires for iOS 10 media attachments.
https://documentation.onesignal.com/docs/troubleshooting-ios#section-ios-notifications-with-action-buttons-or-media-set-not-displaying

This also requires our 2.0 SDK, run the following to make sure you are up to date.
`cordova plugin list`

@zergiocosta Can you verify you are sending the JSON correct for `ios_attachments

[2016-10-12 02:10] JKalash commented on #101
Hi there,

You should make sure that there is no header files in your **Build Phases**. Clean and build again and you should be good to go!

[2016-10-12 02:10] #101 closed

[2016-10-12 04:15] alejandromagnorsky opened #102 "isAppInFocus missing"
In the callback of handleNotificationOpened isAppInFocus is not present.
Testing in iPhone 5, iOS 8.4. Didn't confirm with other versions.

Thanks!
Awesome tool ;)

[2016-10-12 11:06] sjorsroelofs opened #103 "Method 'enableNotificationsWhenActive:' not defined in Plugin 'OneSignalPush'"
Hi,

I'm using the OneSignal plugin inside my Ionic 2 (RC0) application. When I use the code provided by the Ionic docs (updated today), I get the following error:
[code]

It looks like the OneSignal plugin doesn't implement a method. For more info, view this message: https://github.com/driftyco/ionic-native/issues/649#issuecomment-253169194

Thanks.

Offtopic: this is another notification I see i

[2016-10-13 00:29] jkasten2 commented on #103
@sjorsroelofs @ramonornela `enableNotificationsWhenActive` was removed in the 2.0 SDK and has been replaced with [inFocusDisplaying](https://documentation.onesignal.com/docs/cordova-sdk#section--infocusdisplaying-).

The warning is normal as Cordova is very picky about even the shortest startup delay.

Thanks.

[2016-10-13 00:30] jkasten2 commented on #102
@alejandromagnorsky Can you confirm you are using the latest 2.0.6 SDK by running the following.
[code]

Thanks.

[2016-10-13 01:16] alejandromagnorsky commented on #102
@jkasten2
Yes, here is the output:
`onesignal-cordova-plugin 2.0.6 "OneSignal Push Notifications"`

[2016-10-13 01:51] ramonornela commented on #103
Then the method can be deleted 😉 https://github.com/OneSignal/OneSignal-Cordova-SDK/blob/master/www/OneSignal.js#L129

Thanks

[2016-10-13 06:43] JKalash commented on #99
Hi @deceadmin,

This issue has been solved as of the latest version of the Cordova plugin. Make sure to update to see the change. The error occurred when not passing an InFocusDisplayOption on init.

[2016-10-13 06:43] #99 closed

[2016-10-13 07:15] sjorsroelofs commented on #103
Awesome, thanks!

[2016-10-13 07:15] #103 closed

[2016-10-13 12:20] AlessandroBuoscio opened #104 "NotificationReceivedHandler doesn't work properly"
Hello,
I installed the latest version of OneSignal (2.0.6). Unfortunately there is a problem: NotificationReceivedHandler doesn't work properly.

Handler execute the function only if the app is in the foreground but i would like to execute the function also the app is in the background or closed.

[2016-10-13 13:21] zergiocosta commented on #100
@jkasten2 I've tried like this:
`"ios_attachments": {
		"id": "URL_TO_A_JPG_FILE"
	}`

[2016-10-13 19:07] jkasten2 commented on #104
@AlessandroBuoscio This a limitation of Cordova. You will need to add your own native code to handle the received event of notifications when your app is closed.

Android: See [Background Data and Notification Overriding](https://documentation.onesignal.com/docs/android-customizations#section-background-data-and-notification-overriding).

iOS: `content-available` or `mutable-content` can be used.

[2016-10-14 00:07] AlessandroBuoscio commented on #104
@jkasten2 Now it works but when i close and reopen the app, NotificationReceivedHandler doesn't work in background.

[2016-10-14 00:53] jkasten2 commented on #104
@AlessandroBuoscio `NotificationReceivedHandler` was designed to only work in the foreground. Could you let us know the steps you are taking where it was working in the background? Include the OS version you are testing on as well.

Thanks.

[2016-10-14 22:30] eugenedw opened #105 "IPv6 Support in Plugin"
One of the requirements recently announced by Apple was to ensure that IPv6 capabilities are enabled in apps deployed to the app store.

The guidance provided in https://developer.apple.com/library/content/documentation/NetworkingInternetWeb/Conceptual/NetworkingOverview/UnderstandingandPreparingfortheIPv6Transition/UnderstandingandPreparingfortheIPv6Transition.html (about halfway down the page) s

[2016-10-17 18:17] basvdijk opened #106 "OneSignal cordova plugin gives error on Android permission"
When running ionic build android --release it gives an error on the OneSignal plugin

I've reported this issue at Ionic: https://github.com/driftyco/ionic-native/issues/707 They stated that it is not an Ionic problem.

Short description of the problem:
[code]
Which is on line 55 in ionic-app/plugins/onesignal-cordova-plugin/plugin.xml

[2016-10-17 18:28] jkasten2 commented on #106
@basvdijk Can you make sure you are running the latest 2.0.6 version of our SDK? We fixed this issue in 2.0.

[2016-10-17 18:33] basvdijk commented on #106
@jkasten2 I tried via:
[code]

It looks like it is grabbing an older version or something

[2016-10-18 14:46] jlillop commented on #100
I have another problem, the new notification (with image) always replace the last notification on my iPhone. Why? the parameter "collapse_id" is not included...

[2016-10-18 18:19] jkasten2 commented on #106
@basvdijk Can you try the following.
[code]

If it doesn't show the new version try removing it and re-adding it.
[code]

[2016-10-18 18:33] basvdijk commented on #106
@jkasten2 Thanks! running `ionic plugin update onesignal-cordova-plugin` gives me `onesignal-cordova-plugin 1.13.2 "OneSignal Push Notifications"` is this the correct version?

[2016-10-18 18:39] jkasten2 commented on #106
@basvdijk It should be 2.0.6. It seems npm maybe just pulling from a cache version. You can try the following to get a specific version.
[code]

If that doesn't work you may need to look into updating npm and Cordova on your system. Also note that the 2.0 version of our plugin has new setup instructions.
https://documentation.onesignal.com/docs/cordova-sdk-setup

[2016-10-18 18:42] basvdijk commented on #106
Thanks! It looks like I now have the correct version :)

[2016-10-18 18:52] #106 closed

[2016-10-19 15:09] mubasshir opened #107 "Local Notifications fails while using Application"
Hi,
I'm using [https://github.com/katzer/cordova-plugin-local-notifications](https://github.com/katzer/cordova-plugin-local-notifications) for local notification. It was working perfectly fine until I installed this plugin.

If I don't initialize this plugin, I can receive local notifications. Even when I'm not using application, I can receive local notification but not when I'm using application.

[2016-10-19 22:58] Notifium opened #108 "Latest version"
Hi,
I've tried updating the plugin (as per your instructions: "ionic plugin update onesignal-cordova-plugin"), and also removing and re-adding the plugin, but I'm getting version 1.13.2, not the latest version. I've update the CLI and the android platform, but no change.

Any ideas why this might be happening?

Regards,
Andy

[2016-10-19 23:53] jkasten2 commented on #108
@Notifium You many need to remove and re-add the plugin.
[code]

Then check the version.
[code]

[2016-10-19 23:59] jkasten2 commented on #107
@mubasshir Can you provide the OS version and model of device you are testing on?

[2016-10-20 12:20] Notifium commented on #108
Hi, I tried that as well, although I did that and then upgraded the CLI and android platform. I'll try removing and adding the plugin again tonight now that the platform is upgraded.

Thinking about it, if that doesn't work, I'll add the plugin via the git URL and see what happens.

I'll report back on once I've had time to do this.

[2016-10-20 13:34] zergiocosta commented on #100
@jlillop I think you should pass different params, like

First notification:
`"ios_attachments": { "id": "URL_TO_A_JPG_FILE" }`

Next notification:
`"ios_attachments": { "id1": "URL_TO_A_JPG_FILE" }`

Third notification:
`"ios_attachments": { "id2": "URL_TO_A_JPG_FILE" }`

... ... ...

Have you tried that?

[2016-10-20 21:32] Notifium commented on #108
Tried rm / add again after updating the platform / CLI yesterday, still no change. However, I added via the .git URL, and it's updated to the latest version. So I've got the in the end, but still no idea why "ionic plugin update" didn't work.

[2016-10-20 23:38] jkasten2 commented on #97
@beevelop Sorry about the delay, I'll test this out next week and get back to you.

Thanks.

[2016-10-21 04:45] vespino opened #109 "moving to newer version"
I'm updating an app and found out the workings of the plugin have changed. I figured most of it out right now but am still wondering about the following:

This is my new init:

[code]

What should I add to handleNotificationReceived to display the notification?

[code]

or

[code]

In the old version I used jsonData.isActive===true to check if the app was open. How can I do this in the new version

[2016-10-21 06:26] jkasten2 commented on #108
@Notifium Not sure, but glad you were able to get up and running with it.

[2016-10-21 06:26] #108 closed

[2016-10-23 09:08] rwillett opened #111 "Can't seem to get clearOneSignalNotifications() to work"
Hi,

We want to clear **ALL** OneSignal notifications from our app after it starts up. On IOS the app seems to do this automatically which is fine. On Android, notifications appear to be left when the app starts.

We have searched through this plugin and can see references to clearOneSignalNotifications() in release notes and stuff #63 and #65 but we can't seem to work out how to call the function

[2016-10-23 10:11] rwillett commented on #111
After digging into the code some more we can see that

plugins/onesignal-cordova-plugin/www/OneSignal.js

holds the function definitions and that

./src/android/com/plugin/gcm/OneSignalPush.java

holds the actual Java source for the Android version.

We can see that clearOneSignalNotifications is defined in ./src/android/com/plugin/gcm/OneSignalPush.java

but is not defined in OneSignal.js

We tri

[2016-10-23 10:26] rwillett commented on #111
After looking through the code and the commits (or rather the lack of commits), it appears that
[code]
was/is not part of the official release and was offered as a patch which was not committed.

So questions:

1. Is there anyway to remove all OneSignal notifications when the Android app starts up? We've read the docs and the client and server API's and can't see anything. We though that there mig

[2016-10-23 17:35] rwillett commented on #111
We now have got clearOneSignalNotifications to work by editing every OneSignal.js file and adding in
[code]

Our approach is not the right one, but it's got us over this hump whilst we work out what to do next.

Our question of can clearOneSignalNotifications() be implemented still stands.

Rob

[2016-10-24 14:27] mubasshir commented on #107
I'm really sorry for late reply...
10.0.2 iPhone5s
I hope it helps

[2016-10-24 16:36] Herbaciarz opened #112 "How to received notification when app is closed?"
Some apps like snapchat or facebook send notifications even then are turned off. When i close my app i don't get any signal.

[2016-10-28 12:37] vespino commented on #109
Any news on this?

[2016-10-28 15:04] marcovisona commented on #107
I have the same problem, too.

I'm using the cordova plugin, and I'm noticing that in ios the plugin catches the execution of `application:didReceiveLocalNotification:` method.
The result is that this method cannot be executed from  other plugins like cordova-plugin-geofence or de.appplant.cordova.plugin.local-notification.
I think the problem is somehow related to this statement:
`injectToProperC

[2016-10-28 19:03] aurbina83 commented on #102
I'm having this same issue as of today.

  "version": "2.0.6",
  "name": "onesignal-cordova-plugin",
  "cordova_name": "OneSignal Push Notifications"

[2016-10-28 19:04] jkasten2 commented on #109
You will want to use `jsonData.payload.body` in the [NotificationReceivedHandler](https://documentation.onesignal.com/docs/cordova-sdk#section--notificationreceivedhandler-) as you get a [OSNotification](https://documentation.onesignal.com/docs/cordova-sdk#section--osnotification-) which contains a nested `payload` object.

You can now use `jsonData.shown` instead of `jsonData.isActive`. If `shown

[2016-10-28 19:41] jkasten2 commented on #102
@alejandromagnorsky @aurbina83
[`OSNotification`](https://documentation.onesignal.com/docs/cordova-sdk#section--osnotification-) also contains `shown` which should be used know if you need to display the message in your app. Is this the use case you are looking for? We will still be looking into the `isAppInFocus` issue regardless.

[2016-10-28 20:33] aurbina83 commented on #102
I'm using isAppInFocus for a notificationReceivedHandler.

            let notificationReceivedCallback = (data) => {
                if (data.payload.additionalData) {
                    let d = data.payload.additionalData;
                    if (d.type && d.type == "qrf" && data.isAppInFocus) {
                        this.alertQRF(data);
                    }
                } else return;

[2016-10-28 20:36] jkasten2 commented on #112
@Herbaciarz What version of Android and model of device are you testing on?

How are you closing your app?

The issue is most likely that your app is being put in to a force closed state where most `Intents` including FCM/GCM won't start your app. Some Android manufactures customize their Android ROMs with white-lists of apps to that prevent them from going to into a "force closed" state.
See the

[2016-10-28 20:40] jkasten2 commented on #111
@rwillett Thanks for looking into this. We will add a `clearAllNotifications` function in  a future update. It will clear all notifications as iOS can not clear only OneSignal notifications like Android can.

Thanks.

[2016-10-28 20:58] jkasten2 commented on #107
@mubasshir @marcovisona Could you share an example project / repo with us to reproduce the issue? This will help reproduce the issue quicker. Also if you have an iOS 9 device or older do you see the same issue?

The original implementation is still called call in the lines below.
https://github.com/OneSignal/OneSignal-Cordova-SDK/blob/2.0.6/src/ios/OneSignal.m#L1432-L1433

Thanks.

[2016-10-28 21:27] jkasten2 commented on #105
@eugenedw We haven't received any other reports of this from our developers. The readability code is just for detecting network types. It isn't used to establish a connection, we use [`NSURLConnection`](https://github.com/OneSignal/OneSignal-Cordova-SDK/blob/2.0.6/src/ios/OneSignalHelper.m#L688) which works for both IPv4 and IPv6 connections.

Thanks.

[2016-10-28 21:31] jkasten2 commented on #100
@jlillop This issue has been fixed in our native iOS 2.2.0 SDK, We will be including this fix in our next SDK update.

[2016-10-28 23:59] jkasten2 opened #113 "Android - Missing groupedNotifications"
`groupedNotifications` is part of the Android native notification opened event but is missing from the Cordova callback.

[2016-10-29 01:26] jkasten2 commented on #102
@aurbina83 We don't have the old docs available but you can find the functions from our .js file in the last 1.X tag.
https://github.com/OneSignal/OneSignal-Cordova-SDK/blob/1.13.1/www/OneSignal.js

Thanks.

[2016-10-29 06:29] vespino commented on #109
Can I find a complete overview of the jsonData object somewhere?

[2016-10-29 06:37] rwillett commented on #111
Thats fine. I understand that,.

Rob

[2016-10-29 06:37] #111 closed

[2016-10-30 07:47] vespino commented on #109
Shouldn't it be something like this?

    if(jsonData.isAppInFocus===true) {
        //show message inside app
    }

[2016-10-30 13:12] dylanvdmerwe commented on #97
Noticed this here as well when testing on Android. The notificationOpened payload's additionalData is a string whereas it should be an object.

See attached screenshot:
![image](https://cloud.githubusercontent.com/assets/2852839/19836765/307ac302-9eb3-11e6-8004-dd0cd5027ec2.png)

[2016-10-30 13:15] dylanvdmerwe commented on #52
Pretty certain this can be closed? http://ionicframework.com/docs/v2/native/onesignal/

[2016-10-30 14:40] #52 closed

[2016-10-30 21:28] aurbina83 commented on #102
So it looks like the problem is on the handleNotificationReceived, the only thing that is getting passed in is the payload itself (on iOS).

Here is what I have.
[code]

And these are the responses I'm getting from both android and ios

Android:

[code]

iOS:

[code]

So for iOS, no matter if it's "shown" or "isAppInFocus", it's not getting passed through.

[2016-10-31 09:51] vespino commented on #109
The following does nothing when the app is opened:

	window.plugins.OneSignal
		.startInit('<id>', '')
		.handleNotificationReceived(function(jsonData) {
			if(jsonData.shown===false) {
				navigator.notification.alert(
					(jsonData.payload.body ? jsonData.payload.body : jsonData.payload.title),
					nothing,
					(jsonData.payload.body ? jsonData.payload.title : 'Hardstyle'),
					'Close'
				)

[2016-10-31 10:58] Aehrraid commented on #113
Need that a lot!

Is it safe to use the notification-object and notification.payload-object so long? The content is the same for every message in one group, so that should work out, right?

[2016-10-31 23:48] jkasten2 commented on #113
@Aehrraid Correct, that won't change. Those values will be from the latest message in the group.

[2016-11-01 03:31] tavosansal commented on #97
Using the same version 2.0.6 and having the same issue. Sometimes I get the entire data object as a string and it is very annoying to try to figure out if I need to parse the string to JSON or not. Please advise as to how to avoid this.

[2016-11-02 01:40] jkasten2 commented on #105
@eugenedw Feel free to reopen this issue if you are still encountering a problem.

[2016-11-02 01:40] #105 closed

[2016-11-02 01:43] jkasten2 commented on #98
@snowbreeze Are you still able to reproduce an issue? If so please include the XCode , OneSignal SDK, and Cordova versions numbers you are testing with.

[2016-11-02 01:44] jkasten2 commented on #112
@Herbaciarz Feel free reply and/or reopen this issue if the above does not cover what you are seeing.

[2016-11-02 01:44] #112 closed

[2016-11-02 01:55] jkasten2 commented on #109
@vespino In your example code above `jsonData.shown` will always be `true` since you have the following set.
[code]

The only time `jsonData.show` will be `false` if is if you set `inFocusDisplaying` to `None`.
[code]

There is an open issue for `isAppInFocus` (issue #102) which we will update when this value is correctly set for both Android and iOS.

[2016-11-02 01:58] jkasten2 commented on #104
@AlessandroBuoscio Feel free to reopen if you are seeing the callback not firing when your app is in focus. Or if you need any additional information on processing data in the background with native code.

[2016-11-02 01:58] #104 closed

[2016-11-02 01:58] jkasten2 commented on #69
@NickyYo Feel free to reply and reopen this issue if you are seeing any issues.

[2016-11-02 01:58] #69 closed

[2016-11-02 01:59] jkasten2 commented on #60
@2garryn Feel free to reply and open this issue if you need any more information or run into any issues.

[2016-11-02 01:59] #60 closed

[2016-11-02 03:31] #98 closed

[2016-11-02 11:13] vespino commented on #109
@jkasten2 when using the following code, there is no "shown" in the jsonData object:

	window.plugins.OneSignal
		.startInit('<id>', '')
		.handleNotificationReceived(function(jsonData) {
			alert("Notification received:\n" + JSON.stringify(jsonData));

			if(jsonData.additionalData.page) {

			}

			if(jsonData.shown===false) {
				navigator.notification.alert(
					(jsonData.payload.body ? jsonD

[2016-11-03 23:59] aurbina83 commented on #97
tavosanal, this is what I've been doing.

[code]

[2016-11-05 00:10] tavosansal commented on #48
I think this is very valuable for this plugin. Sounds like it is doable since this plugin does do it: https://github.com/phonegap/phonegap-plugin-push/blob/master/docs/API.md#pushnotificationhaspermissionsuccesshandler---android--ios-only

[2016-11-08 11:48] vespino commented on #109
I see a new version has just been released which brings "isAppInFocus". Nice, but in my case the notification shows or it doesn't, there is now way to catch the notification and do with it what I would like. This is the code I'm using:

	//OneSignal
	window.plugins.OneSignal
		.startInit('appid', 'googleid')
		.handleNotificationReceived(function(jsonData) {
			//alert("Notification received:\n" +

[2016-11-08 12:52] vespino commented on #109
So I guess this doesn't work?

"If you will be displaying your own in app message when a notification is received make sure to call inFocusDisplaying with None to disable OneSignal's in app AlertBox."

[2016-11-08 20:22] jkasten2 commented on #109
@vespino Adding the following will keep our SDK from displaying a notification when your app **is in focus** on both Android and iOS with our 2.0.7 version.
[code]

Full code I used to confirm it omits the SDK alert and notification.
("notif received by app's javascript" will print as an alert to confirm the callback is working)
[code]

Can you confirm your project has this version by running the

[2016-11-08 20:30] vespino commented on #109
@jkasten2 strange, I don't see the difference with my code compared to yours, but yours works so I'll go with that. Thanks!

[2016-11-08 20:38] vespino commented on #109
@jkasten2 oh F me... it was this piece of code:

    if(jsonData.additionalData.page) {

    }

[2016-11-08 21:32] jkasten2 commented on #113
@Aehrraid Just released 2.0.7 which includes a fix for this issue.

[2016-11-08 21:32] #113 closed

[2016-11-08 21:35] jkasten2 commented on #102
@aurbina83 @alejandromagnorsky Just released 2.0.7 which includes a the `isAppInFocus` field for iOS.

[2016-11-08 21:35] #102 closed

[2016-11-08 21:44] jkasten2 commented on #100
@zergiocosta @jlillop We just released version 2.0.7 which includes our iOS native 2.2.1 SDK which fixes this issue.

[2016-11-08 21:44] #100 closed

[2016-11-08 21:45] jkasten2 commented on #97
@aurbina83 @tavosansal @beevelop This has now been fixed in 2.0.7. Both iOS and Android will return `additionalData` as an `Object`.

[2016-11-08 21:45] #97 closed

[2016-11-09 03:06] jkasten2 commented on #107
The is due to OneSignal's use of the `userNotificationCenter:didReceiveNotificationResponse:withCompletionHandler:` selector with the `UNUserNotificationCenterDelegate`.
https://github.com/OneSignal/OneSignal-Cordova-SDK/blob/2.0.7/src/ios/UNUserNotificationCenter%2BOneSignal.m#L76-L77

This will create an issue where local notification plugins on iOS 10 devices would not fire if they have not upd

[2016-11-09 08:57] vespino commented on #109
The following give undefined:

    alert("Notification received:\n" + JSON.stringify(jsonData.additionalData));

I am passing this data using your interface. What could this be?

[2016-11-09 21:05] Nuajan commented on #107
Hi,
i´m facing just the same problem even with 2.0.7
Do not understand if you're planning a new version soon which solves finally this issue or if it is an issue placed to third parties like Local notificacion plugin in this case...

Thanks

[2016-11-09 22:55] jkasten2 commented on #107
@Nuajan We plan to release an update soon, shooting for a release sometime next week.

[2016-11-09 23:01] Nuajan commented on #107
Very good news @jkasten2
Thanks a lot.

[2016-11-10 20:43] jkasten2 commented on #109
@vespino You will want to use `jsonData.payload.additionalData` in the [NotificationReceivedHandler](https://documentation.onesignal.com/docs/cordova-sdk#section--notificationreceivedhandler-) as you get a [OSNotification](https://documentation.onesignal.com/docs/cordova-sdk#section--osnotification-) which contains a nested `payload` object.

[2016-11-10 20:53] vespino commented on #109
@jkasten2 is it just me or is the documentation unclear on this?

[2016-11-11 09:56] vespino commented on #109
@jkasten2 so I got the additionalData to work, but the following doesn't:

	.handleNotificationOpened(function(jsonData) {
		//alert("Notification received:\n" + JSON.stringify(jsonData));
		alert(jsonData.payload.additionalData.page);

		//redirect
		if(jsonData.payload.additionalData.page) {
			$.mobile.changePage(jsonData.payload.additionalData.page, { transition: 'slide' });
		}
	})

The follo

[2016-11-11 10:01] #109 closed

[2016-11-12 01:05] jkasten2 commented on #109
@vespino Let us know if you have any feedback on how we can import it. Thanks.

[2016-11-12 03:29] chancezeus opened #115 "[iOS] Automatically set entitlements"
I really love your platform and like your plugin, it is easy to use and works properly. There is just one "problem". If you build your project from the command line the resulting ipa is missing the necessary entitlements. Looking at another cordova push plugin they have the following in their plugin.xml:
[code]
This piece of code automatically inserts the correct aps-environment into the entitleme

[2016-11-12 07:36] vespino commented on #109
@jkasten2 what do you mean by "how we can import it."? My issues are solved now, I would suggest you put an example of the payloads in your documentation for the "handleNotificationOpened" and "handleNotificationReceived" handlers, this would clear up a lot I think.

[2016-11-12 22:23] mikegleasonjr opened #116 "No Push Token"
I always get "no push token" for my clients (iPhone8,4 (10.1.1) running in TestFlight)

- Using a brand new XCode project with XCode 7.2
- Using TestFlight
- I have the -ObjC flag in my linker
- Capabilities includes "Push Notifications" and "Remote notifications". Everything checks out.
- I have 2 valid certificates, one for prod the other sandbox.
- Using those cordova plugins:
[code]

Using the

[2016-11-12 22:52] aurbina83 commented on #40
I was just going to ask if this was available. This would be perfect, similar to checking if location permissions have been granted.

[2016-11-13 04:21] mikegleasonjr commented on #116
I had problems with my certificates, switching to another push provider and library gave me a more detailed message. Will now handle notifications myself.

[2016-11-13 04:21] #116 closed

[2016-11-14 20:56] ChadHelbling opened #117 "Duplicate Push notification is triggered upon selecting current notification"
We are experiencing an issue with version 2.0.7 of the Cordova SDK on iOS where a duplicate notification is triggered once the initial notification itself is selected or pressed. This was not present in the previous version. In our app the user is forwarded to a specific screen once the push notification is pressed.

Steps to reproduce:
with app that has initialized onesignal
1. Send/Receive push

[2016-11-14 21:09] ChadHelbling opened #118 "All notifications are cleared after selecting one in IOS"
We've encountered a minor bug where if a user has any notifications for our app and then opens the app, all notifications for that app are cleared from the notifications tray in iOS. We've tested other apps to ensure this isn't default iOS behavior. We're currently on version 2.0.7 of the Cordova SDK.

[2016-11-15 02:29] jkasten2 commented on #115
@chancezeus Thanks for the suggestion! I'll add it in our next release.

[2016-11-15 02:43] jkasten2 commented on #118
@ChadHelbling Are you setting a badge value in your app or with a push notification? Our SDK automatically clears the badge value when the app is opened / resumed. This has a side effect on iOS which clears all notifications for the app however.

[2016-11-15 03:09] jkasten2 commented on #117
@ChadHelbling Is the 2nd notification displaying the same as the first? Is it displaying in the notification center or as an alert box in your app? Does the issue happen when your using ios attachment or action buttons and standard text only notifications?

[2016-11-15 06:19] jkasten2 commented on #115
@chancezeus Just added this in commit a76b3721382bd23c1ddde98b2407bcd87a0de512 and it is now released in our 2.0.8 version.

[2016-11-15 06:19] #115 closed

[2016-11-15 06:21] jkasten2 commented on #107
@Nuajan @marcovisona @mubasshir This is now fixed in our 2.0.8 release.

[2016-11-15 06:21] #107 closed

[2016-11-15 14:52] ChadHelbling commented on #117
@jkasten2 It will display the same as the first in the notification center if I have inFocusDisplaying set to Notification, otherwise it will display as an in app alert. We are using the ios attachment feature with a custom action button. We aren't using any text only notifications. Let me know if you need any other information.

[2016-11-15 14:58] ChadHelbling commented on #118
@jkasten2 We are. We got your reply in your support chat on the onesignal site. We will try setting OneSignal_disable_badge_clearing in the plist. Thanks.

[2016-11-16 13:59] felipecousin opened #120 "Notifications with media can't be cleared in iOS 10"
All notifications that are sent in iOS 10 can't be cleared. When we tap the clear button, the notification disappears for some seconds, but then shows up again.. The only way to clear it is opening the notification, which opens the app and shows an inAppAlert with the notification (that also is not right)

We are just sending to the test users setting the title, ios10 subtitle, content and an imag

[2016-11-16 19:38] Inoverse opened #121 "handleNotificationOpened not triggered after app is killed on iOS or ended by OS"
Following situation:
I register handleNotificationOpened with OneSignal registration after user logged into app.

After I moved to the home screen, I recieve a notification with additional data. If I click on this notification the app is opened and handles the onNotificationOpened event. So, everything is fine.

Following not working situation:
I kill my app through the task switcher or the iOS is

[2016-11-17 13:02] joaotocilo commented on #121
It's happening to me too.

[2016-11-17 13:15] Inoverse commented on #121
Yep. Me too. iOS 10.1.1

[2016-11-17 13:15] Neto-Pavanini commented on #121
+ 1

[2016-11-17 19:28] jkasten2 commented on #120
@felipecousin Are you using Cordova locally or a cloud build system like PhoneGap Build (PGB)? If you are doing so local what version of Xcode are you using? Please also include the exact version of iOS you are seeing the issue on. 10.1.1?

Lastly make sure you don't have any other notification plugins in your project by running the following.
`cordova plugin list`

Thanks.

[2016-11-21 06:30] mayurdzk commented on #117
I'm seeing the same problem but it exists only for notifications with actionButtons (I'm using the default  OneSignal client with my iOS app).
The problem is that sometimes the notification simply won't come through. You need to open the app to then see the notification popup as a displayAlert (with the same text and actionButtons). Times when the notification does appear as the standard iOS notif

[2016-11-21 12:44] felipecousin commented on #120
@jkasten2 I am using Cordova locally.. Xcode version 8.1 and iOS 10.1.1.. I am using the plugin cordova-plugin-dialogs 1.3.0 "Notification" too show some dialogs inside the app, should that be a problem?

Thanks!

[2016-11-21 17:53] Cestos commented on #121
Me too

[2016-11-21 17:54] rafaelyokota commented on #121
+1

[2016-11-21 19:01] rafalopesb commented on #121
+1

[2016-11-22 01:57] jkasten2 commented on #30
It recommend to prevent the notification from going to the device by filtering it instead of trying to keep it from displaying on the device end. This consumes extra battery to wake your device and app so it is best to avoid it if possible.

If you do need to do background work with a notification it should be done in native code as starting the Cordova run time each time a notification is receive

[2016-11-22 11:45] neves commented on #30
Thanks @jkasten2, I'll try 2.0.8 and see if  I can use this feature from phonegap-plugin-push, since it's already implemented there.

[2016-11-23 06:37] sundbry opened #122 "Notification opened callback additionalData returns String vs JSON"
Hi,

Thank you for providing this cordova plugin 💯

The Android implementation differs from iOS for the "notification opened" callback. On Android this callback returns a string for the notification.payload.additionalData, which is inconsistent with the iOS platform, which returns the additionalData parsed as JSON.

[2016-11-23 16:36] gdeglin commented on #121
Thanks for the reports. We're looking into this.

[2016-11-23 16:59] Neto-Pavanini commented on #120
I have the same problem

[2016-11-23 23:54] jkasten2 commented on #120
@felipecousin @Neto-Pavanini We fixed this issue in our native SDK and will be adding it to our next Cordova SDK update which is scheduled to be released next week.

[2016-11-23 23:55] jkasten2 commented on #122
@sundbry This was the case for Android before our [2.07 SDK](https://github.com/OneSignal/OneSignal-Cordova-SDK/releases/tag/2.0.7). Can you make sure you are using our latest 2.0.8 SDK?

[2016-11-23 23:56] jkasten2 commented on #118
@ChadHelbling Sounds like this solution works for you. Feel free to open this issue if there is anything else related unsolved.

[2016-11-23 23:56] #118 closed

[2016-11-26 08:22] Bausen commented on #121
+1

[2016-11-28 16:25] zaidattar commented on #121
same thing on Android 6.01(Samsung Note 7 edge)

[2016-11-29 12:08] runbb opened #123 "[intelxdk] Error: Plugin OneSignal Push Notifications cannot be added. The plugin contains Gradle scripts."
message error :
"
Error: Plugin OneSignal Push Notifications cannot be added. The plugin contains Gradle scripts.
"

platform android
intel xdk

[2016-11-30 15:53] juergengunz commented on #117
i have the same problems....

[2016-12-01 09:09] atorgfr commented on #122
Same issue and it was the problem of sdk. 2.0.6 -> 2.0.8 fix the problem. Thx @jkasten2

[2016-12-01 23:49] jkasten2 commented on #123
@runbb Do to this specific Intel XDK limitation you must use our branch below.
https://github.com/one-signal/OneSignal-Cordova-SDK.git#PGB-Compat

Full Intel XDK instructions below.
https://documentation.onesignal.com/docs/intel-xdk-setup

[2016-12-01 23:49] #123 closed

[2016-12-01 23:51] jkasten2 commented on #122
@atorgfr Good to hear! Thanks for verifying.

@sundbry Feel free to reopen this thread if you continue to see any issues related to the JSON format between iOS and Android.

[2016-12-01 23:51] #122 closed

[2016-12-01 23:52] jkasten2 commented on #121
![](https://github.trello.services/images/mini-trello-icon.png) [Cordova - Fix open event on code start of app.](https://trello.com/c/ssLcZ7Fl/7-cordova-fix-open-event-on-code-start-of-app)

[2016-12-02 08:57] Inoverse commented on #121
@jkasten2 your link redirects to a private trello board. What's the content? 🙄

[2016-12-04 08:43] Bausen commented on #121
@jkasten2 ?

[2016-12-05 11:57] juergengunz commented on #120
Any news about the release to fix this issue?

[2016-12-05 19:25] runbb commented on #123
i follow install step by step and problem not fixed

[2016-12-05 22:43] matthieu80 commented on #51
I have the same problem.
Every time a user receives a push notification and they are in the app, an alert is showed.
Here is my code:

    // PUSH NOTIFICATION BEGINS
    window.plugins.OneSignal
      .startInit("XXXX-XXXX-XXXX-XXX", "")
      .endInit();
    window.plugins.OneSignal.enableNotificationsWhenActive(false);
    window.plugins.OneSignal.getIds(function(response) {
      if (!$window.

[2016-12-05 23:13] jkasten2 commented on #51
@matthieu80 `enableNotificationsWhenActive` has been removed in the 2.0.0 SDK. You must now use [`inFocusDisplaying`](https://documentation.onesignal.com/docs/cordova-sdk#section--infocusdisplaying-) instead.

[2016-12-05 23:19] matthieu80 commented on #51
@jkasten2
Thank you!
Nevertheless my problem is still there. I have no idea where these alerts come from.

[2016-12-05 23:25] matthieu80 commented on #51
@jkasten2
Thank you very much!

window.plugins.OneSignal
 .startInit("XXXX-XXXX-XXXX-XXX", "")
.inFocusDisplaying(window.plugins.OneSignal.OSInFocusDisplayOption.None)
.endInit();

[2016-12-06 00:37] widonwaker opened #124 "Windows Phone does not register"
I tried with a blank project, usind latest version of SDK. Initialization works on ios and android, not on windows phone 8.1

you can test the project here: https://github.com/widonwaker/test

I use Phonegap Build.

[2016-12-06 11:50] jkasten2 commented on #121
Fixed in commit 5e6afa1a37fadf227c58ab46369b8dd7685aa907 and included in the 2.0.9 release.

[2016-12-06 11:51] jkasten2 commented on #120
Fixed in commit 5e6afa1a37fadf227c58ab46369b8dd7685aa907 and included in the 2.0.9 release.

[2016-12-06 11:51] #120 closed

[2016-12-06 11:51] jkasten2 commented on #117
Fixed in commit 5e6afa1a37fadf227c58ab46369b8dd7685aa907 and included in the 2.0.9 release.

[2016-12-06 11:51] #117 closed

[2016-12-06 11:54] jkasten2 commented on #67
@jorma16 Sorry about the delay, this was added in the 2.0.7 release of the Cordova SDK.

[2016-12-06 11:54] #67 closed

[2016-12-06 12:56] juergengunz opened #126 "iOS Media Notifications not received in force-quite state"
On some iOS devices, I do not receive any media notifications (image).
I've installed the latest Update (2.0.9) and hoped it would be fixed, but it is not.

On my iPhone6s with iOS 10.1 Media Notifications are working fine. On my iPhone 5s tested with iOS 10.2 beta and 10.1 Notifications with attachments are not received as push but when I open the app they get displayed as inAppAlert.

[2016-12-06 13:15] jkasten2 commented on #126
For the devices you don't receive a notification at all when you add iOS 10 media attachments see this troubleshooting guide.
https://documentation.onesignal.com/docs/troubleshooting-ios#section-notifications-with-action-buttons-or-ios-10-media-not-displaying

The iPhone 5s doesn't have 3d touch however I believe you can slide left on the notification and press the view button to see the media att

[2016-12-06 13:28] juergengunz commented on #126
I know that guide and everything is set up correct. I have some other apps installed that uses media attachments on notifications and they do work on my iPhone 5s.

Yes you are right, you can slide left and then open them like you said.

I send a notification with an image attached, and it does not show up after couple of minutes, I open the app and the notification shows up as an in app alert.

I

[2016-12-07 08:57] vivekpd15 opened #127 "v2.0.9 auto prompts for ios device notification registartion at the start of app even if kOSSettingsAutoPrompt is set to false"
Hi,

I am facing this error since updation to v2.0.9 of the plugin from v2.0.8. I have not changed any js code and had just updated the plugin after which this problem started to occur. Facing this in iOS9 as well as iOS10.

The piece of code that I am using for initialization is as follows:

var iosSettings = {};
 iosSettings["kOSSettingsKeyAutoPrompt"] = false;
 iosSettings["kOSSettingsKeyInAppL

[2016-12-08 00:31] jkasten2 commented on #127
@vivekpd15 Thanks for the report. We just fixed this in commit f242daf7f0961aa3060a9723708bd79b161c58b3 and created a 2.0.10 release with this fix.

[2016-12-08 00:31] #127 closed

[2016-12-08 09:12] Inoverse commented on #121
Issue seems not to be fixed.

Still the same behaviour. If I hard kill my app and clicking on a received notification the handleOpened event is not fired.

Any special things to keep in mind for a working solution?

[2016-12-08 09:42] jkasten2 commented on #121
@Inoverse I wasn't able to reproduce an issue on the 2.0.9 or 2.0.10 OneSignal SDK on iOS 10 or 9. Make sure you are calling from the following from the first page that loads with your app.

[code]

Make sure your app isn't navigating to another page right away after loading otherwise the event might be lost.

Could you try reproducing the issue in a new project and link it to this issue?

[2016-12-08 10:08] Inoverse commented on #121
Got it. Haven't added it to the deviceReady-Event. My init was in in the login page. Works now! Thanks. I'm closing the issue.

[2016-12-08 10:08] #121 closed

[2016-12-08 12:33] iAdil opened #128 "Confilcit with the cordova health plugin"
Plugin url: https://github.com/dariosalvi78/cordova-plugin-health

Attaching log:
[build.txt](https://github.com/OneSignal/OneSignal-Cordova-SDK/files/639385/build.txt)

I cant remove this plugin, so hope for your help

[2016-12-09 01:49] jkasten2 commented on #128
@iAdil Did their latest change fix this issue for you?
https://github.com/dariosalvi78/cordova-plugin-health/issues/27

[2016-12-09 07:48] iAdil commented on #128
@jkasten2 Unfortunately not..

I also try to use you older releases, like:
	<plugin name="onesignal-cordova-plugin" source="npm"  spec="2.0.3" />

but it also doest fix my issue.

I am building my app by build.phonegap.com and i doesn't know how can i fix that problem, even older verions also doesnt help.

Any suggestions?

Thank you for your quick reply!

[2016-12-09 07:51] iAdil commented on #128
I built my app earlier with that config without any problems

[2016-12-09 09:43] iAdil commented on #128
Can u use the lates version of playservice?

[2016-12-09 11:28] Neto-Pavanini commented on #121
@jkasten2 It has the same behavior as before. If I kill the app it doesn´t receive the notification with the buttons anymore, even when I used the example above. In Android it Works perfectly though.

In my environment I´m using:
cordova 6.4.0 and Ionic
IOS 10.1.1
OneSignal 2.0.10

[2016-12-09 11:29] Inoverse commented on #121
My problem was not to add the init function in document ready event. Have you tried this?

[2016-12-09 11:38] Neto-Pavanini commented on #121
@Inoverse
Yes, no successes =/

[2016-12-09 13:52] Zapmobilegames opened #129 "Issues in Winphone 8.1"
Hello,
first issue:
- using 2.0.10, when I force close the app, on the online dashboard I read: device not subscribed.
When I restart the app, it appears as subscribed again.

second issue:
- Moreover, when subscribed, even if the dashboard show the message as sent, I got no notifications on my device. I also put an alert in the didReceiveRemoteNotificationCallBack but it doesn't fire.

[2016-12-09 16:41] Neto-Pavanini opened #130 "handleNotificationOpened not triggered after app is killed on iOS when there are buttons on notification."
Following situation :
I register handleNotificationOpened with OneSignal registration after user logged into app.

Upon recieve a notification with additional data when there are buttons

Following not working situation:
I kill my app through the task switcher or the iOS is ending the app.  If I get a new notification with buttons, the handleNotificationOpened does't work. When i remove the button

[2016-12-09 23:28] jkasten2 commented on #128
@iAdil Looks like they have updated the plugin with `+` as well the versions will match up.

[2016-12-09 23:28] #128 closed

[2016-12-09 23:30] jkasten2 commented on #124
@widonwaker We have updated our Windows Phone 8.1 instructions for PhoneGap Build (PGB). The changes are as follows for your `config.xml`.

[code]

https://documentation.onesignal.com/docs/phonegap-sdk-setup

[2016-12-09 23:32] jkasten2 commented on #121
@Neto-Pavanini Buttons and media attachments have some extra requirements on iOS. See our [Notifications with action buttons or iOS 10 media not displaying](https://documentation.onesignal.com/docs/troubleshooting-ios#section-notifications-with-action-buttons-or-ios-10-media-not-displaying) troubleshooting guide.

[2016-12-09 23:34] jkasten2 commented on #130
@Neto-Pavanini Is this different from your comment on [issue 121](https://github.com/OneSignal/OneSignal-Cordova-SDK/issues/121#issuecomment-265992874) where the notification is not showing at all?

[2016-12-09 23:44] jkasten2 commented on #129
@Zapmobilegames

### Issue 1
I recommend removing the app from your device, checking toasts are enabled on your project, and lastly that you have successfully Associated the App with the Store. See the below link to confirm this.
https://documentation.onesignal.com/docs/cordova-sdk-setup#section-6-windows-phone-8-1-wp8-1-

I have seen issues where subscription problems can carry over to the new bu

[2016-12-10 10:30] fermocar1025 commented on #109
Try this, it worked

alert("" + jsonData.notification.payload.body);
window.location.replace( jsonData.notification.payload.additionalData.targetUrl );

[2016-12-12 03:32] nootherday opened #131 "NullPointerException on com.plugin.gcm.OneSignalPush.onDestroy"
Hi, following error occurred on user devices about 20 times.

![image](https://cloud.githubusercontent.com/assets/16236022/21087164/9839f024-c066-11e6-9e91-269cb58978b4.png)

My app is based on ionic, OneSignal-Cordova-SDK 2.0.6. I couldn't reproduce it on dev environment.

[code]

How can I resolve this? Thank you in advance.

[2016-12-12 12:03] oggyindahouse opened #132 "IOS: Reask for permission - registerForPushNotifications"
My App asks for permission via
`window.plugins.OneSignal.registerForPushNotifications();`
and a prompt modal is being shown.

When user does not grant permission once and my app asks later again via
`window.plugins.OneSignal.registerForPushNotifications();`
modal is not shown.

[2016-12-12 13:53] TheStalwart commented on #101
I can reproduce this. Regenerating platform doesn't resolve the issue.

[2016-12-13 00:45] jkasten2 commented on #132
@oggyindahouse Unfortunately this isn't possible, it's the iOS native notification prompt shown by iOS it self and can only prompt once. If they stay no, [getIds](https://documentation.onesignal.com/docs/cordova-sdk#section--getids-) will return a `null` `pushToken` and you know they did not accept it. You will then need to instruct the user to enable it for your app in the setting.

Thanks.

[2016-12-13 00:45] #132 closed

[2016-12-13 13:17] TheStalwart opened #133 "Omitting visualLevel parameter causes JSONException on Android"
Calling setLogLevel with only one parameter works on iOS, but crashes on Android:
`window.plugins.OneSignal.setLogLevel({logLevel: 4});`

[code]

[2016-12-13 15:00] alexandreafc opened #134 "Error when compiling"
I'm trying to integrate my Platform (Outsytems) to use OneSignal but when I send my project to my cloud build my app everything works for Android version, but for iOS I receive the messsage bellow, can anyone help me?

ld: 4 duplicate symbols for architecture arm64
clang: error: linker command failed with exit code 1 (use -v to see invocation)

[2016-12-13 21:48] rwillett opened #135 "IOS 10 not clearing notifications on startup - What are we missing?"
We're trying to get OneSignal working with our app.

We're having no problem sending notifications to our app through the OneSignal server API.

Our simple test case is, indeed, simple.

1. Start App up

2. Stop app by swiping up.

3. Send notifications from our server through the OneSignal server.

4. Check that notifications are displayed on the app.

5. Start the app up. Do not select any of th

[2016-12-14 08:05] vivekpd15 opened #136 "Not receiving pushToken on iOS 10 if kOSSettingsAutoPrompt is false initially and I manually call window.plugins.OneSignal.registerForPushNotifications()"
I am facing this error since upgrading to the v2 of the sdk. I used to check for notification permission using the isRemoteNotificationsEnabled() function exposed by the "cordova-diagnostic-plugin" plugin.

Now, I always receive the result as notifications not enabled. Researching a little more on it, I figured that the diagnostic plugin is doing the permission check perfectly, but the cordova one

[2016-12-14 08:50] rwillett commented on #135
We now have some idea about the issue. We were NOT setting the badge parameters in the create notification on the server API.

[code]

If we set the badge parameters to "increase" and 1 then we get notifications sent, the badge parameter is set and when we open the app up, the notifications are removed.

We think that this tells us that the setBadge side effect is used to remove the notifications

[2016-12-14 17:49] vivekpd15 commented on #136
Hey, I digged this further and noticed that even if I allow notification prompt on iOS, I get a "Missing Push Capability" error as seen in the attached image.
![capture](https://cloud.githubusercontent.com/assets/14350316/21193841/aa6e1998-c253-11e6-837d-01c9d2c582ff.PNG)

I have ensured that push notifications are switched on in xcode capabilities before building.

[2016-12-15 05:39] mohitagarwal124 commented on #136
Facing the same issue, please fix it soon.

[2016-12-15 05:56] kazsharp opened #137 "ionic run failed after remove/add platform"
1. ionic plugin add onesignal-cordova-plugin
2. ionic platform remove ios
3. ionic platform add ios
4. ionic build

The following error occurred
(Of course, there is no error that execute "ionic build" before 2)

** ARCHIVE FAILED **

The Following build commands failed:
            Check dependencies
(1 failure)

Error: Error code 65 for command: xcodebuild with args: -xcconifg, ....

[2016-12-15 08:26] juergengunz commented on #126
@jkasten2  I did some more tests and it seems that when I restart my phone I receive some notification with media but after a while they probably get stuck and if I restart the phone again, I receive some.

[2016-12-15 13:09] Neto-Pavanini commented on #130
@jkasten2 This is another issue.
The notifications aren´t coming only when I set it to a button and the app is closed, that is, killing it in the task switcher.
according to your answer in the 121 issue is this behaviour expected?

[2016-12-16 01:57] jkasten2 commented on #126
@juergengunz Odd, what if you just disconnect and reconnect to your wifi / cell connection? I have seen an issue where the network connect get in a state were this fixes it.

[2016-12-16 01:58] jkasten2 commented on #137
@kazsharp Can you try running the following after 3. to see if it fixes this state.

- `ionic plugin rm onesignal-cordova-plugin`
- `ionic plugin add onesignal-cordova-plugin`

Include your Ionic and cordova version if this doesn't fix it.

[2016-12-16 02:06] jkasten2 commented on #136
@vivekpd15 @vivekpd15 Can you also ensure you are using a new version of Cordova to build your app? Make sure you are using 6.4.0 or newer.

The `"Missing Push Capability"` status should be accurate as we check the response code and description from APNs before reporting this status on the OneSignal dashboard.

It subscribes correctly as soon as you remove `kOSSettingsAutoPrompt`?

[2016-12-16 09:31] juergengunz commented on #126
i tested it and it doesnt seem to fix it. as said, i do receive them as in app alert when i open the app. it is weird. i wonder that nobody reported that problem before, or am i wrong?

[2016-12-16 09:44] juergengunz commented on #126
it is working on other apps on my phone so i assumed that there is an issue with onesignal

[2016-12-16 18:29] vivekpd15 commented on #136
Thanks. That sorted the issue. Had to update the iOS platform to 4.3.1 and cordova to 6.4.0.

[2016-12-22 19:57] tehmaestro opened #138 "Using the plugin on Android, are Amazon ADM permissions needed?"
Hi, I installed the plugin and using it only on the cordova android platform. Why does the plugin add Amazon ADM permissions and intent handlers. Are these needed?
`<uses-permission android:name="com.amazon.device.messaging.permission.RECEIVE" />`

I didn't really understand where does Amazon fit into the project and if it is safe to remove there references from AndroidManifest . Are there entries

[2016-12-22 20:17] jkasten2 commented on #138
The Amazon entries in the Android target are for PhoneGap Build since there isn't a Amazon target like Cordova CLI. They can be removed if your app isn't on the Amazon app store.

[2016-12-22 20:20] tehmaestro commented on #138
Thank you for the quick response. I read the documentation again and it became a bit clearer.

[2016-12-22 20:20] #138 closed

[2016-12-23 14:11] dlaynes commented on #131
I'm having the exact issue. +1

[2016-12-23 14:54] AshPowell commented on #126
One of my users is also experiencing this... Without Media attachment he receives them fine, but with - no luck.

Works fine for me however & all settings on his device has been checked. The only difference is hes on a newer device, though same software version.

[2016-12-27 14:13] dlaynes commented on #131
Related to this issue
https://github.com/OneSignal/OneSignal-Android-SDK/issues/71

[2016-12-30 07:11] jkasten2 commented on #131
@nootherday It looks like this error is happening when the user closes your app before OneSignal is initialized. We will add a check to our SDK to prevent this in a future update.

To minimize the chances of this happening in the meantime make sure OneSignal `endInit` is called on the first page that is opened with your app.

[2016-12-30 15:53] dlaynes commented on #131
@jkasten2 , you are right, this error message shows up if the user does not initialize Onesignal, when the library is already installed in cordova.
Thanks for your help.

[2017-01-02 15:00] videmort opened #139 "iOS 10 image url"
In iOS 10 I don't receive the image. I set it in media the URL but I don't receive the push.

If I send one simple push without image works fine

[2017-01-03 00:39] #139 closed

[2017-01-03 01:05] pedivo opened #140 "OneSignal 2.0.5+ can't work together with j3k0/cordova-plugin-purchase"
As an issue reported in another repository (https://github.com/j3k0/cordova-plugin-purchase/issues/537) that is related with OneSignal.

Any OneSignal version after 2.0.4 works with cordova-plugin-purchase. I don't know if that is an exclusivity of that plugin or if happens also if other plugins.

[2017-01-03 06:11] ChrisFuck opened #141 "OneSignal.getIds on Android device"
when I use OneSignal.getIds this function on Android device , it return ids.pushToken is "" null string , but it works on IOS device, can you help me?

[2017-01-03 11:57] rwillett commented on #135
Any update on this? Have we missed something fundamental? is there anyway to clear all OneSignal notifications from an IOS app without setting the badge at the server API?

Thanks

Rob

[2017-01-03 12:38] bboldi commented on #140
I can confirm the same issue, cordova purchase plugin and onesignal 2.0.5 - 2.0.10 (current latest) will crash the ios app fairly frequently when trying to initiate purchase. When I downgraded onesignal to 2.0.4 the problem disappeared.

[2017-01-09 13:39] dmkov2016 opened #142 "IntelXDK - is there a way to use this plugin?"
When I try to build the app there is an error: Plugin OneSignal Push Notifications cannot be added. The plugin contains Gradle scripts.

[2017-01-09 20:46] jkasten2 commented on #133
@TheStalwart Thanks for the report, we will look into making this compatible with Android as well in a future update.

[2017-01-09 22:14] jkasten2 commented on #134
@alexandreafc I haven't tried OutSystems's cloud build yet but this plugin works correctly with Adobe PhoneGap Build (PGB) and Intel XDK as well as local Cordova builds.

It looks like you created a demo project?
https://www.outsystems.com/forge/component/1698/OneSignalDemo/

Were you able to get it working with iOS?

[2017-01-10 00:17] jkasten2 commented on #135
@rwillett There currently isn't a function to clear all notifications. OneSignal does clear badges when the app is opened / resumed which will clear all notifications for the app as you have noted.

However to always clear all notifications you will need to set the badge value to 1 then to 0 in your code locally.
We are planning on creating a function in a future update to do this for iOS and as w

[2017-01-10 00:21] jkasten2 commented on #136
@vivekpd15 Thanks for the information, looks like this issue is solved now so closing.

@mohitagarwal124 Feel free to reply if this did not work for you.

[2017-01-10 00:21] #136 closed

[2017-01-10 00:27] jkasten2 commented on #140
@pedivo @bboldi
Can you attach the full crash log as a txt file? You can get it from the device by going to Window>Devices. Then select the iOS device on the left and press the "View Device Logs" button. You can store by Data/Time to get the latest crash log.

[2017-01-10 00:30] jkasten2 commented on #141
The OneSignal dashboard should show additional information about why the device is not subscribed under the All Users page.  You can also find additional information about the issue in the logcat. Feel free to attach these if they do not solve your issue.

[2017-01-10 00:34] #142 closed, assigned to nobody

[2017-01-10 08:01] rwillett commented on #135
Josh,

Thanks for this. The issue for us is that the setbadge(1) and the setbadge(0) only works IFF you have set a badge number (or an increase) in the server API request.

If you don't set the badge during the server API call, then calling setBadge(1) and setBadge(0) doesn't actually have any affect on notifications in the notification drawer on IOS. It took a long time to find that out :)

Rob

[2017-01-10 11:10] bboldi commented on #140
Hey @jkasten2!

I have been trying to produce crash log with no success - I have tried to crash the app several times (running with debug from xcode / running on its own) , but no crash report is saved ...

[2017-01-10 19:25] jkasten2 commented on #140
@bboldi You are able to reproduce the crash still but just no log? Try doing so with this device disconnected from your mac. This will ensure it writes it to the device. Then reconnect the device and the log should show up.

[2017-01-10 19:51] jkasten2 commented on #135
@rwillett Setting the badge value to 1 then 0 no matter if it is done locally or through the a notification every time in our testing. This is the only way to clear notifications in iOS 9 and older and still works in iOS 10 (a new native method was added in 10).

What plugin are you using to set the badge value in Cordova? It may have additional logic which could be omitting or batching native cal

[2017-01-11 07:26] rwillett commented on #135
Josh,

We use the plugin

cordova-plugin-badge 0.7.2 "Badges"

The plugin does set the badge numbers for us when we call it (which we no longer do), but the only reason we have it at the moment is for clearing badges as needed.

We looked through the OneSIgnal documentation again and couldn't see anything that had this sort of functionality in your docs on the client side. We know we can set the b

[2017-01-11 11:16] bboldi commented on #140
I have tried to disconnect the phone, managed to crash the app and still there's no device log entry :( maybe @pedivo can help with this ...

[2017-01-14 17:51] AZbang opened #143 "Error when compilling on Cocoon.io"
When you try to compile it gives an error related to your plugin:

[code]

[2017-01-17 01:38] jkasten2 commented on #143
@AZbang Could you add any other errors you see above the message you entried? Most of the time you will get Java errors like this if their is another plugin your project which also includes Google Play services or the Android Support library. This is due to a plugin not being update to use the new more compatible gradle method.

See the troubleshooting guide below for known incompatibilities and h

[2017-01-17 08:17] TecenGOD commented on #143
@jkasten2 i am use plugin Google Play Service by cocoon (cocoon-plugin-social-android-googleplaygames), Previously, this error did not occur.
Full log

[code]

[2017-01-17 12:31] AZbang commented on #143
Similarly, with @TecenGOD

[2017-01-17 20:41] jkasten2 commented on #143
@TecenGOD The plugin is using a specific version of the Google Play services library 9.0.2. This means any other plugin that also uses this library will almost certainly get this `duplicate entry` error.

I have created a pull request on their plugin to use the latest version that will be more compatible with other plugins including OneSignal.
https://github.com/ludei/atomic-plugins-googleplaygame

[2017-01-18 04:38] jkasten2 commented on #140
@bboldi @pedivo Just added a compatibility fix for iOS IAPs to our 2.0.11 version. Can you let us know if this fixes your issue?

[2017-01-18 12:08] bboldi commented on #140
@jkasten2 that's good news :) I upgraded the plugin to 2.0.11 and cordova-plugin-inapppurchase (which had the same issue with onesignal) and everything looks on for now (I'll do some more testing today and will report if I find anything) - thanks for taking the time to work on this issue.

@pedivo can you please try with the j3k0/cordova-plugin-purchase ?

[2017-01-18 12:11] pedivo commented on #140
Guys, sorry for the late delay. I was really busy last weeks.

I'll work on that today and I'll give a feedback asap.

[2017-01-18 14:03] web-slinger commented on #141
my issue is relative to the title.

OneSignal.getIds on SDK 2.0.10+ on new devices that haven't been installed/registered before on OneSignal does not receive a callback, I looked at the logcat to try and find the stacktrace if the SDK errored - but didn't succeed.

I have the the SDK v1.13.1 and registers new device completely fine.

Could this be a service related issue or SDK?

[2017-01-19 02:05] pedivo commented on #140
I've also upgraded and that works really fine. I've faced any problem. I'll keep watching that.

[2017-01-19 02:07] erikcw opened #144 "Error when compiling from XCode"
I just updated my project to use `2.0.11` and now I'm getting this error when trying to compile my app from XCode to test on device.

[code]

as well as:

[code]

[2017-01-19 02:07] jkasten2 commented on #140
@bboldi @pedivo Thanks for confirming the fix. Feel free to reopen this issue if you see any future issues.

[2017-01-19 02:07] #140 closed

[2017-01-19 02:10] jkasten2 commented on #144
@erikcw What version of Xcode are you using? Which version of the OneSignal Cordova plugin were you using before?

If you are using Xcode 7 you must upgrade to Xcode 8 to build for the simulator. Note that pushes still won't work on the simulator as Apple doesn't support it but it should fix the compiler error.

Thanks.

[2017-01-19 02:13] erikcw commented on #144
@jkasten2  I'm on Xcode `8.2.1`.  I'm upgrading the OneSignal Cordova from `1.13.1`.

[2017-01-19 03:49] jkasten2 commented on #141
@web-slinger I tested our 2.0.11 SDK without any issues on an Android 7.0 device.

Can you verify you don't have any javascript syntax errors or run time errors? Can you add `alert` calls before and after getIds to make sure it is running? You can as use the Chrome remote debugger to check for javascript errors.

[2017-01-19 10:51] bboldi commented on #140
@jkasten2 thank you!

[2017-01-19 19:33] jkasten2 commented on #144
@erikcw Can you also make sure you are using Cordova 6.4.0?
[code]

[2017-01-19 21:56] erikcw commented on #144
I was on 6.3.1.  I upgraded to 6.4.0 but I'm still getting the error.

[2017-01-19 22:03] jkasten2 commented on #144
Can you try following our clean build instructions below?
https://documentation.onesignal.com/docs/troubleshooting-cordova-variants

[2017-01-20 01:31] erikcw commented on #144
@jkasten2 That seemed to do the trick.  Thanks for your help!

[2017-01-20 01:31] #144 closed

[2017-01-23 11:40] AZbang commented on #143
@jkasten2
Here is the log:
[code]

And here is a list of used plug-ins:
![image](https://cloud.githubusercontent.com/assets/14349805/22202573/cfa3c1e6-e179-11e6-8569-f2e46c4d98a0.png)

[2017-01-23 11:44] AZbang commented on #143
@jkasten2
It's strange, but when you install this [plugin](https://github.com/cranberrygame/cordova-plugin-game). OneSignal no errors at compile time does not extradite :open_mouth:

We found a solution. :wink:

[2017-01-23 19:24] jkasten2 commented on #143
@AZbang That is odd, from a quick look at the plugin I don't see anything in it that would fix any dependency issues.

Can you list all the plugins again now that you have anything building a working?

[2017-01-23 22:10] luis-ordering opened #145 "HandleNotificationOpened does not fire on iOS"
I have a problem with iOS notifications, I can not trigger the event when I click the notification, it just does not open the application and I can not opt for the notification data, this is my configuration.

**Token registration:**

`if (window.plugins && window.plugins.OneSignal){
    window.plugins.OneSignal
        .startInit(ONE_SIGNAL_ID, GCM_SENDER_ID)
        .handleNotificationOpened(not

[2017-01-23 22:14] jkasten2 commented on #145
@luis-ordering Can you try updating to cli 6.4.0? When tapping on the iOS notification it should always start or resume the app unless there was a crash. Can you check the XCode crash logs for one?

Also `console.log` does not always show in the Xcode log so you may wan to try `alert` instead in your `handleNotificationOpened`.

Thanks.

[2017-01-24 13:26] luis-ordering commented on #145
I just updated it and tried with the same result, I can not opten the data of the notification, I did it with both console.log and alert, I can not get it to work, I can not understand that it is wrong.

Thanks for the reply.

[2017-01-24 13:29] luis-ordering commented on #145
I just upgraded and tested it with the same result, I can not get the notification data, I did it with both console.log and alert, I can not get it to work, I can not understand that it is not correct.

Thanks for the reply.

[2017-01-24 16:37] luis-ordering commented on #145
Sorry it was a mistake in JS within the event.

[2017-01-24 16:37] #145 closed

[2017-01-24 19:09] jkasten2 opened #146 "cordova-plugin-geolocation may interfere with Android registration"
The `cordova-plugin-geolocation` maybe causing Android devices to not make a CREATE REST API call to OneSignal sometimes. App developer ran into issue with Cordova 6.4.0 and Android 4.4.

[2017-01-25 15:24] ghaiat opened #147 "Crash when opening my app from a notification on iOS"
Hello
When opening my app by clicking on a received notification, i m getting the following error in xcode and the app crashes

Any idea what could be wrong?
The rest is working fine (notification when the app is open, android both mode are working) ...

i have the latest version of the plugin : 2.0.11

[code]

[2017-01-25 21:24] #147 closed

[2017-01-27 21:07] ThodorisElissaios commented on #146
Same issue here

[2017-01-28 23:19] mikestalker commented on #126
iPhone 6 the same problem. Sending from New Message without Media url - receive notification. With Media - no notification.

[2017-01-30 10:52] roneyvia opened #148 "IOS app crashes when notification receives in Onesignal Cordova sdk plugin"
Hi,
I'm using the same OneSignal-Cordova-SDK for my Worklight 7.1 project. Its working fine in android. But in IOS when notification receives, app will quit.
**This is my Xcode debugging logs. with plugged device**

2017-01-30 15:56:35.559837 LuLuOne[2275:714379] [] nw_endpoint_flow_service_writes [10.1 172.217.27.42:443 ready socket-flow (satisfied)] Write request has 0 frame count, 0 byte count

[2017-01-31 05:18] jkasten2 commented on #148
@roneyvia Thanks for the full crash log. I don't see OneSignal in the stack trace. Instead I see `Push.m:227`. Do you have another notification plugin in your app? Can you check by running the following?
[code]
Please try removing it to see if it fixes your issue.

Thanks.

[2017-01-31 20:06] emilyemorehouse commented on #141
@web-slinger I was having a similar issue on Android -- getIds was not receiving the success callback, and no error callback is allowed (you can pass one in, but it isn't actually called).

I removed `OneSignal.promptLocation();` that I used in iOS and it fixed the issue.

[2017-02-01 10:04] roneyvia commented on #148
I'm using IBM Worklight tool. Its having there own push notification. How can I override that. if it is the problem?

[2017-02-01 13:21] roneyvia commented on #148
I had fix the issue. I commented the worklight push tags in config.xml
Thank u

[2017-02-01 18:26] capaccio opened #149 "COLLAPSE_ID not working using Phongap Build + Android/iOS"
Dear Support,
i'm a Phongap Build developer and i'd like use COLLAPSE_ID in order to avoid too many notification icons.

I use 'collapse_id' => 'MOODS' in my PHP create message function, but all my testing devices (Android and iOS) get messages NOT collapsed->many icons in the notification area.

What can I do?

TIA, Giorgio.

[2017-02-01 20:08] jkasten2 commented on #149
@capaccio `collapse_id` on Android only works server side before the device receives the notification. We will be supporting this client side in the future with an update so notification are replaced even if they have already been displayed.
https://github.com/OneSignal/OneSignal-Android-SDK/issues/147

For iOS `collapse_id` is only supported on iOS 10 devices.

Thanks.

[2017-02-01 20:11] jkasten2 commented on #148
@roneyvia Good to hear that solved your issue. It seems `Push.m` was a part of IBM's Worklight Push and was crashing on trying to process the OneSignal notification.

[2017-02-01 20:12] #148 closed

[2017-02-02 08:12] roneyvia commented on #148
I had fix the issue. I commented the worklight push tags in config.xml
Thank u

[2017-02-02 19:38] jkasten2 commented on #146
`cordova-plugin-googlemaps` seems to also create a registration issue but only if `OneSignal.promptLocation()` is called. This may only be an issue on Android 6+ with this specific plugin.

[2017-02-06 12:25] rafaelmotta commented on #146
+1 with cordova-plugin-googlemaps

[2017-02-06 12:45] fikkatra opened #150 "Feature request: provide a pauseSubscription method"
Currently, the setSubscription method allows to opt in or out of notifications. A great feature, but we are unable to temporarily opt out of notifications, i.e. opting out for a given period of time. Opting out is easy enough. Opting back in however, is a problem: due to the limitations of background activity of apps (especially on iOS), we are not able to opt back in, because the moment we need t

[2017-02-06 20:41] luis-ordering opened #151 "App stopped error when I close it"
Hello,

When I open the application and then close it from the task manager, I miss an error message.

"Unfortunately, Appname has stopped"

If I remove the plugin from the list, and recompile it, it does not show me the error when closing.

Environment:
- Android 5 and 6 (ASUS Zenfone 2 and Moto G).
- Phonegap Build (Phonegap cli-6.5.0, cli-6.4.0, cli-6.3.1).
- Onesignal cordova 2.0.11

Thanks fo

[2017-02-07 16:30] Leonix opened #152 "iOS crash when app updated, reinstall helps"
Hello.

I have a Cordova app. Previous version of my app used a very old `onesignal-cordova-plugin 1.11.1`. For my new version I updated to latest `onesignal-cordova-plugin 2.0.11`. This required changes in my JS code, of course. All in all, upgrade went smoothly during testing. Everything seemed to have worked fine, all notifications coming in and showing right.

I released an update to app store

[2017-02-07 19:51] jkasten2 commented on #152
@Leonix Thanks for the details and crash logs. If you are using our 2.0.11 SDK then [OneSignalPush.m:166](https://github.com/OneSignal/OneSignal-Cordova-SDK/blob/2.0.11/src/ios/OneSignalPush.m#L166) would be pointing to the following line.
[code]

Can you check that what your passing to `OneSignal.inFocusDisplaying()` is always an `integer`? If it get set to `null` or a `string` it could cause thi

[2017-02-07 20:24] jkasten2 commented on #150
@fikkatra Thanks for the suggestion. Would a daily quiet time range also work for your uses case? We have had some request for this before quiet times before and want to count this as a request as well if this works.

It would be best to handle the on the server side so the device is not woken up to process a notification that would be displayed. Also as you noted it would be more difficult to fil

[2017-02-07 20:26] jkasten2 commented on #151
@luis-ordering Since your getting this prompt it will show crash entry in the logcat. Can you add it as a comment to this thread? You can also screenshot it from the device or get it on your Google Play Developer console by sending the crash.

Thanks.

[2017-02-07 21:23] fikkatra commented on #150
Hi John @jkasten2 ,

thanks a lot for looking into it! At the moment, we're implementing Work around 1 (sort of). However, it's quiet a complicated solution when implemented server-side, which would otherwise be so elegantly solved with a simple pauseSubscription method client-side. In addition, it's not really about daily quiet time. Let me explain our use case a little more in depth.

We want ou

[2017-02-08 05:21] jkasten2 opened #153 "kOSSettingsKeyInAppLaunchURL does not work on cold start of the app"
Setting `kOSSettingsKeyInAppLaunchURL` to `false` is ignored if opening a notification cold starts the app.

This due to the following line not using a saved value from the last time init was called.
https://github.com/OneSignal/OneSignal-Cordova-SDK/blob/2.0.11/src/ios/OneSignalPush.m#L138

[2017-02-08 20:13] pablo-gonzalez opened #154 "Request to include priority field in Dashboard for Android platform"
Hi

I have recently added this great plugin to my Ionic application.

I was able to send Push notifications using big picture and showing big text style via REST API setting priority = 10.
https://github.com/OneSignal/OneSignal-Android-SDK/issues/10

The notification is shown on top and it is auto-expanded without user interaction.

1. Could you add the field "priority" to the Android section in D

[2017-02-09 12:54] Leonix commented on #152
@jkasten2 Thank you. I believe you're right: my code does indeed call `.inFocusDisplaying(undefined)`:
[code]
I incorrectly used `inAppAlert` with lowercase `i` instead of capital.

I can't confirm it causes the crash, though, because I still can not reproduce it on my devices. But today I noticed a warning:
[code]

Fixing the `.inFocusDisplaying()` issue removes this warning, which is a good sign

[2017-02-09 19:19] jkasten2 commented on #152
@Leonix Thanks for the pointing that out! The docs are now fixed.

We will add a type check to our native code to prevent this crash.

[2017-02-09 20:49] jkasten2 commented on #154
@pablo-gonzalez The auto-expansion behavior does depend on how many notifications are already shown.

1. I have added this to feature tracking system.
2. Yes, you can directly copy them into your code. Example you can copy them from this site getemoji.com

Thanks.

[2017-02-09 23:17] jkasten2 opened #155 "Windows Phone 8.1 - PhoneGap Build (PGB) subscription issue"
`ToastCapable` is not being set in `AppxManifest.xml` that is contain in the `.Appx` build on PhoneGap Build.  The following setting in the `config.xml` should be adding this.
[code]

`ToastCapable` is required otherwise WNS will consider the device as not subscribed after the channel URI is  used to send a notification.

[2017-02-10 16:17] pablo-gonzalez commented on #154
Thank you very much. Having that feature in Dashboard will be very helpul.

Best regards,
Pablo

[2017-02-11 00:18] jkasten2 commented on #150
@fikkatra Thanks for the details, from what I understand the user first opens the app and signs in but there may not be a medication plan to schedule for with only local notifications for? Once their plan is setup on your back end you then use OneSignal notifications to send pushes to remind them to open the app? After the open the OneSignal notification you could schedule your local notifications

[2017-02-12 16:34] maxborgatti commented on #155
I'm getting this too uploading to Phonegap Build.

While the windows phone 10 device seems to get rid of that, the 8.1 device unsubscribes.

If i generate the appx using Visual Studio instead, and set "toast capable" to "yes" in "Package.appxmanifest, the variabile appears in packages's AppxManifest.xml

![image](https://cloud.githubusercontent.com/assets/8874135/22863930/cbf781d4-f148-11e6-8999-0

[2017-02-14 10:39] elysiopires commented on #30
Hello @neves! Was this implemented on 2.0.8? I really need this too... to maintain my Badge Updated.

Thx,
Elysio

[2017-02-15 16:39] dennis-b opened #156 "silent message when app in background"
Hi,
I have started to use this plugin in my Ionic2 application. and its awesome.

in our app we want to have silent push message in background, meaning: when user gets message  and the app is in background then handle it by application and not show it in device messages.

can it be achieved with cordova sdk?

Thanks in advance,
Dennis

[2017-02-15 19:33] jkasten2 commented on #156
@dennis-b It is recommend to use OneSignal's tags or other filters to prevent the notification from being send to the device in the first place. This is to prevent the device from waking to just omit a notification and it will give you more meaning full open rates on the dashboard.

If you must do work on the client side before the notification is display please see this open issue for iOS.
https:

[2017-02-17 13:31] snowbreeze opened #157 "Android Crash"
Can this be due to me calling the function before device onready?

[code]

[2017-02-17 13:50] snowbreeze commented on #131
Facing the same #157

[2017-02-17 18:23] jkasten2 commented on #157
@snowbreeze This is the same crash as the one you linked to. Going to close this one so we don't have split the discussion.

[2017-02-17 18:23] #157 closed

[2017-02-17 18:25] snowbreeze commented on #157
Sure

[2017-02-18 18:49] BobBDE commented on #137
@kazsharp
Hi,

We had the same problem when we remove and add the ios plateform.

We managed to solve it by changing the version of the ios plateform.
See the versions here : https://cordova.apache.org/docs/en/latest/guide/platforms/ios/index.html

The solution was solved with the version 4.1.0 of ios plateform.
Try running :
-  ionic platform rm ios
- ionic platform add ios@4.1.0

We think that t

[2017-02-18 19:38] walfro commented on #137
Thanks @BobBDE, downgrading to ios@4.2.0 solved the issue.

[2017-02-20 01:17] kazsharp commented on #137
@BobBDE

I also solved the issue.
Thank you!

[2017-02-20 15:46] NoNameProvided opened #158 "getTags has possible race condition, callback is called only for the last call"
Running
[code]

Will write the tags to the console twice with `console.warn`.

![screen shot 2017-02-20 at pm 4 45 26](https://cloud.githubusercontent.com/assets/4706265/23131882/027e5770-f78c-11e6-9a51-bc824f49f2cb.png)

The expected behaviour would be to call both callbacks with the result not only the last one.

[2017-02-23 07:06] DipakBCS opened #159 "IOS App crash"
How can I remove One Signal Object?
In my app We have multiple users in same device. For each user, I called register notification. But when I logout , other user is logged, that time other user will got notification, but crashed when tapped On Notification in IOS 10.1

Might it cause to two times registration.

[2017-02-23 13:03] mcyz commented on #139
Hi, we also have this problem with ios sdk. How did you fix this issue ?

[2017-02-23 14:49] videmort commented on #139
Hello, well, my problem was the Image Type. Some types are not allowed like SVG

[2017-02-23 16:08] msio777 opened #160 "get additionalData if app is in background or killed"
Hi,
Is there any chance if app is in background and I receive a notification but I don't tap on it. Only way I know that there is a new message that there is a number badge on the app's icon. My question is if I open right know the app. Can I get the additionalData in some way from the notification that  I received before? Is there data saved somewhere ?

Thank you for any help
Best Regards
Michal

[2017-02-23 19:27] jkasten2 commented on #160
@msio777 We don't currently have a way to get all unopened notifications at this time with our SDK. Nor to we have a callback that can fire as the notification is received when the app is backgrounded or closed. However it can be done with native code, see the following thread below for more details.
https://github.com/OneSignal/OneSignal-Cordova-SDK/issues/30

[2017-02-23 19:35] jkasten2 commented on #159
@DipakBCS The device will only be registered with OneSignal once even if you call [`registerForPushNotifications`](https://documentation.onesignal.com/docs/cordova-sdk#section--registerforpushnotifications-) more than once.

I recommend calling [`setSubscription`](https://documentation.onesignal.com/docs/cordova-sdk#section--setsubscription-) with `false` to stop notifications to the device when t

[2017-02-23 19:49] jkasten2 commented on #158
@NoNameProvided All functions in OneSignal only have a single callback stored for simplicity. This includes both javascript and native code. Marking this an enhancement but we won't have a chance to look into in the near future.

You will need to make sure you wait for the first call before starting another for the time being.

[2017-02-24 04:24] akuljana opened #161 "Google Play Services Library Error"
Hi,

just updated my ionic app and plugins, this is the list of all plugins:
[code]

Testing app on real device (ionic run android -device)
and there is an error in Onesignal (Android) users dashboard:

Are there some conflicts with some of my other plugins?
How can I solve this?

[2017-02-24 07:24] NoNameProvided commented on #158
A quick look on the source of the js part, I see only 4 function which uses callbacks. So this can be easily patched on the js side. Is this open for PR?

Something like a queue manager can be a quick and dirty fix, which will call the native side in series.

[code]
 Thoughts?

[2017-02-24 07:46] jkasten2 commented on #158
@NoNameProvided For `getTags` this will work as the results are going to be the same. Just implement multiple callback handling in javascript work work in this case. Guessing `QueueManager` is your array to store functions that you will be push `tagsReceivedCallBack` on to?

This won't work for callbacks that are transactional specifically, `postNotification`. The correct function would have to be

[2017-02-24 07:48] jkasten2 commented on #161
@akuljana Could you try a clean build? `onesignal-cordova-plugin` should include all parts of Google Play services it needs through gradle.
https://documentation.onesignal.com/docs/troubleshooting-cordova-variants#section-clean-build

[2017-02-24 18:18] akuljana commented on #161
@jkasten2 tried but still not helping, changed back to my old onesignal version (1.13.2) and everything is working.

[2017-02-24 19:24] jkasten2 commented on #161
@akuljana That is very odd. Going from 1.13.2 to  2.0.11 of this plugin the Google play services `plugin.xml` lines haven't changed.
https://github.com/OneSignal/OneSignal-Cordova-SDK/blame/master/plugin.xml#L30-L35

It should be include the exact same sets of gradle entries. Did you change anything else in your project at the same time? Upgrade the Ionic versions or change anything in the Android

[2017-02-24 21:18] msio777 commented on #160
thanks a lot for your answer

[2017-02-25 07:15] ricolo commented on #161
Just to share:

my case is opposite - I had the same error starting from a few days ago when the SDK version was still 1.13.1. I suspect it had to do with the latest Google play services update (version 10.2.98) being pushed by google to my users' phones. After updating the SDK to 2.0.11, my phone no longer has the same error.

[2017-02-26 22:19] NoNameProvided commented on #158
I was thinking of a simple object / class to implement the functionality once and require it where it's needed.

In my opinion being consistent is more important, than patching a function. So I think making a note about this behaviour in the docs is a better option. What do you think?

[2017-02-27 14:33] mtshare commented on #48
This would be awesome! Hope to see this function in the next updates.

[2017-02-27 19:18] jkasten2 commented on #161
@akuljana @ricolo Could you attach a full logtcat? `"com.google.android.gms.version"` may not be the root of the issue. Optionally you can send the log to OneSignal support along with a link to this issue.

Thanks.

[2017-02-28 09:23] likemike2 opened #162 "Notification not being handled when app is in focus"
So I'm trying to handle a notification when its received AND the app is in focus.
[code]
Do note that I'm calling the above on another page.
When I'm sending a notification to my device, I get the following text in Android Logcat:
`D JsMessageQueue: Dropping Native->JS message due to disabled bridge`

I'm using the latest version of Phonegap and I'm building for android 6.0, the notifications do w

[2017-02-28 12:54] web-slinger opened #163 "Notifications received when changing subscription from false -> true."
Cordova SDK - 2.0.11
Android Version 7.0
HTC 10
The plugin uses Android SDK 3.4.3

The behaviour is the same on a Samsung J5 6.0.1, so it can not be isolated to OS or device.

I believe that when a user changes their subscription level the notifications that were sent whilst the user's subscription level was false then 'flood' in when they change subscription level to true.

[2017-02-28 18:22] cusspvz commented on #161
Same here.

Fresh installs over `2.0.11` does not subscribe, but if the user downgrads to an app version that includes `1.13.1` it subscribes. Things keep working when upgrading again to an app with `2.0.11`.

[2017-02-28 19:22] jkasten2 commented on #162
@likemike2 You must call OneSignal.startInit().handleNotificationReceived(...).endInit() on each page load to setup the callbacks again.

[2017-02-28 19:48] jkasten2 commented on #163
@web-slinger This shouldn't be the case. `setSubcription` actually unsubscribes the device from the OneSignal server so it won't send new notifications to the device.

You may be seeing old notifications restored that the user never interacted with (never dismissed or opened them) when the app is cold started. Can you try swiping away the app and opening it again to confirm this?

[2017-02-28 19:53] jkasten2 commented on #161
@cusspvz Thanks for the report. If you can reproduce the issue on your device could you attach a full logcat from your device here? Alternatively you can send it to OneSignal support and include a link to this thread.

[2017-02-28 19:53] juergengunz commented on #126
@jkasten2 any update about this ?

[2017-02-28 19:59] jkasten2 commented on #126
@juergengunz Work is still being done on the iOS native SDK which is used by this SDK.
https://github.com/OneSignal/OneSignal-iOS-SDK/issues/112

Once it is complete we will be updating our wrapper SDKs including this one.

[2017-02-28 20:12] cusspvz commented on #161
@jkasten2 For sure! Just tell me what do you need to filter. Full logcat has lots of garbage on it.

[2017-02-28 20:15] jkasten2 commented on #161
@cusspvz We prefer getting everything with no filters including VERBOSE logs. We can filter on our end. Attach it as a file as it could be a few hundred KB in size.

[2017-02-28 20:27] cusspvz commented on #161
On the previous major version, your documentation asked for the google registration ID, but on the current documentation it seems there is no API to insert it.
Could this be the culprit behind this issue?
[code]

Could you please reach me on my personal email (available on my profile)? Or provide an email so I can send the full log.

[2017-02-28 20:32] jkasten2 commented on #161
@cusspvz We added a requirement to our dashboard to add the Google Project number / Sender ID when you configure Android on OneSignal. If you configured this before Nov you will need to add this under App Setting on the OneSignal dashboard which should fix your issue.

[2017-02-28 20:32] cusspvz commented on #161
@akuljana @ricolo Would you mind to share how are you initializing OneSignal (please hide credentials)

[2017-02-28 20:40] cusspvz commented on #161
It worked!! Thanks!

[2017-03-01 10:52] likemike2 commented on #162
That fixed it. Thank you!

[2017-03-01 10:52] #162 closed

[2017-03-01 15:15] web-slinger commented on #163
@jkasten2 this occurred when the user was offline and set subscription to false, I would've thought this would disregard any incoming notifications in between the user changing their subscription status.

The flow of what happened is below, just in case I didn't explain it very well.

1. User unsubscribed when offline
2. Push notifications sent to device
3. User back online
4. User subscribes to n

[2017-03-01 17:31] Chuckytuh opened #164 "OSNotificationPayload invalid ActionButtons serialization"
Platform: Android
Version: 6.0.1
Cordova Platform Version: 5.1.1

### Problem

Either on notification received or notification opened, the payload from the notification contains an invalid serialized value for the list of action buttons, instead of containing the serialized list of ActionButtons it contains a string representation of a JSON array with the default toString implementation from com.o

[2017-03-01 19:45] jkasten2 commented on #164
@Chuckytuh Thanks for the report. I just corrected this in the OneSignal Android SDK.
https://github.com/OneSignal/OneSignal-Android-SDK/commit/a664774fea887eb29b48c68100e3fbe986aae209

It will be included in the next release.

[2017-03-01 19:51] jkasten2 commented on #163
@web-slinger Thanks for the detailed steps, that cleared things up.

It is possible for the OneSignal Android SDK to drop them if this was set. However it would create inconsistencies with iOS since normally the app isn't run when a notification is received if the app isn't in the foreground.

[2017-03-02 20:07] akuljana commented on #161
It works, thank you!

[2017-03-02 20:07] #161 closed

[2017-03-03 04:05] vaibhavn1 opened #165 ".then on iOS"
Hi

How can we use .then function with registration of push notification. eg: I only want to go to next screen when user taps on Allow or Cancel Notification Popup.

Regards

Vaibhav

[2017-03-03 04:15] jkasten2 commented on #165
@vaibhavn1 You can call [`getIds`](https://documentation.onesignal.com/docs/cordova-sdk#section--getids-) in your app. If `pushToken` is not `null` then the user is subscribed for push.