[2018-03-05 22:05] #264 closed

[2018-03-05 23:21] Nightsd01 commented on #321
@tnovau I am assuming it did....closing this issue due to inactivity. Please feel free to respond if this did not resolve your problem and I'll be happy to reopen and investigate.

[2018-03-05 23:21] #321 closed

[2018-03-05 23:44] #305 closed

[2018-03-06 00:30] Nightsd01 commented on #307
@oTTa We have not implemented promises with the Cordova SDK. Have you tried using the callback instead of a promise chain?

[code]

[2018-03-06 00:36] Nightsd01 commented on #300
@nidhi1612 Apologies for the delayed response. Are you still encountering this issue? I am closing the issue due to inactivity but please feel free to respond if you are still having this problem and I'd be happy to reopen and investigate.

[2018-03-06 00:36] #300 closed

[2018-03-06 02:01] Nightsd01 commented on #299
@praveenkumart Are you still encountering this issue? I am not even sure what you mean the second time you say 'notification not received'...

I am closing this issue due to inactivity but if you are still encountering this problem please feel free to respond and ***add more details***

[2018-03-06 02:01] #299 closed

[2018-03-06 02:41] sonicwong commented on #186
when I run 'pod repo update', it show me:

Updating spec repo `master`
[!] Failed to connect to GitHub to update the CocoaPods/Specs specs repo - Please check if you are offline, or that GitHub is down

[2018-03-06 02:42] Nightsd01 commented on #291
@Flaviocrtt Closing due to inactivity... I have tested this issue and was not able to reproduce it myself. If you are still encountering this issue please feel free to respond and I will be happy to reopen the issue.

[2018-03-06 02:42] #291 closed

[2018-03-06 02:43] Nightsd01 commented on #295
@matiasAS I am closing this issue due to inactivity, however, if you are still having this problem please feel free to respond and I'll be happy to reopen the issue & investigate.

[2018-03-06 02:43] #295 closed

[2018-03-06 02:44] Nightsd01 commented on #286
This is a system UI. OneSignal does not have control over it

[2018-03-06 02:44] #286 closed

[2018-03-06 02:50] Nightsd01 commented on #278
You can use the `handleNotificationOpened` callback like this:

[code]

Closing this issue due to inactivity. Please feel free to ask if you have any issues with this approach and I'll be happy to help.

[2018-03-06 02:50] #278 closed

[2018-03-06 04:46] shripad20 commented on #264
@Nightsd01 when I open `YourProjectName.xcworkspace` it shows project file in red color and containing no files in it. Please see below image:
![screen shot 2018-03-06 at 10 08 47 am](https://user-images.githubusercontent.com/14152297/37014542-6532c502-2127-11e8-875b-30c089b134f3.png)

[2018-03-06 13:02] oTTa commented on #307
@Nightsd01, The method was working was the Android Device Monitor that did not show the result. If I showed the tags in a layout I could see them, thanks anyway.

[2018-03-06 13:17] Flaviocrtt commented on #291
Ok, thank you, i did have the time to solve that but now i know it's not about OneSignal plugin problem.

[2018-03-06 19:16] Nightsd01 commented on #322
@gisngocthach I am not sure how this issue relates to OneSignal? While the `handleNotificationOpened()` callback is triggering the event, that's all its doing. This sounds more like an Ionic UI issue.

Please feel free to respond with more information if you feel this is a OS issue and I'll be happy to reopen and investigate.

[2018-03-06 19:16] #322 closed

[2018-03-06 19:26] #252 closed

[2018-03-06 19:48] Nightsd01 commented on #234
We would recommend using the [Android Asset Studio](http://romannurik.github.io/AndroidAssetStudio/icons-notification.html#source.space.trim=1&source.space.pad=0&name=ic_stat_onesignal_default) if you have problems with icons.

In essence, you need to make sure the images are named `ic_stat_onesignal_default.png`

If you are still having problems, it likely is not caused by the OneSignal SDK.

[2018-03-06 19:48] #234 closed

[2018-03-06 19:56] Nightsd01 commented on #247
Closing this issue due to inactivity.

If you are having problems, it is likely due to your folder/directory structure in your project or the format of your icons.

![alt text](http://www.hesse.io/android_studio_icon.png)

The icons should appear like this in Android studio, it should recognize them as all being the same icon (with different sizes)

You'll want to make sure you carefully [followed

[2018-03-06 20:52] Nightsd01 commented on #244
@ish3lan I cannot find this line of code anywhere in the iOS SDK or the Cordova SDK so I am assuming this issue has been resolved. Please let me know if you are still encountering this issue and I'll be happy to reopen an investigate if you can ***add more details***. Thank you.

[2018-03-06 20:52] #244 closed

[2018-03-06 20:53] #246 closed

[2018-03-06 20:54] Nightsd01 commented on #271
@kotromeo closing this issue due to inactivity and a complete lack of detail....

Please feel free to respond if you are still encountering this issue and I'll be happy to reopen, but please make sure to provide _more information_ about your project, your dependencies, and so on.

[2018-03-06 20:54] #271 closed

[2018-03-06 21:27] Nightsd01 commented on #240
@wcustodio Closing issue due to inactivity. I am assuming that Josh's suggestion resolved your issue. If you are still encountering this problem please feel free to respond and I'll be happy to reopen the issue, just make sure to _provide more detail_.

[2018-03-06 21:27] #240 closed

[2018-03-06 21:43] Nightsd01 commented on #294
@hugoblanc I don't believe the OneSignal SDK actually _can_ address this issue, you would need to modify your project's `config.xml` to add an entitlements file to the iOS project.

First, enable the Push Notifications entitlement (and any other entitlements your app needs). Then, you need to go into Finder and copy this `yourAppName.entitlements` file to the root of the Cordova project. Once you'

[2018-03-06 21:43] #294 closed

[2018-03-06 22:16] Nightsd01 commented on #232
Hi @BenjaminKauer .

Good question! None of the OneSignal wrapper SDK's currently support background notification processing. You can still do it, but you would have to implement it natively for both iOS and Android (separately). You would have to do it in the generated Android project in Java as if it were a native Android application.

Here is a guide on how to do background notification process

[2018-03-06 22:16] #232 closed

[2018-03-06 22:18] Nightsd01 commented on #229
We have attempted to reproduce this issue in the latest versus of the SDK in Android 6/7 and have been unable to do so, so I am assuming this issue has been resolved @v-bodnar @Flaviocrtt .

Please feel free to reply if you are still encountering this issue and I would be happy to reopen the issue and investigate.

If you could, please make sure to post some details, such as how you _know_ that th

[2018-03-06 22:18] #229 closed

[2018-03-06 22:26] Nightsd01 commented on #221
I am closing this issue due to inactivity as it does not appear to be an issue specific to the SDK.

If you are encountering this issue, ***please post your icon*** and other details (version of the SDK, and so on).

If anyone else is encountering this issue and has f[ollowed the guide](https://documentation.onesignal.com/docs/customize-notification-icons) correctly I will be happy to reopen and i

[2018-03-06 22:26] #221 closed

[2018-03-06 22:27] Nightsd01 commented on #206
@vabiro Closing this issue due to a complete lack of detail/response. Please feel free to reply and ***add more details*** if you are still encountering this issue and I'll be happy to reopen the issue and investigate.

[2018-03-06 22:27] #206 closed

[2018-03-06 22:45] Nightsd01 commented on #205
Closing because it appears this is a problem with the icons and not the SDK. If you encounter this issue please feel free to reply and I'll be happy to reopen and investigate.

[2018-03-06 22:45] #205 closed

[2018-03-06 22:47] Nightsd01 commented on #213
@m7ammad7assan Closing this issue due to inactivity and a lack of detail.

If you are still encountering this issue please feel free to reply with ***more details*** (screenshots, code, etc) and I'll be happy to reopen and investigate.

[2018-03-06 22:47] #213 closed

[2018-03-06 22:47] #194 closed

[2018-03-06 22:47] #209 closed

[2018-03-06 22:48] #196 closed

[2018-03-06 23:00] Nightsd01 commented on #191
It appears to be a bug with Cordova.

To resolve it, you need to edit the `Podfile` file in `/platforms/ios/` and add `pod 'OneSignal'` like this:

[code]

Once you've saved the podfile after you add OneSignal, run `pod install` from the `/platforms/ios` directory and it will add the OneSignal SDK.

I don't really know why this is happening but it appears to be a bug.

[2018-03-06 23:00] #191 closed

[2018-03-07 00:35] Nightsd01 commented on #227
I have implemented this with #ef7f295.

[2018-03-07 00:35] #227 closed

[2018-03-07 00:38] Nightsd01 commented on #272
@delforgedf I am closing this issue due to inactivity. I have tested `enableVibrate()` and `enableSound()` in the latest version of the Cordova SDK and it seems to be working without issues, so I am assuming this issue was resolved at some point.

Please feel free to respond if you are still encountering this issue and I would be happy to reopen and investigate.

[2018-03-07 00:38] #272 closed

[2018-03-07 00:39] #189 closed

[2018-03-07 00:41] Nightsd01 commented on #190
@marcoiacobelli I am closing this issue due to inactivity. Since you did not respond I am assuming you managed to fix the issue...?

In any case if anyone is encountering this issue please respond (with***details*** such as your `config.xml`) and I would be happy to reopen the issue and investigate.

[2018-03-07 00:41] #190 closed

[2018-03-07 00:48] Nightsd01 commented on #173
I have updated the SDK with a `setLocationShared()` function that will disable location sharing. You may want to call this function _before_ you call `endInit()`.

If anyone is still encountering this issue please feel free to reply (with a list of your plugins) and I'll be happy to investigate.

[2018-03-07 00:48] #173 closed

[2018-03-07 00:51] #176 closed

[2018-03-07 00:52] Nightsd01 commented on #222
Closing due to inactivity - this is generally an issue with people's icons and not the SDK itself.

If you are having a problem with icons, please POST YOUR ICON so we can help. I would be happy to reopen the issue and investigate if needed.

[2018-03-07 00:52] #222 closed

[2018-03-07 00:55] Nightsd01 commented on #141
I am closing this issue due to inactivity. I have tested the SDK and cannot reproduce this issue, we have recently made improvements to the SDK and this issue seems to be resolved. If anyone is still encountering this issue please feel free to reply and I will be happy to reopen and investigate.

[2018-03-07 00:55] #141 closed

[2018-03-07 01:09] Nightsd01 commented on #153
This issue was fixed in #317

[2018-03-07 01:09] #153 closed

[2018-03-07 01:28] Nightsd01 commented on #180
Closing this issue due to inactivity. If you are still encountering this issue please feel free to respond and I'll be happy to reopen the issue

[2018-03-07 01:28] #180 closed

[2018-03-07 01:28] #168 closed

[2018-03-07 01:30] Nightsd01 commented on #155
Closing due to inactivity - if you are still encountering this issue please feel free to respond

[2018-03-07 01:30] #155 closed

[2018-03-07 01:31] Nightsd01 commented on #49
Closing this issue due to inactivity, if you are still encountering this issue please feel free to respond

[2018-03-07 01:31] #49 closed

[2018-03-07 01:32] #94 closed

[2018-03-07 01:35] Nightsd01 commented on #30
Closing this issue due to inactivity. We currently do not support background notification processing in the Cordova SDK because it would require loading the Cordova runtime in the background.

We currently recommend that if you want background processing, you should use `application:didReceiveRemoteNotification:` and set `content_available` = true in iOS and implement the NotificationExtenderServi

[2018-03-07 01:35] #30 closed

[2018-03-07 01:40] Nightsd01 commented on #146
Closing this issue due to inactivity - I am unable to reproduce this behavior in the latest version of the SDK.

If anyone is still encountering this problem, please feel free to respond and I'll be happy to reopen and help to investigate.

[2018-03-07 01:40] #146 closed

[2018-03-07 01:47] #307 closed

[2018-03-07 04:58] shripad20 commented on #264
I resolved this issue by upgrading iOS platform (version 4.4.0) to the latest. Though I was using greater version (4.3.1) than required (4.3.0), it was not getting installed correctly.

[2018-03-07 09:53] stojankukrika commented on #247
It's not inactivity, it's simply didn't solved and didn't works

[2018-03-07 15:15] ngangchill commented on #325
thnx...
i have reinstalled the plugin && works  fine now @Nightsd01

[2018-03-07 15:15] #325 closed

[2018-03-07 19:39] Nightsd01 commented on #247
@stojankukrika Can you describe your situation? You're seeing the white bell icon instead of your custom notification icon?

Can you post the icon image you're using?

[2018-03-07 20:40] Nightsd01 commented on #215
Closing this issue due to inactivity.

As mentioned by @floydus in the previous post, you extend the `NotificationExtenderService` natively (for Android) in order to implement silent notifications. In iOS you can use the `content_available` flag set to `true` (without a Title/body) to trigger a silent notification to initiate some background task.

[2018-03-07 20:40] #215 closed

[2018-03-08 06:52] coolvasanth commented on #186
Hi @sonicwong  Even I'm getting the same error.

[2018-03-08 07:29] sonicwong commented on #186
@coolvasanth
I follow Adem answer in this link, and success to install finally:
[https://stackoverflow.com/questions/38993527/cocoapods-failed-to-connect-to-github-to-update-the-cocoapods-specs-specs-repo](url)

[2018-03-08 07:34] coolvasanth commented on #186
@sonicwong  thanks for the reply,
 but Above link is redirecting to GitHub URL with 404 status.

[2018-03-08 08:22] sonicwong commented on #186
@coolvasanth updated link tab. try again.

[2018-03-08 16:44] rodrigoreal commented on #268
Hey @baskin
Did you find a way to keep `cordova-plugin-firebase` and don't get the duplicated notification?

[2018-03-10 22:16] kierandesmond opened #327 "Missing Push Capability"
Hi,

I've followed the Ionic SDK instructions and am using the Ionic Native Plugin in coordination with OneSignal-Cordova-SDK. On All users we are getting "(Missing Push Capability)" - Even though I've added the push capability already to the project.

Can't seem to register anyone.

Help!

[2018-03-11 21:50] XBLDev opened #328 "How do i use my restAPI key in pushNotification?"
I want to use pushNotification with tags, and according to the official website: https://documentation.onesignal.com/reference#create-notification, I need to include my restAPI key if I want to send messages with tags.

How do I actually do this? I've been searching for a while now, none of the answers I found online uses restAPI key.

Thanks in advance for all the answers!

[2018-03-12 04:04] ntambwadev commented on #312
Hi, I installed the cordova-sdk today and I am still experiencing this issue. I'm using:
`<plugin name="onesignal-cordova-plugin" spec="^2.3.1" />`
which i support installs:
`pod 'OneSignal', '2.7.1'`

[2018-03-12 12:58] ecomunicarte opened #329 "Google-Maps-Incompatibility"
Hello OneSignal Team,

Using Ionic, after install this plugin, android build fails. It throws Google-Maps-Plugin related errors.
If I uninstall OneSignal-Cordova-SDK, build works again. In the same way, if I uninstall Google-Maps native plugin, build works too.

The build error output is:

[code]

All plugins installed are:

- com.googlemaps.ios 2.6.0 "Google Maps SDK for iOS"
- cordova-plugin-cam

[2018-03-12 13:26] hshanka commented on #289
@jkasten2 I am experiencing the same issue with ionic. Please see attached screenshots. Would greatly appreciate any help!

<img width="757" alt="screen shot 2018-03-12 at 9 25 45 am" src="https://user-images.githubusercontent.com/6666290/37286130-765856a8-25d7-11e8-8961-973162e333bb.png">
<img width="627" alt="screen shot 2018-03-12 at 9 25 31 am" src="https://user-images.githubusercontent.com/66

[2018-03-12 22:11] Nightsd01 commented on #328
@XBLDev under no circumstances should you _ever_ use your OneSignal REST API key in your application. Instead, it should only ever be used in your backend server (if you have one).

I am not sure what you mean when you talk about tags. Do you mean you want to filter using tags?

You should _definitely_ not be implementing this functionality on your app itself, it would be highly insecure.

[2018-03-12 22:11] #328 closed

[2018-03-13 00:08] Nightsd01 commented on #329
Duplicate of #297, this issue has been resolved and the fix will be included in the next release (likely today)

[2018-03-13 00:08] #329 closed

[2018-03-13 00:11] Nightsd01 commented on #309
@jkasten2 When you get a chance can you look into this?

I am guessing that some Android OEM's make it impossible to turn off badge counts?

[2018-03-13 00:12] Nightsd01 commented on #327
@kierandesmond This would be an issue with your bundle ID, it is not an issue with the SDK.

Please feel free to go to the OneSignal dashboard (https://www.onesignal.com) and click on the Support button, usually at the bottom right.

[2018-03-13 00:12] #327 closed

[2018-03-13 00:39] Nightsd01 commented on #276
@baskin I apologize for the delay answering your question, we were quite understaffed until recently. We have recently resolved an issue that would cause the `handleNotificationOpened` and `handleNotificationReceived` callbacks not to fire occasionally. This fix will be included in an update we'll release tomorrow.

As far as why the deep links aren't working - the 'closing' means the application

[2018-03-13 00:39] #276 closed

[2018-03-13 01:20] jkasten2 commented on #309
@Naveen1612 Can you make sure it is added to under the `<application>` tag in your `AndroidManifest.xml`?
[code]

Note that by setting the above it won't clear the current badge value but it will prevent OneSignal from updating the value. Details here if you have already released your app and need to clear them.
https://github.com/OneSignal/OneSignal-Cordova-SDK/issues/245

[2018-03-13 08:53] ecomunicarte commented on #329
@Nightsd01 Thank you for the quick response!

[2018-03-13 21:12] XBLDev commented on #328
hi @Nightsd01 thanks for the answer!

Yes by tags I meant filters.

By backend server do you mean a dedicated server just for API calls? Can I let my frontend call a backend function which uses the REST API key?

[2018-03-14 00:02] kotran88 opened #330 "Ionic IOS not working for me..."
Hello:)

I get alert 1 but not 3....and xcode don't say any of error...
I think code is perfect because I get it from ionic document.

alert("1");

this.oneSignal.startInit('3ccd720d-dd44-41dd-9a72-3224fe45d756');

      this.oneSignal.inFocusDisplaying(this.oneSignal.OSInFocusDisplayOption.InAppAlert);

      this.oneSignal.handleNotificationReceived().subscribe(() => {
       // do something whe

[2018-03-14 00:07] Nightsd01 commented on #330
@kotran88 Can you post the entire file? I am not sure what you mean by "ionic document"?

[2018-03-14 13:22] Shadzzz opened #331 "OneSignal plugin not working with Google Maps Plugin with Ionic 3"
Google Maps Plugin was working perfectly but after installing OneSignal plugin build failed with the following error:
:app:compileDebugJavaWithJavac
C:\My App\currLocation\platforms\android\app\src\main\java\plugin\google\maps\PluginMap.java:
86: error: cannot find symbol
    GoogleMap.OnInfoWindowLongClickListener, GoogleMap.OnInfoWindowCloseListener, GoogleMap.O
nMyLocationClickListener, GoogleM

[2018-03-14 21:28] Nightsd01 commented on #331
Duplicate of #297, this issue has been resolved and the fix will be included in the next release (likely today)

[2018-03-14 21:28] #331 closed

[2018-03-14 21:30] Nightsd01 commented on #330
I am closing this issue due to lack of details....please reply if you're still seeing this issue, ***provide more information*** (such as what version of the SDK you are using, what platforms this issue occurs on, etc...), and I'll be happy to reopen and investigate the problem.

[2018-03-14 21:30] #330 closed

[2018-03-14 21:30] Nightsd01 commented on #330
@kotran88  I am closing this issue due to lack of details....please reply if you're still seeing this issue, ***provide more information*** (such as what version of the SDK you are using, what platforms this issue occurs on, etc...), and I'll be happy to reopen and investigate the problem.

[2018-03-15 12:44] ecomunicarte opened #332 "Android Badge does not appears - Ionic"
Hello,
your documentation says: "Note: Android badges are automatically handled by OneSignal".
However, I'm using Ionic, and when my devices receives a push, the badge does never appear.
I have followed all setup indications, and I don't find any related issue or indications.
The app does not throw any error, and in general push works like a charm.
Have I to do anything more like something related

[2018-03-15 19:15] adefokun commented on #312
I have this issue too.

[2018-03-15 20:28] #312 closed

[2018-03-15 21:14] Nightsd01 commented on #312
This issue should not be resolved in the new update (2.3.2) @adefokun @ntambwadev

Please let me know if you have any further issues with this and I'd be happy to help, thank you.

[2018-03-16 03:45] ntambwadev commented on #312
Thank you! @Nightsd01 I think you forgot to update package.json to 2.3.2

[2018-03-16 04:11] adefokun commented on #312
@Nightsd01 but I see 2.8.1 is the latest release.

[2018-03-16 07:57] harryt2 commented on #312
I'm getting one that says Fatal Error Onesignal AppId Never Set! Also can't add 2.3.2, it keeps adding 2.3.1

[2018-03-16 08:48] jkasten2 commented on #312
Sorry for the confusion, the 2.3.2 update is now published to npm.
https://www.npmjs.com/package/onesignal-cordova-plugin

[2018-03-16 08:51] adefokun commented on #312
It has worked now. Thanks.

[2018-03-16 09:10] harryt2 commented on #312
Fixed here too, thank you.

[2018-03-16 17:05] fjwgomez opened #333 "Android open in app Additional Data"
Need help to open an url send in Additional Data inside my app. This is my code.

[code]

[2018-03-17 19:01] Nightsd01 commented on #333
Closing this issue due to a lack of details. Please add more details to this issue and I will be happy to reopen.

What is the problem, is the `handleNotificationOpened` callback never getting called...? Please describe your issue.

[2018-03-17 19:01] #333 closed

[2018-03-19 09:25] marcoroche opened #334 "log error message when clicking on a large group of notification"
I use the release 2.3.2

I notice some error messages when I click on a bunch of notifications (ex 48 notifications received)

Here is the messges that I capture on my Huawei  Android 5

[code]

What do you think it is?

[2018-03-19 11:46] marcoroche commented on #334
I wonder if this issue as nothing to do with the issue https://github.com/OneSignal/OneSignal-Android-SDK/issues/444

It is on another package but I'm sure there are commun part of codes between these 2 packages

[2018-03-19 14:25] giorgiobeggiora opened #335 "Cordova documentation error"
`startInit` requires googleProjectNumber as second parameter

	OneSignal.prototype.startInit = function(appId, googleProjectNumber) {
		OneSignal._appID = appId;
		OneSignal._googleProjectNumber = googleProjectNumber;
		return this;
	};

Without it, notifications on Android do not work, but the documentation does not specify it.

https://documentation.onesignal.com/v5.0/docs/cordova-sdk#section--s

[2018-03-19 16:21] ecomunicarte commented on #335
It's optional since you might not want to send notifications to Android. But of course, if you want to send push notifications to Android devices, you need the ProjectNumber

[2018-03-19 16:52] giorgiobeggiora commented on #335
i agree, but it's necessary to document it

[2018-03-19 18:38] jkasten2 commented on #335
@giorgiobeggiora The Google Project number / Sender ID on `startInit` was deprecated over a year ago which is why is removed from our docs. It will only be used if you created a OneSignal app before Oct. 2016 when we didn't require this to be added when setting up the Android platform on the dashboard. I updated the comment in our source to reflect this 5b2bf045a4dec9e573430b42411ac8c41c7d6316

[2018-03-19 18:38] #335 closed

[2018-03-19 18:47] jkasten2 commented on #334
@marcoroche It's hard to say if it is related, the `java.lang.Throwable: stack dump` exceptions look to be thrown due to some kind of debugging or crash reporting library. Can you check for other errors before the ones you pasted here?

[2018-03-19 21:14] Nightsd01 commented on #332
@ecomunicarte You are saying badges don't work only on one particular device, or is it not working on any device/simulator?

On this same device, do you see badges on _other_ apps? Some launchers don't support badges at all.

[2018-03-20 07:34] NurGuz commented on #296
In Native  OneSignal plugin of ionic don't stay the method clearOneSignalNotifications. Any idea?

[2018-03-20 08:31] giorgiobeggiora commented on #335
Thank you. Anyway, who (like me) will make a new app starting from an old project he/she never worked on will not have an easy way to get this very important information.

[2018-03-20 09:18] ecomunicarte commented on #332
@Nightsd01  It does not work with this app with this plugin on any device I have could tested. The same devices and simulators show badges of other developments using [cordova-plugin-badge](https://github.com/katzer/cordova-plugin-badge).
In addition the real devices shows badges of normal apps like whatsapp, telegram, etc.

I have updated to the latest version and the same thing keeps happening.

[2018-03-20 11:13] marcoroche commented on #334
I don't see any error before. In some cases, I see that my app stay stuck when I have plenty about 50 notifications.

[2018-03-21 08:27] akudo7 opened #336 "can't receive notifications where another apps which also use the OneSignal are launched"
Hi all,

I am developing a few ionic iOS apps which use the OneSignal. Then if an app (A) only are launched, it can receive notifications. However it can't when another app (B) also is launched.
Have you ever hit and fixed this problem? They do not use same iOS bundle id, OneSIngnal App ID and REST API KEY offcourse.

Thank you.
Akira

[2018-03-21 08:31] marcoroche commented on #334
I'm doing other tests  and I have sometimes this error message when the App freeze

F/libc    (10931): invalid address or address of corrupt block 0x5578d46640 passed to dlfree

[2018-03-21 08:48] marcoroche commented on #334
To help I notice that for each notification received I have a "stack dump" message. I hope I put enough details before the "dump stack"

[code]

[2018-03-21 16:54] umarsheikh13 opened #337 "Can't disable notifications permission prompt using kOSSettingsKeyAutoPrompt on iOS 11"
Hey guys

I'm having trouble disabling the notifications prompt using the "kOSSettingsKeyAutoPrompt" setting. I've done a lot of troubleshooting on this so I'm not sure what I'm missing.

I built a very simple app with just the code below but it still prompts me for permission on app start.

[code]

My app details: (I'm using phonegap build)

cli-8.0.0
iOS 4.5.4
plugin 2.3.2

Any help would be muc

[2018-03-21 18:17] Nightsd01 commented on #336
I am closing this issue due to a lack of details. I will be happy to reopen once you provide some more information.

For example, what are app A and app B...? These are apps you are developing, both with Cordova? What version of the SDK are you using...? I don't know what you mean by 'launched', do you mean this happens when both apps are installed on the same device, or only when both apps are op

[2018-03-21 18:30] umarsheikh13 commented on #337
Looks like the issue is with 2.3.2, more specifically the OneSignal iOS SDK. I've reverted back to version 2.3.1 which works perfectly fine.

[code]

[2018-03-21 19:37] Nightsd01 commented on #337
@umarsheikh13 This issue has been resolved in 72de4b7 and will be included in the next release, which I expect to happen in the next few days.

[2018-03-21 19:39] umarsheikh13 commented on #337
Awesome, thanks @Nightsd01

[2018-03-21 19:39] #337 closed

[2018-03-23 19:45] Nightsd01 commented on #309
@Naveen1612 closing this issue due to inactivity.....please feel free to reply if you are still encountering this issue and I'd be happy to reopen and investigate

[2018-03-23 19:45] #309 closed

[2018-03-25 12:33] akudo7 commented on #336
H Nightsd01,

Thanks for reply and advices.

All of my apps are built by a xcode project and they have a target of it and different bundle id.

A Xcode project
 + A target (bundle id for A and set One Signal for A in ionic)
 + B target (bundle id for B and set One Signal for B in ionic)
 + C target (bundle id for C and set One Signal for C in ionic)

Here is the system information.

node v6.11.1
n

[2018-03-25 12:45] akudo7 opened #338 "iOS OneSignal App can't receive notifications when another onesignal apps are opened on the same device at the same time"
Hi all,

I am developing a few ionic iOS apps which use the OneSignal. Then if an app (A) only are opened, it can receive notifications. However it can't when another app (B) also is opened on the same device at the same time.

All of my apps are built by a xcode project and they have a target of it and different bundle id.
[code]
Here is the system information.

node v6.11.1
npm 3.10.10

: 1.19.0

[2018-03-25 18:46] Nightsd01 commented on #338
Duplicate of #336

[2018-03-25 18:46] #338 closed

[2018-03-25 18:51] Nightsd01 commented on #336
Hi @akudo7,

Can you post the Bundle ID’s for these two apps?

Because the push notifications do work when only one app is open, it’s likely not an issue with the SDK, it is likely an issue with certificates/etc.

[2018-03-26 00:54] akudo7 commented on #336
Hi Nightsd01

com.zerobillbank.zwallet.wolf
com.zerobillbank.zwallet.wolf.bene

Thanks
Akira

[2018-03-27 00:41] Nightsd01 commented on #332
@ecomunicarte Can you reproduce this issue in our demo project?

[2018-03-27 01:01] Nightsd01 commented on #336
@akudo7 Since apps are sandboxed (one app doesn't know about any other app), this would _not_ be an issue with the Cordova OneSignal SDK.

In order to help you a bit further, we would want some more information specific to your app, this information should not be posted publicly, so I recommend contacting OneSignal support and I would be happy to help you on there. Just go to https://www.onesignal

[2018-03-27 01:02] #336 closed

[2018-03-27 01:04] Nightsd01 commented on #334
@jkasten2 any idea what could be causing this? I attempted to reproduce but couldn't get it to happen on several Android devices

[2018-03-27 01:08] Nightsd01 commented on #289
I have not been able to reproduce this problem.

@hshanka, if you are still encountering this issue, can you try downloading our [sample project](https://github.com/OneSignal/OneSignal-Ionic-Example) and attempt to reproduce the issue there?

If you are able to reproduce the issue, it indicates that it is an issue with our SDK, if so, can you zip up the example project with this issue and upload i

[2018-03-27 01:12] Nightsd01 commented on #247
Closing due to inactivity....

To anyone who has this issue, ***please post your icon*** and steps you used to include it in your project so we can better understand your situation. Please reply to this discussion if you are still having this problem and I will be happy to reopen and investigate.

[2018-03-27 01:16] Nightsd01 commented on #245
The OneSignal Android SDK does not currently include this functionality but we are considering adding it soon.

In the mean time, you can use the Notification Extender Service (android) or the Notification Extension Service (iOS) to process the `additionalData` field of a push notification and you can manually set the badge count using some custom package. You would want to disable OneSignal badge

[2018-03-27 01:18] #230 closed

[2018-03-27 01:40] #217 closed

[2018-03-27 18:10] #130 closed

[2018-03-28 06:41] Firman95 commented on #247
@Nightsd01 please take a look inside this zip file:
[asset.zip](https://github.com/OneSignal/OneSignal-Cordova-SDK/files/1854769/asset.zip)
Step by step to produce this issue:

1. generate icon from `original_icon.png` to http://romannurik.github.io/AndroidAssetStudio/icons-notification.html#source.type=image&source.space.trim=1&source.space.pad=0&name=ic_stat_onesignal_default
2. extract the outp

[2018-03-28 09:19] jkasten2 commented on #247
@Firman95 Can you check the following?
1. After your step 4, can you check that the png files got added to the `platforms/android/res` folder?  Example check for this exact file.
`<project-root>/platforms/android/res/drawable-hdpi/ic_stat_onesignal_default.png`
2. After your step 5, can you unzip your APK and make sure you have `res/drawable-hdpi/ic_stat_onesignal_default.png`?

[2018-03-28 19:34] burakodabas commented on #97
**FOR typescript or ionic one signal additionalData access**
[code]

[2018-03-28 20:37] jkasten2 commented on #146
This issue was resolve in [version 2.3.3](https://github.com/OneSignal/OneSignal-Cordova-SDK/releases/tag/2.3.3)

[2018-03-28 23:24] jkasten2 commented on #334
@marcoroche Do you have any other devices besides the Huawei running Android 5 your testing with? Huawei heavily modifies Android and has a custom UI call Emui. It could be some kind of bug with the ROM on that device.

The libc error is odd since OneSignal only uses Java and JavaScript.

Do any of the stack traces in the logcat result in a crash? Or they just entries you see in the logcat but eve

[2018-03-29 03:54] Firman95 commented on #247
@jkasten2
I got it working by change `cordova-android` version from `7.0.0` to `6.4.0`. Looks like this plugin not compatible yet for `cordova-android@7.0.0`.
Answer to your questions:
1. Yes the png files got added.
2. I can not confirm due to building app keeps failing now with `cordova-android@7.0.0`

[2018-03-29 08:51] marcoroche commented on #334
Thank you for your support.
I had seen freezing on another phone running Android 7. Yesterday, I saw a new relase of the package,  I updated the App with only this release and it seems that the problem has disappeared.
This morning I received 56 notifications and the App have not crashed. I traced the logs and filter on "onesignal" and nothing shows up.
I need to wait and see.

[2018-03-29 13:59] Shadzzz opened #339 "Unable to display Image in notification while app is open"
Hello Guys,

I am using one signal notifications with firebase. I am getting my notifications perfectly with image while the app is closed. But when the app is open or after clicking on the notification when the app gets opened I didn't get the image instead I get the url of the image in notification.

Here is my code:
[code]

Please help me to display the image in notification

[2018-03-30 22:11] jakevis opened #340 "Alert Notification on App Resume"
Hi there,

So i do suspect this is user error... but I can not get handleNotificationOpened to function.  What I want to achive is, when the user clicks on the notification in the tray/draw, the app is opened, and an alert notification is displayed. I am testing on Android (but will go to iOS as well soon), and using Ionic 3.

This code works - running within app.component.ts, in platform.ready  (

[2018-03-31 19:24] jakevis opened #341 "Custom icons with android@7.0.0"
It seems we cant copy custom resources in with android 7.0.0 and ionic/cordova.

My Env:

[code]

When building I get:

[code]

Everything is good if i remove the platform and re-add it with `ionic cordova platform add android@6.4.0 --save`

[2018-03-31 19:24] jakevis commented on #341
Also FWIW I am using config.xml and these commands to copy the resources:

[code]

[2018-04-01 00:48] fmp777 opened #342 "incompatible with cordova-plugin-intercom due to dependency versions (android)"
Not really sure if its OneSignal that can patch or Intercom, but it seems like onesignal is using android-26 dependencies while Intercom is using the latest android-27, so might be better if OneSignal updated?

### STEPS TO REPRODUCE
[code]

### RESULTS
[code]

[2018-04-01 07:48] oscaringit opened #344 "cancelNotification method not implemented"
Any plan to implement/map this method?

In a notification service there are many situations, in client side, where an specific notification for that client needs to be canceled on the fly. I think this method is a must.

Thanks

[2018-04-01 15:53] fmp777 commented on #342
NOTE:  while cordova platform add android installs 7.0.0 I've noticed that if you manually specify 7.1.0 there's no more conflict between the plugins

cordova platform add android@7.1.0

[2018-04-01 18:55] MasTeh opened #345 "Problem with Cordova. "Failed to connect to GitHub to update the CocoaPods/Specs""
Hello!

I can't corrent install onesignal cordova plugin on iOS.

**sudo gem install cocoapods**
Successfully installed cocoapods-1.4.0
Parsing documentation for cocoapods-1.4.0
1 gem installed

**pod repo update**
Updating spec repo `master`
[!] Failed to connect to GitHub to update the CocoaPods/Specs specs repo - Please check if you are offline, or that GitHub is down

There was no such problem

[2018-04-02 23:58] jkasten2 commented on #340
@jakevis `handleNotificationOpened` is what you will need to handle when a notification is tapped on. `handleNotificationReceived` will only be called when a notification is received when the app is in focus.

Do you get anything in the deivce's logcat with `handleNotificationOpened`? In either the closed or in focus state when tapping on a notification?

[2018-04-03 00:00] jkasten2 commented on #341
@jakevis Thanks for reporting, it seems something has changed with cordova-android@7.0.0 that does not accept resources on this folder any more. We will take a look and reply back with more details.

[2018-04-03 00:56] jkasten2 commented on #342
@fmp777 Thanks for the detail, I was able to reproduce the errors however it does not cause the build to fail. I am guessing this however is resulting in runtime errors or issues with your app though?

One odd thing I noticed about `cordova-plugin-intercom` is they say they support cordova android@7.0.0 but Cordova didn't add support to Android API Level 27 until cordova-android@7.1.0.
https://git

[2018-04-03 01:06] jkasten2 commented on #344
@oscaringit Thanks for the suggestion, we will look into it

[2018-04-03 01:08] jkasten2 commented on #345
@MasTeh This is an issues with Cocoapods, not OneSignal. I recommend trying the below solutions to fix this issue:
https://stackoverflow.com/questions/38993527/cocoapods-failed-to-connect-to-github-to-update-the-cocoapods-specs-specs-repo

[2018-04-03 01:08] #345 closed

[2018-04-03 10:14] AnandKumar2610 opened #347 "How to get Player ID ?"
I'm using
`let me = this;
window["plugins"].OneSignal
        .startInit("XXXXXXXXX", "XXXXXXX")
        .handleNotificationOpened(notificationOpenedCallback)
        .addSubscriptionObserver(function (state) {
        if (!state.from.subscribed && state.to.subscribed) {
          me.showAlertDialog('userId',state.to.userId);
        }
          me.showAlertDialog('state',JSON.stringify(state));

[2018-04-03 11:57] jurgen-reconcept opened #348 "Plugin overwrites OTHER_CFLAGS"
I'm using this plugin with Ionic, which sets -DDEBUG on OTHER_CFLAGS. Apparently installing the onesignal plugin overwrites this, so that some of the debug functionality of Ionic does not work properly anymore.

I'm not an iOS native developer, so it took me a lot of time figuring out what the problem was, but now that I found it, I'm still not sure how to fix this.

[2018-04-03 20:58] jakevis commented on #340
thanks for the response @jkasten2 - it was a user mistake... i rewrote the method and I was looking in the wrong spot for json data.

If anyone finds this in the future... and copies and pastes code ;) - .h`andleNotificationReceived(function(jsonData)` looks for title in `jsonData.payload.title`
If you use the example `var notificationOpenedCallback = function(jsonData)` - you need to look in `jso

[2018-04-03 20:58] #340 closed

[2018-04-04 14:00] nutzmdm opened #349 "Notification icon for group on android"
I use a perl script to send notifications.
I'm unable to find any option to set Notification Icon when a group is defined. My first notification have the good icon, but, when a second notification is received, icon change to the default "Bell Icon"

[2018-04-04 19:43] djjterror opened #350 "since last update onesignal plugin gives black screen on cocoon build"
install onesignal plugin = black screen after splash.
uninstall onesignal plugin = everything works fine.

[2018-04-04 19:46] Nightsd01 commented on #350
@djjterror I am closing this issue until more information is provided. Please provide some basic details about your project, what version of OneSignal's plugin you are using, any errors printed to console, if the issue occurs on both android/ios, and so on........

[2018-04-04 20:03] djjterror commented on #350
sorry i am not power user... i dont know how to debug or how to get log that you need... i can only tell you that everything worked on android 2 weeks ago and now iw rebuild mine apk in cocoon and expirienced black screen... no errors to be seen. after several hours of rebuilding i finaly pinpointed problem: when plugin is installed i get black screen... when plugin is uninstalled all works fine

[2018-04-04 20:03] djjterror commented on #350
wersion i currently use is 2.3.3 and i dont see any option to chose older version  :(

[2018-04-04 20:53] Nightsd01 commented on #349
@nutzmdm The OneSignal Android SDK does not support setting a custom group icon. As long as you set the correct notification icons however, it should use the same icon for the group.

If you send only a single non-group notification, does the correct icon show up?

[2018-04-04 20:57] Nightsd01 commented on #347
You should not chain the `addSubscriptionObserver()` function in your init call.

You should remove your call to `addSubscriptionObserver()` from the init chain and call it separately like this:

[code]

[2018-04-04 20:57] #347 closed

[2018-04-04 21:47] jkasten2 commented on #350
@djjterror It sounds like it could be an incompatibly issue OneSignal and Cocoon's build system. It's hard to say without more information though. Can you provide / do the following?
1. What device models and Android versions have the issue?
2. The logcat from the device will be helpful.[ Follow this](https://documentation.onesignal.com/docs/troubleshooting-android#section-how-to-get-a-crash-or-er

[2018-04-04 21:55] Nightsd01 commented on #348
@jurgen-reconcept We've investigated this a bit more and can confirm that our SDK is _not_ setting/touching this flag. Since the Cordova SDK uses Cocoapods to install the OneSignal SDK, you can check your Pods project in the `.xcworkspace` project and make sure that none of the cocoa pod targets are setting this C flag.

[2018-04-05 04:35] AnandKumar2610 commented on #347
Hi @Nightsd01 Thanks for your reply.
Below code is working fine for me.,
`this.oneSignal.endInit();
this.oneSignal.getIds().then((id) => {
       // id.userId
});`

[2018-04-05 15:28] nutzmdm commented on #349
Yes, if I send a single non-group notification, the correct icon show up. If I set the value "Group Key" when I send a single notification from Onesignal Dashboard or "android_group" in my script, the correct icon also show up.
But, when I send another notification with the same group key,  icon change to a "Bell Icon".

[2018-04-06 06:36] jkasten2 commented on #247
@Firman95 Thanks for letting us know! We will follow up on the `cordova-android@7.0.0` problem in issue #341

[2018-04-06 06:36] #247 closed

[2018-04-06 06:45] jkasten2 commented on #5
[`addSubscriptionObserver`](https://documentation.onesignal.com/docs/cordova-sdk#section--addsubscriptionobserver-) was added to the SDK which only fires when a property changes. This resolves the issue of not knowing if `getIds` is cached or not.

[2018-04-06 06:45] #5 closed

[2018-04-06 06:47] jkasten2 commented on #37
There have been no future reports of this issue so it seems this was either fixed in a SDK or Cordova update

[2018-04-06 06:47] #37 closed

[2018-04-06 07:23] greceanii opened #351 "You cannot run CocoaPods as root."
sudo cordova plugin add onesignal-cordova-plugin

/Library/Ruby/Gems/2.3.0/gems/claide-1.0.2/lib/claide/command.rb:439:in `help!': [!] You cannot run CocoaPods as root.

Please help to resolve this problem

[2018-04-06 08:06] jurgen-reconcept commented on #348
Thanks for checking. I guess it is in fact the Cocoapods. But please understand that I don't have a clue what Cocoapods even are and how they relate to your SDK. So as an Ionic user it's strange that I try to install your SDK and it (indirectly) messes with Ionic.

For now I've resolved to manually setting it after I make a build. It's okay :)

[2018-04-06 18:14] jurgen-reconcept opened #352 "OSPermissionSubscriptionState object uses status vs state between iOS and android"
When I request getPermissionSubscriptionState() on iOS I can access status.permissionStatus.status, but when I do the same thing on Android, the latter is called 'state', so status.permissionStatus.state. This should probably be unified.

So:

[code]

[2018-04-06 18:33] Nightsd01 commented on #351
Why are you using `sudo`? As the error indicates, cocoapods cannot be run using `sudo`, and when you install the OneSignal Cordova plugin, it launches cocoapods to install the iOS OneSignal dependency.

It should work if you try it without using sudo.

[2018-04-06 18:34] Nightsd01 commented on #352
This is not a bug. `status` and `state` mean different things. Essentially iOS has more possible values of `status` than Android does.

When using these parameters, I would suggest checking the platform (ios vs. android) and implement logic accordingly

[2018-04-06 18:34] #352 closed

[2018-04-06 18:38] Nightsd01 commented on #348
Cocoapods is basically like npm but for iOS dependencies. It can be a bit bug prone. Glad to hear you got it working!

[2018-04-06 18:38] #348 closed

[2018-04-06 18:40] jurgen-reconcept commented on #352
I see. Then I guess the ionic implementation is kind of incomplete because the TypeScript type only supports status. But using permissionStatus['state'] I can still make it work :)

I also figured out that my Android test device actually also sets state to 2 if the user denied access in the settings panel (so it's reverse of iOS where 2 means authorized and 1 means denied).

Thanks for your help a

[2018-04-06 20:28] #351 closed

[2018-04-09 17:49] Nightsd01 commented on #350
I am assuming you managed to get it working @djjterror due to no response, closing this issue due to inactivity. If you are still encountering this problem please feel free to post and we'll be happy to reopen and investigate - we _need_ more information.

[2018-04-09 17:49] #350 closed

[2018-04-09 21:13] djjterror commented on #350
Hello, brief update... unfortunatly, still i did not have managed it to work but for the time beeing i disabled onesignal in my app till this gets resolved. I am behind schedule with app as is so i cant spend any more time on this. Ill set notifications with alternate solutions.

[2018-04-13 08:04] marcoroche opened #353 "Problem managing sound and vibration"
The users of my App are frustrated to have sound and vibration. The App generates lots of notifications and most people want to receive them straight away but with no sound and vibration.

I modified the code to make the silent mode by default when installing the App and added two buttons to manage sound and vibration.

It seems working fine on my Huawei P8 lite but not on Samsung products.

I try

[2018-04-13 08:46] stefano-rainieri commented on #222
The SDK is awesome, but here I have the same issue.

- I've followed the [docs](https://documentation.onesignal.com/docs/customize-notification-icons) for Ionic

- I've generated the icons via [Android Asset Studio](http://romannurik.github.io/AndroidAssetStudio/icons-notification.html#source.type=clipart&source.clipart=ac_unit&source.space.trim=1&source.space.pad=0&name=ic_stat_onesignal_default)

[2018-04-13 12:41] MiguelGonzalezAravena commented on #222
@stefano-rainieri You have to send the option `small_icon` and `large_icon` with value `ic_stat_onesignal_default` to OneSignal.

[2018-04-14 11:19] rwillett opened #354 "Problem building on Cordova - Can't find library -lPods-Blackwall Tn"
Hi,

We're trying to get our first build going for our app "Blackwall Tn".

We've been working with another notification provider until now and we want to look at OneSignal again.

We've already got OneSignal working with another app but for some reason we can't get it working with our second app.

The error we get is at the end of the build process

[code]

We can't seem to work out what to do to

[2018-04-14 11:28] rwillett commented on #354
As with all these things, the moment you write the issue report, you find the problem.

Uninstalling and reinstalling the cordova IOS platform fixed the issue. No idea why but it did.

[2018-04-14 11:28] #354 closed

[2018-04-15 06:38] rwillett opened #355 "When should .handleNotificationOpened and .handleNotificationReceived be called?"
Hi,

We're slowly converting our app to use OneSignal.

We're noticed that both the the declared JavaScript function handlers for .handleNotificationOpened () and  .handleNotificationReceived() are called when a notification with content-available=1 is sent.

We thought that the function declared for .handleNotificationOpened() should only be opened when the user clicks on a notification in the sh

[2018-04-15 19:06] hossamsaad2010 opened #356 "badge count of one signal notification to use inside my app"
how get badge count of one signal notification to our users inside my app
Thanks

[2018-04-15 21:50] jkasten2 commented on #356
@hossamsaad2010 There currently isn't a way to do this with this SDK. Do you need to get the iOS or Android badge count for your app?

[2018-04-16 07:25] hossamsaad2010 commented on #356
thanks for your reply
, i use ionic and cordova not native ios or android for develop our app

On Mon, Apr 16, 2018 at 12:50 AM, Josh Kasten <notifications@github.com>
wrote:

--
Hossam saad,
Senior Software Developer
+201222314311

[2018-04-16 08:10] maartenhetworks commented on #349
Same for me. Even the notification color is set to grey when receiving grouped notifications.

[2018-04-16 12:15] stefano-rainieri commented on #222
@MiguelGonzalezAravena thank you for the answer 😃
I've tried but doesn't work. I also think that `ic_stat_onesignal_default ` is the default if you set nothing. Anyway i've tried with and without but nothing change..

[2018-04-16 12:16] MiguelGonzalezAravena commented on #222
@stefano-rainieri Are you sure that you have the correct OneSignal ID and the right settings?

[2018-04-16 16:02] stefano-rainieri commented on #222
yess i'm sure, i'm using OneSignal dashboard to send test notification

[2018-04-16 16:07] MiguelGonzalezAravena commented on #222
@stefano-rainieri I mean, in your code app (ionic framework or native). Remember follow this steps:
![captura de pantalla 2018-04-16 a la s 13 06 26](https://user-images.githubusercontent.com/5036891/38821494-038f99c2-4177-11e8-8ee7-592598be0b4f.png)
(Active)

[2018-04-17 01:54] Nightsd01 commented on #355
The `content-available` flag triggers background push notification execution, meaning it will open your app in the background. Most developers _do_ want this behavior - this is how it was intended to work. As you said, you can just check to see if the app is in focus in order to change how your app responds to these callbacks if you want different behavior between background vs. in focus.

[2018-04-17 01:54] #355 closed

[2018-04-17 06:33] rwillett commented on #355
Brad,

Thanks for the reply, but thats not the question I asked.

Our question is why do BOTH functions get called when content-available=1 is set on IOS. Our reading of the docs is that handleNotificationOpened() should only be called when a user clicks on the notification in the drawer, it appears to be called regardless of whether or not the user has clicked.

We would expect handleNotification

[2018-04-17 08:39] stefano-rainieri commented on #222
yes it's all ok.. push arrives but with wrong small icon.. i'm not being able to find the problem..

[2018-04-17 08:48] Jeyakumarrathnaselvi commented on #172
We are facing the same issue. Any findings

[2018-04-17 09:45] Jeyakumarrathnaselvi opened #357 "Duplicate notification with latest cordova sdk"
We are getting duplicate notification,

We use latest Onesignal cordova sdk and not using any other push plugin

we use below plugins
[code]

Please let me know if you need any other details.

[2018-04-17 14:58] MiguelGonzalezAravena commented on #222
@stefano-rainieri What Android version do you have? Have you tested if this happen in other device?

[2018-04-18 08:12] stefano-rainieri commented on #222
@MiguelGonzalezAravena android 7.1 with Nexbit Robin, but i've tested also samsung galaxy A3 with android 6.0 and same problem..

[2018-04-18 12:59] spinninghamster opened #358 "OneSignal crashing app on Oppo R9s"
**Device**: Oppo R9s (CPH1607), 4096MB RAM, Android 6.0
**Issue**: App crashed twice.

**Crash Log**:
java.lang.NullPointerException:
  at android.os.Parcel.readException (Parcel.java:1636)
  at android.os.Parcel.readException (Parcel.java:1583)
  at android.app.job.IJobScheduler$Stub$Proxy.schedule (IJobScheduler.java:122)
  at android.app.JobSchedulerImpl.schedule (JobSchedulerImpl.java:42)
  at

[2018-04-18 14:59] stefano-rainieri commented on #341
Hello, I have the same problem but i [posted it](https://github.com/OneSignal/OneSignal-Cordova-SDK/issues/222#issuecomment-381068517) in the wrong issue.
Waiting for updates 😃

[2018-04-19 01:45] Nightsd01 commented on #357
@Jeyakumarrathnaselvi Can you provide some more information?

For example
- Do the duplicate notifications occur in android, iOS, both?
- Do they occur for all notifications or only under some circumstances?

[2018-04-19 02:12] Jeyakumarrathnaselvi commented on #357
We are yet to test in iOS. It is happening only for few notifications.

We are using notification grouping and heading

---- On Thu, 19 Apr 2018 07:15:39 +0530 notifications@github.com wrote ----

@Jeyakumarrathnaselvi Can you provide some more information?

For example

Do the duplicate notifications occur in android, iOS, both?
Do they occur for all notifications or only under some circumstances

[2018-04-19 02:27] Nightsd01 commented on #341
Did not mean to close the issue!

[2018-04-19 04:42] kamalsamra commented on #303
In android 7 location of wav file is platforms/android/app/src/main/res/raw

[2018-04-19 05:58] jkasten2 commented on #353
@marcoroche It looks like you are calling `enableSound(false)` and `enableVibrate(false)` each time your app is started. This will disable these every time your app is started which will override `enableSound(true)` that you noted you have setup when the users presses a button.

Is that the current issue you have now? That sounds isn't being enabled when they press your in app button?

[2018-04-19 06:13] jkasten2 commented on #357
@Jeyakumarrathnaselvi Can you provide the following details on when this issue happens so we can look into this in more detail?
1. Android versions this happens on
2. Device manufactures this happens on
3. A screenshot of the issue
4. Notification ids, you can send these to OneSignal support linking to this ticket

[2018-04-19 06:26] marcoroche commented on #353
No, when I start up the App  I indicate the last state of the button. It works on some devices but not on others.
To test in my process I keep the App running I don't put it in the background mode, I toggle the button and send some notification.

Question: Is there a possibility to definitely switch off the sound and vibration with the manifest?

[2018-04-19 06:33] jkasten2 commented on #353
@marcoroche So the toggle in your testing doesn't work on some devices? It is always playing a sound?

Also do note that these setting won't work on Android 8+ devices. These settings must now be defaulted with a [notification category / channel](https://documentation.onesignal.com/docs/android-notification-categories). The user can change these setting from their notifications settings for your a

[2018-04-19 07:00] jkasten2 commented on #303
We just updated our docs for this new path today
https://documentation.onesignal.com/docs/customize-notification-icons#section-2-create-project-paths

[2018-04-19 07:00] #303 closed

[2018-04-19 08:08] stefano-rainieri commented on #341
It works for me!! Thank you @Nightsd01 😄
I didn't use directly the tag `<resource-file />` in the *config.xml*, but i used the hook `<hook src="hooks/copy_android_notification_icons.js" type="after_prepare" />` as suggested by Ionic Native documentation.
I've changed the script with right destination paths and it's all ok 👍

[code]

[2018-04-19 08:15] stefano-rainieri commented on #341
Do you think it's better cordova hook or directly resource-file tag?

[2018-04-19 08:25] Jeyakumarrathnaselvi commented on #357
[](url)

[2018-04-19 12:40] marcoroche commented on #353
OK, I think I found a solution with the Category / Channel. I just did a simple test to cut off the sound and it seems working so I will try to deploy tomorrow to make a real test.
I removed the setting from my code.
BTW, why the package is not updated with the last update of the Android-SDK?

[2018-04-19 15:04] spinninghamster commented on #358
Yes, 2 devices crashed so far:

- R9s (CPH1607)
- A1601 (A1601)

[2018-04-19 18:04] #341 closed

[2018-04-20 09:56] lakshmana opened #359 "window.plugins.OneSignal.getPermissionSubscriptionState returns different values on ios and android"
In contrast to what is documented on https://documentation.onesignal.com/docs/cordova-sdk#section--getpermissionsubscriptionstate- , the returned value 'status' on the callback function is different on ios and on android.
On ios device, the status will have the property status.permissionStatus.status with 0 = undetermined,
1 = Denied and 2 = Authorized

But on android, the status does not have the

[2018-04-20 19:03] Nightsd01 commented on #359
@lakshmana This isn't exactly a bug, this is how it was intended. The status and state properties are different properties meaning different things, since the permission model in Android is different than it is in iOS (there is no 'unauthorized' state in Android for example).

We have been considering making them more similar in the future but this would be a breaking change for one platform or an

[2018-04-20 19:03] #359 closed

[2018-04-22 06:18] spinninghamster opened #361 ""Excessive wakeups" and "Excessive Wi-Fi scans (background)" in Android.."
Our Google Play Console is showing bad behaviour due to "Excessive wakeups" and "Excessive Wi-Fi scans (background)".

I believe these problems were fixed in the Android SDK already:
https://github.com/OneSignal/OneSignal-Android-SDK/releases/tag/3.8.4

Can you please fix them in the Cordova SDK as soon as possible, too? Any idea when this will be out?

[2018-04-23 10:45] Gert25 commented on #178
Hi I have been struggling with this issue. I opened up  a new issue but haven't been getting any attention to it. see here https://github.com/ionic-team/ionic-cli/issues/3076

[2018-04-23 10:46] Gert25 commented on #178
I have been struggling to get Ionic plugins installed correctly. But only for this one project. Seems to be working for other Ionic projects

[2018-04-25 11:58] andreloty commented on #299
I'm having the same problem...

If the app is forced killed, when the notification is received and the app is opened normally (not clicking in the notification, but in the app icon), none of the handleNotificationReceived or handleNotificationOpened function is fired and the data sent with the notification is lost

[2018-04-25 14:32] artuska opened #362 "userId is null in getPermissionSubscriptionState in subscriptionStatus"
This code:

[code]

returns

[code]

with `userId: null`.

`onesignal-cordova-plugin: 2.3.3`

Everything works fine in version `2.2.5`.

[2018-04-26 01:47] Nightsd01 commented on #362
I am closing this issue due to a lack of details @artuska  but if you can add some more information I would be happy to reopen & investigate.

Is this an Android or iOS issue, or both...?

Does it occur on real devices or simulator, or both?

At some stages the userId is expected to be null. For example, when you just install the application and run it for the very first time, the userId will be n

[2018-04-26 01:47] #362 closed

[2018-04-26 08:58] LKDevelopment opened #363 "New Permissions"
**Description:**
I've updated all parts of my app. Suddenly after i want to submit it to apple i get the following response from them:

[code]

Since i doesn't use any location service or something other i began to search all the plugins i've updated and i found your changelog for v 2.3.3: https://github.com/OneSignal/OneSignal-Cordova-SDK/releases/tag/2.3.3.

Why do you add a breaking change like

[2018-04-26 14:42] peterpaulis commented on #363
I have the same issue on the regular iOS SDK... looks apple changed review

[2018-04-26 14:43] LKDevelopment commented on #363
nope, its code based. They introduced because of the GDPR some changes... Only way to solve this is to add the info to the plist...

[2018-04-26 15:48] gdeglin commented on #363
Thanks for reporting this. Our team is investigating.

[2018-04-26 18:24] Nightsd01 commented on #363
@LKDevelopment @peterpaulis This change was released over a month ago. We didn't actually change how the SDK handles location services, we simply added support for a new Plist key (`NSLocationAlwaysAndWhenInUsageDescription`).

The fact that we've started seeing reports only in the last 24 hours indicates to me that Apple introduced some new bug in their review process.

After all, the SDK is _not

[2018-04-27 06:47] spinninghamster commented on #358
Also crashing:

- R9s Plus (CPH1611)

[2018-04-27 19:04] Nightsd01 commented on #363
It looks like Apple resolved this issue on their end

[2018-04-27 19:04] #363 closed

[2018-04-27 19:05] Nightsd01 commented on #361
We will be releasing new updates soon with both Android and iOS native SDK updates. Currently the new iOS update is ready, but we are just finishing up adding GDPR support in the Android native SDK. It should be done either today or in the next few days.

[2018-04-30 07:24] vromrom opened #364 "compilation with cocoon impossible after Version 2.1.0... and not working with 2.1.0"
**Description:**

i use cocoon.io to compile my projects. For Android the OneSignal Cordova SDK (2.3.3) compiles and works perfectly , but with ios no way...  i have to downgrade to v2.1.0 in order to compile, just before you had cocoa dependencies (don't know exactly what it means...) , if i use v>2.1.0 i got an error "Uh oh!
"/workspace/platforms/ios/PUSHdev8/Plugins/onesignal-cordova-plugin/One

[2018-04-30 10:31] spinninghamster commented on #358
Is there any timeline on this fix? We have more and more users with R9 and R9 Plus that are crashing every day.

[2018-05-02 00:27] Nightsd01 commented on #364
Unfortunately, Cocoon does not support cocoapods. The OneSignal Cordova SDK uses Cocoapods in order to download the iOS native SDK.

This isn't an issue with the OneSignal SDK - it's an issue with Cocoon's build system.

[2018-05-02 00:27] #364 closed

[2018-05-03 22:02] jkasten2 commented on #358
@spinninghamster We looking at releasing an update next week with a fix for Oppo devices. Thanks.

[2018-05-07 21:46] pookdeveloper opened #366 "Rest api update an app"
I can use the update an app without user auth key

https://documentation.onesignal.com/reference#update-an-app

[2018-05-09 01:14] Nightsd01 commented on #366
@pookdeveloper I am unable to reproduce your issue.

Also, this is not a Cordova SDK issue.

I would appreciate it if you could provide an example of the HTTP request you are making (JSON body). Please make sure to remove any sensitive info from the request before you post it.

I'll be closing this issue because it is not an SDK issue, but it would be great if you could contact our support (go to

[2018-05-09 01:14] #366 closed

[2018-05-09 01:15] Nightsd01 commented on #361
We've release a new update ([2.4.0](https://github.com/OneSignal/OneSignal-Cordova-SDK/releases/tag/2.4.0)) that resolves this issue, it includes the new Android update to fix it.

[2018-05-09 01:15] #361 closed

[2018-05-09 01:16] Nightsd01 commented on #358
We've released a new version of the SDK that includes a fix for this issue ([2.4.0](https://github.com/OneSignal/OneSignal-Cordova-SDK/releases/tag/2.4.0))

[2018-05-09 01:16] #358 closed

[2018-05-09 01:19] Nightsd01 commented on #357
It turns out this was a compatibility issue with Freshchat. Please feel free to respond if you have any further problems/questions about the SDK

[2018-05-09 01:19] #357 closed

[2018-05-09 01:19] #356 closed

[2018-05-10 22:20] StefanoMartella opened #367 "Handle notification before user's click"
is there any way to handle notification before user's click? I tried to use handleNotificationReceived function but it works only when the application is in foreground, when the application is in background or it is killed I receive the notification but the function is not fired. I need to get notification data even if the user swipe/delete it.
Here's my code:

[code]

I'm on S6 android version 6.

[2018-05-11 01:47] Nightsd01 commented on #367
Hi @StefanoMartella

In order to do this, you would need to implement the Notification Service Extension (iOS) or the Notification Extender Service (android). Unfortunately you'd have to write native code (ObjC/Swift for iOS and Java/Kotlin for Android) as currently the SDK doesn't support running the Cordova runtime in the background.

So in short, it's entirely possible, but you would need to im

[2018-05-11 01:47] #367 closed

[2018-05-11 10:40] renjithvk commented on #221
+1

[2018-05-11 15:35] JEricaM opened #368 "Using ActionButton in Ionic"
**Description:**

I'm developing an Ionic v3 application and I'm asking if is possible to use ActionButtons for example to let the user open a certain page of the app clicking the action button and so on...
If yes, how can I do it? I don't understand if and how is it possible checking the one signal or ionic documentation..

It's a supported feature or it's only native?

Thank you

[2018-05-14 19:56] Nightsd01 commented on #368
Hi, yes this is possible. When you initialize the SDK, you can use the `handleNotificationOpened` callback to process notification opens, including when users tap a button.

You can do it like this:

[code]

In order to get the action buttons to show up, you need to add the Notification Service Extension, which our docs explain: https://documentation.onesignal.com/docs/ionic-sdk-setup#section-5-io

[2018-05-14 19:56] #368 closed

[2018-05-15 13:10] JEricaM commented on #368
thank you, but where is the documentation about how to interact with an action button, retrieving the action id, the text etc? I didn't find anything about this.
I've only found this https://documentation.onesignal.com/docs/customize-action-buttons but it doesn't help me :S

[2018-05-16 08:36] JEricaM opened #369 "Using ActionButton in Ionic - check which action button is clicked"
**Description:**

Sorry if I hopen again the post with the same question, but my previous question was closed and I continue to have problems with this topic so I need more help about this.

First of all thank with the answer gave me here #368 but the problem is that I don't understand how I can interact with action buttons.

I'm able to retrieve the payload from the notification and extract the b

[2018-05-17 15:06] buddh4 commented on #280
Same happens for me while `ionic cordova platform add android@7.1.0`:

[code]
[code]

[code]

[code]

Seems to be similar to https://github.com/litehelpers/Cordova-sqlite-storage/issues/729

[2018-05-17 22:15] shajeeck opened #370 "Cordova build failing with latest cordova-plugin-googlemaps"
**Description:**

Cordova build is failing when OneSignal plugin installed along with cordova-plugin-googlemaps latest version. I was able to make OneSignal@2.3.3 and cordova-plugin-googlemaps@2.2.9 working together. It was using Google Play service 12.0.0. Now latest cordova-plugin-googlemaps use Google Play version 15.0.1 and build started failing again with OneSignal@2.4.0

**Environment**

**C

[2018-05-17 22:25] adirzoari commented on #161
@jkasten2  i added my senderId and google server api key from firebase and I'm still facing this error. how to solve it?

[2018-05-17 22:33] jkasten2 commented on #161
@akuljana Double check the app_id in the JS code in your app. Then bring this app up on the OneSignal dashboard. Make sure you have the Android platform configured with a Google Project number / Sender id on OneSignal under Settings.

[2018-05-17 22:40] adirzoari commented on #161
I opened new react native project and new firebase project and did step by step. still facing issue.

[2018-05-17 22:41] adirzoari commented on #161
that's the error I get
![image](https://user-images.githubusercontent.com/20258998/40207329-9cec8b7e-5a3c-11e8-8736-fe29d9914898.png)

[2018-05-19 03:41] spinninghamster commented on #304
I just had the chance to test on a live iOS 9.0 device and it's still a problem. I don't have the exact errors but it basically messed up any code that was ran after the OneSignal plugin was initialized and causing it not to work properly.

iOS 10.0+ is no problem.

[2018-05-19 03:49] Nightsd01 commented on #304
@spinninghamster Please do post the error when you can

[2018-05-19 04:35] yaseralimardany commented on #161
I got this error in logcat:
E/OneSignal: Unknown error getting FCM Token
java.lang.NoSuchMethodError: No static method isDeviceProtectedStorage(Landroid/content/Context;)Z in class Landroid/support/v4/content/ContextCompat; or its super classes (declaration of 'android.support.v4.content.ContextCompat' appears in /data/app/com.motoshubapp-2/base.apk)
at com.google.firebase.FirebaseApp.zza(Unknown

[2018-05-19 04:38] yaseralimardany commented on #68
I got this error in logcat:
E/OneSignal: Unknown error getting FCM Token
java.lang.NoSuchMethodError: No static method isDeviceProtectedStorage(Landroid/content/Context;)Z in class Landroid/support/v4/content/ContextCompat; or its super classes (declaration of 'android.support.v4.content.ContextCompat' appears in /data/app/com.motoshubapp-2/base.apk)
at com.google.firebase.FirebaseApp.zza(Unknown

[2018-05-20 04:26] pedrohills commented on #370
I'm facing the same problem.

[2018-05-20 04:35] shajeeck commented on #370
I was able to make onesignal-cordova-plugin@2.4.0 and cordova-plugin-googlemaps@2.3.3 by doing following step as a temporary solution

1) Update Google Play services and Android Support Repository In Android Studio **if needed**!

2) ionic cordova platform remove android
3) change lines in file plugins/onesignal-cordova-plugin/build-extras-onesignal.gradle to

make sure both are version '15.0.0+'

[2018-05-20 15:49] ecomunicarte commented on #370
I have been experienced similar issue, and found another solution, but I think any of them are really valid solutions. You can find it in:  [this issue on maps repository](https://github.com/ionic-team/ionic-native-google-maps/issues/31)

[2018-05-21 09:01] yashodeep9 opened #371 "Problem installing ipa on iPhone after adding onesignal plugin"
**Description:**

Hi,
I am integrating onesignal plugin in iOS with xcode version 9.2
I followed all the steps mentioned in official document : https://documentation.onesignal.com/docs/ionic-sdk-setup  **except** step  "iOS - Add App Groups (Optional but Recommended) (CLI ONLY)"

I could see two targets on clicking the project:
i: The one with project name
ii: The newly created OneSignalNotificati

[2018-05-21 09:40] simonbrazell opened #372 "Can't Add Plugin to Ionic Project"
**Description:**

The OneSignal plugin fails to install in an existing Ionic project as it is unable to find the `AndroidManifest.xml` file when using Cordova platform Android 7.0.0. See error message and environment details below.

**Environment**

[code]
[code]

**Steps to Reproduce Issue:**

1. Add the onesignal-cordova-plugin to a project with Cordova Android 7.0.0

**Anything else:**
[code]

[2018-05-21 13:10] artuska commented on #359
Well, this is a shitty intended coding.

[2018-05-21 23:54] vhmolinar opened #373 "Webview crash happening in Android N"
**Description:**
I'm looking for a webview crash cause in my app which eventually started to happen in Android N.
So I found the following logcat error regarding onesignal initialization

[code]

I'm not sure if this might be the issue causing the crash. So I'd like some help to identify this stacktrace as a possible threat.

The android app actually doesnt fully crash. It remains opened, but webv

[2018-05-22 03:35] jkasten2 commented on #373
@vhmolinar Version 2.1.0 of OneSignal is quite old, can you updated to the latest 2.4.0 release? You can remove and re-add OneSignal to do this.
[code]

I also recommend updating your Cordova Android version to 7+, version 5.2.2 is out of date as well.

[2018-05-22 09:44] simonbrazell commented on #372
Apologies, it turns out the issue was in fact with `cordova-sqlite-storage ` and not this plugin.

[2018-05-22 09:44] #372 closed

[2018-05-23 09:50] akuljana commented on #349
Same problem here, for individual notification icon is ok, for group of those notification I get bell icon.

[2018-05-24 00:55] jkasten2 commented on #342
@fmp777 With [release 2.7.1](https://github.com/OneSignal/OneSignal-Cordova-SDK/releases/tag/2.4.1) we are now aligning versions of firebase, google play services, and the android support library by scanning all project dependency. So I believe this should fix this issue. If you are still seeing an issue with OneSignal + Intercom let us know and we can reopen this issue.

[2018-05-24 00:55] #342 closed

[2018-05-24 00:57] jkasten2 commented on #370
@shajeeck @pedrohills @ecomunicarte This is now fixed the [release 2.4.1](https://github.com/OneSignal/OneSignal-Cordova-SDK/releases/tag/2.4.1).

[2018-05-24 00:57] #370 closed

[2018-05-24 00:59] jkasten2 commented on #289
Closing due to inactivity, please try the above and provide more details and we can reopen this issue.

[2018-05-24 00:59] #289 closed

[2018-05-24 03:59] Jeyakumarrathnaselvi commented on #357
Freshchat team suggest us to use onesignal sdk or freshchat notification sdk.

As per them we can handle freshchat notification using below steps in onessignal sdk as mentioned below

UpdateNotification on registration Token:
window.Freshchat.updatePushNotificationToken(data.registrationId);

HandlePushNotification on receive notification :

window.Freshchat.isFreshchatPushNotification(data, funct

[2018-05-24 05:17] Jeyakumarrathnaselvi opened #374 "Freshchat notification handling with onesginal sdk"
We are getting duplicate notification If we use onesignal and freshchat sdk so

Freshchat team suggest us to use onesignal sdk or freshchat notification sdk.

As per them we can handle freshchat notification using below steps in onessignal sdk as mentioned below

UpdateNotification on registration Token:
[code]

HandlePushNotification on receive notification :
[code]

Need your support where to ad

[2018-05-24 19:01] Nightsd01 commented on #373
Closing due to lack of response, I am assuming 2.4.0 fixes the issue. If not please feel free to let me know and we'll be happy to reopen + investigate the issue.

[2018-05-24 19:01] #373 closed

[2018-05-24 21:43] efbi opened #375 "BUILD FAILED Phonegap build"
Hi, since two days I can't build my apk on Phonegap Build cause of the plugin (I disable it and it works). I have this message :

[code]

Thanks

[2018-05-24 23:01] jkasten2 commented on #375
@efbi Can you try updating to the latest cordova-cli version in your `config.xml` as well as update OneSignal in this file to 2.4.1?

If you continue to see issues please share your `config.xml` file.

[2018-05-24 23:16] jkasten2 commented on #374
@Jeyakumarrathnaselvi OneSignal filters notifications from other sources automatically, so a notification from freshchat's server will never be displayed by the OneSignal SDK. However it sounds like notifications sent from OneSignal are bing displayed by the FreshChat SDK as it is not filter them. I would recommend to FreshChat they filter other notifications not sent by them to avoid this issue.

[2018-05-25 05:51] anurag0707 commented on #259
Hi,
     did anybody find solution for this issue

[2018-05-25 11:37] NiiVAN commented on #300
Hello, having problems with the onesignal build plugin whenever i try to build my app through PGB. Can someone help please

[2018-05-25 12:09] efbi commented on #375
Hi, thanks for your answer. I already try to update it but still the issue :

Here's the config.xml :

[code]

[2018-05-25 13:04] DnEgorWeb commented on #375
I have the same problem, it appeared just today. Updating to newer version didn`t help me too.

[2018-05-25 17:50] jkasten2 commented on #375
@efbi @DnEgorWeb Can you try updating your `phonegap-version` to `cli-8.0.0` in your `config.xml`?
[code]

[2018-05-25 20:14] efbi commented on #375
Well, I updated to the 8.0 and disable all plugins and keep onesignal and I have this :

Error - The following plugin, plugin version or a dependancy of this plugin is not on npm: onesignal-cordova-plugin@~2.4.1

I'm confused

[2018-05-25 23:32] jkasten2 commented on #300
@NiiVAN There is a PGB build error here for Android, issue #375. If it is a different error / issue then I recommend creating an new ticket.

[2018-05-25 23:35] jkasten2 commented on #349
The icon used for the group of notifications will be the default notification icon for your app. If you don't see a default icon this will be the bell icon.

You can set your default icon by following this guide.
https://documentation.onesignal.com/docs#section-1-generate-icons

[2018-05-26 02:42] jkasten2 commented on #375
@efbi ` onesignal-cordova-plugin@~2.4.1`? That is odd I seen you had `^2.4.1` in your `config.xml` before.
[code]

Can you just double check this? I wasn't able to reproduce this the font error after switching to `cli-8.0.0` on PGB. We are still looking into the issue on why older versions are not compatible since we don't want to force everyone to update if to this cordova version if they don't h

[2018-05-26 07:56] NiiVAN commented on #375
Hi @jkasten2 tried everything you suggested and non works for me. The build log changed to this though when i changed the cli version to 8.0.0.
--------------------------------------------------------------------------------
PREPARE OUTPUT
--------------------------------------------------------------------------------
Android Studio project detected
Generating platform-specific config.xml from de

[2018-05-26 12:51] lilian131 commented on #196
where is this initializeApp function please ?

[2018-05-27 01:26] Avislux commented on #196
It's in app.component.ts .

[2018-05-27 11:52] lilian131 commented on #196
Thank you @Avislux I have got the same problem and my Code looks like the same
[code]

[2018-05-28 01:54] reinaldolabreu commented on #375
Hi, I'm having same problem. Any solution?

[2018-05-28 07:11] akuljana commented on #349
@jkasten2 could you please check that link, there is nothing about icons on that page.

[2018-05-28 10:07] goldentreebb commented on #375
I am having the same problem, tried with all the  above solutions

[2018-05-28 10:14] efbi commented on #375
Try all but still the same issue..

[2018-05-28 11:14] DnEgorWeb commented on #375
Guys, try to replace your "^" in <plugin name="onesignal-cordova-plugin" spec="^2.3.3" /> to <plugin name="onesignal-cordova-plugin" spec="2.3.3" />. It worked for me.

[2018-05-28 12:20] goldentreebb commented on #375
BUILD FAILED

Total time: 1.804 secs
Command finished with error code 1: /project/gradlew cdvBuildDebug,-b,/project/build.gradle,-Dorg.gradle.daemon=true,-Dorg.gradle.jvmargs=-Xmx2048m,-Pandroid.useDeprecatedNdk=true
Error: /project/gradlew: Command failed with exit code 1 Error output:
Note: Some input files use or override a deprecated API.
Note: Recompile with -Xlint:deprecation for details.
No

[2018-05-28 13:09] DnEgorWeb commented on #375
@goldentreebb sure, here it is
`<?xml version='1.0' encoding='utf-8'?>
<widget id="test" version="1.0.41" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Test name</name>
    <description>
        Hello World sample application that responds to the deviceready event.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">

[2018-05-28 13:19] DnEgorWeb commented on #375
@goldentreebb
`<?xml version='1.0' encoding='utf-8'?>`
`<widget id="com.masterapp_test_version" ios-CFBundleIdentifier="q4u.f4m.tc.quiz4you" version="1.0.41" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">`
`<name>Quizdom Win</name>`
`<description>Hello World`</description>
`<author email="support@phonegap.com" href="http://phonegap.com">Author</author>`
`<content src=

[2018-05-28 19:42] NiiVAN commented on #375
guys @DnEgorWeb's method worked for me.. now my build was successful. Thanks @DnEgorWeb

[2018-05-28 22:34] efbi commented on #375
Works for me too with the @DnEgorWeb answer
I stay back to phonegap 7.0.1 version  Thanks dude

[2018-05-29 17:24] hamdanihamza opened #376 "One signal haven't detected any subscribed users yet for this platform."
On android, I added One Signal plugin on my app and i added this code on the platform.ready section

[code]
as i launch the app it shows a bunch of alerts sending requests to onesignal and the app suddenly closes and onesignal doesn’t detect any subscribers.

[2018-05-29 17:38] jkasten2 commented on #349
@akuljana Sorry about that, fix the link in my comment above

[2018-05-29 17:40] jkasten2 commented on #376
@hamdanihamza Please follow this guide to get the logcat from the device to find the specific reason why your app crashed.
https://documentation.onesignal.com/docs/troubleshooting-android#section-how-to-get-a-crash-or-error-log-from-an-android-device

[2018-05-29 18:30] hamdanihamza commented on #376
@jkasten2 When i open the app, 2 alerts show one saying " making request to : https://onesignal.com/api/v1/apps/My_ID/android_params.js ", and the other saying " OneSignalRestClient: successfully finished request to:... " and the it closes.
and these are the last messages on the log

[code]

[2018-05-30 04:29] goldentreebb commented on #375
Works fine for me with  @DnEgorWeb answer

[2018-05-30 04:29] goldentreebb commented on #375
Thankyou  @DnEgorWeb

[2018-05-31 04:30] Jeyakumarrathnaselvi commented on #374
I have added **window.Freshchat.handlePushNotification** part of Freshchat sdk but it is creating duplicate notification whenever onesignal portal sent notification.

I would like to know if we can add **window.Freshchat.handlePushNotification** it in onesginal sdk so it can handle freshchat notification as well?

Can you help me where to add it part of onesignal code?

[2018-05-31 15:07] NiiVAN commented on #375
build currently fails with @DnEgorWeb's method. is anyone currently facing this issue once again?

[2018-05-31 23:47] ang3lx commented on #375
same problem here with ionic and 2.4.1, i've downgraded to @2.4.0

[2018-06-01 02:21] jkasten2 commented on #374
@Jeyakumarrathnaselvi Just to confirm, the issue of duplicate notifications only started occurring when adding `window.Freshchat.handlePushNotification`? If so please print out `data` as json and we can recommend on how to filter it.

For your 2nd question, OneSignal will already correctly omit processing Freshchat notifications. No changes for this case are needed.

[2018-06-01 02:29] jkasten2 commented on #376
@hamdanihamza This thread warning is ok, cordova is just warning on a very small startup delay of your app. If your app is closing after calling `endinit()` then there will be an exception thrown to the logcat. It should look something like this.

[code]

[2018-06-01 05:01] sumeetk92 commented on #309
Can we hide badge from manifest?

[2018-06-01 15:18] ragavanrandy opened #377 "Build failed "ionic cordova build""
**Description:**

Hi, I can't build my apk using "Ionic cordova build --release android".

**Environment**

@ionic/cli-utils  : 1.19.2
    ionic (Ionic CLI) : 3.20.0

global packages:

    cordova (Cordova CLI) : 7.1.0

local packages:

    @ionic/app-scripts : 2.1.4
    Cordova Platforms  : android 7.0.0
    Ionic Framework    : ionic-angular 3.9.2

System:

    Android SDK Tools : 26.1.1
    Nod

[2018-06-01 15:28] hamdanihamza commented on #376
When i comment the `endInit()` line the app doesn't crash.

[2018-06-02 05:14] ragavanrandy commented on #377
downgrade onesignal-cordova-plugin - 2.4.1 to 2.4.0 resolve my problem.

[2018-06-02 05:14] #377 closed

[2018-06-02 18:11] spinninghamster opened #378 "Instant crash with cordova-plugin-googlemaps ..."
**Description:**

I was previously using the latest cordova-plugin-googlemaps with the latest OneSignal-Cordova-SDK and everything was fine. The last build I created was about 1 month ago. I am using PhoneGap Build.

Now, I compiled again with the exactly same code, no changes and the app immediately crashes on 2 different Android devices (all that I have for testing).

If I remove either OneSigna

[2018-06-03 07:18] spinninghamster commented on #378
I can confirm with 2.4.0 it works. But with 2.4.1 it crashes.

[2018-06-04 02:54] Nightsd01 commented on #376
Closing this issue - unless you can provide some type of stacktrace from this crash it’s impossible to help you. Please post the stacktrace and we’ll be happy to help and reopen the issue.

[2018-06-04 05:14] zawavie commented on #378
I had the same problem , There is some problem with the new version of the plugin , fixed by removing the new version  2.4.1  , and installing the 2.4.0 one
1 - cordova plugin remove onesignal-cordova-plugin
2 - ionic cordova plugin add onesignal-cordova-plugin@2.4.0

Hope this answer find you !
Thanks @spinninghamster For the help

[2018-06-04 09:23] spinninghamster commented on #378
Yep, that's what I did. But this needs to be fixed in future versions otherwise we will be stuck with 2.4.0 forever...

[2018-06-04 10:52] spinninghamster opened #379 "Do I need to call both setRequiresUserPrivacyConsent and provideUserConsent?"
Starting 2.4.0 it says:

_• Adds new methods for Android and iOS that allow developers to require user consent before the SDK is fully initialized.
• Developers can call OneSignal.setRequiresUserPrivacyConsent(true) to require a user's consent before the SDK collects any information.
• Until this point, any calls to the SDK are ignored. Once OneSignal.provideUserConsent(true) is called, the SDK wi

[2018-06-04 21:10] hamdanihamza commented on #376
[onesignal_crash_logcat.txt](https://github.com/OneSignal/OneSignal-Cordova-SDK/files/2069986/onesignal_crash_logcat.txt)
I think this could be helpful

[2018-06-06 01:16] jkasten2 commented on #377
@ragavanrandy Can you make sure nothing on your system or network is blocking your connection on downloading this file?
https://plugins.gradle.org/m2/gradle/plugin/com/onesignal/onesignal-gradle-plugin/maven-metadata.xml
Your log is reporting a 403 error from your system.

[2018-06-06 01:38] jkasten2 commented on #376
@hamdanihamza Can you make sure you are using the latest Cordova SDK version 2.4.1 in your project? In this version we fixed an issue OneSignal when using Firebase Auth.

[2018-06-06 19:21] Alacon commented on #369
Hi

You are listening to the correct event but with invalid data...
Instead of
this.oneSignal.handleNotificationOpened().subscribe(data => this.onPushOpened(**data.notification.payload**));

You should use
this.oneSignal.handleNotificationOpened().subscribe(data => this.onPushOpened(**data**));

`
this.oneSignal.handleNotificationOpened().subscribe((result: OSNotificationOpenedResult) => {
      c

[2018-06-07 06:59] jkasten2 commented on #375
This issue is now fixed for those who are using `phonegap-version` to `cli-8.0.0`. This is due to an updated released version [0.10.2 of the OneSignal-Gradle-Plugin](https://github.com/OneSignal/OneSignal-Gradle-Plugin/releases/tag/0.10.2) which version 2.4.1 of the OneSignal Cordova SDK will automatically used.

If you are still seeing the `ERROR: In <declare-styleable> FontFamilyFont, unable to

[2018-06-07 06:59] #375 closed

[2018-06-07 07:54] romangorisek commented on #378
I have the same problem and going to version 2.4.0 did fix it. Thanks @spinninghamster for the help. I hope they fix the problem soon.

[2018-06-07 08:08] JEricaM commented on #369
Thank you so much

If I understood correctly, the function
[code]
Should go instead of my private onPushOpened(payload: OSNotificationPayload) ?
[code]

[2018-06-07 08:30] Alacon commented on #369
You can change your function to receive parameter of type OSNotificationOpenedResult
And instead of onPushOpened(data.notification.payload)
You add data as parameter.

OSNotificationPayload does not contain action data so you will need the root object which is of type
OSNotificationOpenedResult

[2018-06-07 23:06] jkasten2 commented on #378
@spinninghamster `android-targetSdkVersion 23` is quite old. What is your `compileSdkVersion`, cordova , and cordova-android versions?

[2018-06-09 00:26] mino922 opened #380 "Android Error During Build: Could not find firebase-messaging.jar (com.google.firebase:firebase-messaging:15.0.2)."
**Description:**
When building ionic Android app I received the following error...
[code]

When I remove this plugin I can successfully build the app. The URL above does not exist and I assume this plugin is trying to download that binary.

**Environment**
`
cli packages: (/usr/local/lib/node_modules)

    @ionic/cli-utils  : 1.19.2
    ionic (Ionic CLI) : 3.20.0

global packages:

    cordova (Co

[2018-06-09 01:49] Nightsd01 commented on #374
Its been a week with no response so we’re assuming you fixed the issue, please feel free to reply to jkasten’s message if you’re still having this problem and we’ll reopen & investigate

[2018-06-09 01:49] #374 closed

[2018-06-10 05:58] jkasten2 commented on #380
@mino922 `15.0.2` isn't a valid version for `com.google.firebase:firebase-messaging`. I think `cordova-android-play-services-gradle-release` might be trying to pick this version.

I recommend removing both `cordova-android-play-services-gradle-release` and `cordova-android-support-gradle-release` from your project. As of `onesignal-cordova-plugin@2.4.1` the plugin will already do alignment of depe

[2018-06-10 16:42] hamdanihamza commented on #376
Yes i do have the latest version installed ...

[2018-06-11 01:44] mino922 commented on #380
@jkasten2 I removed both `cordova-android-play-services-gradle-release` and `cordova-android-support-gradle-release`, but I am still having the same issue.

Below are my installed plugins after removing the plugins mentioned above. Any ideas?

[code]

[2018-06-11 17:33] jkasten2 commented on #376
@hamdanihamza I see the following in your logcat which looked to be similar error in an older SDK version note here https://github.com/OneSignal/OneSignal-Android-SDK/pull/530
[code]

However I also seen the following in your logcat which looks to be the result of this open issue https://github.com/OneSignal/OneSignal-Android-SDK/issues/552
[code]

We will update this issue once it issue above has

[2018-06-12 04:18] mino922 commented on #380
@jkasten2  I'm still seeing this issue, but not really sure what to do next. Any other recommendations?

[2018-06-12 07:27] jkasten2 commented on #380
@mino922 I recommend creating a new project and make sure OneSignal works there. Then add a few plugins at a time to the new project. Add and remove them until you can find the conflicting plugin. This will help us find the root of the issue quicker for you.

[2018-06-12 08:15] ruben06 commented on #228
@latifurrofik thanks for your help, this exactly what I did but it dosen't work...
I can show woth the console.log the playerID but I am unable to store it .
when I try : console.log(this.storage.get('playersID', ids.userId)) to test if the playerID is correctly storred, it's blank...

Any idea?

[2018-06-12 11:30] shrutikateiosys opened #381 "Uncaught (in promise): TypeError: Cannot read property 'userId' of undefined"
**Description:**
I am getting error of one signal 'userId of undefined' in android app. when i run app in browser it does'nt show cordova error i.e. cordova not installed or cordova is not available.

  1. Added the onesignal-cordova-plugin to project
  2. Initialized the plugin with app id using OneSignal.startInit() method.
  3. Attempted to receive a user id using OneSignal.getIds() method.

bu

[2018-06-13 02:56] mino922 commented on #380
@jkasten2  It looks to be an issue with cordova-plugin-googlemaps. When I remove this plugin or googlemaps things seem to work okay.

My app requires use of the google maps plugin. Any ideas on how to get these to play nicely together?

[2018-06-13 03:51] mino922 commented on #380
I was able to get the plugins to work together by installing 2.4.0 of this plugin and adding the following changes in plugins/onesignal-cordova-plugin/build-extras-onesignal.gradle

[code]

Is it possible to run the latest version of this plugin without this issue?

[2018-06-14 08:08] pcliga opened #382 "FAILURE: Build failed with an exception."
**Description:**

Hi, since last friday 8th (six days ago) I can't build my Ionic Project due to an error with OneSignal Plugin, it works perfect until June 7th, but breaks with no changes.

If I remove OneSignal Plugin and references/code to it in my project, it builds perfectly, but if I reinstall it, it fails again.

The error that I received is attached at the end of the issue description:

**

[2018-06-14 08:12] pcliga commented on #382
[code]

[2018-06-14 08:43] pcliga commented on #382
[code]

[2018-06-14 09:38] pcliga commented on #382
It seems that solved it **adding google() to repositories in build.graddle** file:

[code]

[2018-06-14 09:40] pcliga commented on #382
Why something that works perfectly without google repositories en graddle, need it now?

It's something usual in ionic projects? That's not good news for my clients' software, if it can stop working one day without code changes due to third part libraries.

Thanks for your answers.

[2018-06-14 19:51] kenef commented on #257
I don't think this is closed. @jkasten2 this issue is related to handleNotificationReceived, not handleNotificationOpened. The issue is handling notifications in the app in the event the user does not click on the actual notification. @eugeniobac I have faith in the method you provided as how you solved the problem for yourself, but could you be a little more specific? I'm trying to achieve the ex

[2018-06-15 10:36] eugeniobac commented on #257
@kenef Hey, I resolved in another way. My problem was similar than yours. I had to count some badges. I ended up creating a notifications table in my data base and when the user opens the notification tab, I mark all notifications as read. This way I know how many notification is actually unread. That's how I managed it.

[2018-06-16 07:52] jkasten2 commented on #380
@mino922 Thanks for the details. I assumed before that `15.0.2` wasn't a valid version for `com.google.firebase:firebase-messaging` as the following url did not work.
https://jcenter.bintray.com/com/google/firebase/firebase-messaging/15.0.2/firebase-messaging-15.0.2.jar

However after some digging this seems to be an issue where a number of Google libraries are no longer being hosted on jcenter. T

[2018-06-16 07:52] #380 closed

[2018-06-16 07:55] jkasten2 commented on #382
@pcliga It seems some of Android's libraries on jcenter have gone missing. Your solution is the same that has been discovered by others.
https://github.com/OneSignal/OneSignal-Cordova-SDK/issues/380#issuecomment-397795231

[2018-06-16 07:55] #382 closed

[2018-06-17 04:50] Nightsd01 commented on #378
Closing due to no response, I was unable to reproduce this issue. If you (or anyone else) is still encountering this problem, please reply and post the details @jkasten2 asked for, and we’ll reopen + investigate the issue.

[2018-06-18 06:17] #339 closed

[2018-06-19 10:02] gisngocthach opened #383 "The handleNotificationReceived is not fired when app is closed"
As I understand, this is the default behavior for the notification feature. My concern is how we could do similar Gmail that even is closed BUT the badge is still increased. Thanks in advance!

[2018-06-19 17:51] jkasten2 commented on #383
@gisngocthach Thanks for the suggestion. Are you referring to Android or iOS in this case?

**Android:**
Badge values are set automatically be the OneSignal SDK, based on the number of notifications in the shade.
https://documentation.onesignal.com/docs/appearance#section-setting-and-clearing-badge-numbers

**iOS:**
These badges can be set to an exact value or can use increase to increment the val

[2018-06-20 02:58] gisngocthach commented on #383
@jkasten2 Thank you so much! It is very useful.

[2018-06-20 08:10] gisngocthach commented on #383
As I understand, we could set the badge number for ios by using `ios_badgeType and ios_badgeCount`. I am looking for a way to do the same thing on Android. Someone said that we could put the badge number in the data object in the payload and using ShortcutBadger to set the badge manually. However, like what I said above the handleNotificationReceived event is not fired.

[2018-06-21 08:27] nguyentien1995 opened #384 "Delete playerId in database when uninstall app or clear cache."
Hey there, i don't really know if this issue have been ask before as i really don't find suitable word to search, so if it have been asked before, please give me some refer.

This is my logic:
1. Customer login in app.
2. I save playerId to database so that i can send push notify to specific people at event "A".
3. When customer logout, i delete playerId in database so that i do not send push to t

[2018-06-21 21:56] jkasten2 commented on #384
@nguyentien1995 When a user logs out you can call [`window.plugins.OneSignal.setSubscription(false);`](https://documentation.onesignal.com/docs/cordova-sdk#section--setsubscription-) to unsubscribe the device. Make sure to call `window.plugins.OneSignal.setSubscription(true);` when a user logs in if you do this.

If someone uninstalls the app then Apple / Google will report back that the device is

[2018-06-22 01:58] nguyentien1995 commented on #384
Oh, i can deal with user logout by press the logout button, the problem is that they don't press logout button, they just go straight to storage in phone and choose clear cache data.
Then they will be forced logout as no token, no variable show that they have been login. If they login back immediately after then its all good, but if they do not login back for a while (maybe they are forgeting abou

[2018-06-22 02:12] jkasten2 commented on #384
@nguyentien1995 If the user goes to Settings > Apps > and presses "CLEAR DATA"  on Android then they will be considered unsubscribed by Google. Same goes when they uninstalled the app on either Android or iOS. The next time a notification it won't be displayed on the device. Google or Apple will report back to OneSignal the device is no longer subscribed and they will be marked as such on OneSigna

[2018-06-22 03:36] nguyentien1995 commented on #384
Ok, thank you for clarify what happend when people "clear data".
i have though that they still subcribe when they clear data.

For whoever come later and meet the same problem to me, you may also encounter situation that they clear data, then login to another acocunt.
Then Account2 will receive notify about event "A" too, which should only send to Account1, because they subscribe again with the sa

[2018-06-22 03:36] #384 closed

[2018-06-22 07:10] gisngocthach commented on #383
Never mind I found a solution for that :-)

[2018-06-22 07:10] #383 closed

[2018-06-22 17:49] LaloCastilla opened #385 "OneSignal-Cordova Plugin doesnt work anymore in any ionic project."
**Description:**
we are working on a project of a hybrid app development using ionic framework. We have a few months working with onesignal since we integrated it to our app, This Wednesday onesignal plugin started to crash our app, we cant compile it since then, we have try everything, different computers,brand new apps. but the error is the same. i have see on the internet that some people start

[2018-06-22 18:41] jkasten2 commented on #385
@LaloCastilla Could you provide some additional details your setup and the exact issue you are facing?
Please provide details steps on reproducing the issue and a full description of the issue as well.

[2018-06-22 20:27] LaloCastilla commented on #385
jKasten2 im sorry, i posted the issue before i specify the details. Now it is updated.

[2018-06-22 21:02] ulgens commented on #203
@jkasten2 That example doesn't work.

[2018-06-22 23:36] hamdanihamza commented on #376
Thanks a lot @jkasten2 i fixed everything its working smoothly now sorry for the trouble !

[2018-06-23 17:05] MoxDesigner commented on #341
hello stefano-rainieri can you please direct me where I find the hooks folder to create the file copy_android_notification_icons.js ?? or where I have to create it, I will get you very much...

[2018-06-23 17:23] stefano-rainieri commented on #341
@MoxDesigner the _hooks_ folder is under the root of your project. If you don't have the folder yet, create it under the root. Consider to use it for every kind of hook .js you have to write.

[2018-06-25 20:41] PriceFallin opened #386 "iOS Distribution/AdHoc Build Unresponsive"
**Description:**
I've added this to my Ionic V1 app and I am able to run it just as expected on the development build when using the 'Run' command in Xcode with a 'Debug' build configuration.

When I export the app in an IPA file, the plugin does not fire at all. If I update the app with the 'Run' command and set the build configuration to 'Release' the plugin works as expected, but if I delete th

[2018-06-26 04:48] PriceFallin commented on #386
My issue was caused by a never returning promise that occurred only after logging in.

I guess the right answer isn't always as complex as it may seem.

[2018-06-26 04:48] #386 closed

[2018-06-27 11:45] keysiduven commented on #376
@jkasten2 How did you fix this?

[2018-06-27 18:04] Nightsd01 commented on #385
@LaloCastilla Did switching the positions of those repos fix your issue?

[2018-06-27 18:31] LaloCastilla commented on #385
i solved this issue by upgrading by upgrading andorid platform to 8.0 and by modifying the gradle.build like this:

`buildscript {
    repositories {
        google()
        jcenter()
        maven {
            url "https://maven.google.com"
        }
    }
    dependencies {

        // NOTE: Do not place your application dependencies here; they belong
        // in the individual module build.

[2018-06-27 19:21] drubetti commented on #385
I am using platform cordova-android 6.4 with Cordova 8.

My Gradle version is 4.8.1. I tried @LaloCastilla's  fix and it works too, I think that the key to solving the issue is to provide some valid repository before jcenter.

[2018-06-27 23:53] jkasten2 commented on #376
@keysiduven The crash with `com.google.firebase.iid.FirebaseInstanceIdService` has not been fixed yet. However this is a work around noted below if this is your exact issue.
https://github.com/OneSignal/OneSignal-Android-SDK/issues/552#issuecomment-391973732

[2018-06-27 23:56] jkasten2 commented on #385
The build.gradle is being generated by Cordova so the order will need to be fixed in on their. Let me know if I am mistaken and I can take another look.

[2018-06-27 23:56] #385 closed

[2018-06-28 09:55] sibaquest opened #387 "Stop resetting badge count to Zero on opening app in android."
Hello ,
As per my requirement i want to stop resetting my notification count to zero on opening an app.again we are using this in hybrid application(Ionic).I came across two things in client side:
1. OneSignalPush.Java
some code i found like this.
[code]
i could not understand much as i am .net Developer.

2.OneSignal.js
[code]

Currently am using OneSignal-cordova-plugin. Version:2.4.1

Now i nee

[2018-06-28 12:44] hamdanihamza commented on #376
i uninstalled the plugin and followed a detailed tutorial, apparently the google service file wasn't placed on the right path.

[2018-06-28 18:00] jkasten2 commented on #387
@sibaquest If you call `window.plugins.OneSignal.clearOneSignalNotifications();` in your app this will clear all notifications and badges. The OneSignal SDK sets the badge value to the number of notifications in the shade on Android. So the badge value is always cleared when all notifications are removed.

This call you linked to isn't run automatically, only if you call it from your `.js` file

[2018-06-28 18:02] jkasten2 commented on #376
@hamdanihamza Could you provide more details? It might help others who run into this.

[2018-06-29 05:54] sibaquest commented on #387
@jkasten2  Thank you for your reply. I have verified about what you have said.notifications are not removed untill i call the window.plugins.OneSignal.clearOneSignalNotifications() but the the number of notification count gets reset to zero once i open the app.outside the app i could see the notification exists but the badge count over the app is reset to zero.

For example:  I send two notificati

[2018-06-29 07:16] jkasten2 commented on #387
@sibaquest That is odd, there are two things I can think of that would clear the badge when opening the app; 1. Another plugin in the app; 2. The behavior of the Android Launcher you are using. To test the 1. I recommend creating a new Cordova project to see if the issue still happens on your device.

The badge value should decrease for each notification you open or swipe away. Does the badge come

[2018-06-29 08:20] sibaquest commented on #387
@jkasten2  You are ryt.i was using Third party plugin called Cordova-Plugin-Badge for handling Badge count inside the app.unfortunately that was resetting to Zero. Now i need to search any other plugin to **handle app badge count inside the app**.If possible can you recommend any plugin that is fully compatible with OneSignal to fulfill my requirement(handle app badge count inside the app).

 _**T

[2018-06-29 13:41] selected-pixel-jameson opened #388 "Ionic & Latest OneSignal-Cordova SDK don't work together."
**Description:**
When I try to run `ionic cordova run android --device` in Ionic app with the latest OneSignal SDK I get the following error and the app fails to launch. When I downgraded to 2.4.0 it works fine.

`'Please put onesignal-gradle-plugin first OR update to com.android.tools.build:gradle:3.0.0 or newer!`

**Environment**
1. Running the latest versions
2.
[code]

**Steps to Reproduce Iss

[2018-06-29 18:12] fatsjohonimahnn commented on #388
Please double check that you are using Cordova 8.0.0 or newer.

Also update to the onesignal-cordova-plugin 2.4.1 by removing the plugin and adding it back:

`ionic cordova plugin remove onesignal-cordova-plugin`
`ionic cordova plugin add onesignal-cordova-plugin`

Please share the config.xml and crash log after checking these.

[2018-06-29 20:46] jkasten2 commented on #387
@sibaquest Sorry I haven't tried any Cordova plugins for setting badge values so can't make any recommendations.

If you want to disable OneSignal's automatic badge logic you can do so with the following:
https://documentation.onesignal.com/docs/android-native-sdk#section-disable-badges

[2018-06-29 20:46] #387 closed

[2018-06-30 08:40] BunnyUmar opened #389 "Repeat Notification in IOS"
**Description:**

(your description here)

**Environment**

cordova-plugin-badge 0.8.7 "Badge"
cordova-plugin-device 2.0.2 "Device"
cordova-plugin-ionic-keyboard 2.0.5 "cordova-plugin-ionic-keyboard"
cordova-plugin-ionic-webview 1.1.19 "cordova-plugin-ionic-webview"
cordova-plugin-local-notification 0.9.0-beta.2 "LocalNotification"
cordova-plugin-nativestorage 2.3.1 "NativeStorage"
cordova-plugin-

[2018-06-30 08:40] #389 closed

[2018-07-01 09:45] kingkarki opened #390 "Android app not building"
**Description:**

I added this plugin on my existing Ionic project. When i run Cordova build Android I get following error.
(your description here)

**Environment**

Cordova plugin list
[code]
I am using latest version of this plugin. My cordova android version is 7.1.0.
My Cordova version is 8.

**Steps to Reproduce Issue:**

1. (your steps here)
2.
3.

**Anything else:**
My error log
[code]
My p

[2018-07-01 17:58] jkasten2 commented on #300
@martinlewas We recommend Cordova CLI version 8.0 and Cordova Android 7.1 for OneSignal 3.7.1 but it should work with older versions of Cordova still. See this comment for more details.
https://github.com/OneSignal/OneSignal-Cordova-SDK/issues/375#issuecomment-395314351

If you continue to see an issue I recommend opening a new issue with as much detail as possible on the error your seeing and the

[2018-07-02 10:44] devartstudio commented on #332
Hi, I have same issue, on real device:
Huawei p8 android 5.0.1 badge is ok.
LG android 5.5.1 badge doesn't show
Nexus android 7 badge doesn't show

my ionic info:
`cli packages: (/usr/local/lib/node_modules)

    @ionic/cli-utils  : 1.19.2
    ionic (Ionic CLI) : 3.20.0

global packages:

    cordova (Cordova CLI) : 8.0.0

local packages:

    @ionic/app-scripts : 3.1.8
    Cordova Platforms  : an

[2018-07-02 14:54] atorgfr commented on #390
If you change platforms/android/onesignal-cordova-plugin/monpetitpronoapp-build-extras-onesignal.gradle

to
[code]

I don't knwo why they changed this file but it was the problem for me.

[2018-07-02 15:15] atorgfr commented on #388
@fatsjohonimahnn hi i think it's a problem with the change on build-extras-onesignal.gradle file.

[2018-07-02 18:18] jkasten2 commented on #388
@selected-pixel-jameson The `onesignal-gradle-plugin` message is only a warning as it might not be able to correctly align dependencies with other plugins. In addition to updating to Cordova CLI 8.0.0 it is recommend to update the Cordova Android Platform to 7.0.0 or newer.
[code]

Please include the full runtime error if the above does not fix your issue.

[2018-07-02 20:50] jkasten2 commented on #332
@ecomunicarte LG devices should be supported, are you using the default Android Launcher? Or did you install a 3rd party one?

Badges were not an official feature until Android Oreo 8.0 and they are called notification dots. The launcher still has to support it though even on Android 8. Example the default Google Launcher does not however the Pixel launcher does.

The only way to see badges on Nex

[2018-07-02 20:50] #332 closed

[2018-07-03 07:50] kingkarki commented on #390
Thank you so much @atorgfr It worked with your gradle.

[2018-07-04 07:30] princenishchal commented on #390
Hey, I created a new Ionic App which uses the "sample" template. Did not add any additional code to the project. It compiles without any errors when I use android@7.0.0 as well as android@7.1.0.

[2018-07-04 08:39] princenishchal commented on #390
@atorgfr , when I use your gradle file I am getting the following error
[code]
I just copy pasted your entire contents and replaced the values in my gradle file of "onesignal plugin"
Any help/suggestions will be deeply appreciated

[2018-07-04 08:43] princenishchal commented on #388
I am having the same issue with Latest Ionic and OneSignal. In fact a few other projects that we have used Onesignal when recompiled with the latest OneSignal plugin are giving the same errors.

I created an empty "tabs" Ionic project, no additional code just added latest OneSignal Plugin and can reproduce the above error.

Please somebody help fixing this error!

[2018-07-04 09:18] princenishchal commented on #390
Hey, I found one way that worked. It is same as what @atorgfr has suggested.

Steps:
1. Remove the existing onesignal plugin
2. Add a previous version of the plugin, in my case I added `ionic cordova add plugin onesignal-cordova-plugin@2.3.0`
3. Copied the gradle file from the location `platforms/android/onesignal-cordova-plugin` to a temporary location

[2018-07-04 09:23] princenishchal commented on #388
Hey, I found one way that worked. It is same as what @atorgfr has suggested.

Steps:

Remove the existing onesignal plugin
Add a previous version of the plugin, in my case I added ionic cordova add plugin onesignal-cordova-plugin@2.3.0
Copied the gradle file from the location platforms/android/onesignal-cordova-plugin to a temporary location
After copying this file, I removed this plugin and added

[2018-07-04 12:59] saitguzel commented on #289
I have this same problem. Is there any solution ?

[2018-07-04 20:01] drubetti commented on #388
@princenishchal

There's a simpler way, and no need to downgrade: https://github.com/OneSignal/OneSignal-Cordova-SDK/issues/385

[2018-07-06 18:59] techClick commented on #347
Please what language is this and how can I use the above code to get the user Id. Im a newbie with Onesignal please

[2018-07-06 21:41] LaloCastilla opened #391 "Notification categories question"
By reading the onesignal documentation i understand that there are two ways of creating notification categories:

1- From Onesignal Dashboard
2- By code (Dont know if its on the ionic app or inside the rest server).

Can anyone provide an example of how notification categories can be created by code?

Im using Nodejs rest server and Ionic platform. Any example from any programming language is welc

[2018-07-09 19:02] jkasten2 commented on #391
@LaloCastilla Is there any specific cases or features that [OneSignal's dashboard](https://documentation.onesignal.com/docs/android-notification-categories) does not cover for creating Android notification channels / categories?

The SDK does not have an API to create channels / categories from code within your app. However you can use Java native code to do this with Ionic / Cordova to do this.
h

[2018-07-10 11:24] syc-pad commented on #385
Ok but how do you solve the problem for iOS build ? :-/

[2018-07-10 18:21] drubetti commented on #385
@syc-pad
This issue only affects Android builds. iOS build works fine.

[2018-07-12 00:34] kennethwwu opened #392 "No Permission Request in android devices"
**Description:**
No Permission Request popup in android devices, the device is automatically subscribed the push notification

i found some information here https://documentation.onesignal.com/docs/permission-requests, but does't mention how the force the display Permission Request

**Environment**

8.0.0

cordova-plugin-advanced-http 1.11.1 "Advanced HTTP plugin"
cordova-plugin-app-version 0.1.9

[2018-07-12 17:18] hamdanihamza commented on #376
I'm sorry for replying so much late ...
First you have to download the google-services.json file. and put it in the `platforms/android/app` or `platforms/android` folder, then copy this line on the project/build.gradle
[code]
and this line on the project/app/build.gradle

[code]
updating the plugin and removing/adding the platform is preferable.

[2018-07-12 20:19] Neto-Pavanini opened #393 "Android 8.0.0 the notifications' custom sounds does not work"
*Description:*
Standard sound on android 8.0

Environment
Example:
1. What version of the Cordova SDK are you using?
 cordova -v
 8.0.0
2. Provide a list of your project dependencies (using `cordova plugin list` or copy-pasting your config.xml)
 $ cordova plugin list
cordova-appgroups-dates 1.0.0 "App Groups UserDefault"
cordova-plugin-app-version 0.1.9 "AppVersion"
cordova-plugin-console 1.1.0 "C

[2018-07-12 22:31] jkasten2 commented on #393
@Neto-Pavanini Android 8.0 now enforces Notification categories / channels to be used for sounds and a number of other features. This means you must setup a notification category first and then add it to the notification. See our guide below on setting up and using them;
https://documentation.onesignal.com/docs/android-notification-categories

[2018-07-12 22:31] #393 closed

[2018-07-13 07:43] Mahluleli-Goodson commented on #341
@stefano-rainieri thanks a lot, your method is the best solution, needs to be added to the official doc

[2018-07-13 22:37] ShuaiW commented on #257
Can confirm the latest OneSignal (2.4.1) doesn't work with ios 11+ when the app is not in foucs. @eugeniobac would you be able to share the code/logic how to cache the message and retrieve using `platform.resume`? Thanks

[2018-07-14 04:14] husseinelhussein commented on #378
Hello
im having the same exact issue except i couldn't resolve using version 2.4.0

**Logcat:**

`07-14 07:03:46.958  6712  6712 I appproc : Command=app_process /system/bin com.android.commands.am.Am start -W -a android.intent.action.MAIN -norg.imoh/.MainActivity
07-14 07:03:47.172  6723  6723 E AndroidRuntime: Process: org.imoh, PID: 6723
07-14 07:03:47.172  6723  6723 E AndroidRuntime: Caused by

[2018-07-14 04:57] husseinelhussein commented on #378
finally resolved it using version 2.3.3

[2018-07-14 19:29] yuvalyellin opened #394 "Badges aren't Increased as expected in Iphone"
**Description:**

Installed the ionic sample app, changing the application id and bundle id to correspond to my settings. when Sending notifications with badges / increase by 1 to iphone, the badge remains 1 (or any other constant number I give there)

**Environment**
  plugin name="cordova-plugin-console" spec="^1.0.5"
    plugin name="cordova-plugin-device" spec="^1.1.4"
   plugin name="cordova-

[2018-07-15 03:21] eugeniobac commented on #257
hey @ShuaiW ,

That's how I've done

`
//App reopened
    this.platform.resume.subscribe(() => {
      this.updateBadges();
    });

 updateBadges(){
    console.log("Updating badges Callback...");
    this.notificationsService.getBadges(this.userSession.getDeviceId()).then((result) => {
      let map = result.json();
      console.log("Badges: " + JSON.stringify(map));
      this.setBadges(map);

[2018-07-16 10:00] henryavila opened #395 "Can't save tags on iOS"
**Description:**

In my app, the user can change the site that he receive the news, for each site the app update a tag for the user.
In android, the tags on OneSignal are always changed, but in iOS it not changed. Some time the tag are saved in the first time, but after it, it's saved no more.

The debug show the message that the user was registered.

Even so, the tag is not saved.

**That's my En

[2018-07-16 17:54] Nightsd01 commented on #394
Hi @yuvalyellin,

To support badge increment logic, you would want to implement the notification service extension:

https://documentation.onesignal.com/docs/cordova-sdk-setup#section-ios-service-extensions

[2018-07-16 17:54] #394 closed

[2018-07-16 17:56] Nightsd01 commented on #395
@henryavila calling `sentTags()` before calling `endInit()` is not a good idea. Can you try moving the `sendTags()` statement below?

[2018-07-16 17:58] Nightsd01 commented on #392
@kennethwwu Android does not have a built in permission prompt for push notifications. If you want one, you would need to implement it yourself. You can do this by calling `OneSignal.setSubscription(false)` the very first time the user opens your app (or use tags to exclude them from your push notifications). Then you can show your prompt UI. If the user answers yes, you can respond appropriately.

[2018-07-16 17:58] #392 closed

[2018-07-16 17:58] Nightsd01 commented on #391
Closing due to no response. If you have more questions please feel free to respond and I'll be happy to reopen the issue

[2018-07-16 17:58] #391 closed

[2018-07-16 18:02] henryavila commented on #395
Hi @Nightsd01, Thanks for the tip. I will try this night and post here the result.

[2018-07-16 21:49] henryavila commented on #395
Hi @Nightsd01, I changed the sendTags() to after endInit(), but the problem persists.
The app change the tag 2 times, and in third time, I save no more.

The actual code is
`this.OneSignal.startInit(oneSignalAppId);`
`...`
`this.OneSignal.endInit();`
`setTimeout(() => {`
`this.OneSignal.sendTag(tagName, tagValue));`
`}, 3000);`

Any ideas?
Just to remember, when changing the site, before restart t

[2018-07-17 01:08] Nightsd01 commented on #395
@henryavila tags can take some time to synchronize. Are you waiting at least 20 seconds before checking to see if the tags were set?

Also, can you enable verbose logging with the `OneSignal.setLogLevel:` method and send me your logs when the problem occurs? In iOS it’s

[2018-07-17 09:32] henryavila commented on #395
Hi @Nightsd01, thanks for the reply.
Even a hours later, the tag is not updated in panel.

Here is the log on Xcode:
[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

An ideias?

[2018-07-19 08:38] TitikshaDaga commented on #297
I am facing the same issue and I am not bale to find file : \platforms\android\onesignal-cordova-plugin\poseidon-build-extras-onesignal.gradle
and in \platforms\android\onesignal-cordova-plugin\android-build-extras-onesignal.gradle I am not able to find the following lines of code :
def versionGroupAligns = [ // ### Google Play Services library 'com.google.android.gms': [ 'version': '11.8.+' ],

/

[2018-07-21 02:19] jkasten2 commented on #254
@pavlo Thanks for letting us know, just updated the link

[2018-07-23 18:44] Nightsd01 commented on #395
@henryavila I suspect that you are calling `getTags` very rapidly after calling `sendTags`, because from looking at your logs, it looks like the tags **are** being sent to the server.

Please be aware that in iOS, if you call `sendTags`, it initiates an HTTP request to update the server, but not immediately, it can take up to 5 seconds. If you call `getTags` afterwards, this request executes immed

[2018-07-26 07:17] rlyttle opened #396 "Ionic 3, iOS - inFocusDisplaying(OSDisplayType.None) is not working"
**Description:**

Despite setting oneSignal.inFocusDisplaying( OSDisplayType.None ) in my ionic 3 app, I'm still receiving menu bar notifications while the app is in focus. Tested on iOS.

My understanding is that calling this should prevent native iOS notifications from being presented while the app is in use, and that these should be handled by a mechanism within the app code.

I've tried callin

[2018-07-26 09:46] dfibuch commented on #355
Also came across this issue today, don't know why this has been closed as it clearly hasn't been addressed properly. The OneSignal documentation states

[code]

It doesn't say anything about "it will also be called in other instances where you don't expect it to be called". I am sending through a notification with `content_available=1` and no `contents` so no actual notification is shown but my `h

[2018-07-26 12:42] henryavila commented on #395
Hi @Nightsd01, thanks for the reply.
I found the problem when testing my app, So I was changing the tags "very rapidly".

But the problem isn't the tag displayed in the app, the problem is that the user in onesignal Dashboard update no more. Even if I wait one hour and change the tag in app and wait another one hour, in dashboard it will not update.

Anyway, I will remake all the tests waiting 5 m

[2018-07-26 16:45] husseinelhussein commented on #378
btw here is how you fix it:

1. install the latest version of google maps: `cordova-plugin-googlemaps@2.3.8`

2. make sure the file in `platforms/android/build.gradle` has this line:
`compile "com.google.android.gms:play-services-maps:15.0.1"`

3. install `onesignal-cordova-plugin@2.3.3`

4. change the gms version in `plugins/onesignal-cordova-plugin/build-extras-onesignal.gradle`
[code]
5. do the

[2018-07-26 23:49] christianekro commented on #395
I have the same problem @henryavila

check https://onesignal.com/api/v1/players/64604118-8bcd-491d-b860-6731790899d2 there are your players (with tag {"church":"demo.iasdvirtual.com.br"} ), maybe write your app_id is a bad idea but i hope it helps

[2018-07-27 07:07] guyman commented on #268
Any updates about that ?

[2018-07-27 07:08] guyman commented on #179
My plugins versions are:
onesignal-cordova-plugin 2.4.1 "OneSignal Push Notifications"
cordova-plugin-firebase-analytics 1.0.0 "FirebaseAnalyticsPlugin"

Platform:
android 7.1.0
Cordova 8.0.0

When sending a Push Notification via the OneSignal dashboard, apps crash with the following stacktraces:
java.lang.NoSuchMethodError:
at com.google.firebase.messaging.FirebaseMessagingService.zzb (Unknown So

[2018-07-27 09:12] rlyttle commented on #396
Removing the local-notifications ionic plugin seems to have resolved this issue.

Any comment on whether there's incompatibility between these two plugins? I may need to use both.

[2018-07-28 12:40] sai12346 commented on #315
this issue is existing for me

OneSignal is not defined after I installed Admob plugin #315

This is actually an issue ..please give me a solution

[2018-07-30 04:49] sai12346 commented on #315
hello...
can you please give me an update for this issue.

[2018-07-30 04:50] sai12346 opened #397 "OneSignal is not working with cordova Admob plugin"
**Description:**

(your description here)

**Environment**

**Steps to Reproduce Issue:**

1. (your steps here)
2.
3.

**Anything else:**

(crash stacktraces, as well as any other information here)

[2018-07-30 05:08] sai12346 opened #398 "OneSignal is not working with Admob plugin in phonegap build"
Hello,

OneSignal is not working with Admob plugin in phonegap build .But it both  work successfulyy separate.
[OneSignal-Cordova-Example-mastertest.zip](https://github.com/OneSignal/OneSignal-Cordova-SDK/files/2239734/OneSignal-Cordova-Example-mastertest.zip)

Issue :same player id is getting for each installation(and this playerid is not valid).But after removing admob plugin we get different pl

[2018-07-30 12:41] pilotpirxie opened #399 "Google Play Services Library Error"
**Description:**
Hey! I have problem with building cordova app with onesignal. Every time when I build and run app I got an error:
[code]
I search for similiar problem but neither adding
[code]
nor others solutions works.

**Environment**
Cordova 8 (I am trying also on older versions like 7, 6.5, but the same problem)

My package.json
[code]

[code]

**Steps to Reproduce Issue:**
1. npm install co

[2018-07-30 13:03] #399 closed

[2018-07-30 13:04] pilotpirxie commented on #399
Just reinstalled everyting and created new project once again. It helps
 \(p_q)/

[2018-07-31 01:04] jkasten2 commented on #398
@sai12346 Thanks for reporting and providing an example project. We will try it out and report back.

[2018-07-31 01:08] jkasten2 commented on #268
@rodrigoreal @guyman Can you try the latest `onesignal-cordova-plugin` 2.4.1 version? Also make sure you have the latest Google Play services app installed on the device you are testing on.

Let us know the version of Android you are testing on if you continue seeing issues.

[2018-07-31 01:29] jkasten2 commented on #397
Duplicate of #398, closing as this one has more details on this issue.

[2018-07-31 01:29] #397 closed

[2018-07-31 03:58] sai12346 commented on #398
thanks for your reply.please give me an update as soon as possible.

How can i change my config.xml to work both.please helpp..

[2018-07-31 04:59] Nightsd01 commented on #398
@sai12346 in the mean time can you please provide some more details? When you say the “player ID is not valid” what do you mean, did you delete users from the dashboard perhaps?

What exactly is the error you see, just invalid player ID?

[2018-07-31 05:27] sai12346 commented on #398
hi,

This issue is occuring when reinstalling app.. wHEN REINSTALLING ACCORDING TO OUR WORKING WE NEE NEW APPID for each installation but when using admob plugin in config.xml .this is not working..it give same invalid player id in each and every installation in my iphone

please create a one signal account and create an ios app.
Then please use the appid in index.js
Then use abv package with admo

[2018-07-31 05:28] sai12346 commented on #398
please help me to solve this issue

[2018-07-31 06:09] sai12346 commented on #398
hi,

This issue is occuring when reinstalling app.. wHEN REINSTALLING ACCORDING
TO OUR WORKING WE NEE NEW APPID for each installation but when using admob
plugin in config.xml .this is not working..it give same invalid player id
in each and every installation in my iphone

please create a one signal account and create an ios app.
Then please use the appid in index.js
Then use abv package with admo

[2018-08-01 06:04] sai12346 commented on #398
hello any update in this issue..can anyone help me to solve this

[2018-08-01 06:04] sai12346 opened #400 "OneSignal is not working with Admob plugin in phonegap build"

[2018-08-01 15:37] jasonhai opened #401 "How to detect foreground or background mode with onesignal in cordova"
**Description:**

Hello team,

I integrated onesignal in our cordova app, but I dont see any option whether to check foreground or background mode in onesignal handleNotification function.

Is there any way to check it from cordova?

Best Regards!
      Jason

[2018-08-01 19:37] Flaviocrtt commented on #291
Hello, just to let you know, OneSignal does not finish immediately and i was calling my personal functions not waiting onesignal call the function handleNotificationOpened.
My app is working now, thank you.

[2018-08-01 20:40] guisgoulart commented on #289
I have this same problem too. :(

[2018-08-02 13:22] sai12346 opened #402 "Logcat : OneSignal is not defined after I installed Admob plugin"

[2018-08-02 18:30] whiterook6 opened #403 "When running on iOS 11, the handleNotificationOpened callback doesn't fire."
Edit: since posting this bug, I have been able to reproduce the issue personally. I've updated this post accordingly.

**Description:**

For iOS 11 users, a notification can successfully start the app but **no callback is called**, and the **click event isn't set in the onesignal report screen** (See screenshot below.) I am able to reproduce the error on our iOS 11 test phone, but not on Android d

[2018-08-02 21:34] #400 closed

[2018-08-02 21:34] #402 closed

[2018-08-02 21:40] Nightsd01 commented on #395
Hi @henryavila , any updates on what happened? Let me know if you're still seeing this issue and I'd be happy to help.

[2018-08-02 21:45] Nightsd01 commented on #403
@whiterook6 This would be a somewhat difficult issue for us to debug since we are not seeing reports of this from other users and you have been unable to reproduce it yourself.

How do you know that the callback is not getting called, is it because they say they tapped the notification and it didn't redirect to the correct URL?

There could me multiple things causing this. For example, your `liste

[2018-08-02 21:49] Nightsd01 commented on #401
Hi @jasonhai ,

On the `notificationOpened` handler, there will be a `result.notification.isAppInFocus` property. If the property is `true`, it means the app was open, otherwise, it means the app was in the background.

You can see details about our SDK by looking at our SDK reference:

https://documentation.onesignal.com/docs/cordova-sdk#section--osnotification-

Please feel free to reply if you

[2018-08-02 21:49] #401 closed

[2018-08-02 21:52] Nightsd01 commented on #390
Closing because the solution was posted, if anyone else runs into this problem and the above steps don't work please feel free to reply and I'll be happy to reopen the issue and help you fix it.

[2018-08-02 21:52] #390 closed

[2018-08-02 21:52] #388 closed

[2018-08-02 21:55] Nightsd01 commented on #381
Sorry that no one ever responded to your ticket, please feel free to let me know if you are still having this problem.

First, please note that our Cordova SDK only supports Android and iOS, not web.

Second, `startInit` only _starts_ initializing the SDK, it does not actually completely initialize it.

To fully initialize the SDK, please make sure you call:

[code]

Closing due to inactivity - if

[2018-08-02 21:55] #381 closed

[2018-08-02 21:56] #376 closed

[2018-08-02 22:03] whiterook6 commented on #403
Thanks for the quick reply. I know I'm grasping at straws. I'm mostly trying to learn how a PN triggers the callback, and under which situations it might skip the callback.

"How do I know that the callback isn't being called?"

I can only go off of the testing I've done with users who've reported no redirect occurring. When I send a PN to a user named Bryon, for example, and Bryon doesn't have th

[2018-08-02 22:26] Nightsd01 commented on #403
@whiterook6 I would like to be able to look at the specific details of your case, can you contact OneSignal support (open the https://www.onesignal.com dashboard) and click the ? button to launch a support chat ticket.

[2018-08-02 22:27] whiterook6 commented on #403
I see. So, the push notification should be held until the library's callback is initialized, is that correct? I believe I have seen that happen -- if I wait for a user to log in, for example, then register the callback, normally it does work. That would suggest it's not a delay in initialization that's causing the issue.

I will open a support chat ticket, thanks.

[2018-08-02 22:32] Nightsd01 commented on #398
@sai12346 we are investigating your issue now, please stop creating duplicate issues & posts. I will do some investigation of your problem and will reply shortly

[2018-08-02 22:36] Nightsd01 commented on #398
@sai12346 I am not sure what Admob plugin you are using. Can you post your `config.xml`?

[2018-08-02 22:37] Nightsd01 commented on #349
Closing due to inactivity - if anyone has any questions or problems please feel free to ask and we'll be happy to reopen and help.

[2018-08-02 22:37] #349 closed

[2018-08-02 22:38] #369 closed

[2018-08-02 22:39] Nightsd01 commented on #371
@yashodeep9 I am sorry no one ever got back to you on this issue - are you still having this problem?

[2018-08-02 22:41] Nightsd01 commented on #304
Closing due to inactivity - I have never been able to reproduce this issue since. If anyone can reproduce the problem please post the error here and I'll be happy to reopen and investigate further.

[2018-08-02 22:41] #304 closed

[2018-08-04 14:45] jasonhai commented on #401
Thanks you so much @Nightsd01

[2018-08-05 21:10] ulgens commented on #203
@jkasten2 I found the problem. It's not the key is missing or corrupted somehow, it was just the wrong key. In this case i expect an error like "wrong key" or "permission denied" but instead it gives "app_id is missing".

[2018-08-06 03:18] lscarneiro opened #404 "clearOneSignalNotifications works on Android but not in iOS"
Hey guys,

I have an ionic project successfully running both in Android and iOS receiving push through OneSignal with no problem.

I just noticed that clearOneSignalNotifications() function is not working in iOS, but on Android works fine.

On iOS I can handle received and opened notifications without a problem, just the clearOneSignalNotifications() that I call eventually, didn't work.

Can you g

[2018-08-06 07:49] charis-the-programmer commented on #305
@T-Munyaka @noor07

In order to avoid this problem, you can put your one signal initialization code in an if statement that check whether you are running the app on a device or a browser. Change the code in your **app.component.ts** to this:

[code]

[2018-08-07 02:21] dmastag opened #405 "Cannot use together with cordova-plugin-firebase"
**Description:**

Since last week builds will stop working (`cordova build --release`) if  cordova-plugin-firebase is also installed

Here is the error message:
[code]

It works if I remove either cordova-plugin-firebase or onesignal-cordova-plugin

**Environment**

onesignal-cordova-plugin@2.4.1
cordovaplugin-firebase@1.0.5

**Steps to Reproduce Issue:**

  1. Add the onesignal-cordova-plugin to

[2018-08-07 14:05] samarthagarwal commented on #405
I get the same issue even after I removed the `cordova-plugin-firebase` plugin.

[2018-08-07 23:11] drosde commented on #405
same here. `Required by: project :app > com.onesignal:OneSignal:3.9.1 > com.google.firebase:firebase-messaging:17.0.0`

[2018-08-08 05:54] canadaka commented on #173
We were trying to use Onesignal with our app, which also uses `cordova-background-geolocation`. The app has already been given iOS location access, but after I add the OneSignal plugin, it prompts the user again for location access. If i remove the OneSignal plugin, it doesn't.

I tried adding the `setLocationShared(false)` but it has no affect on the permission popup.

[code]

This seems to only

[2018-08-08 18:16] canadaka opened #406 "setLocationShared Not working"
**Description:**
As I also mentioned here https://github.com/OneSignal/OneSignal-Cordova-SDK/issues/173#issuecomment-411293892 the `setLocationShared` function does not work.

On iOS it just has no effect, location permission dialog still appears and users location still recorded. On Android I get an error, depending on how I use it.

If I call the function like this, I get an error.
[code]
Androi

[2018-08-08 18:32] #405 closed

[2018-08-08 19:05] jkasten2 commented on #405
@dmastag @samarthagarwal This is now fixed, you may need to run the following to clear out any old Gradle caching from your project.
[code]

[2018-08-08 19:37] canadaka commented on #406
I cannot get Xcode device logs, I think that is only populated if there is a crash?

But here is some more logging from the Xcode console with logLevel set to 6.

[code]

[code]

Curious, if I don't call `setLogLevel` on its own line, it doesn't work.

I'm a bit confused if these functions are supposed to be called between `startInit` and `endInit` or should be called before or after that?

[2018-08-08 20:33] canadaka commented on #406
I have found the problem! It's a bug in the `OneSignal.js` file.

https://github.com/OneSignal/OneSignal-Cordova-SDK/blob/master/www/OneSignal.js#L229-L235

The `OneSignal.prototype.setLocationShared` functions usage of `cordova.exec` is missing the 2nd function argument, which is the error callback. Should be:

[code]

I tested this fix on Android and `setLocationShared` seems to work now, if I c

[2018-08-09 00:30] canadaka commented on #406
I have tried before and after, neither have any affect on iOS. The location permission still pops up and the users lat/lng location is still saved.

[2018-08-09 00:43] Nightsd01 commented on #406
@canadaka Can you try this: remove/uninstall our SDK from your project and let me know if your app still immediately prompts the user for location permission.

There are some plugins that will automatically prompt for location permission, so we'll want to make sure.

Otherwise: please make sure that `setLocationShared(false)` is _before_ you call `init`, and completely uninstall/reinstall the app

[2018-08-09 00:45] Nightsd01 commented on #406
There is only two ways our SDK will prompt for location:

1. Your app calls `promptLocation`
2. Your app has location enabled in `Info.plist` and doesn't call `setLocationShared(false)` before calling `init()`.

Our docs do not mention this, so I've updated the `setLocationShared()` docs to be a bit clearer.

[2018-08-09 02:16] canadaka commented on #406
Thanks for the responses.

1. I have removed and reinstalled the plugin many times. I've also deleted all Cordova platforms and plugins and re-built app from scratch.
2. I do have other plugins that prompt for location permission, I mentioned it in the [linked](https://github.com/OneSignal/OneSignal-Cordova-SDK/issues/173#issuecomment-411293892) post above. `cordova-background-geolocation` is the

[2018-08-09 04:15] dmastag commented on #405
Working for me now. Thanks @jkasten2

[2018-08-09 13:07] henryavila commented on #395
Hi @Nightsd01, I made some tests and the problem keeps in iOS.

I was using iOS12, so I imagine that this could be the reason, but I tryed with the lsat stable iOS 11 and the problem persist.

In the first run of the app, I call

[code]

in Onesignal Dashboard, The user has the tag.

after 5 minutes I triger a function to remove the tag. The the following code was run:
[code]

After this, The ap s

[2018-08-09 16:15] eddskt commented on #223
Thanks @jkasten2

My procediments:

cordova platform remove ios
cordova platform remove onesignal-cordova-plugin
sudo gem install cocoapods
pod repo update
pod setup (I needed to sync the CocoaPods repository)
cordova plugin add onesignal-cordova-plugin --save
cordova platform add ios

[2018-08-09 18:30] uda1099 opened #408 "Error on building Ionic Project"
**Description:**

OneSignalPlugin: WARNING: OneSignalPlugin: Downgraded 'com.android.support:+' -> 27.+ to prevent compile errors! Recommend updating your project's compileSdkVersion!

**Environment**

Cordova Version => 8.0.0

com-sarriaroman-photoviewer 1.1.16 "PhotoViewer"
cordova-plugin-add-swift-support 1.7.1 "AddSwiftSupport"
cordova-plugin-advanced-http 1.11.1 "Advanced HTTP plugin"
cordova

[2018-08-10 01:11] jkasten2 commented on #408
@uda1099 We fixed this in an updated recently. Can you try removing and re-adding the android platform to get a clean build?
[code]

[2018-08-10 01:43] moschan commented on #378
@husseinelhussein
2.3.3 works! thank you for your support!

[2018-08-10 05:17] mdarshath opened #409 "can not get background notification data on notification received without notification opened."
**Description:**

How to get background notification data on notification received without notification opened or app opened.
i want to store the received notification data into app local storage for all notification example cleared notifcation, tapped notification.

**Environment**

    @ionic/cli-utils  : 1.19.2
    ionic (Ionic CLI) : 3.20.0

global packages:

    cordova (Cordova CLI) : 8.0.0

[2018-08-10 19:12] uda1099 commented on #408
Still nothing...
That's the code:

`android.defaultConfig {
  manifestPlaceholders = [
    onesignal_app_id: '', // Use from js code
    onesignal_google_project_number: 'REMOTE'
  ]
}

// Required for Android Support Library 26.0.0+ and Google Play services 11.+
repositories {
  maven { url 'https://maven.google.com' }
}

// Adding Onesignal-Gradle-Plugin to align gms, android support library, an

[2018-08-10 19:30] Nightsd01 commented on #409
@mdarshath You can accomplish this by implementing the Notification Service Extension (for iOS) and the Notification Extender Service (for Android). However you would have to write native code (ObjC/Swift for iOS and Java for Android).

You would have to use an App Group to allow for data to be shared between the extension service and the main app (you can follow [these instructions](https://docum

[2018-08-10 19:30] #409 closed

[2018-08-11 14:29] ribamartins commented on #395
Hi,

Same issue here.

The tags are registered ok on Android but not working on IOS.
Any news about this problem?

Tks

[2018-08-13 14:49] appysaude opened #410 "OneSignal's Server URL change"
**Description:**

Hi,

I am currently using OneSignal-Cordova-SDK in a Cross Platform Tool, where I develop my mobile apps for both iOS and Android. For architecture reasons, we need to set a proxy where all traffic coming and going to the mobile app will pass.

Thus, we would like to configure on the SDK the proxy's URL, instead of having OneSignal's Server URL directly (of course that we will co

[2018-08-14 18:31] Nightsd01 commented on #410
Hi @appysaude

Our Cordova SDK is simply a wrapper on top of our native iOS and Android SDK's. These native SDK's have the server URL.

In order to use a custom proxy URL, you would have to create custom builds of our native iOS and Android SDK's.

Since this is such a rare request, we don't have public instructions on how to build these native SDK's but it is not very complicated/obscure, they ar

[2018-08-14 18:31] #410 closed

[2018-08-15 02:11] jkasten2 commented on #398
@sai12346 This issue has been fixed with the latest OneSIgnal-Gradle-Plugin this SDK uses. Please run the following to refresh any Gradle caches to get the latest version.
[code]
Thanks.

[2018-08-15 02:11] #398 closed

[2018-08-15 16:37] whiterook6 commented on #403
With @Nightsd01 's help I found I was on the wrong version of the plugin. `cordova plugin update onesignal-cordova-plugin` and `cordova plugin add onesignal-cordova-plugin` only ever installed version 2.1.2 for me. Manually adding version 2.4.2 fixed the callback issue on iOS 11.

[2018-08-15 16:37] #403 closed

[2018-08-16 08:56] AlFalahTaieb opened #411 "[Question] Disable notification for a period of time given"
I'm able to disable / enable the notification, is there a way to disable notification for 1 hour or 2 hours ?

[2018-08-16 19:36] junalmeida opened #412 "Problem with iOS DeepLinks"
When using iOS DeepLinks along with OneSignal using a valid LaunchURL, it does not work as expected.

Steps to reproduce:

Configure deeplinks to respond so some url, for example: example.com/page/:data (:data as a parameter)
Create a contact with some url as an example: https://example.com/page/1234
Go to that contact and click at that url and see your page working as expected.
Send a notificatio

[2018-08-16 19:55] Nightsd01 commented on #412
@junalmeida This is not a bug - by default the SDK will open URL's with an in-app web view. You can turn this behavior off however by setting `kOSSettingsKeyInAppLaunchURL` to `false` in the iOS Settings during initialization

[2018-08-16 19:56] Nightsd01 commented on #411
@AlFalahTaieb There is no way to do this reliably 100% of the time from the client. I would recommend simply implementing this on your backend server if you have one.

[2018-08-16 19:56] #411 closed

[2018-08-16 20:50] Nightsd01 commented on #406
@canadaka Even if I install both our plugin and `cordova-background-geolocation`, I _still_ don't see it asking for location permission unless I specifically call `OneSignal.promptLocation()`.

If you keep OneSignal in your project but remove the `cordova-background-geolocation` does the issue still occur?

[2018-08-16 21:31] junalmeida commented on #412
@Nightsd01 turning off this option does not solve the problem. Instead, I am redirected to the url in Safari web browser. This behavior is not consistent when using Android. In Android both scenarios works as expected.

[2018-08-16 21:33] Nightsd01 commented on #412
@junalmeida Are you sure that you've correctly set up the deep link with the system (iOS)?

If you set `kOSSettingsKeyInAppLaunchURL` to `false`, the SDK will simply call `UIApplication.shared.openURL`, which respects deep links. The fact that it's opening the URL in safari indicates that, for whatever reason, the system doesn't think it's a deep link in iOS.

[2018-08-16 21:34] Nightsd01 commented on #412
https://developer.apple.com/library/archive/documentation/General/Conceptual/AppSearch/UniversalLinks.html?utm_source=revxblog

[2018-08-16 21:38] junalmeida commented on #412
Well, I am pretty sure that I followed the docs in the right way, but it is difficult to debug, However, when I test this case using the "Contact" trick, everything works as expeced. May I share with you the real scenario?
This is the url of ios server side configuration: https://dev-samara.azurewebsites.net/apple-app-site-association
This is the entitlements configured:
[code]

[2018-08-16 21:41] Nightsd01 commented on #412
@junalmeida There's a lot more you have to do to get deep links to work (Apple calls them _Universal Links_).

Did you implement the `AppDelegate` code in ObjC/Swift yourself, or are you using some dependency to set up the deep link?

[2018-08-16 21:41] junalmeida commented on #412
Reading the link you just provided, this statement called my attention:
[code]
So, if SDK calls openURL as you said, I guess that this might be the problem.

[2018-08-16 21:48] junalmeida commented on #412
@Nightsd01  As I am using the ionic deeplinks plugin, I guess that the AppDelegate was handled by it. And it is working when I click the contact trick:

![image](https://user-images.githubusercontent.com/991675/44236906-f734fc80-a184-11e8-8432-1e2732fd5e3c.png)

[2018-08-16 21:49] Nightsd01 commented on #412
@junalmeida Good observation!

Here is what I would recommend: deep links are really only useful for _other_ apps or a website to be able to open your app directly. But for push notifications, deep links are unnecessary since the push notification will **already** be launching your application.

Instead of using deep links, I would recommend using your existing deep link navigation logic to determ

[2018-08-16 21:50] jkasten2 commented on #353
@marcoroche Sorry I missed your reply before. Good to hear the channel / category setup fixed your issue.

There is some delay from when we make a native release to when this Cordova SDK is updated. We try to prioritize this based on the importance of the native update and it might take some additional time if there are new wrapper methods to add. Currently this Cordova SDK is using the latest nat

[2018-08-16 21:50] #353 closed

[2018-08-16 21:55] junalmeida commented on #412
@Nightsd01 Actually I am using deeplinks in production already, but with custom URLs (samara://etc). I have a requirement to allow the same notification to work using Google Chrome at a PC, so I decided to implement deeplinks using real urls. The problem is that I will need to send different push notifications, one exclusively for iOS. This is a overhead in my implementation.

[2018-08-16 22:01] Nightsd01 commented on #412
@junalmeida Unfortunately I don't think our SDK even _can_ know if something is a universal link or something else. I do not see how our SDK could actually solve this problem but I will do some research.

It kind of obviates the entire purpose of deep links if they are getting launched by the app itself.

In any case, I would recommend using different notifications for Chrome vs. the app itself.

[2018-08-17 19:54] whiterook6 opened #413 "Dependency collision in Gradle when updating to OneSignal-Cordova 2.4.2"
**Description:**
Since updating to 2.4.2, our Android builds fail in the final stage with the following error:

[code]

Googling for this error leads me to believe there is now a dependency collision between some other plugin or library and OneSignal-Cordova related to com.google.android.gms.auth.whatever. I am unable to determine where the collision is, where the conflicting versions are, or how

[2018-08-18 16:46] junalmeida commented on #412
@Nightsd01 Is there a way to catch the notification and cancel the LaunchURL action for ios only?

[2018-08-18 20:59] Nightsd01 commented on #412
@junalmeida you would have to modify our iOS SDK to do this (Objective-C).

[2018-08-18 21:07] Nightsd01 commented on #412
@junalmeida we’ve decided that in the next few weeks we will be adding a delegate method in our native iOS SDK that will allow developers to override the SDK’s launch of the URL at runtime. Something like `shouldOpenURL(url) -> Bool`

That way the developer can see at runtime if it’s one of their deep links and if so, allow them to handle it themselves.

We are also considering an alternative idea

[2018-08-18 21:30] junalmeida commented on #412
@nightsd01 that delegate would be awesome.

I am not sure I understood well about the alternative idea on deep link scheme, but using deeplink custom scheme is not a problem, all works well. The problem is when I use a deep link with real url on https scheme.

[2018-08-19 04:47] jkasten2 commented on #413
@whiterook6 You are correct that there is more than one plugin in your project including the java class `com.google.android.gms.auth`. This normally shouldn't happen as this plugin uses [OneSignal-Gradle-Plugin](https://github.com/OneSignal/OneSignal-Gradle-Plugin) to align version dependencies.

Can you try updating to the latest version of Cordova as well as the Android Cordova platform?

Anothe

[2018-08-19 06:18] spinninghamster opened #414 "Application crashes when using onesignal-cordova-plugin with cordova-plugin-googlemaps"
**Description:**
I am using the latest `onesignal-cordova-plugin` (NPM) with the latest `cordova-plugin-googlemaps` (NPM) on PhoneGap Build. The build works fine and there are no errors, but when launching the application it crashes right away. There's no way to even get in. I've tested it by removing either the OneSignal or the Google Maps plugin and in both cases the application works, only when

[2018-08-19 14:27] spinninghamster opened #415 "Excessive ANRs (Application Not Responding) for Android on Huawei P20"
**Description:**
We've noticed in the developer console that in the past week we've had an increase in ANRs (Application Not Responding) which seems to be related to the OneSignal plugin. It appears however that it's happening only on Huawei P20. We have thousands of daily users and the only crash reports come from these 2 devices:

-P20 (HWEML)
-P20 Pro (HWCLT)

All of the crashes happened on And

[2018-08-20 16:27] Blanketsniffer commented on #211
How was your solution?

[2018-08-20 17:55] canadaka commented on #406
Slight tangent from the iOS issues.

So we've had the OneSignal plugin installed on our Android app the past week and users locations (32k) are being saved to the Dashboard, even though I set `setLocationShared` to false.

[code]

I think if the app already has location permission via another plugin, Onesignal just goes ahead and saves users locations with their Onesignal data? Not what I'd expect

[2018-08-20 18:18] Nightsd01 commented on #415
@spinninghamster What makes you think this ANR is related to OneSignal?

[2018-08-21 17:54] spinninghamster commented on #414
I contacted the developers of cordova-plugin-googlemaps and they responded here:
https://github.com/mapsplugin/cordova-plugin-googlemaps/issues/2398#issuecomment-414761000

Here is their answer:

`It seems firebase library failed, but this plugin does not use it.
Thus, onesignal-cordova-plugin developer has to take care of it. Please ask to them.

    --------- beginning of crash
08-21 10:37:28.03

[2018-08-21 17:59] spinninghamster commented on #415
Because the Android ANR Console shows:

[code]

as the source of the ANR.

[2018-08-21 18:01] jkasten2 commented on #415
@spinninghamster Can you provide the full ANR? It shows there is a lock held by thread 27 which would be helpful to see the stack for.

[2018-08-21 19:13] Nightsd01 commented on #415
Also @spinninghamster what version of our SDK were you using when you saw these ANR's?

[2018-08-22 08:34] Dave-Osborne commented on #406
I can confirm that location data is definitly being shared as described above (although works as expected on Android).

This would suggest that the iOS code is ignoring the value sent to setLocationShared.

We are in urgent need of this fixing, are you able to advise on how long until a new release is available?

Thanks,
Dave.

[2018-08-22 13:51] henryavila commented on #395
Hi @Nightsd01 and @ribamartins. I found my problem.

Im my case, I connect to different web site to get the Onesignal app id (each site has one app id).
The problem was that, in my case, one of this sites was outdated and has the wrong app id, so the Onesignal was connecting to the wrong app.

After fixing all sites info, it's now works great.

@Nightsd01 thanks for the help, and sorry beacuse it

[2018-08-22 13:51] #395 closed

[2018-08-22 16:33] Nightsd01 commented on #406
Hi @dave-osborne we recently fixed a bug in the `setLocationShared` method, an update should be coming shortly.

@canadaka I’ll Be investigating this one android today

[2018-08-22 17:17] hrhosni commented on #297
@TitikshaDaga That's because the latest onesignal cordova plugin has a different <appname>-build-extras-onesignal.gradle file.
To get the previous one, uninstall onesignal plugin and install a previous version of it:

`cordova plugin add onesignal-cordova-plugin@2.3.1` for example

Copy the contents of the said file and then reinstall latest plugin and paste it. Then upgrade com.google.android.gms

[2018-08-22 18:09] canadaka commented on #406
Ok after some more debugging I think I found a way to fix the issue of the location permission prompt from appearing on an app upgrade.

If our app's plist file contains `LOCATION_ALWAYS_USAGE_DESCRIPTION` parameter then the OneLocation will as for location permission. If I manually remove it from the upgrade build, no permission is prompted!

We removed `LOCATION_ALWAYS_USAGE_DESCRIPTION` from ou

[2018-08-22 23:41] canadaka commented on #406
We have the plugin running on a Testflight iOS version, and even with setLocationShared = false, our locations are being saved.

What we would really want, is first for the `setLocationShared` to work. And 2nd for a manual function we could call to update a users/device location when we choose too.

[2018-08-22 23:50] Nightsd01 commented on #406
@canadaka @Dave-Osborne I still can't reproduce this issue, even when I add `cordova-background-geolocation` as well.

Are you absolutely certain that your app never calls `OneSignal.promptLocation()`? Can you please check your codebase just to make sure?

Even better - can you modify our Cordova plugin `OneSignal.js` and add a log statement to the `promptLocation()` function, just to make sure it

[2018-08-22 23:57] canadaka commented on #406
`promptLocation` exists no where in our codebase.

On both iOS and Android, the app already has location permission from the OS. Our app is pretty much useless without this permission, so users will have granted our app this permission before we add OneSignal.

We fixed the issue with the app asking for location permission a 2nd time here https://github.com/OneSignal/OneSignal-Cordova-SDK/issues/4

[2018-08-23 06:52] spinninghamster commented on #415
@Nightsd01 We are using 2.4.0 as we cannot upgrade to the latest due to the issue described here:
https://github.com/OneSignal/OneSignal-Cordova-SDK/issues/414

@jkasten2 Here is all the info the Google Play Console gives us. The latest crash happened only a few hours ago, again on a P20. We don't have access to a P20 device, so that's all we see:

[code]

[code]

[2018-08-23 06:54] spinninghamster commented on #414
How do we resolve this? We can't upgrade to the latest version of OneSignal. We're stuck on 2.4.0

[2018-08-24 03:31] jkasten2 commented on #415
@spinninghamster Thanks for the more detailed log. `SyncJobService` is in the name as this may have been the service to start your app process. This will happen if there was any issues syncing data to OneSignal and had to schedule a retry or to update the location of the device if enabled.

Since OneSignal isn't in the stack trace of the ANR any work that it was doing must have completed otherwise

[2018-08-24 04:15] jkasten2 commented on #414
@spinninghamster Can you updated to PhoneGap cli-8.0.0? This is required to get the Firebase dependencies updated to the correct versions as cordova-plugin-googlemaps is updating play-services dependencies to 15.

[2018-08-25 00:42] Nightsd01 commented on #406
As an update, we just fixed the issue (it was actually an issue with our native iOS SDK) and we'll be releasing a Cordova SDK update to fix this issue shortly, [here](https://github.com/OneSignal/OneSignal-iOS-SDK/pull/403) is the PR

[2018-08-25 03:32] spinninghamster commented on #414
@jkasten2 Tried that but it's causing too many problems right now as many plugins don't support cli-8.0.0 yet

[2018-08-25 03:49] spinninghamster commented on #414
@jkasten2 Updated to cli-8.0.0 and it's crashing as well. Here is the build output:

[code]

[2018-08-26 15:02] dimalahbal commented on #305
@charis-the-programmer

your code it's not working for me the error still showing

[2018-08-26 15:04] dimalahbal commented on #289
hi i have the same problem

[2018-08-26 16:36] sido420 opened #416 "Java source code files"
**Description:**

Where do I put .java source files for background notifications as explained in https://documentation.onesignal.com/docs/android-customizations#section-background-data-and-notification-overriding? And, mentioned in https://github.com/OneSignal/OneSignal-Cordova-SDK/issues/215 + https://github.com/OneSignal/OneSignal-Cordova-SDK/issues/156 + https://github.com/OneSignal/OneSignal-C

[2018-08-26 16:45] sido420 commented on #416
Is there example project/code somewhere for Cordvoa plugin specifically?

[2018-08-26 22:17] Nightsd01 commented on #413
Closing issue due to no response, @whiterook6 if you are still having this problem please reply and we'll reopen the issue and help investigate.

[2018-08-26 22:17] #413 closed

[2018-08-26 22:26] Nightsd01 commented on #406
This issue should now be resolved in the new update (2.4.3).

We've made a minor fix in iOS to resolve this issue, however this week we intend to make more comprehensive changes to the SDK to ensure location data can _never_ be sent if `setLocationShared(false)` is called, to ensure an issue like this can't happen again. Thanks for the bug report!

[2018-08-26 22:26] #406 closed

[2018-08-27 03:32] roberto-carraro opened #417 "dova -v"
**Description:**

(your description here)

**Environment**

**Steps to Reproduce Issue:**

1. (your steps here)
2.
3.

**Anything else:**

(crash stacktraces, as well as any other information here)

[2018-08-27 07:36] charis-the-programmer commented on #305
lets see your code in `app.component.ts`

[2018-08-27 09:29] sido420 commented on #416
Here is what I tried but android build fails on me:

- Removed onesignal plugin
- In a separate folder cloned the OneSignal-Cordova-SDK repo
- Added the extender sample code from https://documentation.onesignal.com/docs/android-customizations#section-background-data-and-notification-overriding to  https://github.com/OneSignal/OneSignal-Cordova-SDK/blob/master/src/android/com/plugin/gcm/OneSignalPu

[2018-08-27 09:31] sido420 commented on #416
Please note that err is not about the code (I resolved those already). Its about something build related. Please let me know if you really need to see the err message and I'll run the build for you again. I'm assuming that something is wrong in my steps (above).

[2018-08-27 15:13] bufpal opened #418 "Location does not updated continuously in iOS"
**Description:**

Location point updated only once when I opened my app but location does not updated continuously even I move to other location in iOS.
Of course, I've granted the app location access(always).

However, android works fine with same code.

<pre>
<code>
      this.oneSignal.startInit(oneSignalAppId, sender_id);
      this.oneSignal.inFocusDisplaying(this.oneSignal.OSInFocusDisplayOp

[2018-08-28 00:09] jkasten2 commented on #416
@sido420 The error isn't related to your changes. Do you only get this `Multiple dex files define Lcom/google/android/gms/auth/api/signin/internal/zzo;` error after using a local copy of OneSignal?

Can you try building the same project with the latest released version of OneSignal? If you do get the same error please list your output from `cordova plugin ls`. As well as what Cordova version you a

[2018-08-28 04:58] jkasten2 commented on #417
@roberto-carraro Hello, closing this issue as it looks like it was opened by mistake. If not, please create a new issue with your details and we can take a look

[2018-08-28 04:58] #417 closed

[2018-08-28 06:16] jkasten2 commented on #289
The error `Cannot read property 'OneSignal' of undefined` means that `window.plugins` is `null`. This means all Cordova plugins that use `window.plugins` will have the exact error.

Please see this guide to ensure you have correctly setup OneSignal, calling it in the right place, and that `cordova.js` being loaded.
https://documentation.onesignal.com/docs/troubleshooting-cordova-variants#section-u

[2018-08-29 02:35] jkasten2 commented on #353
@DSofter OneSignal has a Notification Category / Channel editor the dashboard you can use instead of creating custom Java code to do so.
https://documentation.onesignal.com/docs/android-notification-categories

If you do need to control Android Channel's locally the only reason why I could see it not vibrating is if you also set a [Notification Group](https://documentation.onesignal.com/docs/andro

[2018-08-29 02:45] sido420 commented on #416
Looks like the instructions provided in docs are not clear. Where exactly should I be putting the  code below? In a separate .java file or in https://github.com/OneSignal/OneSignal-Cordova-SDK/blob/master/src/android/com/plugin/gcm/OneSignalPush.java

The app keeps crashing although I tried putting the code inside the class in OneSignalPush.java and in a separate file.

[code]
I added plugin using

[2018-08-29 06:32] jkasten2 commented on #416
@sido420 The instructions aren't specific to Cordova, they are generic instructions for any project. We don't have specific instructions currently. However you can add your `NotificationExtenderExample` class to ether, in a separate `.java` or in the existing `OneSignalPush.java`.

Please provide the full stack trace from your logcat of the crash and we can take a look

[2018-08-29 19:57] jkasten2 commented on #404
@lscarneiro `clearOneSignalNotifications` is currently only implemented for Android right now. I'll mark this as an improvement

[2018-08-29 20:26] lscarneiro commented on #404
So there's no way to clean up the notifications via code on iOS with the current API?

[2018-08-29 22:05] jkasten2 commented on #404
@lscarneiro Not currently, all iOS notifications can be cleared however if you set the badge value to 0 with another Cordova plugin

[2018-08-30 04:03] sido420 commented on #416
com.example is app id

[code]

This happens when I put the class in a separate file NotificationExtenderExample.java in the same folder as OneSignal.java and sent a notification to the device with this app installed. The app crashes.

[code]
Above happens when I put the code inside the class in OneSignal.java file.

Also, I did not add the locally modified plugin code using --link.

[code]

A samp

[2018-09-01 07:41] Alacon commented on #321
Confirmed!
`pod repo update` resolved the issue for me

[2018-09-01 18:39] JonahElbaz opened #419 "OneSignal Plugin Not Installed Error Ionic 3 - Functions not working on Android Only"
I have an Ionic project running. Its at that point where its gotten quite large and every now and then I get some plugin issues where uninstalling and reinstalling them fixes the issue, however Ionic Native OneSignal has given me the biggest problems. It runs perfectly on all iOS devices (up to v 11.4.1), but on android (tested on android 9 and android 8.1.0) I get a plugin not installed error.

I

[2018-09-02 20:29] sido420 commented on #30
@Nightsd01 can you comment on https://github.com/OneSignal/OneSignal-Cordova-SDK/issues/416 plz?

[2018-09-02 20:30] sido420 commented on #220
@epetre @floydus can you comment on https://github.com/OneSignal/OneSignal-Cordova-SDK/issues/416 plz?

[2018-09-03 15:53] sadiqmmm opened #420 "Ionic 4 OneSignal not installing."
ionic cordova plugin add onesignal-cordova-plugin
npm install --save @ionic-native/onesignal

**Error:**
npm WARN @ionic-native/onesignal@4.12.2 requires a peer of @ionic-native/core@^4.11.0 but none is installed. You must install peer dependencies yourself.

npm WARN @ionic-native/onesignal@4.12.2 requires a peer of rxjs@^5.5.11 but none is installed. You must install peer dependencies yourself.

[2018-09-03 19:49] AbbasTallaq opened #421 "overwrite Sendtag data"
Hi,
I have question,
Am running a for loop for sendTag function for am tagging the  a player to multiple segments that I have created.
however if the length of the loop is 2 array {1,2} , it should send two request for the tag for 2 segments, the player will be tagged to segment 1 and 2, but what happened is the player tagged only to 2 , 1 got overwrite by 2
sendtag is working always for the last

[2018-09-05 07:34] rwillett opened #422 "ERROR: HTTP Request (OSRequestRegisterUser) must contain app_id parameter"
**Description:**
Hi, we've just refactored our code to handle GDPR consent and are getting this error now. Until now we have had OneSignal working well in test systems. We're trying to move from another Push provider.

As part of the refactoring of code, we've moved anything to do with OneSignal to after we get consent from the user to store their data, if we never get any consent we never call th

[2018-09-05 08:20] jkasten2 commented on #414
@spinninghamster What plugins and what issues do they have? Not sure if I can help but might have a fews points on what could help.

[2018-09-05 12:27] rwillett commented on #422
This doesn't seem to affect the working of OneSignal but is a worrying error message.

[2018-09-05 17:30] Nightsd01 commented on #422
@rwillett You should still be initializing our SDK. Just set user consent required to `true` and our SDK wont do anything.

The problem is that our SDK automatically hooks in to some notification methods in iOS to make things easy for developers, so if you don’t initialize and don’t set user consent required to `true`, our SDK will print those errors because it assumes you’ve made a mistake.

[2018-09-05 17:33] Nightsd01 commented on #421
Requests to `sendTags` get batched over a few seconds. Also, it’s basically a hash map. If you set values for the same key, it’s going to overwrite the previous value.

[2018-09-05 17:33] #421 closed

[2018-09-05 17:38] rwillett commented on #422
OK, thanks, I'll unpick todays work :(

[2018-09-05 20:33] pj-gomez commented on #420
Hi @sadiqmmm , I just had the similar problem with the `appversion` plugin, with the exact same missing dependency warnings and some more.
Manually removing the `node_modules`, `www` and `plugins` folders and running `npm install` from scratch solved the issue.

Hope that helps

[2018-09-06 00:05] canadaka commented on #406
So the solution we did to stop our app for asking for location permission a 2nd time, looks like it might not work in future.

[code]

We fixed the permission ask by removing any `LOCATION_ALWAYS_USAGE_DESCRIPTION` from our info.plist file, but will need to add one again in the future!
https://github.com/OneSignal/OneSignal-Cordova-SDK/issues/406#issuecomment-415126383

[2018-09-06 01:01] sido420 commented on #416
@jkasten2 were you able to reproduce or have any updates on this issue?

[2018-09-06 01:52] JavChz commented on #420
Same problem. Can use with Ionic 4

ERROR in node_modules/@ionic-native/onesignal/index.d.ts(2,10): error TS2305: Module '"/home/javier/Dev/RaiseTech/Cuponera/app/node_modules/rxjs/Observable"' has no exported member 'Observable'.
node_modules/rxjs/Observable.d.ts(1,15): error TS2307: Cannot find module 'rxjs-compat/Observable'.

[2018-09-06 08:07] AbbasTallaq commented on #421
Hi,
you're absolutely right, I have change the id of each segment,and it got works,

[2018-09-07 07:16] bhumin3i commented on #306
https://github.com/mlynch/azure-activedirectory-library-for-cordova plugin not working

ERROR LOG:
[code]

[2018-09-09 08:59] rwillett commented on #422
OK, We've unpicked the refactoring, refactored again (but properly), updated the use of kOSSettingsKeyAutoPrompt so we don't get alerts on top of alerts and it works :)

Perhaps we should have done the job right in the first place .... :)

Rob

[2018-09-09 08:59] #422 closed

[2018-09-09 11:35] sido420 commented on #283
@fedorcomander did you manage to get this to work?
Can you comment on https://github.com/OneSignal/OneSignal-Cordova-SDK/issues/416 with your solution plz?

[2018-09-09 11:59] fedorcomander commented on #283
using old version (2.3.4 i think) which works for me.

[2018-09-09 13:28] sido420 commented on #181
Any updates on this?

[2018-09-09 20:52] matthewborgcarr opened #423 "OneSignalPush.init blocked the main thread for 64ms. Plugin should use CordovaInterface.getThreadPool()."
**Description:**

So I have a cordova Android and iOS app.

The app freezes and crashes after certain clicks only on Android, (iOS works perfectly fine).

refer to Logcat below

**Environment** -> config.xml

<content src="index.html" />
    <preference name="android-minSdkVersion" value="20" />
    <preference name="android-targetSdkVersion" value="23" />
    <preference name="android-installLoca

[2018-09-09 23:02] sido420 opened #424 "NotificationExtenderService only shows notification when app is open + other issues"
**Description:**

I managed to somehow make NotificationExtenderService work for me but the issue now is that the notifications only come in if the app is running. Also, its not respecting                 .inFocusDisplaying(window.plugins.OneSignal.OSInFocusDisplayOption.None) in my JS code anymore.

I dont see any notification (no logging even in NotificationExtenderService class).

**Environment

[2018-09-10 03:28] sido420 commented on #424
Plz hold off on this. I am making some changes and will update (if needed).

[2018-09-12 21:36] loganthomison opened #425 "Modify URL for action buttons"
**Description:**
Is it possible to modify the URL that opens when selecting an action button within the InAppAlert? The LAUNCH URL value is empty and I'm able to pass in the desired URL via ADDITIONAL DATA. However, the default OK alert button also opens the desired URL. I would like to be able to have the OK button behave as normal when the LAUNCH URL is not specified and just dismiss the window.

[2018-09-13 11:09] sido420 commented on #424
Can you at least answer the questions plz?

The reason for the first question is that by default the app is showing notifications even when its in focus. So, I need to make changes to code so that it does not do that when app is in focus.

The second is important because app is not automatically starting to process the background notification making them completely useless (at least for my use cas

[2018-09-13 14:13] Kasirajan7 commented on #203
@anivaisu Check the type of body msg before your sending the post request if the type is not JSON it would return the same error.

[2018-09-13 22:57] Nightsd01 commented on #425
@loganthomison Unfortunately this is not possible currently with our SDK. You would need to implement this in additional data with a custom URL opener.

[2018-09-13 22:57] #425 closed

[2018-09-13 23:03] Nightsd01 commented on #423
@matthewborgcarr That is just a warning, it would not be causing your crash. Startup time is something we have been actively working on optimizing, but it would not be causing your crash.

 When you say the "app freezes and crashes after certain clicks", I am not sure what that means? What does "certain clicks" mean?

When an app crashes you would be given a stack trace. Can you please post it...?

[2018-09-13 23:03] #423 closed

[2018-09-14 00:43] Nightsd01 commented on #418
@bufpal Sorry for the delay in getting back to you. If you are still encountering this problem, can you clarify what you mean?

When you say the location is not updated 'continuously' what do you mean?

Keep in mind that our SDK will only send location every ~5 minutes when the app is open in the foreground, and at _min_ every 10 minutes in the background (depending on how your app is configured,

[2018-09-14 00:43] #418 closed

[2018-09-14 00:45] Nightsd01 commented on #415
Closing due to no response

[2018-09-14 00:45] #415 closed

[2018-09-14 09:45] BadiuAlexandru commented on #420
@JavChz  to solve your error, I instaled rxjs-compat

But now I have a new problem :

`Uncaught TypeError: Object(...) is not a function
    at index.js:739
    at Object../node_modules/@ionic-native/onesignal/index.js (index.js:1021)
    at __webpack_require__ (bootstrap:81)
    at Object../src/app/app.module.ts (app.component.ts:15)
    at __webpack_require__ (bootstrap:81)
    at Object../src/m

[2018-09-16 13:24] Piashsarker opened #426 "Rich Notification Not Showing In IOS but Working fine in Android."
I am working on an **Ionic Project** and did implement the notification service of one signal. Did receiving **Android & IOS** notifications.

Everything is working fine in android but  **Rich attachment** is not working in **IOS**. Did receive the Text & Title but image not showing.

I did same as the documentation says.
https://documentation.onesignal.com/docs/ionic-sdk-setup

I did Add **Notifi

[2018-09-17 11:59] sido420 opened #427 "How do I access Plugin object in NotificationExtenderService?"
**Description:**
How do I access Plugin object in NotificationExtenderService? plugin or plugin.cordova?
See https://documentation.onesignal.com/docs/android-customizations#section-background-data-and-notification-overriding

**Environment**

1. What version of the Cordova SDK are you using? Android 6.4.0 / OneSignal-Cordova-SDK-2.4.3

**Steps to Reproduce Issue:**
Not an issue (just a question)

[2018-09-19 21:16] LaloCastilla opened #428 "OneSignal not working after Xcode 10.0 update"
**Update from @jkasten2:** This issue is a compatibly issue with Cordova and Xcode 10.
See this issue for a work around: https://github.com/apache/cordova-ios/issues/407

**Description:**

We have updated to the last version of Xcode 10.0 and integrated the last version of the onesignal Cordova SDK to our company application. The App builds without problem. When the app starts we can see our devic

[2018-09-20 01:11] Nightsd01 commented on #428
After some investigation, it looks like apps built very specifically with Cordova in Xcode 10 seem to be missing the embedded mobile provisioning file.

Our SDK needs to know if your app is a development or production version so it knows what APNS certificate to use. It accomplishes this by reading a file called `embedded.mobileprovision` from your app's bundle.

This works just fine in iOS 12 + X

[2018-09-20 01:27] Nightsd01 commented on #426
@Piashsarker There are several potential causes of this issue.

1. Do push notifications with a badge count work?

2. Can you share your `NotificationService.m`?

3. Is your extension service included in your main app's build settings as an embedded binary?

<img width="878" alt="screen shot 2018-09-19 at 6 27 14 pm" src="https://user-images.githubusercontent.com/8186991/45790442-b6278080-bc39-11e

[2018-09-20 01:29] Nightsd01 commented on #426
Please also make sure you have followed these troubleshooting steps as well:

https://documentation.onesignal.com/docs/notification-images-not-showing

[2018-09-20 01:32] Nightsd01 commented on #426
Actually, it looks like it's an issue with the Imgur link. Try using a link from a different website, it needs to be a _direct_ link to the file (I believe Imgur actually uses redirects and such)

[2018-09-20 01:32] #426 closed

[2018-09-20 07:44] kanhachinu commented on #424
@sido420 I am using Onesignal Cordova to push notifications in my app. I am facing a similar problem where notifications are getting delivered only when the app is minimised.

Were you able to solve it somehow?

[2018-09-20 13:35] ruchi-goyal opened #429 "callback is not a function. (In 'callback(state)', 'callback' is undefined)"
**Description:**
I am using one signal plugin version-2.2.2, cordova version is 6.5.0 and secure-storage version is 2.6.3.
When building app, I am getting error "**callback is not a function, (In 'callback(state)', 'callback' is undefined)**"  **in internalCallBackProcessor in OneSIgnal.js**.
Another error coming along with this is: **undefined is not an object (evaluating 'permissionSubscriptionS

[2018-09-20 19:55] sveeen commented on #428
Same problem here :(
It would be great to see a fix as soon as possible.

Thanks!

[2018-09-20 19:56] Bortxaken commented on #428
I have the exactly the same problem with iOS 12

[2018-09-20 23:10] Nightsd01 commented on #428
I can confirm that this is an issue with the Cordova SDK and Xcode 10.

There does seem to be a workaround: https://github.com/apache/cordova-ios/issues/407

I will be keeping this issue open so that people don't create duplicates

[2018-09-20 23:11] Nightsd01 commented on #429
@ruchi-goyal We have fixed multiple issues with `permissionSubscriptionState` - updating to 2.4.3 should fix your issue.

[2018-09-20 23:11] #429 closed

[2018-09-21 06:31] sveeen commented on #428
@Nightsd01 this workaround works for me.

Did I understand correctly that I **can't deploy** the app to apple app store with this workaround?

[2018-09-21 11:46] Bortxaken commented on #428
In xCode if you go to File -> Workspace Settings you can change the Build System to Legacy Build System and your Push notifications will be received in iOS device.

[2018-09-21 14:07] sido420 commented on #424
I somehow managed to resolve part of it but not sure what worked for me.

I'm still having trouble getting the Activity object, so haven't managed to make much progress.

[2018-09-21 14:08] sido420 commented on #427
@Nightsd01 Thanks
Can you tell me how to access the Activity object in NotificationExtenderService?

[2018-09-21 15:39] Nightsd01 commented on #428
@sveen without the workaround, Cordova projects in Xcode 10 will produce apps that don’t include an `embedded.mobileprovision` file. The App Store will throw an ITMS error when this happens.

[2018-09-21 17:12] sveeen commented on #428
@Nightsd01 Yes, I understand.

But my question was, when I use the workaround (which works good), I can publish the app to the App Store or will Apple reject the app?

[2018-09-21 23:44] NewtonMan commented on #186
By know Sep 2018 if you face same issue, try do:
[code]

[2018-09-21 23:45] NewtonMan commented on #285
By now Sep 2018 if you face same issue, try do:
[code]

[2018-09-21 23:47] Nightsd01 commented on #428
@sveeen Unless there are other issues with Cordova in Xcode 10 that I am unaware of (and there may very well be), you should be good to go.

In the worst case, with the error we're discussing above, you wouldn't have even been allowed to upload the app, it would not have reached the review process.

[2018-09-22 22:42] jkasten2 commented on #416
@sido420 I forgot the detail that if you add a new .java file to the plugin you must declare it in the `plugin.xml`. See this line for the format
https://github.com/OneSignal/OneSignal-Cordova-SDK/blob/master/plugin.xml#L59

[2018-09-22 22:43] #414 closed

[2018-09-23 14:57] spinninghamster opened #430 "Can't install plugin on iOS - works on Android."
**Description:**
I am adding the plugin with on iOS and it doesn't work. Adding Android works without errors.

**Environment**
Using Cordova. (Android 7.1.0 and iOS 4.5.5).

**Steps to Reproduce Issue:**
`cordova platform ios`

**Anything else:**

Here is the command line error:

[code]

Installed plugins:

[code]

[2018-09-23 17:05] Nightsd01 commented on #430
@spinninghamster looks like a pod issue. Can you try running `pod install` directly?

[2018-09-24 02:33] sido420 opened #431 "DO NOT DISTURB is enabled for the app?"
**Description:**

Is there any way to figure out if DO NOT DISTURB is enabled for the app? Also, if the app has been disabled in power management programs such as Autostart Manager in ASUS devices?

This is a very important feature for hidden notifications so as to be able to display alerts in apps.

**Environment**
1. What version of the Cordova SDK are you using? OneSignal-Cordova-SDK-2.4.3

**S

[2018-09-24 04:16] sido420 commented on #431
I found the following links:
https://developer.android.com/reference/android/Manifest.permission#ACCESS_NOTIFICATION_POLICY
https://stackoverflow.com/questions/31862753/android-how-to-turn-on-do-not-disturb-dnd-programmatically
https://stackoverflow.com/questions/31387137/android-detect-do-not-disturb-status

[2018-09-24 04:49] spinninghamster commented on #428
An alternative would be to temporarily go back to Xcode 9.x

You can download it at:
https://developer.apple.com/download/more/

[2018-09-24 07:11] spinninghamster commented on #430
Confirmed. Fixed it by updating cocoapods :)

[2018-09-24 07:11] #430 closed

[2018-09-24 16:56] Nightsd01 commented on #431
Currently our SDK does not support this. If you implement it, you'd have to do it natively for both platforms, but it looks possible.

[2018-09-24 16:56] #431 closed

[2018-09-24 17:46] sveeen commented on #428
@spinninghamster but only when your iOS device is on ios11. When you are on ios12 Xcode 12 is mandatory.

[2018-09-24 20:27] joaoduartemariucio commented on #428
In previous versions the push also does not work

[2018-09-24 20:51] joaoduartemariucio commented on #428
What permission does One Signal need?
  I already had to tweak the entitlements file once when adding the iOS UserDefault groups permission there is a folder that stands in Platforms> ios> Project _Name with the Entitlements-Debug.plist and Entitlements-Release.plist files that file is not listed in Xcode

[2018-09-24 21:16] Nightsd01 commented on #428
Just as a note to folks who start reading this thread, the workaround for this issue is here:
https://github.com/apache/cordova-ios/issues/407

I also want to make it very clear that this is *not* an issue with our SDK. It is an issue with how Cordova embeds mobile provisioning files in apps in Xcode 10. We cannot fix this issue - only Cordova can. But in the mean time, the workaround above should

[2018-09-24 21:18] Nightsd01 commented on #428
@joaoduartemariucio If you are not able to get push working in previous versions of Xcode you are facing a different issue and should contact the support through our website dashboard

[2018-09-24 21:42] whiterook6 commented on #430
I'm getting the same error. I'm using xcode 9.4, cordova 7.1.0, cordova-ios 4.5.1, and the following plugins:

- cordova-plugin-camera 2.4.1 "Camera"
- cordova-plugin-compat 1.2.0 "Compat"
- cordova-plugin-contacts 2.3.1 "Contacts"
- cordova-plugin-crop 0.1.0 "CropPlugin"
- cordova-plugin-crosswalk-webview 2.4.0 "Crosswalk WebView Engine"
- cordova-plugin-device 1.1.5 "Device"
- cordova-plugin-fac

[2018-09-25 13:29] joaoduartemariucio commented on #428
@Nightsd01 Hi, my friend, I'm using Xcode 10. I've seen the mentioned question, it's not clear to me what I should do to get the push to work again using Xcode 10. I understand that there is a new way of building the project in this new version I was able to identify what should be done. Can you help me?

[2018-09-25 18:13] Nightsd01 commented on #428
@joaoduartemariucio https://github.com/apache/cordova-ios/issues/407

[2018-09-25 23:03] whiterook6 opened #432 "Cannot build on iOS -- updating Cocoapods doesn't fix it"
**Description:**
(Seems related to https://github.com/OneSignal/OneSignal-Cordova-SDK/issues/430). I cannot build our app for iOS at the moment. Something seems to have changed in the past few days.

I have updated cocoapods:

[code]

**Environment**
I'm using xcode 9.4, cordova 7.1.0, cordova-ios 4.5.1, and the following plugins:

[code]

**Anything else:**
[code]

Interestingly, my config.xml sp

[2018-09-26 00:40] jkasten2 commented on #432
@whiterook6 The error is from Cocoapods. I recommend trying to run the following and add OneSignal again.
[code]

Next I would try running the following to makes sure you have the latest cocoapods.
[code]

Most of the time this these will fix the issue but you can try reinstalling cocoapods if nothing else is working.
[code]

[2018-09-26 00:40] #432 closed

[2018-09-26 16:20] whiterook6 commented on #432
Thanks -- it worked!

[2018-09-27 01:19] LaloCastilla commented on #428
Have anyone succesfully published your apps to the appstore with that workaround?

[2018-09-27 17:21] junalmeida commented on #412
@Nightsd01 any update on this?

[2018-09-28 20:38] sveeen commented on #428
@LaloCastilla
Yes, my app is now online (got mail some minutes ago from apple team).
I used the workaround and Xcode 10. Push is also working.

[2018-09-28 20:40] joaoduartemariucio commented on #428
@sveeen what solution alternative?

[2018-09-28 20:43] sveeen commented on #428
@joaoduartemariucio Take a look here:
https://github.com/apache/cordova-ios/issues/407

[2018-09-28 20:44] joaoduartemariucio commented on #428
Tranks

[2018-09-29 15:08] theparmis opened #433 "OneSignal OSX platform support?"
Hello everyone,
I just looking for OneSignal cordova osx platform?
Is there any way to use OneSignal on mac apps?

Thanks!

[2018-09-29 20:49] rwillett opened #434 "window.plugins.OneSignal.getIds doesn't seem to work with provideUserConsent() on Android"
**Description:**
We are trying to get our Android application working with setting the GDPR consent. We have the same code working successfully with IOS.

The logic of the code is that we initialise the OneSignal SDK at the very first run of the application BUT we pass true to setRequiresUserPrivacyConsent. Since this is the very first run of the application the user cannot have have provided cons

[2018-09-29 21:18] fasma89 opened #435 "Will it work even if users close the app?"
Hello. Does OneSignal keep sending pushing notifications to users even if they close the app???

[2018-09-30 01:28] rwillett commented on #434
Futher update

We have put the call to ```window.plugins.OneSignal.getIds()``` in a timeout to 'push' it back and see if that avoids a race condition. It made no difference.

We've also tested this again on our IOS platform and we are getting very, very slow responses from ```window.plugins.OneSignal.getIds()```. In the region of 20-25 seconds to come back.

On Android 8, ```window.plugins.OneSign

[2018-10-02 02:41] jkasten2 commented on #433
@theparmis OneSignal does not currently have a macOS native SDK either so support would only come to Cordova after this.

OneSignal's dashboard and backend does support macOS push notifications so if you can register the token with another plugin or your own native code then tokens can be added by following this guide.
https://documentation.onesignal.com/docs/macos-app-sdk-setup

[2018-10-02 02:42] jkasten2 commented on #435
@fasma89 Yes, notification will still be shown even if the user swipes away the app or reboots their device. If you are seeing a specific issue in this case please open a new issue with as many details as you can.

[2018-10-02 02:42] #435 closed

[2018-10-02 18:58] rwillett commented on #434
We are now getting ```window.plugins.OneSignal.getIds()``` returning on Android but it still takes a long time. We're expermenting with the GDPR consent to see if that has anything to do with this.

[2018-10-02 23:34] jkasten2 commented on #434
@rwillett I reviewed the source of our native Android SDK and this Cordova wrapper and wasn't able to find a cause where the callback to `getIds` won't fire as long as you are calling it after `window.plugins.OneSignal.provideUserConsent(true);`.

OneSignal has new functions, [`getPermissionSubscriptionState`](https://documentation.onesignal.com/docs#section--getpermissionsubscriptionstate-) and [

[2018-10-03 10:50] rwillett commented on #434
Josh

Thanks for the update. We can see the getIds now returning but they are still taking a long time to return from the call to ```window.plugins.OneSignal.getIds()```. We are focussing on IOS for the moment.

We've already set the log level to the values you suggest and can't see anything untoward.

We've just tested this again and we called getIds at 2018-10-03 07:25:56
[code]

We get the resp

[2018-10-03 12:40] rwillett commented on #434
@jkasten2

We can see the use of ```getPermissionSubscriptionState``` and ```addSubscriptionObserver```, but these are watching functions. I am assuming we still need to call ```window.plugins.OneSignal.setRequiresUserPrivacyConsent()``` and ``` window.plugins.OneSignal.provideUserConsent()``` to actually set permissions or is there a different way of doing this.

[2018-10-03 13:58] lonwi opened #436 "Google Play Services Library Error"
**Description:**

After updating the Google Play services to 13.2.80 on some of the devices (noticed that on few Android 5.1, 6.0, 7.0) I get

Google Play Services Library Error

Could not register with FCM due to an issue with your AndroidManifest.xml or with 'Google Play services'.

**Environment**

Ionic:

   ionic (Ionic CLI)  : 4.1.2 (/usr/local/lib/node_modules/ionic)
   Ionic Framework    :

[2018-10-03 22:17] jkasten2 commented on #434
@rwillett `setRequiresUserPrivacyConsent` isn't required to use OneSignal at a technical level. However it might be required based on your privacy policy other legal factors to prompt users to accept.

`getPermissionSubscriptionState` will return the current state.
`addSubscriptionObserver` is a watch method so the callback will only fire if something changed.

@Nightsd01 Any ideas on the 21 sec d

[2018-10-04 07:08] rwillett commented on #434
@jkasten2

We need to use ```setRequiresUserPrivacyConsent``` as we have to get permission under GDPR.

Our logic is as follow. We have condensed different functions together and missed out loads of our code that we do to make this simple to follow.
[code]

Our issue seems to be that the function in ```window.plugins.OneSignal.getIds``` takes so long to return. We have also looked at ```window.plu

[2018-10-04 07:58] lonwi commented on #436
The same version of the app (tired few versions of onesignal plugins) and without cordova-plugin-google-analytics works fine with an older version of Google Play services installed on this phone. When I factory reset it, so the Google Play services app is back to the older version it works without problems. Once I update it to the latest I get this is the error:

!!! FAILED BINDER TRANSACTION !!!

[2018-10-04 12:21] artuska opened #437 "Multiple dex files define Lcom/google/android/gms/common/internal/zzb"
OneSignal plugin produces this error in Android Studio and stops building process:

[code]

Tested with 2.4.3 and 2.4.4 versions of OneSignal plugin.

There was no such error until yesterday.

Cordova 7.1.0 and 8.1.1
Cordova Android 7.1.0 and 6.3.0
Android SDK Platform-Tools 28.0.3
Gradle 4.10.2
com.android.tools.build:gradle:3.2.0

Plugins:
cordova-plugin-console,
cordova-plugin-deeplinks,
cordov

[2018-10-04 12:54] rwillett commented on #434
As previously reported, the very first time we run this, it takes around 20 secs for the OneSignal userId to be returned.

We've looked at our code from some time ago and are wondering if this is actually how OneSignal has always worked with the OneSignal userId. Our production version of the code has a short video introduction to how our app works which takes longer than 20 seconds. This short in

[2018-10-04 12:55] athariqbal009 commented on #161
Nexus (Android on Nexus 6 7.1.1 Google Play Services Library Error)

[2018-10-04 20:50] #433 closed

[2018-10-04 21:12] rwillett commented on #434
@rwillett  @Nightsd01

We have spent most of the day looking at this and we now think there is an issue with ```setRequiresUserPrivacyConsent()``` combined with ```provideUserConsent()``` for the first time you run the application.

If we call ```setRequiresUserPrivacyConsent(true)``` and then call ```provideUserConsent(true)``` for the very first time after you install the application, we can see

[2018-10-05 00:11] jkasten2 commented on #436
@lonwi Thanks for the details, it looks like `android.app.ApplicationPackageManager.getPackageInfo` is throwing due to the package manager being killed on the device. Most likely before OneSignal called this.

Can you look for "Package manager" or ApplicationPackageManager in your logcat before this message? You will need to make sure you don't have any filters for your package name etc. If you ca

[2018-10-05 00:37] jkasten2 commented on #437
@artuska Can you make sure you are using Cordova CLI 8.0.0 as well as cordova-android@7.0.0 or newer.

You can run `cordova info` to check this.

If you are up to date already then please run `cordova plugin list` so we can try reproducing the issue.

[2018-10-05 00:40] jkasten2 commented on #161
@yaseralimardany Can you make sure you are using Cordova CLI 8.0.0 as well as cordova-android@7.0.0 or newer. Also make sure you are using the latest OneSignal SDK.

You can run `cordova info` to check this.

If you are up to date already then please run `cordova plugin list` so we can try reproducing the issue.

[2018-10-05 01:58] jkasten2 commented on #408
@uda1099 Sorry for the delay, I tried testing with a cordova project with all the plugins and exact versions you listed but still not able to reproduce this issue.

Can you try removing the android platform and re add it? Might be some older config in your project.

If this does not help can you try reproducing this issue in a new project and attach it here?

[2018-10-05 05:52] rwillett commented on #434
The search for a solution continues...

We have checked the IOS version of the OneSignal SDK to see if there is any more information in there. https://documentation.onesignal.com/docs/ios-native-sdk#section--setrequiresuserprivacyconsent-

The IOS  SDK description for ```setRequiresUserPrivacyConsent()```is slightly different to the Cordova SDK description.

It talks about calling ```setRequiresUs

[2018-10-05 06:07] Nightsd01 commented on #434
Hi Rob, sorry if our docs are not clear on this but yes it needs to be called before init.

Also, the SDK will only register and get a user ID under 2 conditions:

1. The user just accepts push permission
2. 30 seconds pass.

We do this to avoid unnecessary API calls.

How/when are you prompting for permission?

[2018-10-05 06:16] rwillett commented on #434
@Nightsd01

Blast, that's take five days to resolve. Oh well, we now know the issue. We thought we were going mad as we kept getting inconsistent results.

As we are in the UK, we have to ask for explicit permission to store personal data. We pop up a window asking the user for consent. If they grant it, we then call ```window.plugins.OneSignal.provideUserConsent(true);```

This could take minutes

[2018-10-05 07:28] KPkun opened #438 "Ionic 1 app crashes on open. Works well after removing the plugin"
### Description:
App crashes only in the case where the plugin is installed.
Once removed, the app works fine.
I tried removing a few plugins to check compatibility but nothing works.
I also checked the common issues guidelines and I am not using any incompatible plugins.
I tried upgrading android to 7.1.0 and 7.1.1 but build fails with other errors. I could only elimate all reasons except the plu

[2018-10-05 08:02] #408 closed

[2018-10-05 08:33] jkasten2 commented on #438
@KPkun Can you check the logcat for a stacktrace? You can follow this guide on getting this.
https://documentation.onesignal.com/docs/troubleshooting-android#section-how-to-get-a-crash-or-error-log-from-an-android-device

Also can you share the build log when you try to update to cordova-android@7.x?