[2017-03-07 12:26] Chuckytuh opened #166 "TAGs State Get desync'd from server"
Hi, so I've experienced an unexpected behavior related to TAGs.

On my application I have a use case where TAG management is made from the backoffice. The backoffice used OneSignal's REST API to editdevice and add/remove tags from playerids and keeps a relationship between our business user id, player id and tags.
Each device makes a request to the backoffice everytime a user log's in in order syn

[2017-03-07 20:10] jkasten2 commented on #166
@Chuckytuh Thanks for the report. Just to confirm the issue, on step 5 the changes made on step 1 and step 3 are reverted on OneSignal? If this isn't what you are seeing can you add some key value examples to your steps?

Thanks.

[2017-03-11 21:31] gianpaj commented on #48
Just 60 lines of code:
https://github.com/phonegap/phonegap-plugin-push/blob/945aa2ad6d266e82683e0bee86f53d258f2b31b6/src/android/com/adobe/phonegap/push/PermissionUtils.java

[2017-03-12 16:07] paulopinda commented on #139
Hi!
What types?

Thanks

[2017-03-12 21:09] jkasten2 commented on #139
@paulopinda The following types will work.
[code]

If the notification is still showing without an image see the troubleshooting guide below.
https://documentation.onesignal.com/docs/troubleshooting-ios#section-notification-is-shown-but-media-attachments-are-not-displayed

[2017-03-14 02:08] sonicwong commented on #47
@BugsBunnyBR
You can run `window.plugins.OneSignal.setSubscription(false);` after plugin init.

[2017-03-14 12:28] epetre opened #167 "Local Notification branch ios10 breaks OneSignal.OSInFocusDisplayOption.None"
Whenever `https://github.com/katzer/cordova-plugin-local-notifications.git#ios10` is installed.
Everything works fine but `OneSignal.OSInFocusDisplayOption.None` option is completely ignored in OneSignal.

The behaviour is that I get push notifications even when the app is in foreground.

This happens only in iOS, not in Android.

[2017-03-14 18:26] jkasten2 commented on #167
@epetre I checked the plugin source and they are using `userNotificationCenter:willPresentNotification:withCompletionHandler:` which calls the `completionHandler` to display the notification. Their `completionHandler` fires before ours so their plugin take priority which always displays a priority.
https://github.com/katzer/cordova-plugin-local-notifications/compare/master...ios10#diff-025c549dd22

[2017-03-20 02:31] AdrienDC commented on #48
+1 this is really needed

[2017-03-20 04:50] sonicwong commented on #47
@jkasten2
I set setSubscription to false,
go web ui saw user is "User Opted Out".
then call "getIds" again, it return pushToken (not null) to me.

I am using ionic 1.3 with latest xcode version8.2.1.

[2017-03-22 23:38] jkasten2 opened #168 "Windows Phone - 2.0.11 - isActive is true when the app is resumed from a notification"
`isActive` is `true` when the app is resumed from opening a notification when it should be `false` on Windows Phone devices.

[2017-03-24 13:54] juergengunz commented on #126
@jkasten2 any news when it will be implemented for cordova ?

[2017-03-24 18:07] jkasten2 commented on #126
@juergengunz We are working on a few more native updates and then will start updating this SDK after.

[2017-03-26 16:44] Birowsky opened #169 "Why isn't there an isPushNotificationsEnabled method?"
What is the way to check whether notifications are allowed or disallowed or not asked?

[2017-03-26 22:15] jkasten2 commented on #169
@Birowsky You can use [`OneSignal.getIds`](https://documentation.onesignal.com/docs/cordova-sdk#section--getids-) and check if `pushToken` is not `null`. This means that use has enabled notifications and is successfully subscribed to OneSignal.

[2017-03-27 14:40] vandres opened #170 "Platform "browser" support"
It would be really nice if the plugin would support the platform "browser". Maybe trough webpush?!

[2017-03-31 14:02] michaek opened #171 "iOS inFocusDisplaying not supressing notifications"
I'm using version 2.0.11 with Cordova 6.5.0, building for iOS. When I use `.inFocusDisplaying(window.plugins.OneSignal.OSInFocusDisplayOption.InAppAlert)`, with the app focused I receive an in app alert and a push notification. When I use `.inFocusDisplaying(window.plugins.OneSignal.OSInFocusDisplayOption.None)`with the app focused, I still receive a push notification.

I have attached a handler w

[2017-03-31 14:07] jpmsegurado opened #172 "Double Notifications"
When using the rest API, if sent with the `headings` options, it generates another notification with the `headings` only, and another one with everything correct.

[2017-03-31 14:32] michaek commented on #171
As with so many Cordova issues, removing `platforms/ios` and recreating it seems to have solved this. I should have tried that before opening an issue!

[2017-03-31 14:32] #171 closed

[2017-03-31 18:15] jkasten2 commented on #172
@jpmsegurado This will happen if another push notification plugin is installed in your app as it will parse and display the GCM / FCM message again. Run `cordova plugin list` and remove any other push notification plugins.

[2017-03-31 18:15] #172 closed

[2017-04-01 09:15] #169 closed

[2017-04-01 11:40] Birowsky opened #173 "Unexpected request for background location"
When certain conditions are met, the SDK requests background location, which opens permissions prompt:

<img width="303" alt="screen shot 2017-03-31 at 15 05 27" src="https://cloud.githubusercontent.com/assets/3199950/24578388/f0c10514-16df-11e7-831f-532786a6b6eb.png">

To reproduce:

1. User requires when-in-use location so the app prompts the user for permissions
2. User provides permissions
3.

[2017-04-02 14:48] halkoy opened #174 "build error"
hii,
I try to use it with IntelXDK as plugin. For android plugin does not build.
Error is: "plugin contains gradle scripts ?"

how can I build it?

[2017-04-03 11:01] jpmsegurado commented on #172
I actually had another, but I've tried this already and it didn't worked.

[2017-04-03 18:24] jkasten2 commented on #174
@halkoy You need to use the PGB-Compat branch instead. Add the following Git repo.
https://github.com/one-signal/OneSignal-Cordova-SDK.git#PGB-Compat

You also need the following plugin.
https://github.com/OneSignal/OneSignal-Cordova-Dependencies-Compat

Full setup instructions for the Intel XDK below.
https://documentation.onesignal.com/docs/intel-xdk-setup#section-setup-sdk

Note that Intel XDK'

[2017-04-03 18:24] #174 closed

[2017-04-08 00:55] jkasten2 opened #175 "Add stubs for "browser" target to prevent errors"
Currently app developers need to check if `window.plugins` exists before calling OneSignal when building for the browser target. This step could be eliminated if stub functions are created for the target.

[2017-04-08 00:56] jkasten2 commented on #170
@vandres Thanks for the suggestion, the webpush SDK works different in a number of ways so we do not plan to integrate it into the Cordova SDK at this time.

However we plan to create stub functions so you don't have to wrap OneSignal calls to prevent errors.
https://github.com/OneSignal/OneSignal-Cordova-SDK/issues/175

[2017-04-08 00:56] #170 closed

[2017-04-08 01:24] jkasten2 opened #176 "branch-cordova-sdk may interfere with getting an iOS push token"
`cordova plugin add branch-cordova-sdk --variable BRANCH_KEY=YOUR_KEY_HERE --variable URI_SCHEME=uri_scheme`

The following error is thrown by OneSignal even through it is set in the Xcode project when the above plugin is added.

[code]

[2017-04-09 06:54] dsfgsdfgf commented on #9
@jkasten2 I've tried implementing a background service and tried to make a persistent broadcastreceiver with the service... But still as you mention, when app is closed/swiped away/onDestroy() triggered, it is not able to process intents from within onNotificationReceived() to any remote process ? Could you advise of any workarounds to get package manager to launch an activity from within this cal

[2017-04-10 19:29] apparition47 opened #177 "[iOS] Receiving a push notification during app load triggers popup"
If you direct a APN push notification to an iOS device while it's loading (i.e. before `deviceready`, when my splashscreen is showing), a native popup will appear even though I'm using `OSInFocusDisplayOption.None`. Ideally, I don't want a popup at all.

Any ideas on how to fix this?

[code]

Received push notification while splashscreen showing. Notice the OneSignal SDK showing a native popup.
![

[2017-04-10 19:52] jkasten2 commented on #9
@dsfgsdfgf I am not sure I understand you question. Are you seeing a notification on your device when the app is swiped away? If not please see the `The app is Force Stopped` section in our troubleshooting guide below. Some manufactures customize Android for Force Stop / Kill apps.
https://documentation.onesignal.com/docs/notifications-show-successful-but-are-not-being-shown

[2017-04-11 14:23] pooi-pooi commented on #167
Hello guys, any news on that issue?

[2017-04-11 18:50] jkasten2 commented on #167
@pooi-pooi It is something that should be fixed in their plugin since it is overriding ours.

[2017-04-13 03:35] Slavezax commented on #31
Same issue here. I have an index.html which redirects users to main.html based on the local storage data. If app is closed, and if I notification comes, this function is not triggering.

[2017-04-18 18:04] freeriderND commented on #4
Are there any changes in this issue?

[2017-04-22 17:58] dpoquet commented on #176
I have the same error, please I need fix it!!

[2017-04-24 21:37] rodrigoreis22 commented on #153
I'm having the same problem, but with ios native sdk.

[2017-04-26 19:14] thalesware opened #178 "Installation Error - Unexpected token t in JSON at position 2136"
Greetings! please help. this error just started today (04/16/2017)

i run this command: sudo ionic plugin add onesignal-cordova-plugin --save

im trying to install the onesignal plugin in my ionic2 app but i get this error message:

**Error: Unexpected token t in JSON at position 2136**

_versions of what im using_:
mac osx el capitan 10.11.6 and xcode 8.2.1
cordova -v  =  6.5.0
ionic -v = 2.2.2
n

[2017-04-29 17:39] epetre opened #179 "Firebase incompatibility"
Firebase and OneSignal plugins seem to not play well together.

[Firebase plugin](https://github.com/arnesson/cordova-plugin-firebase/issues/159)

We want to use Firebase for analytics and other services other than push but something makes the app crash when a push is received and both addons are installed even though we are not registering anything for push in Firebase.

All we get from them is,

[2017-04-30 01:37] epetre commented on #179
If anybody has any idea on where the incompatibility is, it would be awesome to know since to me it just crashes and closes as soon as a notification comes in, no log nothing.

[2017-04-30 01:40] epetre commented on #179
gonna  try to debu with ```adb logcat *:E filter to only show Error level```

[2017-05-01 19:17] jkasten2 commented on #179
@epetre Please attach the logcat when you get it. It should contain a Java exception and stack trace. This will help us pin point exactly in the code where the crash is coming from.

Thanks.

[2017-05-01 20:28] epetre commented on #179
it's in their FirebasePluginMessagingService.java at line 104 if I remember right... I fixed it by removing their override of `onMessageReceived`, but a better fix could rock :)

[code]

[code]

[2017-05-03 03:55] epetre commented on #64
So there is no way to do it directly with this plugin for both devices without changing the native code?

[2017-05-03 04:05] jkasten2 commented on #64
@epetre Correct for apps out of focus. It wouldn't be recommend to start the whole Cordova runtime to process as this puts extra battery and memory pressure on the device vs native only code.

[2017-05-03 04:07] jkasten2 commented on #179
@epetre Thanks for the details. We are looking into options on preventing other plugins causing issue like this in the future.

[2017-05-03 04:10] jkasten2 commented on #178
@thalesware I recommend however doing a clean build of your project as it normally solves odd build errors.
https://documentation.onesignal.com/docs/troubleshooting-cordova-variants#section-clean-build

Please attach the full error if if provides it if you are still seeing an issue.

[2017-05-03 04:14] jkasten2 commented on #177
@apparition47 Thanks for the report. We will look into default it to `Notification` while the app is starting before `OneSignal.startInit` is called.

[2017-05-03 04:17] jkasten2 commented on #173
@Birowsky Do you have any other plugins in your app that could use the location permission? Please run `cordova plugin list` and attach the full list.

Your app would only request background location if `NSLocationAlwaysUsageDescription` was set in your Xcode `.plist`

[2017-05-03 04:38] epetre commented on #64
do you guys have any example on how we could achieve this for ios and android or what parts of this plugin are the best suited to insert an interception of a notification or some filtering based on the notification data?

I think this is the doc for [android](https://documentation.onesignal.com/docs/android-customizations#background-data-and-notification-overriding). But it could be nice to have s

[2017-05-03 04:55] jkasten2 commented on #64
@epetre For Android you can either fork the plugin or create your own. There is a guide the I skimmed over that covers creating a Cordova plugin well.
https://gist.github.com/mlynch/c9a469948680979a8740d68c47d1cf98
It would be more work to create your own plugin instead of forking this one but it would be easier to update to newer version of this plugin this way.

Basically the Android OneSignal g

[2017-05-03 08:57] apparition47 commented on #177
CC @Jun711 @andrewvmail

[2017-05-03 11:15] 01abhishekjain commented on #100
@jkasten2 currently on onesignal-cordova-plugin 2.0.11 but still facing this issue i.e. notifications with "ios_attachments" key are not received AT ALL if the app is force closed (swiped away from recents section). Although they are being received fine on Android.

The [troubleshooting page](https://documentation.onesignal.com/docs/troubleshooting-ios#section-notification-display-issues) tells me

[2017-05-03 12:05] Birowsky commented on #173
Yes, [cordova-background-geolocation](http://www.transistorsoft.com/shop/products/cordova-background-geolocation).

That's the plugin that adds the background location capability.

But to test, I removed the plugin and added the capability by hand, with OneSignal being the only suspicious plugin installed. That's when I noticed the popup.

Since then, the project got restructured, and we moved to

[2017-05-03 18:29] jkasten2 commented on #100
@01abhishekjain I am shooting for a release with this included around the beginning for June.

[2017-05-04 03:02] 01abhishekjain commented on #100
@jkasten2 how about reopening the issue till that time, because the v2.0.7 hasn't really solved this. Thanks.

[2017-05-04 03:11] jkasten2 commented on #100
@01abhishekjain The original issue of them not working at all has been fixed in that version. The limitation is noted in issue #126.  I have updated its title to better reflect the issue.

[2017-05-05 06:19] tundak opened #180 "Windows 10 App crash"
Windows 10 App crash during launch, but after removed one signal plugin it is working fine. tested with Lumia 940 xl

[2017-05-05 06:21] tundak opened #181 "NotificationExtender not working with Ionic App"
i have not found NotificationExtender feature for Hybrid App, As per support i tried to implement this with native code using https://documentation.onesignal.com/docs/android-customizations#section-background-data-and-notification-overriding but it is not working.

Please provide Help how to do this ?

[2017-05-05 22:54] jkasten2 commented on #181
@tundak Could you provide exact details on the steps you took in setting up and troubleshooting the issue? Please attach your code as well.

Thanks.

[2017-05-05 22:55] jkasten2 commented on #180
@tundak Are you building your project as a Windows Phone 8.1 project? Our SDK does not support UWP projects yet.

[2017-05-08 17:44] epetre commented on #179
Created a fork for the plugin and removed the push ability from Firebase meanwhile so it works with OneSignal.

https://github.com/epetre/cordova-plugin-firebase

[2017-05-11 09:42] tundak commented on #181
`NotificationExtender.java` code is

[code]
`AndroidManifest.xml `code is
[code]

[2017-05-11 09:44] tundak commented on #181
i did create `NotificationExtender.java` at same place where `MainActivity.java` is, than create service in `AndroidManifest.xml` and test the notification. but they are not working.

[2017-05-11 18:59] jkasten2 commented on #181
@tundak How are you building your apk? Are you using Android Studio or `cordova build`?

[2017-05-12 16:09] hocker-app opened #182 "IOS InAppAlert on coldstart even if Display is on Notification"
On IOS, when app is killed no notifications show up. Also when app is coldstarted then an alert of a notification shows up. Any ideas?

[2017-05-14 07:02] ritaazar opened #183 "E/OneSignal: Error Getting Google Registration ID java.io.IOException: AUTHENTICATION_FAILED"
Hello, I am getting the following error in my logcat although I have added the Google project Number to the project:
[code]

And in OneSignal Console, when I go to All Users tab, I get the following error:

![image](https://cloud.githubusercontent.com/assets/19166912/26031892/742c37a2-388c-11e7-93d2-b0dd29b07004.png)

[2017-05-16 00:54] jkasten2 commented on #4
@freeriderND The [OneSignal-iOS-SDK](https://github.com/OneSignal/OneSignal-iOS-SDK) native SDK that this SDK uses does not support offline tags yet. Sorry we don't have an eta at this time.

[2017-05-16 00:59] jkasten2 commented on #154
@pablo-gonzalez Both the priority and ttl options have been added to the OneSignal dashboard.

[2017-05-16 00:59] #154 closed

[2017-05-16 01:07] jkasten2 commented on #124
@widonwaker Closing to due in activity, Feel free to reopen if you are still seeing an issue.

[2017-05-16 01:07] #124 closed

[2017-05-16 01:08] jkasten2 commented on #129
@Zapmobilegames Closing to due inactivity, feel free to reopen if you are still seeing an issue.

[2017-05-16 01:08] #129 closed

[2017-05-16 01:09] #137 closed

[2017-05-16 01:10] jkasten2 commented on #134
@alexandreafc Closing to due inactivity, feel free to reopen if you are still seeing an issue.

[2017-05-16 01:10] #134 closed

[2017-05-16 01:14] jkasten2 commented on #151
@luis-ordering Closing to due inactivity, feel free to reopen if you are still seeing an issue.

[2017-05-16 01:14] #151 closed

[2017-05-16 01:18] jkasten2 commented on #159
@DipakBCS Closing to due inactivity, feel free to reopen if you are still seeing an issue.

[2017-05-16 01:18] #159 closed

[2017-05-16 01:21] jkasten2 commented on #183
@ritaazar The `AUTHENTICATION_FAILED` is from the device it self or a networking issue and is thrown from the Google Play services library. See the below issue for more details.
https://github.com/OneSignal/OneSignal-Android-SDK/issues/229

[2017-05-16 01:21] #183 closed

[2017-05-16 01:24] jkasten2 commented on #166
@Chuckytuh Closing due to inactivity, please feel free to reopen if you are still seeing this issue.

[2017-05-16 01:24] #166 closed

[2017-05-16 01:26] jkasten2 commented on #143
@AZbang @TecenGOD Closing due to inactivity, feel free to reopen if you are still seeing this issue.

[2017-05-16 01:26] #143 closed

[2017-05-16 01:27] #160 closed

[2017-05-16 01:29] jkasten2 commented on #156
@dennis-b Closing to merge with issue #30.

[2017-05-16 01:29] #156 closed

[2017-05-16 17:05] #182 closed

[2017-05-17 01:58] jkasten2 commented on #179
@epetre This should no longer be an issue with our [OneSignal Cordova 2.1.0](https://github.com/OneSignal/OneSignal-Cordova-SDK/releases/tag/2.1.0) release with the [main fork of the firebase](https://github.com/arnesson/cordova-plugin-firebase) plugin you linked to.

[2017-05-17 01:58] #179 closed

[2017-05-17 01:59] jkasten2 commented on #149
@capaccio This is now implemented with the 2.1.0 version of this SDK.

[2017-05-17 01:59] #149 closed

[2017-05-17 02:00] jkasten2 commented on #131
@nootherday @dlaynes @snowbreeze This is now fixed in the 2.1.0 version of this SDK.

[2017-05-17 02:00] #131 closed

[2017-05-17 02:00] jkasten2 commented on #133
@TheStalwart This is now fixed in the 2.1.0 version of this SDK.

[2017-05-17 02:00] #133 closed

[2017-05-17 05:16] jkasten2 commented on #126
@juergengunz @AshPowell @mikestalker This limitation has been resolved in our [latest Cordova 2.1.1 SDK](https://github.com/OneSignal/OneSignal-Cordova-SDK/releases/tag/2.1.1).

[2017-05-17 05:16] #126 closed

[2017-05-17 14:03] NoNameProvided opened #186 "Plugin cannot be installed"
The latest version of the plugin cannot be installed on my Mac. The error messages is the following:

[code]

My environment info: (from running `ionic info` command)

[code]

[2017-05-17 14:35] NoNameProvided commented on #186
Trying to install via cordova gives this error:
[code]

[2017-05-17 14:45] NoNameProvided commented on #186
Looking at the release notes, (seeing 2.1.0 was release few hours ago) its seems cocoapod support was just added. So I suspect the issue is in the plugin, not with Cordova 7.

[2017-05-17 14:46] NoNameProvided commented on #186
And yes I can confirm, I can install the `2.1.0` version without any trouble.

[2017-05-17 14:49] danielehrhardt commented on #186
Same here
[code]

[2017-05-17 19:34] jkasten2 commented on #186
@NoNameProvided @danielehrhardt The 2.1.1 version of the OneSignal Cordova SDK now requires CocoaPods to be installed if building for iOS.
https://documentation.onesignal.com/docs/cordova-sdk-setup#section-ios-requirements

[2017-05-17 19:34] #186 closed

[2017-05-18 20:25] peterel opened #187 "Why CocoaPods?"
Hey,

Ive been having some serious issues the last few hours trying to get a pretty simple app (cordova) to build as well as to get the onesignal plugin to install. I use your plugin for another 3 apps without these issues (last one was a few weeks ago). Now I see that there was a commit with "Switched to CocoaPods for native iOS SDK" which Im assuming is the cause for my problems. Im sure you hav

[2017-05-18 21:21] jkasten2 commented on #187
@peterel We switched to Cocoapods to make this SDK easier to maintain and it is official supported through Cordova. Also the iOS OneSignal native SDK now requires a Notification Service Extension target to support iOS 10 action buttons and media attachments. However the Objective-C code base can't be compiled directly to the target, it just be a pre-build framework to link with the target. Which e

[2017-05-18 21:36] peterel commented on #187
Thanks for a quick reply!

For me, any command which has "sudo" and onesignal-cordova-plugin breaks. E.g. when adding the plugin. I also messed up at one point and had to remove the iOS platform and then add it again with "sudo cordova platfrom add ios" which in turn then also added your plugin but broke since "You cannot run CocoaPods as root."

I have now been able to move on by using your old r

[2017-05-18 22:17] centrual opened #188 "When i set the group, the sound sometimes plays more than once"
Hello;

I talked with support ten days ago about that and they said `this problem probably about cordova sdk, we will update in next month.`

When i set group key for messages in android sound plays two times most of the time (sometimes not). My sound file is: https://transfer.sh/wdZYB/onesignal_default_sound.mp3

I am using Samsung Galaxy S4 with android 5.0
This problem happening on every phone

[2017-05-22 09:56] mtshare opened #189 "Error compiling with Xcode since the last update"
After installing the last update of OneSignal plugin (the one with CocoaPods) i get this error:

`ld: library not found for -lPods-APPNEME`
`clang: error: linker command failed with exit code 1 (use -v to see invocation)`

Any suggestions?

[2017-05-22 10:55] marcoiacobelli opened #190 "Error building Android in ionic framework"
Hi all,
i have an issue when a try to build my app on Android.
Terminal log show this message

/Users/jacobs/Desktop/tg24/platforms/android/build/intermediates/res/merged/debug/xml/config.xml:73: error: Error parsing XML: unbound prefix

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':processDebugResources'.

* Try:
Run with --stacktrace option to get the s

[2017-05-22 10:56] marcoiacobelli commented on #190
<vs:features>
        <vs:feature>onesignal-cordova-plugin</vs:feature>
    </vs:features>

[2017-05-22 10:56] marcoiacobelli commented on #190
[code]

[2017-05-22 21:06] jkasten2 commented on #176
@dpoquet We have made a number of iOS change in our 2.1.1 SDK which may have fixed this issue. Can you try this latest version?

[2017-05-29 05:27] ervanmi commented on #180
I am building app for windows phone 8.1. I use Visual Studio 2015 to create the app. In the first launch of app without internet connection, App will crash. This problem happen if I added one signal plugin.

[2017-06-01 21:10] GuiCarneiro commented on #189
I'm having the same problem

[2017-06-01 23:06] jkasten2 commented on #187
@peterel `sudo` isn't needed to run any of basic cordova commands to add platforms, plugins, build, etc. If you ran sudo already you might need to run chown and chmod to fix the permissions however based on any access errors you might get.

[2017-06-01 23:07] jkasten2 commented on #189
@mtshare @GuiCarneiro Can you make sure CocoaPods is installed and updated on your system by running the following?
[code]

[2017-06-02 08:39] peterel commented on #187
@jkasten2 Ok. Thanks for the info. Closing this issue.

[2017-06-02 08:39] #187 closed

[2017-06-05 16:39] zarko-tg opened #191 "iOS build conflict with cordova-plugin-flurryanalytics (OneSignal.h not found)"
Posting the issue here though it relates to cordova-plugin-flurryanalytics (https://github.com/blakgeek/cordova-plugin-flurryanalytics).

A basic Cordova project that uses onesignal-cordova-plugin builds just fine for iOS but if it also depends on cordova-plugin-flurryanalytics then we get a fatal failure:

[code]

Steps to reproduce:
1. Download and unpack https://1drv.ms/u/s!AjM7j9WqGSJrgap3V7Kx

[2017-06-06 14:07] nive745 opened #192 "Getting warning while uploading app to app store"
We have discovered one or more issues with your recent delivery for "App Name". Your delivery was successful, but you may wish to correct the following issues in your next delivery:

Missing Push Notification Entitlement - Your app appears to register with the Apple Push Notification service, but the app signature's entitlements do not include the "aps-environment" entitlement. If your app uses th

[2017-06-07 17:31] reza-khalafi commented on #56
Do it solve ?????

[2017-06-08 08:48] alejandromagnorsky opened #193 "Can't build for android after version 2.1.0"
Until version 2.0.11 I can run `cordova build android` without issues.

However, If I use version 2.1.0+ I get this message:
[code]
I believe it has something to do with using onesignal with other plugins. I tried removing and adding, and after a few tries, I found that onesignal-cordova-plugin (v2.1.0+) and cordova-plugin-google-analytics (latest version).

I'm using Cordova v7.0.1, Cordova Andro

[2017-06-08 16:18] mazzimi opened #194 "How to manage Action Buttons"
Hello,

I'm using OneSignal plugin in Ionic1 project and I'm using some Action buttons in order to allow the user to take some immediate action directly from the notification.
For example an Action button can be "Read" to mask a message as read, or "Call" and so on.

I'm wondering if it could be technically possible to make an extension to the code so that the Action button could be managed withou

[2017-06-08 23:05] jkasten2 commented on #193
@alejandromagnorsky Sorry about the issue. Just released a 2.1.2 update to fix this problem.

Thanks.

[2017-06-08 23:05] #193 closed

[2017-06-08 23:06] jkasten2 commented on #192
@nive745 You must enable "Push Notifications" under Capabilities in your Xcode project as Apple notes. See the link below for full details on enabling this.
https://documentation.onesignal.com/docs/cordova-sdk-setup#section-5-ios-part-1-required-

[2017-06-08 23:06] #192 closed

[2017-06-08 23:19] jkasten2 commented on #191
@zarko-tg Are you able to reproduce the issue with a new Cordova project? The error is referring to `OneSignal.h` not being found which seems like the OneSignal plugin didn't get added correctly. `cordova-plugin-flurryanalytics` could be changing Xcode paths but if it did this it would create conflicts with other plugins as well.

[2017-06-08 23:23] jkasten2 commented on #190
@marcoiacobelli Are you getting this error when you build from the command line / PowerShell or through Visual Studio?

Since you added it as a `vs:feature` tag per the [OneSignal Visual Studio setup guide](https://documentation.onesignal.com/docs/cordova-sdk-setup#section-1b-visual-studio) you can only build from visual studio as the Ionic CLI tool will have issues building.

[2017-06-08 23:34] jkasten2 commented on #194
@mazzimi Notification action buttons are support through OneSignal however they open the app by default. Preventing the app from opening is possible, however it will take native code to do this.

For Android follow the [Changing the open action of a notification](https://documentation.onesignal.com/docs/android-customizations#section-changing-the-open-action-of-a-notification) guide. You will need

[2017-06-08 23:37] zarko-tg commented on #191
@jkasten2 Yes, it's a new Cordova (test) project.
Did you try the steps from above? I can reproduce it 100%/100% attempts.

On a real project which uses a bunch of other plugins the situation is the same - we get the build conflict with OneSignal only when the Flurry plugin is also present.

[2017-06-09 00:28] jkasten2 commented on #40
@ricolo @oggyindahouse @aurbina83 You can now call [`getPermissionSubscriptionState`](https://documentation.onesignal.com/docs/cordova-sdk#section--getpermissionsubscriptionstate-) to get the current notification permission and subscription state for the device. There is also now a [`addPermissionObserver`](https://documentation.onesignal.com/docs/cordova-sdk#section--addpermissionobserver-) and [

[2017-06-09 00:28] #40 closed

[2017-06-09 00:30] jkasten2 commented on #165
@ricolo @oggyindahouse @aurbina83 You can now call [`promptForPushNotificationsWithUserResponse`](https://documentation.onesignal.com/docs/cordova-sdk#section--promptforpushnotificationswithuserresponse-) which will call the passed in function as soon as the user answers the permission prompt.

This was added in the Cordova 2.1.0 SDK release.

[2017-06-09 00:30] #165 closed

[2017-06-09 00:31] jkasten2 commented on #48
@BugsBunnyBR @tavosansal @mtshare @gianpaj @AdrienDC  You can now call [`getPermissionSubscriptionState`](https://documentation.onesignal.com/docs/cordova-sdk#section--getpermissionsubscriptionstate-) to get the current notification permission and subscription state for the device. There is also now a [`addPermissionObserver`](https://documentation.onesignal.com/docs/cordova-sdk#section--addpermis

[2017-06-09 00:31] #48 closed

[2017-06-09 01:42] alejandromagnorsky commented on #193
Wow, that was really a "quick fix". it's working now. Thanks!

[2017-06-09 03:53] AdrienDC commented on #48
Great work team ! I'm implementing it straight way

[2017-06-09 03:57] neoassyrian opened #195 "Check if device is subscribed"
Hi guys,
How can we check if the device is subscribed to receive notifications or not?
Would like to display a settings to indicate if the user is subscribed or not (which we can do using the setSubscription(enable) method)

is there "getSubscription" like a method?

[2017-06-09 04:14] jkasten2 commented on #195
@neoassyrian We actually just added  [`getPermissionSubscriptionState`](https://documentation.onesignal.com/docs/cordova-sdk#section--getpermissionsubscriptionstate-) part of the 2.1.0 release that will do just this!

Thanks!

[2017-06-09 06:23] neoassyrian commented on #195
Will the Ionic Native NPM be updated accordingly?

[2017-06-09 08:31] neoassyrian commented on #195
Yes, that's what I meant.
What is required to get that updated? I will open a request with them?

[2017-06-09 10:27] mtshare commented on #189
I keep getting this error.

[2017-06-10 05:28] jkasten2 commented on #195
@neoassyrian The repo isn't maintained by OneSignal. However I recommend opening an issue with their repo or a pull request with the required changes.
The following file needs additional made to it for these new functions.
https://github.com/ionic-team/ionic-native/blob/v3.12.1/src/%40ionic-native/plugins/onesignal/index.ts

[2017-06-10 05:28] #195 closed

[2017-06-12 06:53] luciandarabus opened #196 "Ionic 3 - ios platform not working"
I am trying to use oneSignal with ionic 3.3.0 and access the onesignal plugin via https://ionicframework.com/docs/native/onesignal/
but it doesn't work on ios and I get the following error:

[09:44:01]  console.warn: Native: tried calling OneSignal.startInit, but the OneSignal plugin is not installed.
[09:44:01]  console.warn: Install the OneSignal plugin: 'ionic plugin add onesignal-cordova-plugi

[2017-06-12 06:54] 01abhishekjain commented on #100
@jkasten2 I would love for this to be implemented soon, as would everyone. Can we expect a release sometime soon?

[2017-06-12 07:10] trueicecold opened #197 "Changing tags and putting ios app in background doesn't update on backend"
I have this bit of code:
`
window.plugins.OneSignal.sendTag("PushPrivate", Config.getParam("pushPrivate"));
window.plugins.OneSignal.sendTag("PushTagging", Config.getParam("pushTagging"));
`

when I run this code by clicking a button and immediately going to background, tags are not updated in the backend. As soon as I put it on foreground again, it updates.

Tested iOS 9.3.5, iPhone 4S

[2017-06-15 04:51] lakshmana opened #198 "Media not seen on rich notification on PhoneGap CLI app"
Hi I am having trouble sending images  in the push notification using onesignal-cordova-plugin. The plugin failed to send media on both the android (lolipop & kitkat) and ios device (iphone 6s). The image satisfies the 3 basic rule as in documentation:
- the media can be opened directly browser
- The media used is https https://www.procab.ch/assets/content/news/news-thumb-auditseo.jpg with 'https'

[2017-06-15 04:53] lakshmana commented on #198
BTW, I didnot used the Phonegap cloud build, instead I am using command line phonegap. The issue also occurred with Android Studio & XCode builds.

Thx

[2017-06-15 15:35] vahidvdn opened #199 "Can not receive notification when app is closed"
I have trouble with getting notification when the app is closed. It works fine in background mode. Also I had the same issue with phonegap push plugin.

I guess may be this a problem with that plugin. But now it also happens with `OneSignal`. Tested in android 6 (Huawei device)

**NOTE:** This is duplicated issue, but I don't close the app by force closing from setting. Simply close from recent ap

[2017-06-15 18:32] jkasten2 commented on #199
@vahidvdn Huawei (Pre-EMUI 5.0 / Android 7), Xiaomi, and a few other manufactures have made customization to Android to put apps into a force-stopped state after swiping them away or after some time. For Go to Settings > "Protected apps", check your app. See this guide for [full details](http://phandroid.com/2017/02/02/huawei-honor-emui-first-thing/).

See OneSignal's [Notifications not shown](htt

[2017-06-15 21:44] jkasten2 commented on #198
@lakshmana I have test your image with Android Lollipop (5.0) and Android 7.1.1 without any issues. Make sure if there are a few other notifications in the shade that you swipe down on it to expanded it. It may not be expanded by default.

​For iOS 10 please double check the steps in [5. iOS - Part 2](https://documentation.onesignal.com/docs/cordova-sdk-setup#section-5-ios-part-2-recommend-) as th

[2017-06-15 21:50] jkasten2 commented on #197
@trueicecold iOS pauses all network requests when the app is back grounded by default. We will look into seeing if we can allow the in-flight requests to finish and mark this as an enhancement.

[2017-06-15 22:07] jkasten2 commented on #196
@luciandarabus Are you able to reproduce the issue with a new Ionic project as well? Did you get any warnings when running `ionic plugin add onesignal-cordova-plugin`? Can you check that your project directory contains `plugins/onesignal-cordova-plugin/www/OneSignal.js`?

[2017-06-16 06:16] lakshmana commented on #198
@jkasten2 Thx for the help. It is not working on the ios. It was fixed using [This extra steps](https://documentation.onesignal.com/docs/cordova-sdk-setup#section-5-ios-part-2-recommend-) as you have mentioned. I think it would be good if this info was mentioned on the documentation for phonegapSDK. Currently this info is available on cordovaSDK only.

For android, I am sorry but I really do not u

[2017-06-16 07:32] JohnRambo90 commented on #191
I'm facing a similar problem.  (+1)

Whenever i try to build my iOS Version of my ionic project on a mac pc it shows me OneSignal.h not found because the imports doesn't exist.
I've tried a clean build -> no changes
Then i found this plugin onesignal-cordova-plugin-pgb-compat which allows me to build the project. It also shows me that it has registered an device on the dashboard...

Problem with t

[2017-06-16 11:17] vahidvdn commented on #199
Thank you so much. When I tick the app as protected, it worked fine. Is there anyway to make the app protected by default in cordova/ionic ?

[2017-06-16 11:17] #199 closed

[2017-06-16 18:27] jkasten2 commented on #199
@vahidvdn For Xiaomi there isn't and dont' think there would be for Huawei either. However I know for Xiaomi you can direct the user to the settings page for this. Their might be for Huawei as well but haven't looked into it. It will require native Java code to do so however.

[2017-06-16 18:58] jkasten2 commented on #198
@lakshmana Thanks, we have updated our iOS PhoneGap CLI instructions for this.

The app can't control if the notification will be expanded by default in the shade. The user must swipe down on it to expand it. You can set the priority of the notification to 10 (High) so it display as a heads-up notification expanded for a short time however. You can use the priority in testing but only do so in pro

[2017-06-16 19:08] jkasten2 commented on #188
@centrual Thanks for reporting this issue. It has been fixed in the 2.1.2 release.

[2017-06-16 19:08] #188 closed

[2017-06-17 13:29] kwakueshun commented on #100
I am trying to send rich notifications with an attachment which is an image. when I use any url, it works but the url from my firebase storage does not work even when I add ?filetype=file.jpg to the url

[2017-06-17 22:21] jkasten2 commented on #100
@kwakueshun Can you share the URL so we can look into reproducing the issue?

[2017-06-19 05:39] lakshmana commented on #198
Thanks @jkasten2 for all the support. I am closing this issue. (Y)

[2017-06-19 05:39] #198 closed

[2017-06-19 14:02] AntonioMenti opened #200 "Property 'getPermissionSubscriptionState' does not exists on type 'OneSignal'"
Good Morning,

i've created an ionic 3 app with One Signal. Notification correctly received but i can't access getPermissionSubscriptionState method.

ionic info tell me that i have the latest version installed.
Costructor

`private _SIGNAL : OneSignal`

and then:
`this._SIGNAL.getPermissionSubscriptionState()
	  .then((msg) {
			console.log(JSON.stringify(msg));
	  });`

ionic info command:

`glo

[2017-06-19 14:16] jeffscm commented on #196
using ionic 3.4.0

when you use ionic plugin add onesignal-cordova-plugin
it will ask to update pods (if not already done)
ionic platform rm ios
rm -rf plugins/
ionic platform add iOS
npm install --save @ionic-native/onesignal
ionic build ios

xcode part:

open Pods folder
drag Pods/OneSignal/../../../OneSignal.framework to the Build Phases -> Link binaries with libraries
on the Build Phases -> Li

[2017-06-19 14:21] vahidvdn opened #201 "Save device token to external database"
I am able to send push notification to all users. But I want to save each user's token in my own database and use api to send push. How should I get the token? I simply do this:

[code]

Of course this not an issue, but didn't find anywhere to ask. Thanks.

[2017-06-19 18:44] jkasten2 commented on #201
@vahidvdn I recommend using the [`addPermissionObserver`](https://documentation.onesignal.com/docs/cordova-sdk#section--addsubscriptionobserver-) function to get the OneSignal user / player id.

[code]

The observer ensures your callback is only fired when a change happens so you don't have to add additional checks.

[2017-06-19 18:53] jkasten2 commented on #200
@AntonioMenti This is a new function that doesn't have it's TypeScript definitions released yet. Please see the following thread for updates on it's release.
https://github.com/ionic-team/ionic-native/pull/1678
https://github.com/ionic-team/ionic-native/releases

Thanks.

[2017-06-19 18:53] #200 closed

[2017-06-19 18:58] jkasten2 commented on #196
@jeffscm Thanks for the details. The Xcode steps shouldn't be required to build. It's only needed to use Notification Action Buttons and Media Attachments. Noted in the link below.
https://documentation.onesignal.com/docs/cordova-sdk-setup#section-5-ios-part-2-recommend-

I wasn't able to reproduce this issue with a basic Cordova project. However I'll look into reproduce this issue with Ionic 3.4.

[2017-06-19 20:09] luciandarabus commented on #196
@jkasten2 - I've re-started the project from scratch and the OneSignal plugin was working till I've added some ionic native components and plugins. I've redo this step by step using ionic cli 3.4.0 and report back if I still have the conflict and from where.

[2017-06-20 06:07] vahidvdn commented on #201
@jkasten2 Thanks. And there is one note in docs which you mentioned:

As I know and also mentioned in the note, the token will be changed form Google/Apple periodically. Then we must update the token in out database. So, native developers writes some services that run even the user doesn't open the app. What should we do in cordova? (Or maybe OneSignal handles it in it's own server!?)

[2017-06-20 06:57] vahidvdn commented on #201
Also `userId` is undefined in both state.from and state.to . Here is the result of state (value of callback:

[code]

And then to.status becomes 2.

[2017-06-20 11:07] vahidvdn commented on #201
I could be able to get the id with this code:

[code]

But it only works once. (in the next time, when I open the app, doesn't run). Any idea?

[2017-06-20 11:07] #201 closed

[2017-06-21 19:48] gerciljunio opened #202 "Does not subscribe to android push"
After updating the cordova, the plugin and node, Android no subscribe in OneSignal, is anyone experiencing the same problem?

[code]

What I did and did not work:

- I removed the android platform and added again, I did this three times already
- Removed all platforms and added again, including ios
- I reinstalled the plugin several times
- Deletes the ```node_modules``` folder completely and re-c

[2017-06-21 21:07] jkasten2 commented on #202
@gerciljunio Are you getting an Android user the in the OneSignal dashboard under All Users as unsubscribed? Or no Android user entries at all?

Can you check the device's logcat for any errors or warnings? You can enable additional long by calling [`setLogLevel`](https://documentation.onesignal.com/docs/android-native-sdk#section--setloglevel-).

You can also contact OneSignal support sending the

[2017-06-21 22:08] gerciljunio commented on #202
@jkasten2 there are no Android user entries, but with its tip on ```setLogLevel``` (thank you) i managed to find two problems, they are:

- ActivityManager | Scheduling restart of crashed service com.app.grcard.client/com.onesignal.SyncService in 1000ms

- PluginManager | THREAD WARNING: exec() call to OneSignalPush.init blocked the main thread for 79ms. Plugin should use CordovaInterface.getThrea

[2017-06-22 01:51] gerciljunio commented on #202
I just created a new cordova project, from scratch and the same errors occur, I removed the cordova completely from my machine, reinstalled everything again and also did not solve! :(

[2017-06-22 10:28] anivaisu opened #203 "How to use rest api"
Hi,

  I am using ionic 2.

 I tried to this plugin for pushnotifications.

 How to send push notifications using rest API using this plugin.

 I tried to post man

Here is my URL
https://onesignal.com/api/v1/notifications

Here is my header
[{"key":"Authorization","value":"Basic  NDJhZDg0NWQtYjM0NS00YzUzLTgwNjktMDgyNThlMmUxNDYy","description":""}]

This is a body msg
{
  "app_id": "821e3c9a-aee4-

[2017-06-22 10:51] anivaisu opened #204 "How to add custom icon for notifications"
Hi,
  I am using ionic2.
  I need to Custom icon in notifications

  Kindly advice me,
 Thanks

[2017-06-22 17:51] gerciljunio commented on #202
The problem has been resolved after uninstalling all the features on my machine and starting all over again, including the application I'm developing. I can not tell where the problem was, but I believe it was local. Thanks!

[2017-06-22 17:51] #202 closed

[2017-06-22 18:50] jkasten2 commented on #203
@anivaisu You are most likely missing `Content-Type: application/json` in the HTTP header. Please follow our Postman specific guide below to make sure you have everything set correctly.

https://documentation.onesignal.com/docs/using-postman

[2017-06-22 18:50] #203 closed

[2017-06-22 18:51] jkasten2 commented on #204
@anivaisu Please follow the Android Icon guide below.
https://documentation.onesignal.com/docs/customize-notification-icons

[2017-06-22 18:51] #204 closed

[2017-06-23 07:44] anivaisu opened #205 "Does not set small icon using ionic."
I am using ionic 2.

I using this plugin

$ ionic cordova plugin add onesignal-cordova-plugin
 $ npm install --save @ionic-native/onesignal
i tried to change small icon.

I create those images

<project-root>/platforms/android/res/drawable-[SIZE_NAMES]/
Replace [SIZE_NAMES] with hdpi, xhdpi, xxhdpi, xxxhdpi creating one for each name. Four folders will be created in total.

Now i still does not ch

[2017-06-24 03:35] jkasten2 commented on #205
@anivaisu Are you seeing the default bell icon or a white screen or circle for the small notification icon? Can you check that these files are being built into your APK?

[2017-06-25 21:28] vabiro opened #206 "Crash 'attributed' to Onesignal plugin(?)"
Hi,

I have been getting the following crash information, and I was wondering if there are any thoughts on what could be causing it:

[code]

[2017-06-26 18:28] jkasten2 commented on #206
@vabiro Thanks for the stack trace. We haven't gotten any other `OutOfMemoryError` exception reports before so I don't believe there is a memory link in the SDK.

Are you able to reproduce the issue? How much memory does Android Studio report your app is taking?

Do you get other `OutOfMemoryError` exceptions at different stack traces?

[2017-06-27 22:37] scrnet opened #207 "BADGE ios 10.3.2"
We are having problems on iOS 10.3.2 using cordova. The badges are not showing.  This is working in older version of iOS like 9. Thanks.

[2017-06-27 23:10] jkasten2 commented on #207
@scrnet We have tested our SDK with iOS 10.3 without any issues. Can you ensure you don't have any other notification plugins in your app that could be interfering? Please run `cordova plugin list` to check for this.

Also make sure the permission is enable in the iOS Setting for your app. Making sure `Badge App Icon" is enabled.

Lastly make sure your app is in the background or closed when you s

[2017-06-28 09:10] chapuzzo commented on #207
This is or current plugin list, none of them but this one has to do with push notifications, the notifications arrive to the target devices perfectly, but the badge with the closed app is not showing up.

cordova-plugin-compat 1.1.0 "Compat"
cordova-plugin-dialogs 1.3.3 "Notification"
cordova-plugin-file 4.3.3 "File"
cordova-plugin-file-transfer 1.6.3 "File Transfer"
cordova-plugin-save-image 0.2.

[2017-07-01 18:13] PterPmnta opened #208 "Do not subscribe users in OneSignal with versions of Android 5 or higher"
I'm integrating the push-notifications in my hybrid application developed in Ionic v1, but I have encountered a somewhat strange problem, and is that users with android version 5 or higher are not subscribing to the OneSignal platform.

I have a phone that has Android 4.2.2, and everything works to normal, subscribes, and everything works. Some days ago, you could subscribe to a phone which proved

[2017-07-04 21:12] rogeliotrejo13 commented on #191
Same Issue

global packages:

    @ionic/cli-plugin-proxy : 1.3.1
    @ionic/cli-utils        : 1.4.0
    Cordova CLI             : 7.0.1
    Ionic CLI               : 3.4.0

local packages:

    @ionic/app-scripts              : 1.3.12
    @ionic/cli-plugin-cordova       : 1.4.0
    @ionic/cli-plugin-ionic-angular : 1.3.1
    Cordova Platforms               : ios 4.4.0
    Ionic Framework

[2017-07-06 05:35] djdannycastillo opened #209 "Push notification not launch with lock screen"
Hi, i'm developing an app using one signal for push notification in my Cordova project. Everything works fine when the phone screen is on but when I lock the screen of my phone, the push notification does not arrive.

In the One Signal Dashboard shows that notification is delivered but it's not like that.

Is there anything that needs to be configured in the Cordova project?

This is my code:

[2017-07-07 01:20] jkasten2 commented on #208
@PterPmnta OneSignal should always be initialized with the start of your app as a number of things depend on this. This includes the SDK ensure the push token is up to date, session counts and duration, and state is synced including tags.

You can set `kOSSettingsKeyAutoPrompt` to `false` with [`iOSSettings`](https://documentation.onesignal.com/docs/cordova-sdk#section--iossettings-) so the user d

[2017-07-07 01:23] jkasten2 commented on #209
@djdannycastillo The issue is most likely due to your device force-closing apps when the screen is off. This isn't normal Android behavior however some manufactures such as Xiaomi and Huawei have been know to customize Android to do this.

Please see the link below for a full list of manufactures that put apps into this state and the setting you can change on the device.
https://documentation.ones

[2017-07-07 01:29] jkasten2 commented on #178
@thalesware Closing this issue due inactivity. Please feel free to reopen if the above solution didn't work for you.

[2017-07-07 01:29] #178 closed

[2017-07-07 01:30] jkasten2 commented on #181
@tundak Closing due to inactivity. Please feel free to reopen if you have more details.

[2017-07-07 01:30] #181 closed

[2017-07-10 03:21] PterPmnta commented on #208
@jkasten2 i solved, create a new project with Ionic 1, and check the `config.xml`, and see the `path` and other configs.

[2017-07-11 06:57] RomainDev25 opened #210 "IdsAvailable is deprecated, registerForPushNotification is deprecated"
Hello, I have this issue, when I install and build ios project.

Thanks in advance.

![capture d ecran 2017-07-11 a 08 55 40](https://user-images.githubusercontent.com/24386544/28054831-ca98f726-6616-11e7-8a40-3752f20ce06d.png)
![capture d ecran 2017-07-11 a 08 55 50](https://user-images.githubusercontent.com/24386544/28054836-ccd55818-6616-11e7-9c02-c4b3c06def7f.png)

[2017-07-12 06:18] LtotheWT opened #211 "ionic 3, How to get notification additionaldata?"
this is the fucntion i got from [https://ionicframework.com/docs/native/onesignal/](url)
`this.oneSignal.handleNotificationReceived().subscribe(() => {
     // do something when notification is received

    });
    this.oneSignal.handleNotificationOpened().subscribe(() => {
      // do something when a notification is opened
    });`
how can i get the notification additional data in ionic 3?

bel

[2017-07-12 06:23] #211 closed

[2017-07-12 21:12] peterel opened #212 "404, Not Found when Cancel notification"
Seems Ive tried each way here but I keep getting a 404, Not Found error when trying to remove a notification. Any help would be appreciated.

Note 1: The notification is created, and I can see it in the console.
Note 2: Ive compared the notificationID that I am sending in through the API with the notification that is already create and visible in the console (ID is visible via the url in the conso

[2017-07-12 21:29] gdeglin commented on #212
Please try the following:
[code]

For future non-SDK related questions, please contact us at support@onesignal.com.

[2017-07-12 21:29] #212 closed

[2017-07-12 21:41] peterel commented on #212
Thanks, that works!

Will do!

[2017-07-14 13:40] elysiopires commented on #189
Same problem here... Have anyone success with this error?

@jkasten2 @GuiCarneiro @mtshare

[2017-07-14 13:49] elysiopires commented on #189
Hello Guys!

I got work here...

My aproach is:
Open the folder platform > ios on xcode (Don't open the project file)
Will appear two projects your cordova project and Pods project
Click over Pods project and go to Build Settings > Search for "**No Common Blocks**" > Then change the value to **YES**

Save and be happy... after a week the problem was solved!

[2017-07-15 04:02] jkasten2 commented on #208
@PterPmnta Good to hear!

[2017-07-15 04:02] #208 closed

[2017-07-15 04:04] jkasten2 commented on #210
@RomainDev25 Thanks for reporting, you can safely ignore these Objective-C warnings. They will be converted to newer method calls internally in the future.

[2017-07-15 04:04] #210 closed

[2017-07-21 11:55] m7ammad7assan opened #213 "notification link opens app then blank page with confirmation button"
i have attach an article link to notification which triggerd by a php API, the link opens the article on the app using android but in ios the link opens a blank page with "done" button when press the button the article will be opened.. so how to make the ios open the article directly..?

[2017-07-23 17:55] ahmedalmulki commented on #21
Hi @jaapjanfrans  I want the same thing but the link you send it before is not working anymore, can u give some example to work on it please .

[2017-07-24 13:21] RomainDev25 opened #214 "Android don't receive notification"
Hello, I have install and configure Android in Firebase and in admin, but I don't receive.
I show my device go in admin, but i don't receveive push.

Can you help me ?

[2017-07-25 12:33] videmort opened #215 "Android - Background push without showing a notification"
Private mode is not working. All times shows in the notificaction center the logo without text.

Tested in Huawei p8 lite with android 5.0.1 and samsung galaxy s7

Apk is compiled with minSdkVersion 21  and targetSdkVersion 23

[2017-07-25 14:02] ali-mahmoodvand opened #216 "getIds slow response"
I use onesingal
[code]
this is soooo slow for getIds function in android devices
please help me @jkasten2

[2017-07-25 21:42] jkasten2 commented on #216
@ali-mahmoodvand We will need the full logcat from the device to debug the issue. Please add the following right before initializing OneSignal it show network requests.
[code]

[2017-07-25 21:48] jkasten2 commented on #215
@videmort If you set the notification to Private there will still be a notification on the lock screen but it will say "Contents hidden". Unless the default or app specif setting for Private notifications was changed in the device Settings app.

If you don't want the notification to show an entry at all on the lock screen you will need to set it to Secret instead.

[2017-07-25 22:49] videmort commented on #215
I set to secret and still showing in the Notification Center. Try it an you will see that Not Working.

[2017-07-25 23:13] jkasten2 commented on #215
I tested this with our dashboard and our REST API with `"android_visibility": -1` and wasn't able to reproduce an issue. The notification does not slow anything at all on the lock screen but still does show in the notification shade when the device is unlocked.

Can you also make sure you are using the latest 2.1.2 OneSignal cordova SDK? Run `cordova plugin list` to check this.

[2017-07-25 23:18] videmort commented on #215
Mm I understand now. Notification will show when the device is unlocked.
Any way to not show never in Notification Center?
What I'm trying to do is send a Silent Push notification

[2017-07-25 23:30] jkasten2 commented on #215
@videmort This requires native code as starting the whole Cordova runtime will put a lot of load on the device and may have other restrictions. See issue https://github.com/OneSignal/OneSignal-Cordova-SDK/issues/156 for more details on this.

Let us know your use case for background work and it is something we can consider adding naively into the SDK itself.

[2017-07-25 23:36] videmort commented on #215
Well my app is based in push notifications

When one user respond to other user, I need to refresh one list in the App, for that I need that feature, to refresh the app data  when one user respond to other user and that user is using the App!
Silent push is the best way to tell to the App "Ey! Come on! Call to backend again and show me new data"

[2017-07-25 23:41] jkasten2 commented on #215
We are looking into possibly providing a SDK method that could be called to get a list of all notifications received by the device. You can then query it when your app is resumed / opened. Would this work for your use case?

[2017-07-25 23:45] videmort commented on #215
No because only affect when user is using the App and need to refresh the data in that moment.

When app is closed and opened of course I can refresh the data because I call backend in that moment but when the user in navigating on the app and need to refresh the data when other user response to that user is imposible to to that.
With silent push will be perfect to do that

[2017-07-26 00:01] jkasten2 commented on #215
@videmort I see, you need this only when using the app.  However if you have a messing app it would make sense to always show a notification when they are not in the app so the user know someone replied to them right away. So to omit showing a notification while the user is in the app you can call [`inFocusDisplaying(window.plugins.OneSignal.OSInFocusDisplayOption.None)`](https://documentation.one

[2017-07-26 06:55] videmort commented on #215
Is valid partialy, because if user have got the app closed will receive blank notification. And with silent push never will receive one blank notification

[2017-07-26 07:36] RomainDev25 commented on #214
Hello, it's ok, it's our internal firewall who block notification.....
Everythings it's ok :)

Thanks for your plugin.

[2017-07-26 07:36] RomainDev25 commented on #214
Hello, it's ok, it's our internal firewall who block notification.....
Everythings it's ok :)

Thanks for your plugin.

[2017-07-26 07:36] #214 closed

[2017-07-26 13:25] WaSa42 opened #217 "Customizing action button for direct reply to notifications"
I must implement direct reply as it is explained in [android documentation](https://developer.android.com/guide/topics/ui/notifiers/notifications.html#direct) for native application.

I've seen that it's possible to customize action buttons and handle those events with NotificationOpenedHandler, but nothing like a direct reply action.

What should I do to implement a such feature ?

Thanks for you

[2017-07-27 12:26] videmort opened #218 "Support Android N inline reply actions"
Any plans to include this feature to SDK?
https://developer.xamarin.com/guides/android/platform_features/introduction-to-nougat/Images/notifications-inline-reply.png

[2017-07-27 14:32] WaSa42 commented on #218
Asking the same  question yesterday: #217

[2017-07-27 19:36] jkasten2 commented on #215
If you want to refresh a messing view in your app when a new message is received wouldn't you also want your user to see that same message in the notification shade if they are not in your app so it isn't missed?

[2017-07-27 19:41] jkasten2 commented on #217
@WaSa42 The [OneSignal Android SDK](https://github.com/OneSignal/OneSignal-Android-SDK) that is used by this SDK does not currently support this feature. It could be added to the native SDK or you can create your own Cordova Android plugin that uses the [Background Data and Notification Overriding](https://documentation.onesignal.com/docs/android-customizations#section-background-data-and-notifica

[2017-07-27 19:43] jkasten2 commented on #218
@videmort Let move the discussion to #217 since it was submitted first.

[2017-07-27 19:43] #218 closed

[2017-07-28 09:48] videmort commented on #215
I don't want to show the notification in all cases (closed app, background or opened)

[2017-07-29 02:22] kodeine opened #219 "App crashes sometimes."
![image](https://user-images.githubusercontent.com/8620059/28741397-e051c454-73da-11e7-81b6-9c8821424531.png)
Any idea whats going on?

[2017-07-29 02:48] epetre opened #220 "Silent pushes now show a blank message with icon and app name and no next in android"
I have those plugins in an ionic 3.5 app.

`cordova-plugin-firebase 0.1.22`
`onesignal-cordova-plugin 2.1.2`

The problem that I am starting to see is that silent pushes display our logo and app name but with no content in them on android and it works well on iOS. This also happens when the app is in foreground.

I am wondering if it could be some sort of conflict between Firbebase and OneSignal.

[2017-07-29 18:01] ypkkhatri commented on #205
+1

[2017-07-29 18:03] ypkkhatri commented on #205
I also facing same issue, please check red highlighted area in image below, it showing white square:

![screenshot_20170729-225443](https://user-images.githubusercontent.com/16644003/28747163-057f09b2-74b2-11e7-9db6-41c3bfea7f25.png)

Please tell me what the issue, I'm stuck in prod release

Thank you

[2017-07-29 18:07] ypkkhatri commented on #205
I have checked all the images are copied in apk file

[2017-07-29 18:11] ypkkhatri opened #221 "Ionic 2: Push Notification showing white icon instead of given icon"
Hi,

I'm receiving notification successfully but it showing white square instead of icon, I have followed all the steps of [this ionic plugin link](https://ionicframework.com/docs/native/onesignal/) and created files, and these files copied in apk, but still not working, see the below image their is red highlighted area:

![screenshot_20170729-225443](https://user-images.githubusercontent.com/1664

[2017-07-29 18:29] ypkkhatri opened #222 "Ionic 2: Push notification icons size issue"
Hi,

I have used [this link](https://ionicframework.com/docs/native/onesignal/) to generate icons via `030_copy_android_notification_icons.js` file in hooks folder defined in link, but OneSignal official said in this [link](https://documentation.onesignal.com/docs/customize-notification-icons) sizes must like below:

Small Notification Icon (mdpi) -> 24x24
Small Notification Icon (hdpi) -> 36x36
S

[2017-07-31 04:17] ypkkhatri commented on #221
Ping

[2017-07-31 04:17] ypkkhatri commented on #222
Ping

[2017-07-31 19:19] YaroslavG commented on #201
@vahidvdn, thanks

[2017-08-01 08:57] mustaphaaassab commented on #186
Hi guys,
Me too, I'm fighting with a problem like yours, there is what i get on my terminale :
ionic platform add ios
||
||
Installing "onesignal-cordova-plugin" for ios
Failed to install 'onesignal-cordova-plugin':undefined
Error: Version should contain only numbers and dots

[2017-08-01 09:04] mustaphaaassab commented on #186
@danielehrhardt Try to look on OneSignal site, here :
[https://documentation.onesignal.com/v3.0/docs/troubleshooting-cordova-variants](url)

[2017-08-02 16:37] AsimNet opened #223 "Failed to install 'onesignal-cordova-plugin':"
Hello

when I try to add ios platform in ionic, I got this message:

![screen shot 2017-08-02 at 7 16 51 pm](https://user-images.githubusercontent.com/3624441/28884310-083edae6-77ba-11e7-93e6-55570c4b7b2f.png)

[2017-08-02 18:40] jkasten2 commented on #223
@AsimNet Make sure Cocoapods is up to date on your system by running the following 2 commands
[code]

Make sure you run the following without `sudo`
[code]

[2017-08-02 18:43] jkasten2 commented on #222
@ypkkhatri I recommend using the [Android Asset Studio](http://romannurik.github.io/AndroidAssetStudio/icons-notification.html#source.space.trim=1&source.space.pad=0&name=ic_stat_onesignal_default) to create the correct notification icon sizes. The larger sizes won't create the white square issue you are seeing. This is due to not setting the alpha channel on the icon in the shape you want to disp

[2017-08-02 18:46] jkasten2 commented on #221
@ypkkhatri This is due to not setting the alpha channel on the icon in the shape you want to display. Android 5.0+ adds a white mask to all small notification icons. I recommend using the [Android Asset Studio](http://romannurik.github.io/AndroidAssetStudio/icons-notification.html#source.space.trim=1&source.space.pad=0&name=ic_stat_onesignal_default) to create the icon set as it will show you how

[2017-08-02 19:07] ypkkhatri commented on #222
@jkasten2 First of all without discussion why you have closed that ticket? Is this a way you are providing support?? As I described above I'm using you defined way in plugin page

[2017-08-02 19:08] ypkkhatri commented on #221
@jkasten2 First of all without discussion why you have closed that ticket? Is this a way you are providing support?? As I described above I'm using you defined way in plugin page

[2017-08-02 20:45] epetre commented on #220
Hello, I don't mean to rush you guys, I was just wondering:

- Was this reported elsewhere in the past?
- Do you have any pointers on what I could be looking at or trying while waiting for a more official response?

[2017-08-02 20:47] jkasten2 commented on #222
@ypkkhatri I did intend to be rude by closing the thread, I reopen threads if the original issue ends up not being resolved.

Let me know if the above doesn't help resolve your issue.

[2017-08-02 20:47] jkasten2 commented on #221
@ypkkhatri I did intend to be rude by closing the thread, I reopen threads if the original issue ends up not being resolved.

Let me know if the above doesn't help resolve your issue.

[2017-08-02 20:52] jkasten2 commented on #220
@epetre Our SDK should not be showing blank notifications in any case. If you send a notification without a message body the SDK won't display the notification.

Can list all plugins in your project by running `cordova plugin list`? Another one could be still be displaying one.

You could show full payload your are sending to the OneSignal REST API? Or the dashboard options you are setting if you

[2017-08-02 21:11] epetre commented on #220
I don't think another plugin is displaying a push notification, the only one I'm worried about is still Firebase.
But I removed it and have still seen the issue, so unless it wasn't cleaned up well when it was removed, it shouldn't be Firebase.

The payload is the same as the working version in production. Here it is, it's coming from our server, not from the dashboard.

Payload data:
[code]

Plug

[2017-08-02 21:27] jkasten2 commented on #220
@epetre I don't know all the plugins off hand but I doesn't see any know ones that have notification support in them other than firebase which you tried to remove already.

Can you try removing the following from your payload?

[code]

Since you have `content_available: true` `contents` isn't required.

[2017-08-03 00:21] epetre commented on #220
@jkasten2

Yeah non of the other plugins are supposed to play with push notifications.
Same thing happens when removing headings and contents. Maybe something that remained after cleaning up Firebase.

[2017-08-03 00:28] jkasten2 commented on #220
@epetre It is possible that there is something left over from firebase. Can you try a reproducing the issue in a new project?

The 2.1.2 version of this SDK uses 3.5.7 of the OneSignal Android SDK which has the following `null` and blank string check on body (sent as alert from OneSignal) to omit displaying it.
https://github.com/OneSignal/OneSignal-Android-SDK/blob/3.5.7/OneSignalSDK/onesignal/sr

[2017-08-03 04:07] ypkkhatri commented on #222
@jkasten2 Thanks for reopening, I'm using your auto generating script which you defined in [Ionic Framework](https://ionicframework.com/docs/native/onesignal/) site, by the way, I'm using that Android Asset Tool and after selecting image it showing me white icon, I tried lot of image files but still same issue, please check image below:

![screencapture-romannurik-github-io-androidassetstudio-icon

[2017-08-03 04:21] ypkkhatri commented on #221
@jkasten2 Thanks for reopening, the script you mentioned to generate notification icons, which is not working fine, it's generating different double size of it for each icon

[2017-08-03 10:13] imrahamed commented on #190
i got the same error in terminal

[2017-08-03 10:24] AsimNet commented on #223
thanks

[2017-08-03 10:24] #223 closed

[2017-08-03 11:58] ljudbane commented on #189
Hello.

I had the same problem building my project for ios. It turned out that i had to open project_name.xcworkspace file in Xcode, instead of project_name.xcodeproj as i was doing in the past. This way Xcode shows additional *Pods* project in project navigator.

[2017-08-03 15:22] epetre commented on #220
@jkasten2 I removed the platform and removed firebase, reinstalled everything but firebase and the issue still happened, it's starting to look like it's something in OneSignal, no other plugin handles pushes since firebase is out.

I removed OneSignal, added Firebase back and the issue doesn't happen.

I did not start a blank project because it requires too much setup and it is starting to point t

[2017-08-03 16:40] epetre commented on #220
Here is the output of `adb logcat *:W` with a little log I added in OneSignalPush.java
`public void notificationReceived(OSNotification notification) {` to see if it gets there and what it gets in the push. One thing I noticed is that I only see OneSignal logs and also shown is true the second time. I am also not sure why it's called twice but this was my attempt to provide as much info as possibl

[2017-08-03 19:10] epetre commented on #220
@jkasten2  Is it possible that it's missing a check for null at [NotificationBundleProcessor.java#L164](https://github.com/OneSignal/OneSignal-Android-SDK/blob/3.5.7/OneSignalSDK/onesignal/src/main/java/com/onesignal/NotificationBundleProcessor.java#L164).

[code]

It checks for title but not body...
[code]

[2017-08-04 08:47] innerdaze commented on #215
I'm with @videmort on this, my use case is that I'm sending messages from the server to trigger automatic updates in the app. having a notification display at any point goes against the client specification for this project. The app will be running on a mounted display device, so there is no "user" to accept messages.

So in short, we're trying to send system messages, not user messages. Alternati

[2017-08-05 14:07] ekambarrao commented on #109
@jkasten2, the jsonData of notificationcallback has "action":{"type":0},.... Now this integer value without double quote is not getting parsed by Json.Parse(). do I have to write my own code of parsing stringify of json object with substrings operations? What would you suggest me to do!?

[2017-08-06 15:38] ypkkhatri commented on #222
Ping

[2017-08-06 15:38] ypkkhatri commented on #221
Ping

[2017-08-07 06:51] gdeglin commented on #221
This icon may only contain white with a varying amount of transparency. It seems like you are using an icon that doesn't have any transparency, so it becomes a white square.

[2017-08-07 08:41] ypkkhatri commented on #221
I'm sorry it's not clear to me, I have created image in PNG format with 100% transparency but still showing white square

[2017-08-07 17:23] gdeglin commented on #221
@ypkkhatri Could you upload the image here? I'll take a look to see why it's not working.

[2017-08-08 14:05] Swapniltdatalogy opened #224 "some time receive player some time not why such happening ?"
I am using onesignal-cordova-plugin    npm version 2.0.8 , is there any permanent solution for that? please help me to get out from this. thanks

[2017-08-08 20:23] jkasten2 commented on #224
@Swapniltdatalogy Can you update to 2.1.2 to see if you still have the issue? There is an Android timeout fix for some devices since 2.0.8.

If you still see an issue you can turn on logging with `window.plugins.OneSignal.setLogLevel({logLevel: 6, visualLevel: 2});` and check the logcat to see which network requests are being delayed. Please attach this part of the logcat and we can take a look.

[2017-08-11 02:20] epetre commented on #220
oh well, solution is using com.onesignal:OneSignal:3.5.6 because of the reasons mentioned above In case anyone runs into it, which should be anyone using silent pushes with version com.onesignal:OneSignal:3.5.7 and above.

I'll just create an issue on the other project, not sure if it's the same team working on it.

[2017-08-11 05:23] Anushahrithi commented on #47
Do you have any sample code for that.if yes can u please provide me

[2017-08-11 05:30] Swapniltdatalogy commented on #224
Yes i upgrade this but then receive  player id from android not from IOS. is this bug or any other option for get player id every time. Doesn't matter install and uninstall the app. Please save me.

[2017-08-11 10:04] ravemir commented on #141
We have had reports of people experiencing this occasionally with some of their Android devices, as well. But I found no calls to 'OneSignal.promptLocation()' anywhere.

Could this be related due to not having properly initialized the library when calling 'getIds'?

[2017-08-12 22:29] YaroslavG commented on #161
works for me also, thanks!

[2017-08-16 23:56] Bubelbub opened #225 "Android build fails because CocoaPods was not found??"
Hey guys,

do someone know how to solve this problem?

    $ ionic cordova build android --prod --release --no-interactive --confirm

This leads to this cordova command.

    $ cordova prepare

Which ends with

	Discovered plugin "onesignal-cordova-plugin" in config.xml. Adding it to the project
	Installing "onesignal-cordova-plugin" for android
	Subproject Path: CordovaLib
	Installing "onesignal-

[2017-08-17 06:22] jkasten2 commented on #225
@Bubelbub It looks like the iOS platform was added to your project. You can remove it by running the following.
[code]

[2017-08-17 10:29] Bubelbub commented on #225
Ah ok @jkasten2 but the main problem was that I never added this platform because I'm developing on Windows and there is no possibility to add iOS platform ^^

But the hint was good. After I did what you said I get a lot of errors that the directory can't be removed (because its not exist) AND a success message.

    Removing platform ios from config.xml file...
    Removing ios from cordova.platf

[2017-08-17 10:29] #225 closed

[2017-08-20 13:42] Slind14 opened #226 "Apple Mach-O Linker (id) Error"
Hi there,
I'm getting this error with Release 2.1.1+, 2.1.0 and 2.0.x is working fine.
I'm using meteor 1.5.1.

[2017-08-20 17:59] jkasten2 commented on #226
@Slind14 Can you rerun the following to make sure it CocoaPods was installed correctly?
[code]

Also if you are building from Xcode make sure to open the new `.xcworkspace` instead of the `.xcproj` file.

[2017-08-20 18:00] Slind14 commented on #226
Ahh, thanks. The first one I did, the second one I did not, I'll try that 👍

[2017-08-21 23:50] jkasten2 commented on #224
@Swapniltdatalogy Can you running your app from XCode and send us the full log from the console?
 Make sure you have `OneSignal.setLogLevel` set to what I have noted above to make sure we get a full log.

Could you also list all other plugins in your project? `cordova plugin list`

Lastly you can contact OneSignal support while logged into the dashboard with the red bubble in the bottom right and

[2017-08-23 07:15] saimon24 opened #227 "Include setting to disable the sending of the user location"
The function to disable this feature was already implemented inside the iOS SDK, see [this issue](https://github.com/OneSignal/OneSignal-iOS-SDK/issues/136) and [the according commit](https://github.com/OneSignal/OneSignal-iOS-SDK/commit/d28928d0afed4b4bfd8c519a5e9817a15779c92b).

This feature should be included in the Cordova Plugin as well!

[2017-08-23 11:08] ankush1990 opened #228 "Not able to getids of onesignal in ionic"
I am not able to get ids in my ionic cordova application please help me to out this

window.plugins.OneSignal.getIds(function(ids) {
					//console.log('getIds: ' , ids);
					//self.deviceToken    =   ids.pushToken;
					onesignal_ids         =   ids.userId;
					onesignal_ids1 = JSON.stringify(ids);
					onesignal_ids2 = ids;
				});

[2017-08-24 15:07] v-bodnar opened #229 "handleNotificationOpened some times does not trigger on android"
Hi. We have made some tests on few android devices. And when we have application killed(normally by swipe), and we get push notification - clicking on it opens app but does not trigger handleNotificationOpened method. Problem is random. When app is on background - works fine. Could you suggest a workaround?

Push notification always has some payload in data.

[code]

[2017-08-25 07:39] www005531 commented on #229
We also have this problem. It happens randomly on high speed phones and for example the HTC Desire always works OK. We had to implement a workaround bypassing data retrieval from payload:(

[2017-08-29 15:56] Slind14 commented on #226
This was the issue.. That I/the builder opened the wrong file.

[2017-08-29 15:56] #226 closed

[2017-08-29 16:55] Slind14 opened #230 "Android Grouped Messages missing image since 2.1.x"
Hi there,
I upgraded to 2.1.x, since then the grouped notifications (on android) do no longer display the image/icon.
I tracked it down to 2.1.0 being the first affected version, with 2.0.11 working properly.

Did I miss some API or setting changes?

**2.0.11**
![screen shot 2017-08-29 at 18 53 29](https://user-images.githubusercontent.com/3914677/29833349-69e2e468-8ceb-11e7-8d0b-cf02f400fd01.png)

[2017-08-29 22:35] jkasten2 commented on #230
@Slind14 The behavior you were seeing with the old SDK was an unintended one. The group summary was using the last notifications large icon before in versions 3.4.3 and older of the OneSignal SDK.
https://github.com/OneSignal/OneSignal-Android-SDK/issues/37

If you want to use a large icon for all notifications including the group summary ones you can set a default one with the following instructi

[2017-08-29 22:38] Slind14 commented on #230
I have one icon per group (a group is a site). Is there any way to get this to work or would I need to stick with the old version?

[2017-08-29 23:00] jkasten2 commented on #230
@Slind14 There isn't a way to set a group summary icon (large or small). Just the default for all notifications.

Sorry for the unintended breaking change to your app. I'll mark this thread as feature request to be able to customize this in the future.

Note however the large icon for the summary / group notification in Android 7+ no longer displays. This is due to a large resign of notifications

[2017-08-29 23:37] Slind14 commented on #230
Alright, thank you.

[2017-08-30 04:49] AmitKKhanchandani commented on #180
any idea, when OneSignal will start supporting UWP?

[2017-08-30 13:06] nilsalexberg opened #231 "Error: Failed to fetch plugin onesignal-cordova-plugin via registry"
Hi!
When I try to add the plugin, I get the following error:

cordova plugin add onesignal-cordova-plugin --save

Fetching plugin "onesignal-cordova-plugin" via npm
Error during untar for /Users/{USER}/.cordova/lib/npm_cache/onesignal-cordova-plugin/2.2.0/package.tgz: Error: EPERM: operation not permitted, utime '/Users/{USER}/.cordova/lib/npm_cache/onesignal-cordova-plugin/2.2.0/package/package.j

[2017-08-30 14:13] nilsalexberg commented on #231
Solved deleting the folder '/Users/{USER}/.cordova/lib/npm_cache/onesignal-cordova-plugin'

[2017-08-30 14:13] #231 closed

[2017-08-31 05:36] BenjaminKauer opened #232 "Missing onNotificationProcessing for background data"
Is there any way to send and receive background data as described in [Cordova Docs - Android Customizations](https://documentation.onesignal.com/docs/android-customizations#section-background-data-and-notification-overriding) using `onNotificationProcessing()`?

[2017-08-31 16:19] ciaoben opened #233 "Cannot get to show popup/heads up notifications on Amazon Fire OS ?"
# Description
Can't get to show the popup/heads up notification on my Amazon Fire 7

# Step to reproduce
Send through the interface a new notification with High Priority.

# Expected behavior
Like on android, I expect to see a heads up notification.

# Actual behavior
I only get the icon directly in the status bar and I need to open the notification center to see the notification.

[2017-09-01 00:17] diegomachado1 commented on #228
I had this issue when I was configuring OneSignal. I was putting getIds() before endInit(). I put after endInit() and it worked.

[2017-09-01 00:22] diegomachado1 commented on #224
Are you putting the function to get player id after ``endInit()``? If not, this issue can happen because the request to get id is completing before than request to register. Try to put the function after ``endInit()``.

[2017-09-01 14:32] ankush1990 opened #234 "Not able to get Notification icon"
This i have done but white bell icon is coming

- <project-root>/platforms/android/res/drawable-mdpi/ (24x24)
- <project-root>/platforms/android/res/drawable-hdpi/ (36x36)
- <project-root>/platforms/android/res/drawable-xhdpi/ (48x48)
- <project-root>/platforms/android/res/drawable-xxhdpi/ (72x72)
- <project-root>/platforms/android/res/drawable-xxxhdpi/ (96x96)
- <project-root>/platforms/android/r

[2017-09-04 14:17] surgianto commented on #59
Build Date: 2017-09-04 13:51:44 +0000
--------------------------------------------------------------------------------
PLUGIN OUTPUT
--------------------------------------------------------------------------------
Fetching plugin "cordova-plugin-crosswalk-webview@1.8.0" via npm
Installing "cordova-plugin-crosswalk-webview" at "1.8.0" for android
Fetching plugin "cordova-plugin-legacy-whitelist@1.1

[2017-09-04 14:18] surgianto opened #235 "Android build failed Configuration on demand is an incubating feature. null org.xwalk:xwalk_core_library:19+"
Build Date: 2017-09-04 13:51:44 +0000
--------------------------------------------------------------------------------
PLUGIN OUTPUT
--------------------------------------------------------------------------------
Fetching plugin "cordova-plugin-crosswalk-webview@1.8.0" via npm
Installing "cordova-plugin-crosswalk-webview" at "1.8.0" for android
Fetching plugin "cordova-plugin-legacy-whitelist@1.1

[2017-09-04 17:03] thamer898 opened #236 "phonegap ios integration"
Hello

I tried to integrate my phonegap ios with onesignal but the message appear

Read the documentation to learn how to fill in the fields below.
Your production certificate was rejected by Apple. It may be expired, revoked, or invalid. Double-check your file or use our provisionator tool to auto-generate a valid certificate.

**Note** : i tried the provision tool still the same problem .

Regar

[2017-09-04 17:15] gdeglin commented on #236
We experienced a bug that caused this problem. It's now resolved so you should be able to upload your certificate.

[2017-09-04 17:15] #236 closed

[2017-09-05 22:03] Avislux commented on #196
Hey so any update on this? My app stops at a white screen after the splash on iOS, but on Android it works fine.

The errors won't appear when I first run the app, but they will if I refresh it. I also see the OneSignal.js in the sources.
I've tried `ionic cordova platform remove ios`, and `platform add ios`.
Then I went into the platforms/ios folder and ran `pod install`
I've done steps in Xcode

[2017-09-05 23:49] jkasten2 commented on #59
@surgianto OneSignal does not use the crosswalk library and I don't see OneSignal in your build log. I recommend checking the repo of this plugin for debugging your issue.
https://github.com/crosswalk-project/cordova-plugin-crosswalk-webview

[2017-09-10 07:07] Avislux commented on #196
I finally solved it. The Safari console was telling me onesignal-cordova-plugin was not installed, but it was. The code initializing OneSignal has to go inside the this.platform.ready() promise. I had mine in the constructor. So something like this.
[code]

[2017-09-11 05:45] moh3n9595 opened #237 "Observed package id 'build-tools;26.0.0-rc1' in inconsistent location"
Hi, I added oneSignal plugin but when I want build for android I get this error :
[code]
What's the problem?
**Ionic Info :**
[code]

[2017-09-12 03:14] jkasten2 commented on #237
@moh3n9595 It looks like the Google repository wasn't correctly add to the `build.gradle` when OneSignal plugin was added. `platforms/android/build.gradle` should have the following:
[code]

Can you try removing and re-adding OneSignal to your project? If the issue continues I recommend performing a clean Cordova build. Next if there still is an issue please list all plugin in your project as one

[2017-09-12 18:50] codzero commented on #222
Same problem =(

[2017-09-12 18:53] codzero commented on #221
Same problem ! square notification icons =(

[2017-09-13 07:45] moh3n9595 commented on #237
This issue solved with this link : [Here](https://stackoverflow.com/questions/46153845/add-onesignal-plugin-cordova-ionic-2)

[2017-09-13 07:45] #237 closed

[2017-09-13 07:50] moh3n9595 opened #238 "Show pop up for notification out of app"
I use `onesignal-cordova-plugin` and it work very well, but I want show pop up like telegram app when notification received! example that what I want :
![sample](https://user-images.githubusercontent.com/20948388/30365727-de7b26ee-987d-11e7-8910-ea72ba786b4e.jpg)
How can I do this? Is anyway ?

[2017-09-14 22:43] wcustodio opened #240 "Tap on notification open app again"
Hi!

In my app, I set a simple function in "handleNotificationOpened". However, when I tap on received notification (with app in focus or not), the app is reloaded again.

Debugging with Chrome Inspect, I can see various instances of webview, one for each new notification tapped.

Is there a config to prevent this?

[2017-09-18 11:24] NoNameProvided opened #241 "bug: launching app from notification messes up Angular"

[2017-09-19 13:21] mateuswetah opened #242 "Error when building with --prod"
Hello team

Thanks for the awesome plugin, I was going well with it until I had to try a `ionic cordova run --prod` or a  `ionic cordova run --prod --aot`. Now the screen goes blank and I have the following error on console:
[code]
This comes from here:
[code]

I've tried using the typescript wrapper that changes the line to:
[code]
The white screen appears again, and the error is a bit different:

[2017-09-21 09:22] jrmartins opened #243 "IOS notification not showing when app is closed"
I'm having a problem for notifications on IOS, when these contains buttons and the app is closed.
The notifications do not show if they contain buttons, only when app is closed. When the app is open or in background all works as expected.
If the notification doesn't have buttons that works fine as well.

I saw Onesignal mentioning that on the native IOS sdk that's fixe on 2.4.0 version, but doesn'

[2017-09-22 14:02] ish3lan opened #244 "iOS 11 UI API called from background thread: -[UIApplication currentUserNotificationSettings] must be used from main thread only"
<img width="839" alt="screen shot 2017-09-22 at 4 59 23 pm" src="https://user-images.githubusercontent.com/7420284/30748039-af248cdc-9fb7-11e7-9823-e67c8c1f5e33.png">

[2017-09-24 17:28] floydus commented on #64
I was able to implement the NotificationExtenderService successfully but my issue is that I need the NotificationReceivedHandler from ionic to be called anyway(I'm doing some calls depending on the additionalData passed).
Instead of calling displayNotification(overrideSettings) to trigger my handler, is there a way not to show the alert and still call the super handler (ionic side).
I have created

[2017-09-24 19:02] floydus commented on #215
I was able to hide any push notification received using the following native java code.
`public class NotificationExtenderBareBonesExample extends NotificationExtenderService {
    @Override
    protected boolean onNotificationProcessing(OSNotificationReceivedResult receivedResult) {
        return true;
    }
}`
The frustration part is that I need to read the data from the notification within Ion

[2017-09-24 22:27] floydus commented on #220
What is the fix ? I don't see. I am also running into the same issue, always shown but only on Android, not problem on the iOs side.
Here is my complete question on SO.
[https://stackoverflow.com/questions/46392556/notificationextenderservice-not-firing-handlenotificationreceived](url)
Does that ring any bell to you, I'm so stuck right now, it is always showing, shown is true, displayType 1 !

[2017-09-25 16:24] aljosabilic opened #245 "Set Android badge manually like ios_badgeType/ios_badgeCount"
Is there any way to manually set the Android badge count with a push notification, as is possible for iOS? Or are there any plans to implement this?

[2017-09-26 08:51] YuyangHYY opened #246 "Ionic3 - Why android open notification have to use web browser, but IOS can open in apps"
After I set up OneSignal Cordova plugin in my ionic3 project, when I sent notification, IOS and Android both of them can received notification, but when open android notification cannot go into app and view news. IOS can go into app and open the news URL.
I set Launch URL before I push which I put my new URL here.
![2017-09-26 16 45 36](https://user-images.githubusercontent.com/19391002/30851180-7

[2017-09-26 10:54] NurGuz commented on #9
Hi,

same problem here. Don't run with this  GCM push notification works after app Force Stop?
BroadcastReceiver not receiving BOOT_COMPLETED

[2017-09-26 11:04] NurGuz commented on #56
+1

[2017-09-26 13:48] YuyangHYY commented on #246
This is my ionic info
![2017-09-26 21 45 21](https://user-images.githubusercontent.com/19391002/30863762-681d892e-a304-11e7-976c-093693b0a23a.png)

[2017-09-26 16:22] epetre commented on #220
Well the fix is probably what I mentioned above, but apparently they don't take this issue too seriously. So the fix you could use right now is to revert their Android SDK to a version that doesn't include that bug.

in `platforms/android.properties`, using `cordova.system.library.9=com.onesignal:OneSignal:3.5.6`
fixes the issue above.

[2017-09-26 17:18] floydus commented on #220
Men I would kiss you !  Thanks so much, spent 3 days on that.

[2017-09-26 17:37] lucasalima opened #247 "Notification icon doesn't change"
Hello folks,

I'm getting no success on changing the notification icon on my Cordova project using OneSignal. I've already created the folders with the icon image on my project following the documentation. Even after doing that the default icon (bell icon) is beeing showed over mine.

The icon that I'm trying to set is white with transparent background.

https://documentation.onesignal.com/docs/cu

[2017-09-26 17:56] lucasalima commented on #247
![screenshot_20170926-144911](https://user-images.githubusercontent.com/20586294/30875738-d559357c-a2ca-11e7-97c1-63ed2e7582cb.png)

[2017-09-27 09:56] polfernandez opened #248 "OneSignal-Ionic: Failed to fetch plugin onesignal-cordova-plugin@^2.2.0 via registry. ON WINDOWS"
I am trying to install OneSignal plugin to Ionic app and I get permanent error on windows. Same project but Mac works fine.

[code]

+ info:

[code]

[2017-09-27 13:03] mateuswetah commented on #242
I'm sorry, I just figured out, I had a mistake.

I wasn't calling the plugin for the first time inside
[code]

so obviously, in some compilation conditions (like --prod and even --dev for iOS) it wouldn't work.

Thanks anyways!

[2017-09-27 13:03] #242 closed

[2017-09-27 18:23] jkasten2 commented on #248
@polfernandez I don't see any issues with your environment from the `ionic info` you provided. Our plugin is hosted on npmjs like most plugins and the current version is 2.2.0.

You may have just had a connection issue at the time but you can run the following which should provide some extra details of the issue.
[code]

[2017-09-27 21:53] jkasten2 commented on #248
I have confirmed our plugin is correctly added to Ionic projects on Window 10.

[code]

Your version of Icon is older so I recommend you update with the following to ensure this is not the issue.
[code]

[2017-09-28 06:31] polfernandez commented on #248
Still the same issue:
I had the same issue with the plugin: cordova-plugin-camera but I could install it with the git repo's url.

[code]

+info:

[code]

[2017-09-28 12:54] CoderSquirrel opened #250 "Questions: disable notification based on its data"
Hi i am using cordova/ionic onesignal and i havent found anywhere content about what i wanting. So why not asking here :)
Well explaning myself:
I have and app that will recieve push notification for the user, but i will also sending a couple of 'update' notifications that must be almost invisble for the user.
The problem i'm having: when the app is running i can make notigication not appear, by t

[2017-09-29 02:18] jkasten2 commented on #248
@polfernandez Thanks for confirming, you can try running `ionic lib update` on your project to update it. Since the issue you are seeing isn't related to the OneSignal plugin I am going to close this issue. I recommend posting your issue on the Ionic forums if you are not able to migrate your code to a new project to resolve your issue.

Thanks.

[2017-09-29 08:35] polfernandez commented on #248
Thanks after changing Ionic versions and running it as administrator solved it.

Now I have a different issue but also related with Windows. If I send a notification when the app is opened, it responds properly. However if the app is onResume() or paused, the app crashes.

Same code and same project but runned from mac works properly. The only difference is that on Mac I have installed cocoapods n

[2017-09-29 15:31] erdimeola commented on #127
This issue still seems to happen, eventhough I've set kOSSettingsKeyAutoPrompt to false, as soon as I've start my init function, it prompts for push permission on iOS.

`window.plugins.OneSignal
.startInit("ONESIGNAL ID")
.iOSSettings({kOSSettingsKeyAutoPrompt:false, kOSSettingsKeyInAppLaunchURL: false})
.inFocusDisplaying(window.plugins.OneSignal.OSInFocusDisplayOption.InAppAlert)
.handleNotifica

[2017-09-29 20:51] jkasten2 commented on #220
@epetre Sorry for the delay on this. The 2.2.1 of OneSignal Cordova SDK has been released which updates to the OneSignal Android SDK version 3.6.2 to fix this issue.

[2017-09-29 20:51] #220 closed

[2017-09-29 20:56] jkasten2 commented on #235
@surgianto The crosswalk plugin is not used by this SDK. If you are still seeing this issue you may want to post this on their issue tracker.
https://github.com/crosswalk-project/cordova-plugin-crosswalk-webview

Thanks.

[2017-09-29 20:56] #235 closed

[2017-09-29 20:59] jkasten2 commented on #190
@imrahamed Could you post your full `config.xml` if you are still seeing this error. Thanks.

[2017-09-29 21:04] jkasten2 commented on #243
@jrmartins This force-quit limitation was fixed in version 2.2.1 of this SDK.
https://github.com/OneSignal/OneSignal-Cordova-SDK/releases/tag/2.1.1

However make sure to follow the new setup instructions using the `Notification Service Extension` from the release notes above.

[2017-09-29 21:04] #243 closed

[2017-09-29 21:14] jkasten2 commented on #248
@polfernandez Can you confirm you are calling `this.oneSignal.endInit();` in your code and it is in the correct spot?

Lastly can you attach the full crash with the Java stack trace you are getting form the logcat?

[2017-09-29 21:16] jkasten2 commented on #245
@aljosabilic OneSignal sets badges automatically on Android based on the number of notifications in the shade. There currently isn't a way to override this for Android.
https://documentation.onesignal.com/docs/appearance#section-setting-and-clearing-badge-numbers

We considering on support custom values in the future for Android.

Thanks.

[2017-09-29 21:20] jkasten2 commented on #247
@lucasalima Can you confirm the files were not removed from your project after building? If you ever removed the android platform these files would be removed with it.

Can you all some confirm if the files are being added to your APK? Please try extracting it and checking the res folder in it.

Lastly make sure you have the last 2.2.1 OneSignal SDK.
`cordova plugin list`

[2017-09-29 21:23] jkasten2 commented on #246
@YuyangHYY The native OneSignal Android SDK does not have a built in webview currently like the native OneSignal iOS SDK does at this time.

In the mean time you can direct users to your own in app webview or page. To do this you will need to use additional data instead and handle the usage of this in the [handleNotificationOpened](https://documentation.onesignal.com/docs/cordova-sdk#section--hand

[2017-09-29 21:30] jkasten2 commented on #250
@CoderSquirrel It is highly recommend to instead prevent the notification from going to the device by using [setSubscription](https://documentation.onesignal.com/docs/cordova-sdk#section--handlenotificationopened-). This will prevent the device from waking up to just discard the notification.

However it sounds like you are looking to send silent background data that will do background processing,

[2017-09-30 21:16] jkasten2 commented on #228
@ankush1990 Feel free to reopen this issue if diegomachado1's answer above didn't help.

[2017-09-30 21:16] #228 closed

[2017-10-02 08:15] YuyangHYY commented on #246
Iam using ionic3 not native

[2017-10-02 12:31] erdimeola opened #251 "v2.1.2 auto prompts for iOS 11 push registration at the start of app even if kOSSettingsAutoPrompt is set to false"
Hi,

When I initialize the onesignal plugin at **deviceready** callback like

`window.plugins.OneSignal
.startInit("APPID")
.iOSSettings({
    kOSSettingsKeyAutoPrompt:false,
    kOSSettingsKeyInAppLaunchURL: false
})
.inFocusDisplaying(window.plugins.OneSignal.OSInFocusDisplayOption.InAppAlert)
.handleNotificationReceived(function(jsonData) {
    //RECEIVED HANDLING
})
.handleNotificationOpened(f

[2017-10-02 12:52] #251 closed

[2017-10-02 12:55] erdimeola commented on #251
You can delete this issue I've found that, if I call getPermissionSubscriptionState, it automatically prompts at iOS 11

[2017-10-02 19:18] jkasten2 commented on #216
@ali-mahmoodvand Closing due to inactivity. Feel free to reopen the issue with the attached log and we can take a look.

[2017-10-02 19:18] #216 closed

[2017-10-04 10:31] marcoiacobelli commented on #121
Hi guys,
I have the same issue.

I don't understand why "handleNotificationOpened" is not trigger when app is closed.
I try to add handleNotificationOpened in onDeviceReady function but the event is not fired.
Any ideas about?

p.s. I try to add init function too in onDeviceReady function but nothing changed.

Any suggestions are welcome.

Tnx

m.

[2017-10-05 11:52] vyacheslav-lonschakov opened #252 "Notification Click"
Hi, i have application with informative notifications on iOS. Application don't handle click on notification. But notification dismiss by click on it, with opening application.

How i can diactivate notification dismiss by click?

[2017-10-05 15:54] gopalaiahvinay opened #253 "Ionic 1, Onesignal Coldstart not firing Notification Open Callback on iOS 11"
Hi,

In our app, when we are trying to open a notification, when the app is not in background or force killed.
The Open notification callback is not getting called on iOS 11.
It works totally fine on android.
**One Signal Init Function**
[code]
**One Signal Notification Open Callback**
[code]

Here is a screen recording:

https://drive.google.com/open?id=0BxIXDOsrwoW9RnU2WDU1dWZtQ3M

## In the fir

[2017-10-05 20:01] CoderSquirrel commented on #250
What i want i exactly that.

One of the problems of waiting for the user to wake phones up again is that
i cant not manage 'groups' of user that will reciever by the onesignal categories...
For reasons that i cant explain
Therefore, when i send the notification, i send the groups that are allowed to get the message, the oters discard.
So, this background notificatino bring also the groups, when th

[2017-10-06 21:16] CoderSquirrel commented on #250
What i mean is like:
There's something i can change in: `https://github.com/OneSignal/OneSignal-Cordova-SDK/blob/master/src/android/com/plugin/gcm/OneSignalPush.java `, that i can manually manage when notification appeas on the notification bar and when it souldn't?

[2017-10-06 23:11] CoderSquirrel commented on #250
https://documentation.onesignal.com/docs/android-customizations#background-data-and-notification-overriding
i found this for java
but theres a way to make this in js?
or i have to do both android and ios manually?
**Receive data in the background with or without displaying a notification.**

[2017-10-07 00:51] jkasten2 commented on #253
@gopalaiahvinay Thanks for reporting with all the details. We just released version 2.2.2 to address this open event issue with iOS 11 on cold start.

https://github.com/OneSignal/OneSignal-Cordova-SDK/releases/tag/2.2.2

[2017-10-07 00:51] #253 closed

[2017-10-07 00:56] jkasten2 commented on #240
@wcustodio It sound like opening the notification is creating a new instance of the Cordova main Activity. Can you check for a `AndroidLaunchMode` entry in your `config.xml`?
[code]

If so please try removing this line or make sure it is `singleTop`.

[2017-10-07 00:58] jkasten2 commented on #233
@ciaoben Thanks for reporting, the priority flag was missing from payload sent to the device. It was corrected on OneSignal's backend so this should be working correctly on any future notifications.

[2017-10-07 00:58] #233 closed

[2017-10-08 15:40] fabianglace opened #254 "Build Fail for Cordova"
I've just updated to cordova 7 to include onesignal push. This is the error i'm getting..

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':processDebugManifest'.

  	Suggestion: use tools:overrideLibrary="com.onesignal" to force usage

[2017-10-09 17:23] CoderSquirrel commented on #181
Hi i have something similar.... my extender only works when i build using android studio, if i build with cordova and run with it feels like my extender code is ignored. Once i build with cordovam but sent to run in debug (e.g.) with android studio it works fine

[2017-10-10 03:23] anegash opened #255 "OneSignal-Cordova-SDK fails when added on ionic 2 project"
Failed to install 'onesignal-cordova-plugin': Error: pod: Command failed with exit code 31
    at ChildProcess.whenDone (APP_LOCATION/platforms/ios/cordova/node_modules/cordova-common/src/superspawn.js:169:23)
    at emitTwo (events.js:125:13)
    at ChildProcess.emit (events.js:213:7)
    at maybeClose (internal/child_process.js:927:16)
    at Process.ChildProcess._handle.onexit (internal/child_p

[2017-10-11 18:01] paraflu opened #256 "Blank notifications"
Like #220 I've blank notification when I sent silent push but on iOS!

The rest request is this:
[code]
The ionic are settings like this:
[code]

The configuration are

[code]

and the cordova plugin are

[code]

When the app is in focus I get an empty notification with title of app and close button, but this would be hidden by the empty content and the content_avaiable set to true or 1

I've spen

[2017-10-12 12:17] paraflu commented on #256
I was wrong! The app missing the initialization! Thaks!

[2017-10-12 12:17] #256 closed

[2017-10-13 06:56] rajithwijepura commented on #74
Is there a similar way when using ionic framework?

[2017-10-13 07:50] rajithwijepura commented on #74
@jkasten2 Thanks. It worked.

on logout I set it to `window["plugins"].OneSignal.setSubscription(false);`
then on login `window["plugins"].OneSignal.setSubscription(true);`

[2017-10-13 13:04] eugeniobac opened #257 "Ionic 3 + One Signal handleNotificationReceived doesn't get fired"
Hi guys,

I'm following this link the push notification on my app. https://documentation.onesignal.com/v3.0/docs/ionic-sdk-setup

It's working, I can get the notification. Here's my code.

    this.platform.ready().then(() => {
        let OneSignal = window["plugins"].OneSignal;

        OneSignal
          .startInit(AppSettings.ONESIGNAL_APP_ID)
          .inFocusDisplaying(OneSignal.OSInFocusD

[2017-10-13 20:26] jlariza opened #258 "Issue with com.android.support:multidex:26.1.+"
Good day,

I am trying to use the plugin on an ionic2 app. The problem is that when I run "run android" I get the following message:

Could not resolve all dependencies for configuration ':_debugApkCopy'.

     Versions that do not match:
         1.0.1
         1.0.0
         1.0.2
multidex does not have a bigger version than 1.0.2 (from what I found).

The issue is produced by https://github.com

[2017-10-13 20:48] jlariza commented on #258
I could make it work modifying platforms/android/onesignal-cordova-plugin/duety864312-build-extras-onesignal.gradle and replacing 'version':'26.1.+' for 1.+

 'com.android.support': [
       'version': '1.+',

The problem is that that file is generated automatically, is not a file you usually add to a repository; so it is not a long term solution.

Thank you

[2017-10-13 21:04] jkasten2 commented on #258
@jlariza Thanks for reporting, we will update the `build-extras-onesignal.gradle` to exclude the `multidex` module from the `com.android.support` in the alignment logic.

[2017-10-17 06:29] rajithwijepura commented on #222
@ypkkhatri same issue

[2017-10-17 14:17] nkete commented on #121
Same issue here. When starting a closed app by clicking on a notification, launch options are lost and not passed to the JS plugin.

This happens on iOS 11.0.3 and 10.2.1, with `onesignal-cordova-plugin 2.2.1`.
Using [ionic native plugin](https://ionicframework.com/docs/native/onesignal/) or `window.plugins.OneSignal` is the same, also placing the `oneSignal.init()` inside or out of `platform.read

[2017-10-17 18:29] jkasten2 commented on #121
@nkete For iOS 11, you must be using `onesignal-cordova-plugin` version 2.2.2 for the open callback to fire.

The open callback should fire on iOS 10 however on 2.2.1. Can you make sure you are initializing OneSignal only once and on the first page that starts with your app?

[2017-10-18 05:47] #258 closed

[2017-10-18 07:05] harlin-setiadarma commented on #255
I have the same issue.
Maybe latest release have broken something?
@anegash have you tried to use older release, like
https://github.com/OneSignal/OneSignal-Cordova-SDK#2.0.11

[2017-10-18 07:58] anegash commented on #255
I actually figured out the problem.

if you add(or upgrade) one signal, it uses the latest dependencies that have to be downloaded using cocoapods.

running "pod repo update"

should fix the problem.

@harlin-setiadarma try this ^

[2017-10-18 07:59] mubasshir commented on #245
Hi,
when can we expect this feature?

Is there any alternative for now?

[2017-10-18 09:28] nkete commented on #121
Thanks @jkasten2, `2.2.2` does the trick on both devices

[2017-10-18 16:33] Vhiktordom commented on #190
Hello Same Error, can you help with the defined namespace that will work effectively on CLI?

[2017-10-19 15:57] polfernandez opened #259 "[Linker failed] ld: ## duplicate symbols for architecture armv7"
After installing cocoapods and ionic cordova plugin add onesignal-cordova-plugin --save
following: https://documentation.onesignal.com/v3.0/docs/ionic-sdk-setup

With iOS (XCode) I run into the following issue:

**ld: 191 duplicate symbols for architecture armv7**

Similar to: https://stackoverflow.com/questions/16427024/duplicate-symbols-for-architecture-armv7
and: https://stackoverflow.com/quest

[2017-10-19 19:00] jkasten2 commented on #259
@polfernandez None of the duplicated symbol listed above are used by OneSignal. Can you try a clean build of iOS project by removing the platform and re-adding it?

[code]

[2017-10-20 04:52] winniestreet commented on #127
I am having the exact same problem

[2017-10-20 05:03] dmastag opened #260 "do i need to whitelist any domains to use this ?"
In my company all urls have to be whitelisted before they can be used. Are there any urls that I need to whitelist in order for OneSignal to be working properly?

[2017-10-20 16:22] gdeglin commented on #260
Yes, you should whitelist onesignal.com and cdn.onesignal.com.

For receiving notifications, you should make sure the necessary ports are open:

For iOS: https://support.apple.com/en-us/HT203609
For Android: The ports to open are: 5228, 5229, and 5230. FCM typically only uses 5228, but it sometimes uses 5229 and 5230. FCM doesn't provide specific IPs, so you should allow your firewall to accept ou

[2017-10-20 16:22] #260 closed

[2017-10-25 13:57] lakshmana opened #261 "Xcode crashed when adding pods onesignal framewoks to "Link Binary With Libraries""
Hi there,

I recently updated the Xcode so that I can compile cordova app on my ios 11.0.3 iphone 6s.
But when I tried to add "Pods/Pods/OneSignal/Frameworks/OneSignal.framework" to " Link Binary With Libraries" as explained in iOS part 2 https://documentation.onesignal.com/docs/cordova-sdk-setup#section-5-ios-part-2-recommend-

I restarted the xCode and even the mac, so I always have this problem

[2017-10-25 14:00] lakshmana commented on #261
BTW, the version of Xcode is 9.0.1 (9A1004).

Thx
Laxman

[2017-10-25 14:09] lakshmana commented on #261
The video of the problem is : https://photos.app.goo.gl/7tSzQH8wp65xG1nQ2
Let me know if you need the crash report too.

Thx
Laxman

[2017-10-25 15:36] myrsk commented on #261
Same issue.

[2017-10-26 10:36] lakshmana commented on #261
@myrsk  please share if you have fixed on your side.

[2017-10-26 11:27] myrsk commented on #261
Unfortunately I still haven’t managed to get it to work.

Regards,
R. Alkhaili

[2017-10-29 12:10] topalavlad opened #263 "OneSignal-Cordova-SDK fails when added on ionic 3 project"
[code]

package.json:
[code]

I get the following error:

[code]

I kind of tried everything, different versions, but I couldn't get it to work.
`pod repo update` also didn't help, and the most frustrating part is that I don't understand the error 😞 . I searched all around the project, and everywhere the version was "2.2.2" so it's only numbers and dots.

Full log:
[code]

[2017-10-30 11:11] lakshmana commented on #261
I hope someone take a look on this issue.

[2017-10-30 18:29] jkasten2 commented on #261
@lakshmana Does this issue only happen on Xcode 9.0.1? Are you able to reproduce the issue on 9.0.0?

[2017-10-31 02:51] topalavlad commented on #263
Updating ionic and dependencies in the package.json file and [this](https://github.com/CocoaPods/CocoaPods/issues/1110#issuecomment-170323860) post helped me reset the project. It builds successfully now, hopefully the notifications will also work.

[2017-10-31 02:51] #263 closed

[2017-10-31 07:46] lakshmana commented on #261
@jkasten2 The issue occured after I updated the Xcode to version 9.0.1 Prior to it, the sdk was working fine but I do not remember the exact version of earlier Xcode.

[2017-10-31 09:00] lakshmana commented on #261
@myrsk which version of xcode are you using ?

[2017-11-04 12:59] RanaProgrammer commented on #261
I resolved it. by clicking on + (plus) sign on bottom and selecting add another and selecting onesignal.framework by path.
click plus(+) sign --> click add another/more on left bottom of pop-up --> selecting onesignal.framework in your project/platforms/ios/Pods/something sdk/onesognal.framework

tell me if it solves your issue.

[2017-11-04 13:02] RanaProgrammer commented on #261
@lakshmana and kindly tell me the method of how you created that video and shared via google photos?

[2017-11-07 05:14] taegyunum commented on #259
@polfernandez

It was not due to OneSignal, but I experienced similar issue.
I tried remove node_modules platform/ios and reinstall several times, downgraded packages didn't help.

After spending many hours, I solved the issue reinstalling

cordova-plugin-wkwebview-engine

[code]

Solved my problem.

Hope this help you.

[2017-11-07 06:20] lakshmana commented on #261
@RanaProgrammer hi thans for the help. It worked for me. And the OneSignal documentation has also been updated with the same solution. :) About the video, I used QuickTime player to record the screen. http://prntscr.com/h76sys :)

[2017-11-07 06:20] #261 closed

[2017-11-07 08:39] lakshmana commented on #257
@eugeniobac Did you solve the problem? Did get you find some workaround to access the notification object when app is not open or in focus ?

Thx for sharing

[2017-11-07 12:27] lakshmana commented on #257
@eugeniobac I solved on my side by using the latest version of the onesignal plugin ie. 2.2.2.
Check the update status of version 2.2.2 @ https://github.com/OneSignal/OneSignal-Cordova-SDK/releases/tag/2.2.2

[2017-11-07 14:40] episquare commented on #100
Anybody in here please give me an example how to show image when notification arrive? i mean example code, currently im using ios 11... i already include json about image url and id as ios attacment, but how to received the image url... please example code guys.. thanks

[2017-11-07 19:13] jkasten2 commented on #100
@episquare There is some extra setup you must do for the OneSignal SDK to receive and show a [rich media attachment](https://documentation.onesignal.com/docs/rich-media#section-rich-notifications) on a notification. Make sure you have followed all the steps under "5. iOS - Part 2"
https://documentation.onesignal.com/docs/cordova-sdk-setup#section-5-ios-part-2-recommend-

[2017-11-08 06:43] eugeniobac commented on #257
Hi @lakshmana, I solve this in a different way. I saved on my backend the unread notifications and then I check on the app using `platform.resume ` for the missing notifications.

Thanks for letting us know that you could fix with this release.
I'll test it and if it works I'm happy to close this ticket.

[2017-11-09 10:29] BenjaminWatts commented on #258
I am still getting this issue - any progress made/?

[2017-11-09 19:34] sombriks opened #264 "build failed on ios"
In file included from

[code]

any guidance is welcome.

[2017-11-12 12:49] Sharpkhodakarami opened #265 "After installing this plugin I can't build on Android"
I'm facing with this exception while building android. Tried some googling and have no solution yet. including:
* remove and add android platform
* remove and add OneSignal plugin
* create a new project and just add OneSignal to check conflicts

Here is my android sdk extra:
![sdk pic](https://user-images.githubusercontent.com/29245734/32699143-014f6e2e-c7c6-11e7-8dc8-d8ad42d91d80.png)

The log is

[2017-11-12 23:37] magaupee opened #266 "window.plugins.OneSignal always 'undefined'"
I'm getting window.plugins.OneSignal undefined in my ionicPlatform.ready function
I'm using cordova 6.3.1 and docs says minimum version is 6.4.0
My question is: My cordova version might be causing this problem?
Is there any way of using OneSignal with older versions of Cordova?
Unfortunately, due to compatibility issues with other plugins, I cannot update cordova for my project.
Any help will be a

[2017-11-13 15:51] kellerkichel commented on #141
Some news about these issue? Same thing here:

[code]

[2017-11-13 16:06] kellerkichel commented on #141
Again me 😄

I got these with the getPermissionSubscriptionState....

[code]
https://documentation.onesignal.com/docs/cordova-sdk#section--getpermissionsubscriptionstate-

I hope these help someone 👍

[2017-11-13 19:50] jkasten2 commented on #266
@magaupee Version 6.4.0+ of Cordova is required since this is the first version that support Cocoapods that is used by this SDK. If you won't be building an iOS version of your app then you may use an older version of Cordova however we haven't tested this so you may run into other issues.

If you need iOS support and can't update to Cordova 6.4.0 you may use version 2.1.0 of the OneSignal SDK.

N

[2017-11-13 19:50] #266 closed

[2017-11-13 19:57] jkasten2 commented on #265
@Sharpkhodakarami Can you make sure you have the latest "Android SDK Build tools" and "Android SDK Tools" that is towards the top of that list? Also can you make sure Cordova is update to date on your system?

[2017-11-13 20:12] jkasten2 commented on #257
The notification opened event was fixed in the OneSignal Cordova SDK 2.2.0. It was only an issue for iOS 11 devices.

Due to limitations of Android and iOS the notification received event only works when the app is in focus. However retrieving notifications on resume of your app from a back end is one way to work around this as eugeniobac noted above. The other is to save them locally with native

[2017-11-13 20:12] #257 closed

[2017-11-13 20:14] jkasten2 commented on #259
@taegyunum Thanks for leaving the solution to this issue.

@polfernandez Feel free to reply if the answer above did not help.

[2017-11-13 20:14] #259 closed

[2017-11-13 20:16] jkasten2 commented on #264
@sombriks Can you ensure cocoapods was successfully installed on your system. Make sure you don't get any errors when running the following.

[code]

Then try reinstalling the OneSignal plugin on your project.
[code]

[2017-11-13 20:21] jkasten2 commented on #255
@anegash Thanks for replying with a solution to this issue.

@harlin-setiadarma Feel free to reply if the above didn't help.

[2017-11-13 20:21] #255 closed

[2017-11-13 20:41] jkasten2 commented on #254
@fabianglace We just added a new troubleshooting section to resolve this error.
https://documentation.onesignal.com/v3.0/docs/troubleshooting-cordova-variants#section-manifest-merger-failed-uses-sdk-minsdkversion-14-cannot-be-smaller-than-version-15-declared-in-library-com-onesignal-onesignal-3-6-2-

Feel free to reopen this issue if the above does not help.

[2017-11-13 20:41] #254 closed

[2017-11-13 20:47] jkasten2 commented on #252
@vyacheslav-lonschakov If you have set a badge it will be cleared when the app is open. If a badge value is cleared on iOS all notifications for the app will be removed. To prevent the badge clearing by the OneSignal SDK see the instructions below.
https://documentation.onesignal.com/docs/appearance#section-badges

If this wasn't what you were asking please give an example.

[2017-11-13 20:49] jkasten2 commented on #250
@CoderSquirrel It must be down with native Java code on Android or with Swift or Objective-c on iOS. It can't be run in the Cordova / js runtime.

[2017-11-13 20:49] #250 closed

[2017-11-13 22:11] magaupee commented on #266
I managed to update my cordova version to 7.0.1 and successfully installed OneSignal plugin v2.2.2 But now I'm getting several errors in Genymotion Emulator, and Dashboard says device is not subscribed with error "**Outdated Google Play Services App**". What's wrong?

[https://imgur.com/a/es2w1](url)

[2017-11-13 22:40] jkasten2 commented on #266
@magaupee The emulator / device needs to have the "Google Play services" app on the device to register for FCM / GCM push notifications.  Since you are using the Genymotion emulator make sure to use Genymotion 2.10 or newer and follow their "Open GApp" widget guide:
https://www.genymotion.com/blog/2-10-open-gapps-widget/

[2017-11-14 02:18] mtshare commented on #247
@jkasten2 Same for me and the files are present in the APK.
I'm using the last 2.2.2 plugin version.
Any solutions?

[2017-11-14 07:48] polfernandez commented on #259
@taegyunum  sorry for late response, but it did not help...

[2017-11-15 00:47] jkasten2 commented on #259
@polfernandez I recommend trying a clean build instructions below.
https://documentation.onesignal.com/docs/troubleshooting-cordova-variants#section-clean-build

This will nuke your `platforms/ios` folder where it sounds like you may have duplicated files in.

Since the issue is related to something with Cordova / Ionic itself I recommend posting a thread on their forum as they will be able to hel

[2017-11-15 06:21] yingliangzhang opened #267 "Feature request: Return player id after init"
It would be great to have the player id returned after init so that I can save it to the backend. I my case, I'm using parse-server, the device is registered on OneSignal but since I don't have the info of the registered player, my parse-server knows nothing about OneSignal, this makes sending push notification to a specific user seems impossible.

[2017-11-15 19:52] baskin opened #268 "Duplicate notifications on using headings/title of notification"
Hi Team,
I'm getting duplicate notifications on android if I use the 'headings' options in createNotification api.
Duplicity doesn't go away even on using same 'collapse_id'.
It goes away if I remove the 'headings' option.
It doesn't occur every single time.

Actually it is not exactly a duplicate - rather an extra message.
The extra message appears with only the heading but without the original b

[2017-11-15 22:44] jkasten2 commented on #268
@baskin This sounds like another SDK might be trying to parse and display the notification payload from OneSignal. Can you run `ionic cordova plugin list` and attach the full list? Then if you see any another notification plugins can you try removing them?

[2017-11-15 23:09] jkasten2 commented on #267
@yingliangzhang The recommend way to get the player id is to use the
[`addSubscriptionObserver`](https://documentation.onesignal.com/docs/cordova-sdk#section--addsubscriptionobserver-) function. This fires the passed in callback fires when any subscription property changes. This makes it easy to be efficient as you can directly add your network calls here, you just to need to check whats changed i

[2017-11-16 06:37] baskin commented on #268
[code]

Could the firebase plugin be interfering with this? I'm using it only for event logging and remote config management.

[2017-11-16 07:09] jkasten2 commented on #268
@baskin It might be, it does try to parse the an FCM payload when investigating the source of the plugin.
https://github.com/arnesson/cordova-plugin-firebase/blob/213e9c0d2e7101887055f5eb610c4804a6c24cdb/src/android/FirebasePluginMessagingService.java

Can you try to reproducing problem after removing `cordova-plugin-firebase` temporary to see if it resolves the issue?

[2017-11-17 11:20] ThomasAtome opened #269 "Change setSubscription to false doesn't change anything in ionic"
Hi,

I've got a problem. When i try to change the setSubscription in order to stop the user to receive notifications, nothing append. The user still receive notif and in onesignal dashboard in the user par i can see that the subscription flag is set to yes..

Well, is this normal ? I let you some code for how i init the plugin in my app.component.ts

`this.notification.startInit("d1d3f0d9-576a-4d0

[2017-11-17 14:53] YasirAmeen opened #270 "App Crashing only on Google Pixle XL Oreo 8.0"
My App was working fine but since Android Oreo has come to Google Pixel XL it keeps Crashing following is the Exception stack-trace

`Fatal Exception: java.lang.AbstractMethodError: abstract method "boolean android.app.job.JobServiceEngine.onStartJob(android.app.job.JobParameters)" at android.app.job.JobServiceEngine$JobHandler.handleMessage(JobServiceEngine.java:108) at android.os.Handler.dispatc

[2017-11-17 14:54] #270 closed

[2017-11-19 07:07] kotromeo opened #271 "Can not receive push notification on android when app terminated"
When app opened - can receive notification.
When app closed - can receive notification
When app terminated - can not receive push notification.

[2017-11-19 10:41] baskin commented on #268
Looks like I'm not receiving the second notification on removing the firebase plugin.

It's strange that it occurs only if I specify the title/headings in the message. I skimmed over the firebase plugin code, couldn't find anything that could explain this.

[2017-11-20 16:58] delforgedf opened #272 "Change the attributes enableVibrate and enableSound to false and nothing happen in ionic"
I've got a problem. When i try to change the attributes in order to stop the user to receive sound and vibrates in notifications, nothing happen. The user still receive notif whith sound and vibrate. When a app stay open the attributs working.

I let  my code for how i change the attributes in my app.
[code]

[2017-11-21 17:32] rtalexk opened #273 "Cannot read property 'OneSignal' of undefined"
I followed the instructions in [docs](https://documentation.onesignal.com/docs/ionic-sdk-setup) to configure Onesignal in Ionic v3 but I getting this error:
[code]
and the code that is related to that is this:
[code]
Line 90 is `window["plugins"].OneSignal`

This function is called inside `platform.ready().then`.

This is my Ionic info:
[code]

Currently I running the app with `ionic serve -l`, ma

[2017-11-21 17:49] rtalexk commented on #273
UPDATE:

Running in Android device I'm getting a similar error:

`can't read property startInit of undefined` and the stack error.
That is in the same code:
[code]

[2017-11-21 21:54] rtalexk commented on #273
How I solved this:
In addition to do this:
[code]

I registered `deviceready` event to document:
[code]
and it worked in an emulator and in a device.

[2017-11-21 21:54] #273 closed

[2017-11-22 02:56] patrickboulay opened #274 "ios install problem"
I installed the plugin and everything was working fine.
After I did a
`ionic cordova platform remove ios`
and after I did
`ionic cordova  platform add ios`
I got an error with the onesignal plugin.

I removed and readd the plugin and I got this error:
[code]
cordova --version  = ionic 7.1.0
Im on MacOs Sierra 10.12.6

any idea someone?

Thanks

[2017-11-22 09:21] jkasten2 commented on #271
@kotromeo Can you describe how you are putting your app into a "app terminated" state? Is this issue happening on iOS or Android?

I recommend looking into the troubleshooting guide below.
https://documentation.onesignal.com/docs/notifications-show-successful-but-are-not-being-shown

[2017-11-22 09:25] jkasten2 commented on #268
@baskin I believe it is from this line.
https://github.com/arnesson/cordova-plugin-firebase/blob/213e9c0d2e7101887055f5eb610c4804a6c24cdb/src/android/FirebasePluginMessagingService.java#L52

OneSignal notifications are data type payloads. If you include a heading on OneSignal it will be included as "title" in the FCM payload. This is triggering that plugin to display a notification since title is

[2017-11-22 09:39] jkasten2 commented on #272
@delforgedf `enableVibrate` and `enableSound` must be called after `endInit`. Can you try reordering those function calls?

[2017-11-22 09:43] jkasten2 commented on #274
@patrickboulay Can you run the following and make sure it finishes with any errors.
[code]

[2017-11-22 14:51] osterland opened #275 "can't send Tags"
Hi Folks,

im sure i am missing something easy, but i cant send Tags. I can send Tags between

this.oneSignal.startInit

 this.oneSignal.sendTags({test: '0'});

this.oneSignal.endInit()

but nowhere else in my code. Do i have to init OneSignal every time i wanne change tags??

ty

[2017-11-22 15:28] delforgedf commented on #272
@jkasten2 don't work either.

[2017-11-23 00:21] jkasten2 commented on #272
@delforgedf Just to confirm, these two function only apply to Android. Not sure if you are testing on iOS.

[2017-11-23 08:55] JorgeZapa commented on #245
I am also very interested in this feature. As it is now, it is only possible to set the badge number in IOS. But if you really want to custom what the badge number means (not just the number of notifications) you can only do it in IOS and it would be interesting in both platforms.

[2017-11-23 09:06] ThomasAtome commented on #269
Well it seems that the setSubscription should be set after the endInit..

[2017-11-23 13:10] delforgedf commented on #272
@jkasten2 im testing in android, but don't working, in Ios is all right

[2017-11-24 02:22] patrickboulay commented on #274
Now I can install the plugin but I have an other error.
I have a linker problem...
If I didnt do the iOS installation part, is it normal that I cant build my project?

Why my project was built correctly before and not now what out any changes? (my project was running before without the notification but was working...)

[2017-11-24 06:56] baskin commented on #268
@jkasten2 how is 'contents' handled by onesignal? Does it pass on as 'text' in FCM payload?

The code you point to treats 'text' and 'title' in the same stride i.e. one of 'text' or 'title' needs to be present in order for the firebase plugin to display the notification. In my case, if I omit 'title' and keep only the 'text' ('contents' in onesignal api), I stop getting the extra message.

[2017-11-25 01:16] kylepierce commented on #251
@erdimeola can you share more? I didnt think that this plugin had any dependencies, but I am getting the auto prompt. How did you resolve this issue?

[2017-11-25 06:53] jkasten2 commented on #268
OneSignal sends "alert" instead of "text" in the payload for 'contents'. This is why only "title" triggers the extra notification.

[2017-11-25 07:06] jkasten2 commented on #274
@patrickboulay If you were building your Cordova app through XCode make sure you are opening the new ` <project-root>/platform/ios/YourAppName.xcworkspace` file. The .project file won't work to build with Xcode.

If you are building through the command line please share the exact command. Also please share the full linker error.

[2017-11-25 07:11] jkasten2 commented on #269
@ThomasAtome Correct, `setSubscription` must be called after `endInit` otherwise it will be ignored. Only the few functions noted in the Initialization section should be used before endInit.
https://documentation.onesignal.com/docs/cordova-sdk

[2017-11-25 07:11] #269 closed

[2017-11-25 07:13] baskin commented on #268
Got it! thanks for the explanation.

I see that folks created cordova-plugin-firebase-analytics to handle such conflicts with cordova-plugin-firebase. However, I'm using remote config capabilities bundled with cordova-plugin-firebase and cannot forego its use.

@jkasten2 Can you suggest any "fix" based on your experience, besides the hack of not using 'headings' in my onesignal calls? Otherwise pl

[2017-11-25 07:32] jkasten2 commented on #268
@baskin There isn't an option to change the payload format send by OneSignal so the only way would be for `cordova-plugin-firebase` to be modified to prevent the display of the notification.

This would need to be changed in their `FirebasePluginMessagingService.java` to disable displaying the notification. Based on a flag that could be set in the AndroidManifest.xml or through some other method.

[2017-11-25 07:37] baskin commented on #268
Thanks, I'll followup with the firebase plugin repo separately.

[2017-11-25 07:37] #268 closed

[2017-11-25 08:50] fatihky commented on #274
Hi, could you install cocoapods 1.1.1 and try again? I was having a similar problem and solved it after installing cocoapods 1.1.1.
Here is my reference: https://github.com/phonegap/phonegap-plugin-push/issues/1465#issuecomment-267711740

[2017-11-26 03:26] patrickboulay commented on #274
@jkasten2 Great, I was trying to compile the .xcodeproj file.
Thanks a lot!

[2017-11-26 11:22] baskin opened #276 "Launching app via deeplinks in OneSignal notifications causing premature app closure"
Hi Team,
I noticed the following:

- I provide a launch url in a onesignal message that deeplinks into the app using ionic-plugin-deeplinks
- There is no custom onesignal notification opened or click handling
- I launch the app by clicking the notification
- Thereafter, if I navigate away from the app e.g. via browsertab (cordova-plugin-browsertab), social sharing (cordova-plugin-x-socialsharing)

[2017-11-26 12:02] baskin commented on #276
@jkasten2 Can you please help?

[2017-11-26 19:04] #274 closed

[2017-11-27 14:28] ananmelkonyan commented on #258
@jkasten2 Same for me, yet nothing updated?

[2017-11-27 20:31] jkasten2 commented on #258
@BenjaminWatts @ananmelkonyan Just released version [2.2.3](https://github.com/OneSignal/OneSignal-Cordova-SDK/releases/tag/2.2.3) this includes this fix.

[2017-11-27 22:03] chancezeus opened #277 "[Android] Unable to compile v2.2.3"
When running cordova build android I am presented with the following error after the most recent update:

[code]

It seems that the plugin's gradle config is having some incorrect configuration.

[2017-11-27 22:38] jkasten2 commented on #277
@chancezeus We didn't run into the issue on the first pass of testing. However we are now able to reproduce the issue. You can rollback to 2.2.2 by running the following until we resolve the issue.
[code]

[2017-11-27 22:53] chancezeus commented on #277
Already did, just wanted to report it before/in case anyone else runs into it...

[2017-11-28 10:17] ananmelkonyan commented on #258
@jkasten2 Thanks can you update also npm to 2.2.3

[2017-11-28 18:43] levarberry commented on #186
Fixed my problem by install CocoPods
`sudo gem install cocoapods`
`pod repo update`

[2017-11-28 22:08] jkasten2 commented on #277
@chancezeus Thanks again for reporting. Just released 2.2.4 to npm to resolve this issue.

[2017-11-28 22:08] #277 closed

[2017-11-28 22:10] jkasten2 commented on #258
@ananmelkonyan 2.2.3 had a gradle issue so it was unpublished. Just fixed this and released 2.2.4 and it is available on npm now.

[2017-12-01 03:43] 152hq opened #278 "onReceive push event when app terminated: iOS"
Hi,
We are facing a scenario where the app is terminated by the user by clearing from recent list, then the push notification is received but the user click app icon to open the app. This case, do we have any event to know that a push was received or to execute some js code? The one's we have right now is when push is received in the foreground and one when the app is in background.

[2017-12-01 09:44] ThomasAtome commented on #247
@jkasten2 Same for me, the new files are present in the apk and i'm using the last plugin version..

[2017-12-02 12:22] baskin commented on #217
Just checking if there was any progress on this or any better approaches in the ~4months since the ticket was cut. Otherwise I was planning to do as @jkasten2 suggests -- 'create your own Cordova Android plugin that uses the Background Data and Notification Overriding OneSignal SDK'

[2017-12-02 13:05] youradds opened #279 "Error when building on Phonegap Build"
I'm battling to get a new version out, and it seems like some stuff is broken. I have this in my config.xml:

`<preference name="phonegap-version" value="cli-6.5.0" />`

(it was cli-6.3.0)

...and then the plugin itself:

`<gap:plugin spec="https://github.com/OneSignal/OneSignal-Cordova-SDK.git" source="git" />	`

When I do the build, I get:

What am I doing wrong? It all works on the old app (I'm

[2017-12-04 17:09] chancezeus opened #280 "[Android@7.0.0] Heads-up the gradle file is broken (again)"
Hi all,

For a project I needed a more recent version of the android cordova platform then the one available on npm (one that contains a fix for building multiple architectures). For this reason I installed the latest version (7.0.0) from git (probably hits the "npm" shelf soon) and I could not build the project because of an error spawned from the `build-extras-onesignal.gradle`.

Error from clea

[2017-12-04 23:45] chancezeus commented on #241
This is not a OneSignal issue but related to how angular 2+ works, if not using the Ionic native onesignal library you should wrap the code inside notification received/opened handler in a `ngZone.run` (and add `ngZone: NgZone` to you constructor(s)). If you are using the Ionic native onesignal library this should (in theory) already be done by the plugin.

The reason for this is that the OneSigna

[2017-12-05 03:27] allanpoppe opened #281 "Android Oreo Categories functionality issue"
Hello.

I'm trying to configure the new Categories funcionality. However, when I'm sending notifications via API or via OneSignal panel, I always receive the notification as Uncategorized. I'm testing with a Google Pixel XL 2.

I've created the categories inside OneSignal panel.

When I debug the notification opening, I can see that the `rawPayload` attribute inside `payload` has the `chnl` proper

[2017-12-05 18:57] MiguelGonzalezAravena commented on #222
Same issue here!

[2017-12-05 21:24] jkasten2 commented on #222
The small notification icon is basically a mask, you must set an alpha channel around your icon instead of a solid color. Transparency is normally shown as a black and white checkerboard pattern in most image editors.

See some of Google's example icons.
https://material.io/icons/

If your icon looks correct in the [Android Asset Studio](http://romannurik.github.io/AndroidAssetStudio/icons-notific

[2017-12-05 21:56] jkasten2 commented on #279
@youradds The latest version of the SDK requires cocoapods, you are building with PhoneGap CLI, please run the following to install it.
[code]
https://documentation.onesignal.com/docs/cordova-sdk-setup

If you are using PhoneGap build's cloud build I recommend trying to update to `cli-7.0.1`. Also if you have the following in your `config.xml` remove it as it could be overriding the platform versi

[2017-12-05 21:58] jkasten2 commented on #217
@baskin We don't plan to get to this in the near future, there are a number of other higher priority tasks we have on our roadmap before this one. Thanks.

[2017-12-05 22:05] jkasten2 commented on #281
@allanpoppe I see you have the latest version of the OneSignal plugin so this should be working. Can you attach the `rawPayload` your getting?

Can you also check the logcat for any errors or warnings when the notification is received?

[2017-12-06 08:00] youradds commented on #279
Thanks for the reply. I think it must have been an issue with the build server at Phonegap, as I tried it later on and it worked :)

[2017-12-06 21:37] jkasten2 commented on #279
@youradds Good to hear builds are working for your now! Feel free reply if you run into the same build error.

[2017-12-06 21:37] #279 closed

[2017-12-07 13:57] junalmeida commented on #280
+1

[2017-12-07 17:42] crabbydavis commented on #221
I'm also having this problem and would love to know if anyone has found a solution.

[2017-12-08 13:44] Ziv-Barber opened #282 "Annoying iOS only popups when the app is in the front and getting push"
I'm getting annoying iOS only popups when the app is in the front and getting push.
Any way to disable these popups?

[2017-12-08 22:47] jkasten2 commented on #282
@Ziv-Barber You can use [`inFocusDisplaying`](https://documentation.onesignal.com/docs/cordova-sdk#section--infocusdisplaying-) to change how notifications will be displayed in the foreground.

[2017-12-08 22:55] Ziv-Barber commented on #282
Perfect. Thanks!

[2017-12-08 22:55] #282 closed

[2017-12-13 14:08] sohandhaindwal commented on #222
@jkasten2 you solution is not worked . I have same Same problem could you please help me?

[2017-12-13 20:42] keithdmoore commented on #245
I would also like to see this feature.   I am building a ticketing system and I would like for the badge count to be the number of open tickets.  I can do this for iOS but not for Android.

[2017-12-15 09:27] fedorcomander opened #283 "NotificationExtenderService exception on latest version."
I am having problems with latest version. NotificationExtenderService gives an exception. Any ideas?

[code]
Notification is NOT being shown!

Code:
[code]

[2017-12-16 12:44] mubasshir commented on #245
Unfortunately, I removed this plugin and using FCM for now

[2017-12-16 14:17] keithdmoore commented on #245
@mubasshir Does FCM support this?  I was considering just using a separate plugin to set the badge number for both iOS and Android. And configure OneSignal to not set the badge for Android.

[2017-12-18 19:16] Ziv-Barber opened #284 "ios: failed to install the plugin "pod error 31""
ios: failed to install the plugin "pod error 31"

How to see it:

Just try to install the plugin:

cordova plugin add onesignal-cordova-plugin --nosave

[2017-12-19 18:16] luchusnet commented on #264
Same problem to! Fix above not working.

cli packages: (/usr/local/lib/node_modules)
    @ionic/cli-utils  : 1.19.0
    ionic (Ionic CLI) : 3.19.0

global packages:
    cordova (Cordova CLI) : 7.1.0
    Gulp CLI              : CLI version 3.9.1 Local version 3.9.1

local packages:
    @ionic/app-scripts : 1.3.12
    Cordova Platforms  : ios 4.5.4
    Ionic Framework    : ionic-angular 3.5.0

Syste

[2017-12-19 21:55] MasTeh opened #285 "I can't install plugin on ios. "Version should contain only numbers and dots""
Hello!

I installed everything according to the instructions.
[code]

[2017-12-20 15:23] fatihky commented on #264
Hi @luchusnet, can you try to open `.xcworkspace` file and build again?

[2017-12-20 21:43] biborn commented on #238
This is called heads-up notification.
More info about that here: https://developer.android.com/guide/topics/ui/notifiers/notifications.html#Heads-up

However, I haven't found a way to implement it in Ionic 3. Maybe someone will come up with a solution.

[2017-12-20 23:02] jkasten2 commented on #238
@moh3n9595 @biborn The buttons on the notifications are called [Action Buttons](https://documentation.onesignal.com/docs/action-buttons) on OneSignal.

To get the notification to be a head-up type which will show the expanded notification when it is received instead of having to view it in the shade set priority to 10. This is available on the [create notification REST API](https://documentation.o

[2017-12-21 08:56] NazliAksoy commented on #280
[https://cordova.apache.org/announcements/2017/12/04/cordova-android-7.0.0.html](https://cordova.apache.org/announcements/2017/12/04/cordova-android-7.0.0.html)

However this a major breaking change for people creating standalone Cordova Android projects. This also means that the locations of files have changed and have been brought in line to the structure used by Android Studio.
This may affect

[2017-12-21 12:10] kzanagodev commented on #280
+1

[2017-12-21 23:47] jkasten2 commented on #280
@chancezeus @NazliAksoy Thanks for reporting and the details. We just fixed this in our 2.2.5 update.
https://github.com/OneSignal/OneSignal-Cordova-SDK/releases/tag/2.2.5

CC @junalmeida @kzanagodev

[2017-12-21 23:47] #280 closed

[2017-12-26 13:16] erdimeola commented on #251
@kylepierce It doesn't have, I was using cordova-plugin-notification for updating the app icon, to update app icon, this plugin was asking for permission as the user starts the app. I removed the plugin and it works ok right now. Make sure you are using the latest version

[2017-12-28 05:59] M4ttscx opened #286 "Move the button to the right!"
Move the button to the right, move the "ok" to the right, not to the left when you receive a message inside the application.

![p8ecvwywt3ovfusemrwmqa](https://user-images.githubusercontent.com/26545901/34401616-81ab695c-eb83-11e7-8cc9-cf48637f9542.png)

[2017-12-28 10:13] chaitanya-nyros commented on #222
Same issue here!

[2017-12-28 19:16] luchusnet commented on #205
+1

[2018-01-03 13:28] iliraga commented on #173
Is there any update on this? We're facing the same issue. We are using `cordova-background-geolocation` in our project.
Somehow it leads to lot of issues when the onesignal cordova plugin requests the location before the cordova-background-geolocation plugin does. Is it possible to disable the location-relevat part of the onesignal plugin completly? We don't need location-aware push notifications

[2018-01-04 13:16] Ziv-Barber commented on #285
yes, this plugin is not compatible with ios

[2018-01-04 14:28] Ziv-Barber commented on #284
sudo gem install cocoapods
pod repo update

[2018-01-04 14:28] #284 closed

[2018-01-04 14:28] Ziv-Barber commented on #285
sudo gem install cocoapods
pod repo update

[2018-01-05 08:43] gg32 opened #287 "I can't build my app"
Hello I'm having a problem with Onesignal during building of my cordova app can you help me with this. here is the output of my app during building.

[code]

[2018-01-05 12:25] SrijithK commented on #228
@diegomachado1  can you please share the code snippet?

[2018-01-08 12:24] MiguelGonzalezAravena commented on #222
My icon is a blue square with text. When i send notifications, only the big icon show good, but the small icon (That show in the smartphone's top bar) is a white square. My icon isn't has transparent background.

[2018-01-09 08:54] gg32 opened #289 "Cannot read property 'OneSignal' of undefined"
Hello I finish the instruction from this tutorial " https://documentation.onesignal.com/docs/cordova-sdk-setup " and I got this error. btw I already installed the onesignal plugin in my project can anyone help me

![error](https://user-images.githubusercontent.com/33216620/34712247-231f34de-f55d-11e7-9889-77620802f94e.png)

[2018-01-09 15:13] PaulPaulDevelops commented on #238
hey @jkasten2

I'm currently using this in my Ionic 1 project. Push notifications are working as expected, except even with both of your recommendations (set priority to 10 when creating the notification, as well as manually push from the dashboard from this setting) I am unable to get the heads-up notification.
Any next steps I should take to debug this?

[2018-01-09 18:22] PaulPaulDevelops opened #290 "Android Init and Users Not Subscribed"
Hello everyone,

I'm having a similar issue to [here](https://github.com/OneSignal/OneSignal-Cordova-SDK/issues/202) in my ionic 1 project.

I have noticed that OneSignal (for Android specifically) is:
1.) No longer initializing
2.) No longer having users appear on the dashboard as a result

The init and subscription worked previously, but completely stopped. I reverted any changes I made to the p

[2018-01-10 21:53] fatsjohonimahnn commented on #238
The issue for this is heads up aka banner notifications only work on android 5 - 7.

For android 8+ they introduced Categories to make customizations to notifications and add this functionality there.

Please see our docs on Android Categories here: https://documentation.onesignal.com/docs/android-notification-categories

[2018-01-10 21:54] PaulPaulDevelops commented on #238
@fatsjohonimahnn Awesome, thank you!

[2018-01-11 22:37] jkasten2 commented on #290
@PaulPaulDevelops The `blocked the main thread for ###ms` warning is shown by Cordova, it is shown to note that the plugin could be causing some startup delay to your app. It won't create any other issue than that.

From the stack trace the device is not subscribing due to a networking error. The HTTP timeout is being hit so there is some kind of issue with the device reaching onesignal.com. Make

[2018-01-12 00:09] #290 closed

[2018-01-12 02:46] jkasten2 commented on #275
@osterland OneSignal must be initialized each time a page is loaded in your app. Otherwise sendTags and other functions on OneSignal will not work

[2018-01-12 02:46] #275 closed

[2018-01-12 02:47] jkasten2 commented on #248
Closing due to inactivity, feel free to reply if you have more details.

[2018-01-12 02:47] #248 closed

[2018-01-12 02:48] #238 closed

[2018-01-12 12:49] Flaviocrtt commented on #229
Hi, is it ok now? my old phone android 4.4.4 works perfectly, call the handleNotificationOpened everytime, but on another devices with android 6,7 doesn't call the handleNotificationOpened when the app is killed, it just call when the app is opened.

[2018-01-12 13:13] Flaviocrtt opened #291 "handleNotificationOpened not fire when app is not runing"
Hi, my old phone android 4.4.4 works perfectly, call the handleNotificationOpened everytime, but on another devices with android 6,7 doesn't call the handleNotificationOpened when the app is killed, it just calls when the app is opened.
Thanks

[2018-01-12 23:32] jkasten2 commented on #291
@Flaviocrtt No matter if the app is running or not `handleNotificationOpened` should each time a notification is tapped on.

Are you initializing OneSignal on the first page in your app? Can you make sure you are not getting any javascript runtime error when your app is cold started that could be creating an issue with this? Also check the logcat for any errors.

[2018-01-12 23:48] jkasten2 commented on #285
@Ziv-Barber This plugin is compatible with both iOS and Android.

@MasTeh Can you add the ios platform before adding the `onesignal-cordova-plugin`? I have seen this version error on other plugins and doing this out of order can create issues.

Feel free to reply if the above does not work and I can reopen this issue.

[2018-01-12 23:48] #285 closed

[2018-01-12 23:56] jkasten2 commented on #267
Feel free to reply if the above did not help.

[2018-01-12 23:56] #267 closed

[2018-01-13 00:26] jkasten2 commented on #283
@fedorcomander Closing this issue and linking to your other issue https://github.com/OneSignal/OneSignal-Android-SDK/issues/396 to consolidate them

[2018-01-13 00:26] #283 closed

[2018-01-13 03:19] axilaris opened #292 "ionic 3 - cannot install onesignal plugin for ios using latest xcode"
I cannot create add ios platform for onesignal plugin. With android build its fine.
(posted a similar SO https://stackoverflow.com/questions/48236605/ionic-3-cannot-install-onesignal-plugin-for-ios-using-latest-xcode)

I did this:

$ ionic cordova platform add ios
the following errors failed.

apple-ios version check failed ("/Users/megasap/Documents/project/railerdotcom/railercom_parent/platforms

[2018-01-13 03:25] jkasten2 commented on #265
Closing due to inactivity, feel free to reply and I can open the issue if the above does not help.

[2018-01-13 03:25] #265 closed

[2018-01-15 12:16] ismatoro commented on #228
I hope it helps:
`window["plugins"].OneSignal
      .startInit("-------------------------------", "------------------")
      .handleNotificationOpened(callbackForNotifications)
      .endInit();
window['plugins'].OneSignal.getIds((id)=>console.log(id));`

[2018-01-15 16:28] dfibuch opened #293 "Android - What is the small icon in the bottom right corner of the notification icon?"
This is more of a question than an issue. I got everything working in my app with OneSignal but noticed that whenever I receive a notification on a Android device, it has a small round icon with a white square in the bottom right corner of my actual icon.

I can see that other notifications also have this, for example Google Maps notification has the maps icon in there.

My question is how do I cu

[2018-01-15 17:19] hugoblanc opened #294 "Build on IOS does not activate automatically push notif capability in xcworkspace"
When I add onesignal-cordova-sdk to my Ionic/Cordova, that should automatically activate the push notification capability in the XCode project.
Particularly in case of continuous integration where I stuck because I need to open the xcworkspace and then click on the button in "**Capabilities**" section.

[2018-01-15 18:15] Flaviocrtt commented on #291
@jkasten2 thank you for answer.
I use phonegap, plugin onesignal-cordova-plugin 2.1.2
i checked the javascript error and there is no errors.
if something is wrong on my core, it should not work on any device, as i told you, on my phone it works perfecly.
i tried everythig on my code but no sucesss.
here is where i start:
[code]

[2018-01-15 18:24] Flaviocrtt commented on #291
Some users have told me that problem, i did not believe and they showed me that it was really opening just the home screen, then i tested on bluestacks and i got the same problem, now i need to fix it.
thanks.

[2018-01-16 02:13] jkasten2 commented on #291
@Flaviocrtt Thanks for the code, this part of your code looks good. Could you also share your `myapplog` function? There could still be an issue with your code if there is a race condition that does not always happen.

Do you get any errors or warnings from the logcat from bluestacks? If you can get the logcat from there do you see the same issue in the Android emulator or a real device running an

[2018-01-16 10:58] Flaviocrtt commented on #291
that function just feeds a ul to me know what happened on the app, its like console.log()
[code]

[2018-01-16 11:48] Flaviocrtt commented on #291
here is the logcat, i didn't know about logcat before.
[logcat.txt](https://github.com/OneSignal/OneSignal-Cordova-SDK/files/1634928/logcat.txt)

[2018-01-16 18:56] matiasAS opened #295 "conflict use WebPushSDK + onesignal-cordova plugin IONIC 3"
Hello,
I am developing an application on ionic 3. I want to use web notifications and mobile notifications, but I see that there is confusion when I use the WebPushDDK and the native plugin.

I would appreciate that you give me a solution to this problem as soon as possible

Thank you

Matias Alvarez Sabate

[2018-01-16 22:01] jkasten2 commented on #291
@Flaviocrtt Thanks for the log. I don't see any OneSignal errors in the log. You can try adding `console.log` calls in your myapplog function as well as before and after OneSignal start and end init. You can then search for these in your logcat.

I see the log is from BlueStacks, is it an issue an a real device or emulator as well?

[2018-01-16 22:13] jkasten2 commented on #295
@matiasAS You will need to add some code to your app to know if it is running in a browser vs in your mobile app. I recommend using the following logic to determine this.
https://forum.ionicframework.com/t/how-to-determine-if-browser-or-app/89149

You then will need to wrap OneSignal SDK calls with this variable to call the correct function.

[2018-01-17 03:07] matiasAS commented on #295
Estoy ejecutando mi app hecha en ionic 3 con el siguiente comando:
ionic cordova run browser. Tengo instalado el plugin nativo, agregado al app.module.ts (en los servicios) y en el app.component.ts Ademas tengo ya implementado lo de web push.

Cuando en el index.html comento la siguiente linea:
  <script src="cordova.js"></script> todo funciona bien (en el browser), pero cuando no la tengo comenta

[2018-01-17 03:10] matiasAS commented on #295
![image](https://user-images.githubusercontent.com/7276332/35023750-c99bbfd6-fb1a-11e7-846e-f930d1029c1f.png)

[2018-01-17 03:10] matiasAS commented on #295
![image](https://user-images.githubusercontent.com/7276332/35023736-beeb6136-fb1a-11e7-9e0d-f7af5765d150.png)

[2018-01-17 03:11] matiasAS commented on #295
I need to have in the web version cordova.js since I am using other plugins that require it and that are compatible with browser

[2018-01-17 03:17] matiasAS commented on #295
@jkasten2 I need you or someone from the team to help me please

[2018-01-17 03:33] matiasAS commented on #295
My index html:

`  <script src="cordova.js"></script>
.......
<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js"></script>
<script>
    var OneSignalWeb = OneSignal || [];
</script>
........

`

My app.component.ts:
  webPushOneSignal() {
    OneSignalWeb.push(function () {
      OneSignalWeb.init({
        appId: "XXXXX",
        autoRegister: false,
        notifyButton: {
          en

[2018-01-17 05:28] matiasAS commented on #295
@jkasten2  Basically the problem I'm having is that the native plugin is registered in window as OneSignal and the object that refers to web push sdk with the name that I give it is OneSignalWeb, then there are 2 init and they are overwritten and that gives the error

[2018-01-17 12:55] Flaviocrtt commented on #291
Hello again, i sent 2 notifications, the first when the app was dead, it wrotes 168 lines on the log, then i sent another notification with the app open and it worked, i called myapplog('called handleNotificationOpened', jsonData), line 600 on the log, the catlog only printed the text, but on my app it printed the jsonData with the sent data.
here is the log, thanks.
[logcat3.txt](https://github.c

[2018-01-17 19:22] jkasten2 commented on #291
@Flaviocrtt Was the line you added to your app `console.log("called handleNotificationOpened");`? I see 2 entries for "called handleNotificationOpened" logged in 2 different ways.

[code]

[code]

From this log it seems the `handleNotificationOpened` is firing correctly for you for both notifications.

The only issue I see is that the open of the first notification was not track on OneSignal due t

[2018-01-18 21:19] jlcasasg opened #296 "Ionic 3. Clear notifications when app is open"
Hi :)
I want to clear all the notifications when the user open the application (no clicking in the received notification), is there a way I can do that?

Thanks :)

[2018-01-19 04:16] jkasten2 commented on #287
@gg32 This is due to the 240 character path limit with the build tools in Windows. Please move your project to a shorter directory such as `C:\Projects\try1onesignal`

Stackoverflow post with more details on this issue.
https://stackoverflow.com/questions/39621250/how-to-fix-com-android-builder-internal-aapt-aaptexception-failed-to-crunch-fil

[2018-01-19 04:16] #287 closed

[2018-01-19 04:20] jkasten2 commented on #295
@matiasAS The onesignal-cordova-plugin should be getting loaded in your browser builds of your app. Are you testing your browser builds with `cordova run browser`?

[2018-01-19 04:24] jkasten2 commented on #294
@hugoblanc We have enable "Capabilities" step in our instructions as it is required that you do so once per iOS bundle id. Xcode actually makes modifications on your provisioning profile on Apple's server to do this. After that you shouldn't have to do so manually. The [`plugin.xml`](https://github.com/OneSignal/OneSignal-Cordova-SDK/blob/2.2.5/plugin.xml#L73-L84) tells Cordova to add this to the

[2018-01-19 13:09] matiasAS commented on #295
yes with ionic cordova run browser, since I'm interested in using other plugins like badge for example

@ jkasten2 are you telling me that the plugin will work correctly in browser, that is, receive push web notifications and give me the player id?

[2018-01-19 22:38] hongnk commented on #160
I second this request for enhancement to improve user experience. I do not need to wake up app when there is a notification, but only want to display some data from notification when users reopen app from home screen icon, so they know there's indeed something new, because the actual update from server takes a while to arrive. If user opens app by tapping notification today then it is already good

[2018-01-20 01:29] jkasten2 commented on #289
@gg32 Are you calling window.plugins.OneSignal from the `deviceready` listener?
[code]

Are you getting this error when you run the app on your Android device as well?

[2018-01-20 01:38] jkasten2 commented on #207
@scrnet @chapuzzo Are you setting badges through the OneSignal REST API or dashboard? If doing so through the REST API please print out the full JSON payload you are sending so we can confirm it is correct.

I also recommend updating to our latest SDK.

Feel free to reply and I can reopen this issue if you are still seeing this problem. Thanks

[2018-01-20 01:38] #207 closed

[2018-01-20 01:44] jkasten2 commented on #224
@Swapniltdatalogy Closing due to inactivity. Please try our latest SDK and provide more details if you are still seeing this problem.

[2018-01-20 01:44] #224 closed

[2018-01-20 01:57] jkasten2 commented on #295
@matiasAS `onesignal-cordova-plugin` shouldn't be loaded / included at all in your browser builds so it won't have any effect on the OneSignal Web Push SDK. You would see these same errors in your browser if you removed `onesignal-cordova-plugin`.

The issue is how your initialing and the OneSignal Web Push SDK.
[code]

You must use `var OneSignal = window.OneSignal || [];` as the SDK is expecting

[2018-01-20 02:01] matiasAS commented on #295
I still do not use HTTPS, and it's like I'm working now. I unpinned the native plugin to develop and test in the browser. In the case of mobile, I comment all the code related to the web and I decompose what is related to the native plugin. The funny thing is that the error appears even without calling any of the functions of the native plugin.

[2018-01-21 20:51] newelement commented on #292
Having the same issue

[2018-01-24 01:13] TreceDoseGoma commented on #289
yes @jkasten2  I put the OneSignal function inside the onDeviceReady function but still got the error and yes Im using android platform

[2018-01-24 14:13] battika opened #297 "Google Play Services version"
Hello OneSignal Team,

Can you guys please consider updating the Google Play Services version to the latest v11.8.0 (at the time of writing) in the gradle build file?

It is causing me issues as one of my Cordova plugins not using this method requires 11.8.0 and my application fails to build because of that. Obviously, I can fork the code and change it but it might help others too.

Thank you for

[2018-01-25 00:27] hewham commented on #196
@Avislux

Thank you for this it was driving me mad

[2018-01-25 17:55] gorru opened #298 "addSubscriptionObserver callback is never fired (ionic 1)"
Hi.
I'm writing a ionic 1 app.
After the ready event I call
`window["plugins"].OneSignal
                .startInit("my-code")
                .handleNotificationOpened(notificationOpenedCallback)
                .endInit();`
It seems that the device is registered (I can see it in the onesignal.com/apps/ site.
I'd expect that the callback in window.plugins.OneSignal.addSubscriptionObserver
would b

[2018-01-25 18:03] mxkeke commented on #297
+1 same problem

[2018-01-26 03:59] axilaris commented on #292
i solved it with this:

https://stackoverflow.com/questions/48236605/ionic-3-cannot-install-onesignal-plugin-for-ios-using-latest-xcode

[2018-01-26 13:29] praveenkumart opened #299 "Notification event not fired"
Scenarios

App is killed in background,

Received a notification

Didnt clicked on notification ,

Launched app by clicking on App icon

Notification not received

If i click on notification in notification bar , it is working fine

[2018-01-26 15:55] curlybracketsSARL commented on #298
List your plugins please

[2018-01-29 10:14] nidhi1612 opened #300 "One signal plugin throws error for ionic cordova build android command"
one signal plugin gives an error while ionic cordova build android after npm update. all the angular dependencies are upgraded to 5.. versions.

Plugin version:  ^2.2.5

Platform: android

OS version: android 26 api level (oreo)

Cordova version (cordova -v): 7.0.1

Cordova platform version (cordova platform ls): android 6.2.3

Ionic Version (if using Ionic): 3.19.1

Expected Behaviour:
ionic cord

[2018-01-29 16:40] mtshare commented on #300
Have you tried these commands?
[code]

[2018-01-30 12:00] mad2kx opened #301 "Cordova + OneSignal + Wordpress"
Hi there,

I was wondering if there's a workaround to launch OneSignal Push Notifications within a Cordova Wordpress App?

The moment the user opens the app he/she will be registered for notifications. Normal PushMessages through OneSignal will trigger the app to open but articles sent through Wordpress will cause the normal browser to open.

I am aware that according to OneSignal it's not working

[2018-01-30 13:52] nidhi1612 commented on #300
@mtshare I am facing the issue on android, and not on ios.

[2018-01-30 15:18] gnl1 opened #302 "How to check if app is launched because of a notification open event"
Hi,

I would like to know if there is a way to know if an app is launched because of a notification opened event.

What I want to achieve is to prevent showing the app's root page and only show the notification handling page upon clicking on the notification if the application is not already running and is launched because of the user's tapping on the notification.

Thanks,
George

[2018-01-30 22:43] LukeHartcher opened #303 "Cordova Android Platform 7.0.0 not building with custom notification sound, and custom sound not playing on Android 8 Oreo"
**UPDATE 2**
Refer last close comment. Custom Notification Sound will work under Cordova Android 7.0.0 and Android 8 Oreo - but additional configuration is required.

**UPDATE 1**

I can confirm that this plugin custom notification sound works with "cordova android platform 6.4.0" on devices running Android 7.

There are two issues:
1. plugin does not build android with custom notification under C

[2018-01-30 23:20] jkasten2 commented on #303
@LukeHartcher Can you try removing the following from your `config.xml`?
[code]

Since you are already manually putting `notification.wav` into `platforms/android/res/raw` Cordova might be getting an error since the file is already there.

[2018-01-30 23:33] LukeHartcher commented on #303
@jkasten2 my initial try was **without** this entry and it fails to compile!

I only added the config.xml resource as a test, as manually placing the file in platforms/android/res/raw/notification.wav causes cordova build to fail.

So my main issue is that `cordova build android` fails when manually placing the file in `platforms/android/res/raw/notification.wav`

[2018-01-30 23:34] rodrigoreal commented on #280
Hey guys, i see it has been fixed on 2.2.5 but when i try to install de plugin `ionic cordova plugin add onesignal-cordova-plugin` i'm getting the error:
`Failed to install 'onesignal-cordova-plugin': Error: ENOENT: no such file or directory, open '/Users/rodrigoreal/Projetos/rodrigo/platforms/android/AndroidManifest.xml'
    at Error (native)
    at Object.fs.openSync (fs.js:640:18)
    at Object

[2018-01-30 23:36] jkasten2 commented on #280
@rodrigoreal Can you run the following to make sure an old version didn't get installed somehow?
`ionic cordova plugin list`

[2018-01-30 23:45] LukeHartcher commented on #303
Steps to reproduce:
(Windows 10, Cordova 8.0.0, Cordova Android 7.0.0)

[code]

-------- CORDOVA BUILD ERROR ----------

[code]

[2018-01-31 00:15] rodrigoreal commented on #280
[code]

[code]

[2018-01-31 21:21] LukeHartcher commented on #303
@jkasten2 did you have any thoughts on this? I will try a previous version of Cordova Android and see how I go.

[2018-01-31 21:48] LukeHartcher commented on #303
Using Android Cordova 6.4.0 does compile without the issues listed above (i.e `cordova platform add android@6.4.0`) BUT the notification sounds does not play. :(

File is in the .apk `res/raw/notification.wav` and my payload includes `android_sound: "notification"`.

How is it best to diagnose what the issue could be?

[2018-01-31 22:30] eduardolopesUFJF opened #304 "OneSignal plugin just work for ios 10 or high"
I did my app using ionic 3 and everything works well to Android and iOS platforms.

But when I tried to run on device or simulator with iOS 9.0, I'm freeze on splashscreen.

May you help me, please?

[2018-02-01 03:00] LukeHartcher commented on #303
It would appear that Cordova Custom Sound notifications do not work.

[2018-02-01 03:32] LukeHartcher commented on #303
UPDATE:

Only relevant thing I could find in `adb logcat` was:

[code]

Note sure if that is relevant?

[2018-02-01 06:26] latifurrofik commented on #228
this is work for me.. i hope this can help..

`this.oneSignal.getIds().then(ids => {
        console.log(JSON.stringify(ids.userId));
        // this.storage.set('playersID',  ids.userId);
});`

[2018-02-02 03:16] LukeHartcher commented on #303
I can confirm that the "cordova android platform 6.4.0" custom notification works on Android 7.

So there are two issues:

1. plugin does not build with custom notification under Cordova Android Platform 7.0.0 (after placing notification file in platforms/android/res/raw)

2. plugin does not support custom notifications under Android 8 (default sound will play).

Will update main entry.

[2018-02-02 03:27] LukeHartcher commented on #303
@jkasten2 I have updated the main entry with my findings. It would be great to see this plugin updated to have custom notifications supported under both Cordova Android 7.0.0 and devices running Android 8. I appreciate you guys are very busy, so I will remain subscribed  for any future updates.

Love the product though - great work!

[2018-02-02 04:40] jkasten2 commented on #303
@LukeHartcher Thanks for digging in to these issues.

### Issue 1, build error
It sounds like Cordova may have a bug or may no longer allow files to be directly placed into the platforms folder in Cordova version 8.0.0.

Can you try putting the following in your `config.xml`?
[code]
This should copy `my-notification.wav` into the folder for you which should result in `res/raw/notification.wav` bei

[2018-02-02 17:35] DrTeixeira258 commented on #304
I found the following error in console when run on simulator: OneSignal AppId format is invalid.

I saw in OneSignal-iOS-SDK issues that this problem is going on too, maybe the solution could be easy. I will wait for some suggestion.

Thanks anyway.

[2018-02-04 20:25] fishgrind commented on #297
same problem here! Please change the version to 11.8.+

[2018-02-05 03:07] shawns582 commented on #304
@DrTeixeira258 I have the same problem with my Ionic 3 app in iOS

[2018-02-05 10:17] LukeHartcher commented on #303
@jkasten2 it worked! Simply creating a "Notification Channel" within the OneSignal as documented, and then adding the `android_channel_id` to my rest api call - and the custom sound started working. I can also see the Notification Chanel in the Android Oreo settings.

Great stuff! 👍

However the doco (https://documentation.onesignal.com/docs/customize-notification-sounds#section-android-and-deriva

[2018-02-05 10:21] LukeHartcher commented on #303
Closing as more of a documentation issue for https://documentation.onesignal.com/docs/customize-notification-sounds#section-android-and-derivatives-like-amazon- where it should cover the
1. Cordova Android Platform 7.0.0 should use a config.xml resource copy of the custom notification sound, into the `platforms/android/res/raw` folder; and
2. Android 8 Oreo requires Notification Categories created

[2018-02-05 13:05] eduardolopesUFJF commented on #304
I'm getting the same error too. I found in another issue that this solution will be released for OneSignal-Unity-SDK, probably will fix for us too. Let's wait...

[2018-02-05 13:20] spinninghamster commented on #304
I don't have an iOS 9.0 device to test. Does anyone else have this problem?

[2018-02-05 13:22] eduardolopesUFJF commented on #304
I'm having this problem in simulator and device with iOS 9.0!

[2018-02-05 13:24] spinninghamster commented on #304
Maybe this is related:
https://github.com/OneSignal/OneSignal-iOS-SDK/issues/280

[2018-02-05 13:26] eduardolopesUFJF commented on #304
This is related too:
[https://github.com/OneSignal/OneSignal-Unity-SDK/issues/77](url)

[2018-02-05 13:40] spinninghamster commented on #304
That link seems wrong.

[2018-02-05 13:58] eduardolopesUFJF commented on #304
Link fixed, my bad.

[2018-02-05 23:49] shawns582 commented on #304
I managed to get it OneSignal working for iOS (10.3). I removed the plugin and readded it and then did:

sudo gem install cocoapods
pod repo update

as explained here: https://documentation.onesignal.com/docs/ionic-sdk-setup

I also made sure to enable Push Notifications in and Background Modes->remote notifications in Xcode. I might actually still be getting the  invalid format error, but at leas

[2018-02-06 03:36] jkasten2 commented on #300
@nidhi1612 The error means your system is having issues connecting to maven where the OneSignal SDK is hosted. This noted from your error above.
[code]
The is a valid URL, make sure you don't have a proxy or firewall blocking this URL.
https://repo1.maven.org/maven2/com/onesignal/OneSignal/3.7.1/OneSignal-3.7.1.pom

You should be able to view this file in your web browser if everything is working.

[2018-02-06 09:55] nidhi1612 commented on #300
@jkasten2 that is the surprising part, i am able to open the URL in my web browser. But getting the error while build.

[2018-02-06 10:52] noor07 opened #305 "TypeError: Cannot read property 'OneSignal' of undefined"
Runtime Error
Uncaught (in promise): TypeError: Cannot read property 'OneSignal' of undefined TypeError: Cannot read property 'OneSignal' of undefined at http://localhost:8100/build/main.js:803:31 at t.invoke (http://localhost:8100/build/polyfills.js:3:14976) at Object.onInvoke (http://localhost:8100/build/vendor.js:4982:33) at t.invoke (http://localhost:8100/build/polyfills.js:3:14916) at r.run (

[2018-02-06 13:38] eduardolopesUFJF commented on #304
I already did this @shawns582, in iOS 10 or high everything works fine, the problem is with iOS 9.

[2018-02-07 09:29] Creawebs commented on #297
Same problem here, causing issues with cordova google maps

[2018-02-07 10:51] fishgrind commented on #297
@Creawebs if you are still having trouble with maps, for now you can fix it:

`\platforms\android\project.properties`

change the following:

`cordova.system.library.5=com.google.android.gms:play-services-maps:11.8.+
cordova.system.library.6=com.google.android.gms:play-services-location:11.8.+
`
and in

`\platforms\android\onesignal-cordova-plugin\poseidon-build-extras-onesignal.gradle`

change th

[2018-02-07 11:00] datiecher opened #306 "Failed to install for iOS platform"
I'm getting an error when trying to add OneSignal to an existing Ionic 3 project, even though the plugin is successfully installed for Android. I've also tried to remove the iOS platform and adding it back again but the error persists.

Version information:
- Ionic CLI: 3.19.1
- Cordova iOS: 4.5.4
- Ruby: 2.2.5
- Pod: 1.4.0
- Node: 8.5
- Xcode: 9.2
- OS: macOS High Sierra 10.13.2

The error I'm ge

[2018-02-08 02:10] jkasten2 commented on #300
@nidhi1612 I also noticed this error just below the URL.

Can you make sure your Java version is up to date? I see there are a number of entires when Googling this error. They seem to either be related to a proxy issue or a cert issue with Java on the system.

[2018-02-08 21:36] oTTa opened #307 "Ionic 3 - getTags() return empty value or never execute"
I using Ionic 3 and I can add and delete tags and receive notifications but i can't get the tags because the value is empty or the function never execute,
The code is the following:

[code]

[code]
**OneSignal dashboard** show me
![sin titulo](https://user-images.githubusercontent.com/3344757/35999435-90371d08-0cfe-11e8-9181-f12fce8f9ddf.png)

**Android Device Motitor**
![sin titulo](https://user-

[2018-02-08 22:20] seme1 commented on #297
I also have the same problem with googlemaps plugin. Would be appreciated if OneSignal can update google play services.

[2018-02-09 03:41] nidhi1612 commented on #300
@jkasten2 I checked. my java version is latest. How can i check the cause for the error now?

[2018-02-11 18:08] cklinx commented on #297
+1 same problem

[2018-02-12 05:49] freeriderND commented on #306
I have the same issue with 2.2.5 version.
2.2.4 works fine.

[2018-02-12 07:18] Nightsd01 commented on #306
Thanks for reporting this, well investigate shortly to figure out what’s causing this issue.

[2018-02-12 21:54] itzamnamx commented on #297
+1 same issue. And causes issues with other plugins wich uses a different version of GMS

[2018-02-13 03:19] linhbd opened #308 "OneSignal Version 2.1.0 still working for IOS device?"
I have one question that for some reason i am not able to install latest version because of CocoaPods. OneSignal version 2.1.0 still working for IOS device?

[2018-02-13 11:44] Naveen1612 commented on #245
@keithdmoore Were you able to achieve this.

[2018-02-13 11:51] Naveen1612 opened #309 "Not able to disable notification badge on android devices"
I am unable to completely shut notification badge from push notifications from one signal in android devices.
I tried the native code handling given in docs. So when I set
`<meta-data android:name="com.onesignal.BadgeCount" android:value="DISABLE" />`
and other permissions.
It does not reset it automatically when the app is opened but when a new notification is received, badge is still shown and u

[2018-02-13 12:07] mubasshir commented on #245
@keithdmoore hey, really sorry for late reply
I moved from FCM to OneSignal. Here is what I did to achieve this

In data params, I'm sending current badge count (you can use increment etc but you will need to handle code at Java level)
I've used https://github.com/leolin310148/ShortcutBadger

1. Add dependencies for ShortcutBadger, it's available from maven now.

[code]

2. Add this to Menifest to

[2018-02-13 13:28] keithdmoore commented on #245
@Naveen1612 I have not tried to achieve this yet

[2018-02-13 15:00] stojankukrika opened #310 "How to use onesignal template?"
How can I use onesignal template when get a push notification?

[2018-02-13 16:27] geoffreybr commented on #245
@mubasshir Do you think it is feasible to make a cordova plugin out of that?

[2018-02-13 22:19] Nightsd01 commented on #308
Please make sure to provide some details....

Can you copy and paste the error you are getting with cocoapods?

Also, are you able to install somewhat newer versions of the SDK (ie. 2.6.2)? As far as I am aware, there are no breaking changes from 2.1.0 to 2.6.2

[2018-02-13 22:36] Nightsd01 commented on #310
@stojankukrika I am not entirely sure what you mean. What template are you asking about? Are you asking about the demo project?

Closing because this is not an issue with the SDK but please feel free to ask questions.

[2018-02-13 22:36] #310 closed

[2018-02-14 06:34] ar27111994 opened #311 "IOS Build Error Onesignal: Build Failed"
**Ionic version:**  (check one with "x")
(For Ionic 1.x issues, please use https://github.com/ionic-team/ionic-v1)
[ ] **2.x**
[x] **3.x**
[ ] **4.x**

**I'm submitting a ...**  (check one with "x")
[x] bug report
[ ] feature request

**Current behavior:**
Hi, IOS build for our Ionic 3.9.x app fails with the following error:
[code]
`cocoapods` is already installed and `pod repo update` has also be

[2018-02-14 06:40] Nightsd01 commented on #311
@ar27111994 thanks for the excellent bug report.

As a troubleshooting step, can you try running the app on a real iOS device? Do you still see the same compiler issue?

[2018-02-14 06:43] ar27111994 commented on #311
@Nightsd01  You're welcome :) You'll have to wait a bit as my colleague handles ios and mac and is in a different timezone. I'll let him know when he wakes up.

[2018-02-14 07:02] stojankukrika commented on #310
@Nightsd01 I thinking about Message Template which I see in webpage of One Signal->Messages->Message Template. How do I use it do you maybe know?

[2018-02-14 11:08] Naveen1612 commented on #309
@jkasten2 Is disabling of badges supported in cordova setup

[2018-02-14 14:29] ar27111994 commented on #311
Hi @Nightsd01 my colleague has tried it and it fails to build for ios device too. Please Help!

[2018-02-14 21:16] baztypetrucci opened #312 "FATAL: OneSignal AppId format is invalid"
[code]
I'm using
`onesignal-cordova-plugin 2.2.5 "OneSignal Push Notifications"`

When I make `ionic cordova build ios --release` everything goes well, but when I run it in Xcode, the logs says the mentioned error.

If I check my markup:

`this.OneSignal.startInit('d75fe80c-38c9-496e-8792-fe2eff96f7f3')`

Everything is correctly set.

[2018-02-15 05:08] ggobea commented on #298
I have same issue.

[2018-02-15 08:04] Firman95 commented on #247
@jkasten2 same for me using `^2.2.5` version

[2018-02-15 23:17] Nightsd01 opened #313 "In App Launch URL Setting Broken"
If a developer sets `kOSSettingsKeyInAppLaunchURL` to `false` in JavaScript using the Cordova SDK, the SDK is currently not properly using this setting at the very first few milliseconds of launch.

This means that if a user's app is completely closed, and they get a push notification with a `url` parameter set and they tap on the notification, the SDK currently incorrectly opens the URL in a webv

[2018-02-16 12:27] ar27111994 commented on #311
Hi @Nightsd01 @gdeglin @nickpunt @janpio @jkasten2 any updates on this issue? Please help as our app greatly depends on it. Thanks.

[2018-02-16 12:49] janpio commented on #311
And you mention random people from the internet here why exactly? That's rude and impolite.

[2018-02-16 14:06] ar27111994 commented on #311
Oh I'm really sorry, thought github was suggesting because they're all related to this repo. Beg your pardon. Extremely Sorry.

[2018-02-16 14:37] akuljana opened #314 "Launch URL - not working on closed iOS app"
I'm sending push with Launch URL.

![image](https://user-images.githubusercontent.com/2221952/36312549-250b4a04-132f-11e8-9be2-84cb8e69eac8.png)

On locked iOS screen when I tap on notification, **and app was opened in background**, app opens and launch url works and it redirects to wanted url.
On locked iOS screen when I tap on notification, **but app is completely closed**, app opens and nothing

[2018-02-16 17:07] Nightsd01 commented on #311
Hi @ar27111994

I’ll be investigating this issue today - in the mean time, have you tried compiling your application with Xcode 9?

Also, are you using cocoa pods for the iOS Cordova project?

[2018-02-16 17:09] Nightsd01 commented on #314
@akuljana What value are you using for `kOSSettingsKeyInAppLaunchURL`?

[2018-02-16 17:14] ar27111994 commented on #311
@Nightsd01  Thanks, Ok so, just received the news that this worked:

new project
install cocopods
open workspace
drag and drop onesignal.framework , clean and build
build succeded had to be a new project

[2018-02-16 17:14] #311 closed

[2018-02-16 17:16] Nightsd01 commented on #311
Depending on how you created/got the framework you may run into issues with switching between simulator and real iOS devices. You may also run into issues submitting to the App Store.

How did you get this framework, did you compile the native iOS sdk by yourself?

[2018-02-16 17:18] ar27111994 commented on #311
by simply
ionic cordova add command

[2018-02-16 18:03] akuljana commented on #314
@Nightsd01 sorry I didn't add more details. I'm using Ionic and used this steps:
https://documentation.onesignal.com/docs/ionic-sdk-setup

There is no word about `kOSSettingsKeyInAppLaunchURL`, but I see it in cordova docs. How to add `kOSSettingsKeyInAppLaunchURL` in Ionic SDK Setup?

[2018-02-17 02:09] Nightsd01 commented on #314
@akuljana

When you initialize the SDK, you can pass in iOS settings such as `kOSSettingsKeyInAppLaunchURL` that controls how the URL gets handled (either opening in-app web browser or launching Safari)

[code]

Try setting this key and let me know if your issue continues.

[2018-02-18 14:23] MouaadWeb opened #315 "Logcat : OneSignal is not defined after I installed Admob plugin"
I installed OneSignal plugin for cordova in new clean project without problem,
but when I installed cordova-plugin-admob-free,  Onesignal plugin not working and  I received this errors in my logcat :

02-18 14:05:46.287 15314 15314 D SystemWebChromeClient: file:///android_asset/www/js/index.js: Line 48 : Uncaught ReferenceError: OneSignal is not defined
02-18 14:05:46.287 15314 15314 I chromium: [

[2018-02-19 23:22] eugenemaning opened #316 "Couldn't build or run my app"
This is my error logs (without stacktrace option)
[code]

[2018-02-20 19:03] Nightsd01 commented on #314
Closing due to inactivity - please respond if this issue continues

[2018-02-20 19:03] #314 closed

[2018-02-21 08:57] hugoblanc commented on #294
As you said, we need to activate the capability at least one time per bundle id. On the following ionic build, even if the capability is shown as disabled, the push notification work well.
But I need to avoid the first time activation to have  a full automatic build process ...

[2018-02-22 04:26] jsnkelvin opened #318 "Build error, cannot find symbol OSEMailSubscriptionObserver [IONIC][ANDROID]"
Hello, just installed the newest one signal plugin, and cannot build at all due to this error. Any help?

Version :
[code]

Error Log
[code]

[code]

Ionic info
cli packages: (/usr/local/lib/node_modules)

    @ionic/cli-utils  : 1.19.1
    ionic (Ionic CLI) : 3.19.1

global packages:

    cordova (Cordova CLI) : 7.1.0

local packages:

    @ionic/app-scripts : 3.1.8
    Cordova Platforms  : andro

[2018-02-22 05:31] kodeine commented on #318
i am having the same issue!

[2018-02-22 06:01] Nightsd01 commented on #318
Thank you for your excellent bug report, we will investigate this issue and will get back to you shortly. In the mean time I would suggest downgrading to the previous version so it doesn’t impact your development.

[2018-02-22 07:06] spinninghamster commented on #318
Same problem here, only started today.

[2018-02-22 10:25] Dnainw opened #319 "build.phonegap error when use onesignal cordova sdk 2.3.0"
i use intel xdk to create app and use onesignal-cordova-sdk 2.3.0. Last month I was able to build it on build.phonegap.com.but today i can not build it.
that the problem is errror below.

Error - Some official plugins have to be updated if using PhoneGap >= 4.0.0. Please upgrade the version of any plugins that may include the following file: OneSignalPush.java - You can fix this here

Please help

[2018-02-22 12:50] pravinpsa commented on #319
I also getting the same error while build.  Iam using phonegap cli-6.5.0

Error - Some official plugins have to be updated if using PhoneGap >= 4.0.0. Please upgrade the version of any plugins that may include the following file: OneSignalPush.java - You can fix this

In Log:
/project/src/com/plugin/gcm/OneSignalPush.java:108: error: cannot find symbol
  private static OSEmailSubscriptionObserver

[2018-02-22 13:47] pravinpsa commented on #319
I have downgraded my onesignal its working fine
	<plugin name="onesignal-cordova-plugin"				source="npm" 		spec="2.1.1"	/>

[2018-02-22 14:17] nowrap commented on #318
Downgrading to version 2.2.5 worked so far:
`ionic cordova plugin remove onesignal-cordova-plugin`
`ionic cordova plugin add onesignal-cordova-plugin@2.2.5`

My ionic info:

[2018-02-22 17:53] mxkeke commented on #319
+1, same problem

[2018-02-22 18:33] Nightsd01 commented on #319
This is now fixed in version 2.3.1

[2018-02-22 18:33] #319 closed

[2018-02-22 18:33] Nightsd01 commented on #318
Thank you for reporting this issue, it is now fixed in version 2.3.1

[2018-02-22 18:33] #318 closed

[2018-02-22 18:36] kamran377 commented on #318
Thanks for the quick fix

[2018-02-23 01:49] Dnainw commented on #319
it's work! Thank you very much.

[2018-02-23 04:17] itzamnamx commented on #297
I have sent a PR for this issue https://github.com/OneSignal/OneSignal-Cordova-SDK/pull/320

[2018-02-23 11:31] T-Munyaka commented on #305
Hi there, you can no longer run 'ionic serve' when you have this plugin installed, that is why you see this error. You will need to emulate your app / run it on a real device OR simply click the 'close' button and you can still view your app, but whenever you make an update, the error will show again.

[2018-02-24 09:27] #316 closed

[2018-02-26 12:41] eugenemaning commented on #51
Depending on your preference, it's best to set it to
`window.plugins.OneSignal.OSInFocusDisplayOption.Notification`

If you use `.None` you will not receive the notification if your app is focused.

[2018-02-27 11:58] tnovau opened #321 "Error installing plugin in iOS"
Hi, I´m having a problem with my iOS release. When I try to run it, I get:

Fetching plugin "onesignal-cordova-plugin@^2.2.5" via npm
Installing "onesignal-cordova-plugin" for ios
Failed to install 'onesignal-cordova-plugin': Error: pod: Command failed with exit code 31
    at ChildProcess.whenDone (/Users/ionic/builds/project-1/platforms/ios/cordova/node_modules/cordova-common/src/superspawn.js:1

[2018-02-28 06:45] gisngocthach opened #322 "Weird result as setting pages in the NotificationOpened event"
I am consuming OneSignal in our iOnic project. It has a simple workflow like: HomeScreen with buttons -> List screens -> Edit screen having boolean-typed ui components like checkbox or radio. Everything is ok if I go through the workflow manually. However, a weird thing occurred in case the list page is opened by:
`this.oneSignal.handleNotificationOpened().subscribe((notificationOpenedResult) => {

[2018-02-28 16:19] anthonyawuley commented on #161
I deleted a subscribed Dropsource Android user from one signal. When i tried to re-connect the user, it shows "Google Play Services Library Error" on onesignal. Is there a way to fix this?

[2018-02-28 17:20] spinninghamster opened #323 "iOS inexplicably asks for permissions on startup"
I initialize OneSignal with the following code and I can't explain why it asks for push permissions on startup. What am I doing wrong here?

[code]

[2018-02-28 17:50] joeyscarim opened #324 "Hide title/heading from displaying on Android 7+"
Using Android 8+ on Nexus 5x, I can't get the heading/title to not appear.

I have tried:

- Not sending `headings` at all
- `"headings" : {"en" : ""}`
- `"headings" : {"en" : "null"}`
- `"headings" : "null"`

I realize I sent the `null` values as strings, but that is because an error was thrown that a string was required, so I figured I'd try anyways.

Thank you,
Joey

[2018-02-28 19:53] #324 closed

[2018-02-28 20:03] joeyscarim commented on #324
Thank you @jkasten2, yes I meant Android 8+ and corrected my title. My mistake.

[2018-02-28 20:04] joeyscarim commented on #324
Thank you @jkasten2 that is exactly the issue. I was confused on if it was part of android 7 or 8 but now see that it is 7+.

[2018-02-28 20:55] battika commented on #321
Run `pod repo update` first. I had the same issue and it helped.

Reference:
https://documentation.onesignal.com/docs/ionic-sdk-setup

[2018-02-28 20:56] battika commented on #306
Run `pod repo update` first. It helped in my case.

Reference:
https://documentation.onesignal.com/docs/ionic-sdk-setup

[2018-03-01 02:46] Nightsd01 commented on #323
Hi @spinninghamster ,

What other dependencies are you using in your project?

[2018-03-01 02:48] Nightsd01 commented on #321
@tnovau did running `pod repo update` resolve your issue?

[2018-03-01 02:49] Nightsd01 commented on #315
@MouaadWeb is this issue only occurring in Android and not in iOS?

When you remove the cordova-plugin-admob-free plugin does OneSignal work correctly?

[2018-03-01 04:03] spinninghamster commented on #323
I changed my version back to 2.2.5 and can confirm the issue is NOT happening on that version. It's only happening with the latest version. My other plugins are:

cordova-plugin-whitelist
cordova-plugin-device
cordova-plugin-inappbrowser
cordova-plugin-splashscreen
cordova-plugin-geolocation
cordova-plugin-network-information
cordova-open-native-settings
cordova-plugin-request-location-accuracy
co

[2018-03-01 09:14] spinninghamster commented on #304
Can someone confirm if this has been fixed?

[2018-03-01 19:11] Nightsd01 commented on #323
Hi @spinninghamster

We recently changed the way that the SDK handles settings during initialization. We'll investigate this issue and should resolve it soon.

[2018-03-01 21:31] MouaadWeb commented on #315
To fix this issue when the two plugins are installed I commented this party
from index.js generated by cordova 8.0.0 (android) then onesignal work fine
again

// Update DOM on a Received Event
    receivedEvent: function(id) {
        /* var parentElement = document.getElementById(id);
        var listeningElement = parentElement.querySelector('.listening');
        var receivedElement = parentEle

[2018-03-01 21:38] Nightsd01 commented on #323
@spinninghamster If you look at line 151 of the `OneSignalPush.m`, can you tell me what it shows? Do you see this:

[code]

[2018-03-01 21:53] Nightsd01 commented on #313
Resolved in 2.3.1

[2018-03-01 21:53] #313 closed

[2018-03-01 21:54] Nightsd01 commented on #308
Closing this issue due to (A) no response and (B) complete lack of detail...

[2018-03-01 21:54] #308 closed

[2018-03-01 23:35] Nightsd01 commented on #312
This issue has been addressed in a recent update and should now be resolved. Please let me know if you encounter any further issues.

[2018-03-01 23:56] Nightsd01 commented on #302
@gnl1 When an app is launched because of a push notification, you can use the `handleNotificationOpened(callback)` function during OneSignal init to get alerted whenever a notification is opened.

I might suggest checking within the first 1 second of launch, or something to that effect. That would tell you that the app was opened from a push notification.

Here is an example of the init code we us

[2018-03-01 23:56] #302 closed

[2018-03-01 23:58] Nightsd01 commented on #306
@datiecher I am closing this issue due to inactivity - I am assuming `pod repo update` resolved your issue. If it did not please feel free to respond and I'd be more than happy to reopen the issue and investigate further. Cocoapods can be a bit finicky.

[2018-03-01 23:58] #306 closed

[2018-03-02 00:11] Nightsd01 commented on #315
@MouaadWeb I don't really understand your issue.

First you said OneSignal stopped working when you installed the `cordova-plugin-admob-free` plugin. Now you are saying it doesn't work when you remove the AdMob Free plugin?

What happens if you create a totally new Cordova project and add only OneSignal? Does it work correctly?

[2018-03-02 00:16] Nightsd01 commented on #301
@mad2kx I am not entirely sure what you mean. What do you mean when you say "articles sent through WordPress will cause the normal browser to open"...?

You have total control of what happens with the Cordova OneSignal SDK.

If you want a push notification to open a URL in a web browser, you can set the `url` parameter of the push notification. You can control if this URL is opened in the default

[2018-03-02 00:16] #301 closed

[2018-03-02 01:45] Nightsd01 commented on #304
Hi @spinninghamster , @eduardolopesUFJF , @shawns582

Are you guys still encountering this issue?

Does the problem still occur if you comment out the OneSignal plugin initialization function?

[2018-03-02 09:25] ngangchill opened #325 "cannot find symbol private static OSEmailSubscriptionObserver emailSubscriptionObserver;"
i'm having some problem with this sdk.
Error screen :
![onesignal](https://user-images.githubusercontent.com/4242225/36892050-c7a45806-1e2d-11e8-8294-9510962db2ab.PNG)

i can't get what is happening.Need helps

[2018-03-02 10:11] ngangchill commented on #325
works fine with onesignal-cordova-plugin 2.2.2 but went wrong with onesignal-cordova-plugin 2.3.1.

[2018-03-03 00:42] jkasten2 commented on #297
The pull above has been merged, the next release will include this fix

[2018-03-03 00:42] #297 closed

[2018-03-03 00:48] jkasten2 commented on #293
@dfibuch See our documentation below on customizing the small notifications icon and examples of what it will look like on different Android versions.
https://documentation.onesignal.com/docs/customize-notification-icons

If you are running into issue after following the guide I recommend contacting OneSignal support while signed into the OneSignal dashboard as they can provide some suggestions qu

[2018-03-03 00:48] #293 closed

[2018-03-03 00:53] jkasten2 commented on #281
Closing due to inactivity. A few other recommendations.
1. Please try the latest version of Ionic. Android API target will effect notification channels / categories
2. Please try our latest SDK.

Feel free to reply with more details and we can reopen the issue.

[2018-03-03 00:53] #281 closed

[2018-03-03 01:00] jkasten2 commented on #219
@kodeine I believe we fixed this in an update a while back. Let us know if you can reproduce this issue on our latest SDK and we can open this issue.

[2018-03-03 01:00] #219 closed

[2018-03-03 08:46] hugoblanc commented on #205
The white square is due to an incompatible push notification image.
You can use only two colors for this images, background should be transparente.

[https://stackoverflow.com/questions/39034625/onesignal-pushnotification-small-icon-not-displayed-on-android](Stack overflow:39034625)

[2018-03-05 06:36] eficaz opened #326 "iOS build failed"
Hi,
I faced an issue while building a project in xcode 9.1.  My ionic version is 3 and cordova 8.
Below please find the issue.
Showing Recent Messages
CodeSign /Users/apple/Library/Developer/Xcode/DerivedData/myApp-enxsxjualjftndalkfrfqlrvyhzf/Build/Intermediates.noindex/ArchiveIntermediates/myApp/InstallationBuildProductsLocation/Applications/myApp.app
    cd /Users/apple/Desktop/Divya/onesignal/

[2018-03-05 08:52] zargox commented on #326
Yep same here. It tooks me really a lot of time (days) by investigating this. On my end, when we try to compile it a couple of times, then it will work. Hope that this can be solved asap

[2018-03-05 14:17] shripad20 commented on #264
I am also facing the same error when installed **onesignal-cordova-plugin 2.2.1**
@jkasten2 I followed your step given in above comment. Also updated things:

ruby - 2.5
cocoapods - 1.4
XCode - 9.0
OS - macOS Sierra 10.12.6

![screen shot 2018-03-05 at 7 43 52 pm](https://user-images.githubusercontent.com/14152297/36979479-a7af77c4-20ad-11e8-8820-3caf4ccca038.png)

[2018-03-05 16:29] sombriks commented on #264
Hi @jkasten2  i started to open the .xcworkspace file and then it worked. Many thanks.

[2018-03-05 17:06] Nightsd01 commented on #264
@shripad20 are you sure you’re opening the `.xcworkspace` and not the `.xcodeproj` file?

[2018-03-05 17:08] Nightsd01 commented on #325
@ngangchill are you certain you are using 2.3.1? This was a known issue with 2.3.0 but should have been resolved in 2.3.1

[2018-03-05 17:11] Nightsd01 commented on #326
@eficaz This looks like a general code signing issue. I’m not sure why you’re posting it in relation to the OneSignal SDK?

[2018-03-05 17:39] shripad20 commented on #264
I am working on cordova project. I don’t have .xcworkspace file in my project. Installed one signal sdk with cordova command.
Cordova plugin add onesignal-cordova-plugin --save

[2018-03-05 18:54] Nightsd01 commented on #315
@MouaadWeb I am closing this issue due to inactivity, please let me know if you encounter any further issues.

[2018-03-05 18:54] #315 closed

[2018-03-05 19:49] Nightsd01 commented on #323
@spinninghamster I am closing this issue due to inactivity and assuming your issue has been resolved, please feel free to respond if you are still dealing with this problem and I'd be happy to help.

[2018-03-05 19:49] #323 closed

[2018-03-05 21:02] sombriks commented on #264
@shripad20 inside the platforms folder you will find an ios project. there you will get the .xcworkspace file.

also, IIRC, the error message on ios platforms tells how to properly install cocoa pods

[2018-03-05 21:58] Nightsd01 commented on #326
I would suggest researching this crash because it doesn't have much to do with the OneSignal SDK.

I might suggest using this link for troubleshooting ideas:
https://stackoverflow.com/questions/2017756/command-usr-bin-codesign-failed-with-exit-code-1

[2018-03-05 21:58] #326 closed

[2018-03-05 22:05] Nightsd01 commented on #264
@shripad20 please make sure to very carefully read the setup guide. Making sure to open the `YourProjectName.xcworkspace` should resolve your issue.

If you encounter any further problems please feel free to ask.

@sombriks thank you!